workflows/n8n-progress/daily/subworkflows-method-v1/infrastructure-workflow.json
{
  "name": "infrastructure-workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "function beAssembleBackendZipInputs() {\n    function getExtension(filePath) {\n      const fileName = String(filePath || '').split('/').pop() || '';\n      if (fileName === 'pom.xml') return 'xml';\n      if (fileName === '.gitignore') return 'gitignore';\n      const match = fileName.match(/\\.([A-Za-z0-9]+)$/);\n      return match ? match[1].toLowerCase() : 'txt';\n    }\n    function getMimeType(filePath) {\n      const ext = getExtension(filePath);\n      const mimeByExtension = {\n        java: 'text/x-java-source',\n        xml: 'application/xml',\n        yaml: 'text/yaml',\n        yml: 'text/yaml',\n        json: 'application/json',\n        properties: 'text/plain',\n        md: 'text/markdown',\n        txt: 'text/plain',\n        sql: 'application/sql',\n        csv: 'text/csv',\n        gitignore: 'text/plain',\n      };\n      return mimeByExtension[ext] || 'text/plain';\n    }\n    function isIntentionallyEmptyFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      return lower.endsWith('/.gitkeep') || lower.endsWith('/.keep') || lower.endsWith('/.placeholder');\n    }\n    function normalizeContent(contentValue) {\n      if (typeof contentValue === 'string') {\n        return contentValue;\n      }\n      if (contentValue === null || contentValue === undefined) {\n        return '';\n      }\n      if (typeof contentValue === 'object') {\n        return JSON.stringify(contentValue, null, 2);\n      }\n      return String(contentValue);\n    }\n    const item = $input.first();\n    if (!item) {\n      throw new Error('No infrastructure generation state available for ZIP assembly.');\n    }\n    const json = item.json || {};\n    const generatedFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const remainingFiles = Array.isArray(json.remainingFiles) ? json.remainingFiles : [];\n    if (remainingFiles.length > 0) {\n      throw new Error('Cannot assemble infrastructure ZIP while files are still remaining.');\n    }\n    if (!generatedFiles.length) {\n      throw new Error('No generated infrastructure files available to assemble ZIP.');\n    }\n    const binary = {};\n    const manifest = [];\n    generatedFiles.forEach((file, index) => {\n      const filePath = String(file?.path || '').trim();\n      const content = normalizeContent(file?.content);\n      if (!filePath.startsWith('infrastructure/')) {\n        throw new Error(`Generated infrastructure file path must start with \"infrastructure/\": ${filePath || '<empty>'}`);\n      }\n      // Empty files are allowed and must still be included in the assembled ZIP.\n      const key = `file_${index}`;\n      binary[key] = {\n        data: Buffer.from(content, 'utf8').toString('base64'),\n        mimeType: getMimeType(filePath),\n        fileExtension: getExtension(filePath),\n        fileName: filePath,\n      };\n      manifest.push({ path: filePath });\n    });\n    return [{\n      json: {\n        infrastructureRoot: 'infrastructure',\n        fileCount: manifest.length,\n        files: manifest,\n        zipBinaryFields: Object.keys(binary).join(','),\n      },\n      binary,\n    }];\n  }\nreturn beAssembleBackendZipInputs();\n"
      },
      "id": "d8de0cb3-d453-4611-a0ba-2cec7e70d2cd",
      "name": "INF - Assemble Infrastructure Zip Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13744,
        3104
      ]
    },
    {
      "parameters": {
        "jsCode": "async function beAssembleInfrastructureZipInputs() {\n    function getExtension(filePath) {\n      const fileName = String(filePath || '').split('/').pop() || '';\n      if (fileName === 'pom.xml') return 'xml';\n      if (fileName === '.gitignore') return 'gitignore';\n      const match = fileName.match(/\\.([A-Za-z0-9]+)$/);\n      return match ? match[1].toLowerCase() : 'txt';\n    }\n    function getMimeType(filePath) {\n      const ext = getExtension(filePath);\n      const mimeByExtension = {\n        java: 'text/x-java-source',\n        xml: 'application/xml',\n        yaml: 'text/yaml',\n        yml: 'text/yaml',\n        json: 'application/json',\n        properties: 'text/plain',\n        md: 'text/markdown',\n        txt: 'text/plain',\n        sql: 'application/sql',\n        csv: 'text/csv',\n        gitignore: 'text/plain',\n      };\n      return mimeByExtension[ext] || 'text/plain';\n    }\n    function isIntentionallyEmptyFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      return lower.endsWith('/.gitkeep') || lower.endsWith('/.keep') || lower.endsWith('/.placeholder');\n    }\n    function normalizeContent(contentValue) {\n      if (typeof contentValue === 'string') {\n        return contentValue;\n      }\n      if (contentValue === null || contentValue === undefined) {\n        return '';\n      }\n      if (typeof contentValue === 'object') {\n        return JSON.stringify(contentValue, null, 2);\n      }\n      return String(contentValue);\n    }\n    function normalizeInfrastructurePath(rawPath, infrastructureRoot, rawDirectory) {\n      const normalizedRoot = String(infrastructureRoot || 'infrastructure').replace(/\\\\/g, '/').trim().replace(/\\/+$/, '') || 'infrastructure';\n      const directory = String(rawDirectory ?? '').replace(/\\\\/g, '/').trim().replace(/^\\.\\//, '').replace(/\\/+$/, '');\n      const fileName = String(rawPath ?? '').replace(/\\\\/g, '/').trim().replace(/^\\.\\//, '');\n      const combined = [directory, fileName]\n        .filter(Boolean)\n        .join('/')\n        .replace(/\\/+/g, '/')\n        .replace(/^\\.\\//, '')\n        .replace(/\\/+/g, '/');\n      if (!combined) return '';\n      if (combined === normalizedRoot || combined === normalizedRoot + '.zip') return '';\n      if (combined.startsWith(normalizedRoot + '/')) return combined;\n      return normalizedRoot + '/' + combined.replace(/^\\/+/, '');\n    }\n    async function readBinaryText(propertyName, binaryEntry) {\n      try {\n        if (typeof this?.helpers?.getBinaryDataBuffer === 'function') {\n          const buffer = await this.helpers.getBinaryDataBuffer(0, propertyName);\n          if (buffer) return buffer.toString('utf8');\n        }\n      } catch {}\n      try {\n        const raw = String(binaryEntry?.data ?? '');\n        return raw && raw !== 'filesystem-v2' ? Buffer.from(raw, 'base64').toString('utf8') : '';\n      } catch {\n        return '';\n      }\n    }\n    async function collectGeneratedFilesFromBinary(binary, infrastructureRoot) {\n      const byPath = new Map();\n      for (const [propertyName, entry] of Object.entries(binary || {})) {\n        if (!/^current_/i.test(propertyName)) continue;\n        const filePath = normalizeInfrastructurePath(entry?.fileName, infrastructureRoot, entry?.directory);\n        if (!filePath || filePath.endsWith('.zip')) continue;\n        byPath.set(filePath, { path: filePath, content: await readBinaryText.call(this, propertyName, entry) });\n      }\n      return Array.from(byPath.values()).sort((a, b) => a.path.localeCompare(b.path));\n    }\n    const item = $input.first();\n    if (!item) {\n      throw new Error('No infrastructure generation state available for ZIP assembly.');\n    }\n    const json = item.json || {};\n    const infrastructureRoot = String(json.infrastructureRoot ?? 'infrastructure').trim() || 'infrastructure';\n    const remainingFiles = Array.isArray(json.remainingFiles) ? json.remainingFiles : [];\n    if (remainingFiles.length > 0) {\n      throw new Error('Cannot assemble infrastructure ZIP while files are still remaining.');\n    }\n    const generatedFilesInput = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const generatedFiles = generatedFilesInput.length\n      ? generatedFilesInput\n      : await collectGeneratedFilesFromBinary.call(this, item.binary || {}, infrastructureRoot);\n    if (!generatedFiles.length) {\n      throw new Error('No generated infrastructure files available to assemble ZIP.');\n    }\n    const byPath = new Map();\n    for (const file of generatedFiles) {\n      const path = String(file?.path || '').trim();\n      if (!path) continue;\n      if (!byPath.has(path)) byPath.set(path, { path, content: file.content });\n    }\n    const binary = {};\n    const manifest = [];\n    Array.from(byPath.values()).forEach((file, index) => {\n      const filePath = String(file?.path || '').trim();\n      const content = normalizeContent(file?.content);\n      if (!filePath.startsWith('infrastructure/')) {\n        throw new Error(`Generated infrastructure file path must start with \"infrastructure/\": ${filePath || '<empty>'}`);\n      }\n      // Empty files are allowed and must still be included in the assembled ZIP.\n      const key = `file_${index}`;\n      binary[key] = {\n        data: Buffer.from(content, 'utf8').toString('base64'),\n        mimeType: getMimeType(filePath),\n        fileExtension: getExtension(filePath),\n        fileName: filePath,\n      };\n      manifest.push({ path: filePath });\n    });\n    return [{\n      json: {\n        infrastructureRoot: 'infrastructure',\n        fileCount: manifest.length,\n        files: manifest,\n        zipBinaryFields: Object.keys(binary).join(','),\n      },\n      binary,\n    }];\n  }\nreturn beAssembleInfrastructureZipInputs();\n"
      },
      "id": "19d83f9f-2264-42c6-a40b-531022431b3a",
      "name": "INF - Assemble Refined Infrastructure Zip Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15440,
        2608
      ]
    },
    {
      "parameters": {
        "jsCode": "function beBuildChunkPrompt() {\n  const MAX_MEMORY_ITEMS = 4;\n\n  function compactJson(value) {\n    return JSON.stringify(value);\n  }\n\n  function trimImplementationMemory(generatedImplementationIndex, recentImplementationSummaries) {\n    const seen = new Set();\n    const selected = [];\n\n    for (const collection of [recentImplementationSummaries || [], generatedImplementationIndex || []]) {\n      for (const entry of collection) {\n        if (!entry || typeof entry !== 'object') continue;\n        const path = String(entry.path || '').trim();\n        if (!path || seen.has(path)) continue;\n        seen.add(path);\n        selected.push(entry);\n        if (selected.length >= MAX_MEMORY_ITEMS) {\n          return selected;\n        }\n      }\n    }\n\n    return selected;\n  }\n\n  return $input.all().map((item) => {\n    const json = item.json || {};\n    const requirementsText = String(json.requirementsText || '').trim();\n    const openapiText = String(json.openapiText || '').trim();\n    if (!requirementsText) throw new Error('Missing requirements text for infrastructure generation.');\n    if (!openapiText) throw new Error('Missing OpenAPI text for infrastructure generation.');\n\n    const batchSize = Math.max(1, Number(json.batchSize || 15));\n    const currentBatchFiles = Array.isArray(json.currentBatchFiles) && json.currentBatchFiles.length\n      ? json.currentBatchFiles.slice(0, batchSize)\n      : (Array.isArray(json.remainingFiles) ? json.remainingFiles.slice(0, batchSize) : []);\n\n    if (!currentBatchFiles.length) {\n      throw new Error('No current batch files available for infrastructure generation.');\n    }\n\n    const allPlannedFiles = Array.isArray(json.allPlannedFiles) && json.allPlannedFiles.length\n      ? json.allPlannedFiles\n      : currentBatchFiles;\n    const allPlannedPaths = allPlannedFiles\n      .map((file) => String(file?.path || '').trim())\n      .filter(Boolean);\n    const batchPaths = currentBatchFiles\n      .map((file) => String(file?.path || '').trim())\n      .filter(Boolean);\n\n    const implementationMemory = trimImplementationMemory(\n      Array.isArray(json.generatedImplementationIndex) ? json.generatedImplementationIndex : [],\n      Array.isArray(json.recentImplementationSummaries) ? json.recentImplementationSummaries : [],\n    );\n\n    const userPrompt = [\n      'REQ',\n      requirementsText,\n      'API',\n      openapiText,\n      'PLAN',\n      compactJson(allPlannedPaths),\n      'BATCH',\n      compactJson(batchPaths),\n      'STATE',\n      compactJson({\n        i: json.iteration,\n        g: json.generatedFileCountTotal,\n        r: json.remainingFileCount,\n        t: allPlannedPaths.length,\n        b: batchSize,\n        c: currentBatchFiles.length,\n      }),\n      implementationMemory.length ? 'MEMORY\\n' + compactJson(implementationMemory) : '',\n      'RULES',\n      [\n        'Generate only BATCH paths.',\n        'PLAN is the full allowed infrastructure path set.',\n        'Do not reference types or files outside BATCH, MEMORY, or PLAN.',\n        'OpenAPI is absolute truth for paths, methods, params, bodies, fields, status codes, names, and security.',\n        'Do not add or rewrite API path prefixes.',\n        'Reuse existing naming and generated types consistently.',\n        'Return only valid JSON with a top-level files array.',\n      ].join('\\n'),\n    ].filter(Boolean).join('\\n');\n\n    return {\n      json: {\n        ...json,\n        batchSize,\n        allPlannedFiles,\n        currentBatchFiles,\n        currentBatchFileCount: currentBatchFiles.length,\n        userPrompt,\n        requirementsPromptLength: requirementsText.length,\n        openapiPromptLength: openapiText.length,\n        implementationMemoryLength: compactJson(implementationMemory).length,\n        fullPromptLength: userPrompt.length,\n      },\n      binary: item.binary ?? {},\n    };\n  });\n}\n\nreturn beBuildChunkPrompt();"
      },
      "id": "870d0ebe-7c11-479f-aa40-8022d4cdaaee",
      "name": "INF - Build Chunk Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13056,
        2848
      ]
    },
    {
      "parameters": {
        "jsCode": "async function beBuildPrompt() {\n  const items = $input.all();\n  if (!items.length) {\n    throw new Error('Infrastructure structure prompt builder received no input.');\n  }\n\n  async function readBinaryText(itemIndex, propertyName, fallbackFileName) {\n    const item = items[itemIndex];\n    const binary = item.binary?.[propertyName];\n    if (!binary) return null;\n\n    const buffer = await this.helpers.getBinaryDataBuffer(itemIndex, propertyName);\n    return {\n      fileName: binary.fileName || fallbackFileName,\n      text: buffer.toString('utf8'),\n    };\n  }\n\n  let requirements = null;\n  let openapi = null;\n\n  for (let itemIndex = 0; itemIndex < items.length; itemIndex += 1) {\n    if (!requirements) {\n      requirements = await readBinaryText.call(this, itemIndex, 'requirements', 'requirements-compact.txt');\n    }\n    if (!openapi) {\n      openapi = await readBinaryText.call(this, itemIndex, 'openapiSpec', 'openapi-compact.json');\n    }\n  }\n\n  if (!requirements) {\n    throw new Error('Missing compact requirements binary for infrastructure structure generation.');\n  }\n  if (!openapi) {\n    throw new Error('Missing compact openapiSpec binary for infrastructure structure generation.');\n  }\n\n  const requirementsText = String(requirements.text || '').trim();\n  const openapiText = String(openapi.text || '').trim();\n  if (!requirementsText) {\n    throw new Error('Requirements text is empty for infrastructure structure generation.');\n  }\n  if (!openapiText) {\n    throw new Error('OpenAPI text is empty for infrastructure structure generation.');\n  }\n\n  const userPrompt = [\n    'REQ',\n    requirementsText,\n    'API',\n    openapiText,\n  ].join('\\n');\n\n  return [{\n    json: {\n      requirementsFile: requirements.fileName,\n      requirementsText,\n      requirementsPromptLength: requirementsText.length,\n      openapiFile: openapi.fileName || 'openapi-compact.json',\n      openapiText,\n      openapiPromptLength: openapiText.length,\n      userPrompt,\n      fullPromptLength: userPrompt.length,\n    },\n    binary: items[0].binary ?? {},\n  }];\n}\n\nreturn await beBuildPrompt.call(this);\n"
      },
      "id": "05f2e973-9d7b-4194-83a3-d2063edde48c",
      "name": "INF - Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13184,
        2400
      ]
    },
    {
      "parameters": {
        "jsCode": "function infBuildRefinementChunkPrompt() {\n  const MAX_MEMORY_ITEMS = 6;\n  const ATTACHMENT_CHAR_LIMIT = 12000;\n  const ATTACHMENT_FILE_CHAR_LIMIT = 3000;\n  function compactJson(value) { return JSON.stringify(value); }\n  function normalizeFiles(value) {\n    const files = Array.isArray(value) ? value : [];\n    return files.map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') return { path: String(entry.path ?? '').trim() };\n      return { path: '' };\n    }).filter((entry) => entry.path);\n  }\n  function decodeText(binaryEntry) {\n    try {\n      const raw = String(binaryEntry?.data ?? '');\n      return raw ? Buffer.from(raw, 'base64').toString('utf8') : '';\n    } catch {\n      return '';\n    }\n  }\n  function looksTextLike(binaryEntry, key) {\n    const mime = String(binaryEntry?.mimeType ?? '').toLowerCase();\n    const extRaw = String(binaryEntry?.fileExtension ?? '').toLowerCase();\n    const ext = extRaw.startsWith('.') ? extRaw.slice(1) : extRaw;\n    const textExt = new Set(['txt','md','markdown','json','yaml','yml','csv','tsv','xml','html','htm','js','ts','py','java','sql','log','ini','cfg']);\n    if (mime.startsWith('text/')) return true;\n    if (mime.includes('json') || mime.includes('xml') || mime.includes('yaml')) return true;\n    if (textExt.has(ext)) return true;\n    const keyLower = String(key ?? '').toLowerCase();\n    return keyLower.endsWith('.txt') || keyLower.endsWith('.md') || keyLower.endsWith('.json');\n  }\n  function splitTokens(value) {\n    const text = String(value || '').replace(/([a-z0-9])([A-Z])/g, '$1 $2').replace(/[^A-Za-z0-9]+/g, ' ').toLowerCase();\n    return Array.from(new Set(text.split(/\\s+/).filter((token) => token.length > 1)));\n  }\n  function detectLanguage(filePath) {\n    const lower = String(filePath || '').toLowerCase();\n    if (lower.endsWith('.java')) return 'java';\n    if (lower.endsWith('.kt')) return 'kotlin';\n    if (lower.endsWith('.py')) return 'python';\n    if (lower.endsWith('.ts')) return 'typescript';\n    if (lower.endsWith('.tsx')) return 'tsx';\n    if (lower.endsWith('.js')) return 'javascript';\n    if (lower.endsWith('.jsx')) return 'jsx';\n    if (lower.endsWith('.cs')) return 'csharp';\n    if (lower.endsWith('.go')) return 'go';\n    if (lower.endsWith('.rb')) return 'ruby';\n    if (lower.endsWith('.php')) return 'php';\n    return 'other';\n  }\n  function isImplementationFile(filePath) {\n    const lower = String(filePath || '').toLowerCase();\n    if (!lower.startsWith('infrastructure/')) return false;\n    if (lower.includes('/src/test/') || lower.includes('/tests/') || lower.includes('/test/')) return false;\n    if (lower.includes('/resources/') || lower.includes('/db/') || lower.includes('/docs/') || lower.includes('/helm/')) return false;\n    if (lower.endsWith('.md') || lower.endsWith('.txt') || lower.endsWith('.yaml') || lower.endsWith('.yml') || lower.endsWith('.xml') || lower.endsWith('.properties') || lower.endsWith('.sql') || lower.endsWith('.json') || lower.endsWith('.csv')) return false;\n    return new Set(['java', 'kotlin', 'python', 'typescript', 'tsx', 'javascript', 'jsx', 'csharp', 'go', 'ruby', 'php']).has(detectLanguage(filePath));\n  }\n\n  function summarizeFile(file) {\n    const filePath = String(file?.path || '').trim();\n    const content = String(file?.content || '');\n    const language = detectLanguage(filePath);\n    const imports = [];\n    for (const regex of [/^[ \\t]*import\\s+([^;\\n]+)[;\\n]?/gm, /^[ \\t]*using\\s+([^;\\n]+);/gm, /^[ \\t]*from\\s+([^\\n]+)\\s+import\\s+([^\\n]+)/gm, /^[ \\t]*require\\(['\"]([^'\"]+)['\"]\\)/gm]) {\n      let match;\n      while ((match = regex.exec(content)) !== null && imports.length < 20) imports.push(match.slice(1).filter(Boolean).join(' ').trim());\n      regex.lastIndex = 0;\n    }\n    const types = [];\n    let match;\n    const typeRegex = /^[ \\t]*(?:export\\s+)?(?:public\\s+|private\\s+|protected\\s+|internal\\s+)?(?:abstract\\s+|final\\s+|sealed\\s+)?(class|interface|enum|record|type|struct)\\s+([A-Za-z0-9_]+)/gm;\n    while ((match = typeRegex.exec(content)) !== null && types.length < 12) types.push({ kind: match[1], name: match[2] });\n    typeRegex.lastIndex = 0;\n    const functions = [];\n    const fnRegex = /^[ \\t]*(?:export\\s+)?(?:async\\s+)?(?:function|def|func|fn)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm;\n    while ((match = fnRegex.exec(content)) !== null && functions.length < 20) functions.push({ name: match[1], parameters: String(match[2] || '').trim() });\n    fnRegex.lastIndex = 0;\n    return { path: filePath, language, imports: Array.from(new Set(imports)).slice(0, 20), types, functions, lineCount: content ? content.replace(/\\r\\n/g, '\\n').split('\\n').length : 0 };\n  }\n  function getRole(path) {\n    const lower = String(path || '').toLowerCase();\n    for (const role of ['controller', 'service', 'repository', 'dto', 'mapper', 'entity', 'config', 'security']) {\n      if (lower.includes(role)) return role;\n    }\n    return 'other';\n  }\n  function sharedPrefixDepth(pathA, pathB) {\n    const a = String(pathA || '').split('/');\n    const b = String(pathB || '').split('/');\n    let depth = 0;\n    while (depth < a.length && depth < b.length && a[depth] === b[depth]) depth += 1;\n    return depth;\n  }\n  function scoreSummary(summary, batchItems) {\n    const summaryTokens = splitTokens(summary.path + ' ' + JSON.stringify(summary.types || []) + ' ' + JSON.stringify(summary.functions || []));\n    const summaryRole = getRole(summary.path);\n    let score = 0;\n    for (const batchItem of batchItems) {\n      const batchPath = String(batchItem.path || '').trim();\n      const overlap = splitTokens(batchPath).filter((token) => summaryTokens.includes(token)).length;\n      score += overlap * 2 + sharedPrefixDepth(summary.path, batchPath) * 3;\n      if (getRole(batchPath) === summaryRole && summaryRole !== 'other') score += 4;\n    }\n    return score;\n  }\n  function selectRelevantMemory(currentFiles, batchItems) {\n    const batchPaths = new Set(batchItems.map((item) => String(item.path || '').trim()));\n    return currentFiles\n      .filter((file) => isImplementationFile(file.path))\n      .filter((file) => !batchPaths.has(String(file.path || '').trim()))\n      .map(summarizeFile)\n      .map((summary) => ({ summary, score: scoreSummary(summary, batchItems) }))\n      .filter((entry) => entry.score > 0)\n      .sort((a, b) => b.score - a.score || a.summary.path.localeCompare(b.summary.path))\n      .slice(0, MAX_MEMORY_ITEMS)\n      .map((entry) => entry.summary);\n  }\n  return $input.all().map((item) => {\n    const json = item.json || {};\n    const binary = item.binary || {};\n    const reviewerFeedback = String(json.reviewerFeedback || json.feedback || '').trim() || 'Reviewer requested infrastructure changes without additional details.';\n    const batchSize = Math.max(1, Number(json.batchSize || 4));\n    const currentBatchFiles = Array.isArray(json.currentBatchFiles) && json.currentBatchFiles.length ? json.currentBatchFiles.slice(0, batchSize) : (Array.isArray(json.remainingFiles) ? json.remainingFiles.slice(0, batchSize) : []);\n    if (!currentBatchFiles.length) throw new Error('No current refinement batch files available for infrastructure refinement.');\n    const currentFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const currentFileMap = new Map(currentFiles.map((file) => [String(file.path || '').trim(), String(file.content ?? '')]));\n    const batchPayload = currentBatchFiles.map((entry) => {\n      const path = String(entry.path || '').trim();\n      const action = String(entry.action || 'modify').trim().toLowerCase();\n      const payload = { path, action };\n      if (action === 'modify' && currentFileMap.has(path)) payload.currentContent = currentFileMap.get(path);\n      return payload;\n    });\n    const attachmentBlocks = [];\n    let totalChars = 0;\n    for (const [key, entry] of Object.entries(binary).filter(([name]) => /^attachments?(?:_|$)/i.test(String(name)))) {\n      if (totalChars >= ATTACHMENT_CHAR_LIMIT || !looksTextLike(entry, key)) continue;\n      const text = decodeText(entry).trim();\n      if (!text) continue;\n      const take = Math.min(ATTACHMENT_FILE_CHAR_LIMIT, ATTACHMENT_CHAR_LIMIT - totalChars);\n      attachmentBlocks.push(`Attachment: ${String(entry.fileName || key)}\\n---\\n${text.slice(0, take)}`);\n      totalChars += Math.min(text.length, take);\n    }\n    const memory = selectRelevantMemory(currentFiles, currentBatchFiles);\n    const currentPlanPaths = normalizeFiles(json.currentPlanFiles).map((file) => file.path);\n    const userPrompt = [\n      'FEEDBACK', reviewerFeedback,\n      attachmentBlocks.length ? 'ATTACHMENTS\\n' + attachmentBlocks.join('\\n\\n') : '',\n      'CURRENT_PLAN', compactJson(currentPlanPaths),\n      'BATCH', compactJson(batchPayload),\n      memory.length ? 'MEMORY\\n' + compactJson(memory) : '',\n      'RULES', [\n        'Generate only the files listed in BATCH with action create or modify.',\n        'Do not output files whose action is remove.',\n        'For modify actions, return the complete updated file content.',\n        'For create actions, return the complete new file content.',\n        'Keep changes tightly aligned with FEEDBACK and ATTACHMENTS.',\n        'Preserve infrastructure consistency with the existing package.',\n        'Return only valid JSON with a top-level files array.',\n      ].join('\\n'),\n    ].filter(Boolean).join('\\n');\n    return { json: { ...json, currentBatchFiles, currentBatchFileCount: currentBatchFiles.length, allPlannedFiles: currentPlanPaths.map((path) => ({ path })), allowedOutputFiles: currentBatchFiles.map((entry) => ({ path: String(entry.path || '').trim() })), userPrompt, fullPromptLength: userPrompt.length, refinementMemoryLength: compactJson(memory).length }, binary };\n  });\n}\n\nreturn infBuildRefinementChunkPrompt();"
      },
      "id": "164a35f3-387e-4a2c-b238-07aa6dd8ee4c",
      "name": "INF - Build Refinement Chunk Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14768,
        2336
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\n\nfunction getNodeItemsSafe(nodeName) {\n  if (typeof $items !== 'function') return [];\n  try {\n    return $items(nodeName) || [];\n  } catch (error) {\n    const message = String(error?.message ?? error ?? '');\n    if (message.includes(\"hasn't been executed\") || message.includes('not executed')) {\n      return [];\n    }\n    return [];\n  }\n}\n\nfunction looksTextLike(binaryEntry, key) {\n  const mime = String(binaryEntry?.mimeType ?? '').toLowerCase();\n  const extRaw = String(binaryEntry?.fileExtension ?? '').toLowerCase();\n  const ext = extRaw.startsWith('.') ? extRaw.slice(1) : extRaw;\n  const textExt = new Set(['txt','md','markdown','json','yaml','yml','csv','tsv','xml','html','htm','js','ts','py','java','sql','log','ini','cfg']);\n  if (mime.startsWith('text/')) return true;\n  if (mime.includes('json') || mime.includes('xml') || mime.includes('yaml')) return true;\n  if (textExt.has(ext)) return true;\n  const keyLower = String(key ?? '').toLowerCase();\n  return keyLower.endsWith('.txt') || keyLower.endsWith('.md') || keyLower.endsWith('.json');\n}\n\nfunction decodeText(binaryEntry) {\n  try {\n    const raw = String(binaryEntry?.data ?? '');\n    if (!raw) return '';\n    return Buffer.from(raw, 'base64').toString('utf8');\n  } catch {\n    return '';\n  }\n}\n\nfunction normalizeFiles(value) {\n  const files = Array.isArray(value) ? value : [];\n  return files\n    .map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') {\n        return { path: String(entry.path ?? '').trim() };\n      }\n      return { path: '' };\n    })\n    .filter((entry) => entry.path);\n}\n\nfunction normalizeStructureObject(value) {\n  if (!value || typeof value !== 'object' || Array.isArray(value)) return null;\n  const files = normalizeFiles(value.files);\n  if (!files.length) return null;\n  return { files };\n}\n\nfunction parseStructureText(text) {\n  const raw = String(text ?? '').trim();\n  if (!raw) return null;\n  try {\n    return normalizeStructureObject(JSON.parse(raw));\n  } catch {\n    return null;\n  }\n}\n\nfunction stringifyStructureObject(value) {\n  try {\n    return JSON.stringify(value);\n  } catch {\n    return '';\n  }\n}\n\nconst previousPlanItems = getNodeItemsSafe('INF - Clean Refinement Response');\nconst previousPlanJson = previousPlanItems[0]?.json ?? {};\n\nconst mergedJson = { ...previousPlanJson, ...(item.json ?? {}) };\nconst mergedBinary = { ...(item.binary ?? {}) };\n\nconst reviewerFeedback = [\n  mergedJson.feedback,\n  mergedJson.Feedback,\n].map((value) => String(value ?? '').trim()).find((value) => value.length > 0)\n  || 'Reviewer requested infrastructure changes without additional details.';\n\nconst currentFilesCandidates = [\n  normalizeFiles(mergedJson.files),\n  normalizeFiles(mergedJson.currentFiles),\n  normalizeFiles(mergedJson.firstIterationFiles),\n  normalizeFiles(mergedJson.plannedFiles),\n];\nconst currentFiles = currentFilesCandidates.find((files) => files.length > 0) || [];\nif (!currentFiles.length) {\n  throw new Error('Current infrastructure file structure is missing for refinement planning.');\n}\n\nconst structureObject =\n  normalizeStructureObject(mergedJson.infrastructureStructureObject) ||\n  normalizeStructureObject(mergedJson.structurePlanObject) ||\n  parseStructureText(mergedJson.infrastructureStructure) ||\n  parseStructureText(mergedJson.structurePlan) ||\n  parseStructureText(decodeText(mergedBinary.infrastructureStructure)) ||\n  normalizeStructureObject({ files: normalizeFiles(mergedJson.plannedFiles) }) ||\n  normalizeStructureObject({ files: currentFiles });\n\nif (!structureObject) {\n  throw new Error('Infrastructure structure plan from the refinement context is missing.');\n}\n\nconst structureText = [\n  String(mergedJson.infrastructureStructure ?? '').trim(),\n  String(mergedJson.structurePlan ?? '').trim(),\n  decodeText(mergedBinary.infrastructureStructure).trim(),\n  stringifyStructureObject(structureObject),\n].find((value) => String(value ?? '').trim().length > 0) || '';\n\nif (!structureText) {\n  throw new Error('Infrastructure structure plan from the refinement context is not valid JSON.');\n}\n\nconst plannedFilesResolved = normalizeFiles(structureObject.files);\nif (!plannedFilesResolved.length) {\n  throw new Error('Infrastructure structure plan from the refinement context does not contain any files.');\n}\n\nconst firstIterationFiles = normalizeFiles(mergedJson.firstIterationFiles);\nconst previousPlanFiles = Array.isArray(previousPlanJson.files) ? previousPlanJson.files : [];\n\nconst attachmentEntries = Object.entries(mergedBinary)\n  .filter(([key]) => /^attachments?(?:_|$)/i.test(String(key)));\n\nconst attachmentSummaries = [];\nconst attachmentTextBlocks = [];\nlet totalTextChars = 0;\nconst maxTotalChars = 16000;\nconst maxPerFileChars = 4000;\n\nfor (const [key, bin] of attachmentEntries) {\n  const fileName = String(bin?.fileName ?? key);\n  const mimeType = String(bin?.mimeType ?? 'application/octet-stream');\n  const fileSize = Number(bin?.fileSize ?? 0);\n  attachmentSummaries.push({ key, fileName, mimeType, fileSize });\n  if (!looksTextLike(bin, key) || totalTextChars >= maxTotalChars) continue;\n  const text = decodeText(bin).trim();\n  if (!text) continue;\n  const remaining = maxTotalChars - totalTextChars;\n  const take = Math.min(maxPerFileChars, remaining);\n  const excerpt = text.slice(0, take);\n  attachmentTextBlocks.push(`Attachment: ${fileName} (${mimeType})\\n---\\n${excerpt}`);\n  totalTextChars += excerpt.length;\n}\n\nconst attachmentSummaryText = attachmentSummaries.length\n  ? attachmentSummaries.map((a, i) => `${i + 1}) ${a.fileName} | mime=${a.mimeType} | size=${a.fileSize}`).join('\\n')\n  : '[No attachments provided.]';\n\nconst attachmentExtractedText = attachmentTextBlocks.length\n  ? attachmentTextBlocks.join('\\n\\n')\n  : '[No text could be extracted from attachments automatically.]';\n\nconst patchPrompt = [\n  'Feedback:',\n  reviewerFeedback,\n  '',\n  'Attachment metadata:',\n  attachmentSummaryText,\n  '',\n  'Extracted attachment text:',\n  attachmentExtractedText,\n  '',\n  'Current infrastructure package files:',\n  JSON.stringify(currentFiles),\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    reviewerFeedback,\n    revisionNumber: Math.max(0, Math.trunc(Number(mergedJson.revisionNumber ?? 0) || 0)) + 1,\n    currentFiles,\n    plannedFiles: plannedFilesResolved,\n    firstIterationFiles,\n    previousPlanFiles,\n    attachmentCount: attachmentSummaries.length,\n    attachmentSummaries,\n    patchPrompt,\n    infrastructureStructure: structureText,\n    infrastructureStructureObject: structureObject,\n  },\n  ...(mergedBinary && Object.keys(mergedBinary).length > 0 ? { binary: mergedBinary } : {}),\n}];"
      },
      "id": "768757b8-ca2c-4b64-b88d-875279a12a33",
      "name": "INF - Build Refinement Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14048,
        2016
      ]
    },
    {
      "parameters": {
        "jsCode": "function beCleanChunkResponse() {\n    function parseCandidate(raw) {\n      try {\n        const parsed = JSON.parse(raw);\n        if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n          return parsed;\n        }\n      } catch {}\n      return null;\n    }\n\n    function normalizeText(raw) {\n      let text = String(raw ?? '').trim();\n      if (!text) {\n        throw new Error('Infrastructure chunk model output is empty.');\n      }\n\n      if (text.startsWith('```')) {\n        const firstNewlineIndex = text.indexOf('\\n');\n        if (firstNewlineIndex !== -1) {\n          const openingFence = text.slice(0, firstNewlineIndex).trim();\n          if (/^\\`\\`\\`(?:json)?$/i.test(openingFence)) {\n            text = text.slice(firstNewlineIndex + 1);\n            const trailingFenceIndex = text.lastIndexOf('\\n\\`\\`\\`');\n            if (trailingFenceIndex !== -1 && text.slice(trailingFenceIndex).trim() === '```') {\n              text = text.slice(0, trailingFenceIndex).trim();\n            } else if (text.endsWith('```')) {\n              text = text.slice(0, -3).trim();\n            } else {\n              text = text.trim();\n            }\n          }\n        }\n      }\n\n      return text;\n    }\n\n    function extractBalancedObject(text) {\n      let depth = 0;\n      let start = -1;\n      let inString = false;\n      let escaped = false;\n\n      for (let index = 0; index < text.length; index += 1) {\n        const char = text[index];\n\n        if (escaped) {\n          escaped = false;\n          continue;\n        }\n\n        if (char === '\\\\') {\n          if (inString) escaped = true;\n          continue;\n        }\n\n        if (char === '\"') {\n          inString = !inString;\n          continue;\n        }\n\n        if (inString) continue;\n\n        if (char === '{') {\n          if (depth === 0) start = index;\n          depth += 1;\n          continue;\n        }\n\n        if (char === '}') {\n          if (depth > 0) {\n            depth -= 1;\n            if (depth === 0 && start !== -1) {\n              return text.slice(start, index + 1);\n            }\n          }\n        }\n      }\n\n      return null;\n    }\n\n    function isQuoteEscaped(text, quoteIndex) {\n      let backslashCount = 0;\n      for (let index = quoteIndex - 1; index >= 0 && text[index] === '\\\\'; index -= 1) {\n        backslashCount += 1;\n      }\n      return backslashCount % 2 === 1;\n    }\n\n    function findPropertyKey(text, key, fromIndex) {\n      const pattern = '\"' + key + '\"';\n      return text.indexOf(pattern, fromIndex);\n    }\n\n    function findValueStart(text, keyIndex) {\n      const colonIndex = text.indexOf(':', keyIndex);\n      if (colonIndex === -1) return -1;\n      for (let index = colonIndex + 1; index < text.length; index += 1) {\n        if (/\\s/.test(text[index])) continue;\n        return index;\n      }\n      return -1;\n    }\n\n    function decodeLooseJsonString(raw) {\n      let output = '';\n\n      for (let index = 0; index < raw.length; index += 1) {\n        const char = raw[index];\n        if (char !== '\\\\') {\n          output += char;\n          continue;\n        }\n\n        const next = raw[index + 1];\n        if (next === undefined) {\n          output += '\\\\';\n          break;\n        }\n\n        if (next === 'n') {\n          output += '\\n';\n          index += 1;\n          continue;\n        }\n        if (next === 'r') {\n          output += '\\r';\n          index += 1;\n          continue;\n        }\n        if (next === 't') {\n          output += '\\t';\n          index += 1;\n          continue;\n        }\n        if (next === 'b') {\n          output += '\\b';\n          index += 1;\n          continue;\n        }\n        if (next === 'f') {\n          output += '\\f';\n          index += 1;\n          continue;\n        }\n        if (next === '\"' || next === '\\\\' || next === '/') {\n          output += next;\n          index += 1;\n          continue;\n        }\n        if (next === 'u' && /^[0-9a-fA-F]{4}$/.test(raw.slice(index + 2, index + 6))) {\n          output += String.fromCharCode(parseInt(raw.slice(index + 2, index + 6), 16));\n          index += 5;\n          continue;\n        }\n\n        output += '\\\\' + next;\n        index += 1;\n      }\n\n      return output;\n    }\n\n    function readStrictQuotedString(text, quoteStart) {\n      for (let index = quoteStart + 1; index < text.length; index += 1) {\n        if (text[index] === '\"' && !isQuoteEscaped(text, index)) {\n          return {\n            value: decodeLooseJsonString(text.slice(quoteStart + 1, index)),\n            endIndex: index,\n          };\n        }\n      }\n      throw new Error('Could not find closing quote for JSON string.');\n    }\n\n    function readStructuredJsonValue(text, valueStart) {\n      const openingChar = text[valueStart];\n      const closingChar = openingChar === '{' ? '}' : ']';\n      const stack = [closingChar];\n      let inString = false;\n      let escaped = false;\n\n      for (let index = valueStart + 1; index < text.length; index += 1) {\n        const char = text[index];\n\n        if (escaped) {\n          escaped = false;\n          continue;\n        }\n\n        if (char === '\\\\') {\n          if (inString) escaped = true;\n          continue;\n        }\n\n        if (char === '\"') {\n          inString = !inString;\n          continue;\n        }\n\n        if (inString) continue;\n\n        if (char === '{') {\n          stack.push('}');\n          continue;\n        }\n        if (char === '[') {\n          stack.push(']');\n          continue;\n        }\n\n        if (char === stack[stack.length - 1]) {\n          stack.pop();\n          if (!stack.length) {\n            const rawValue = text.slice(valueStart, index + 1);\n            return {\n              value: JSON.parse(rawValue),\n              endIndex: index,\n            };\n          }\n        }\n      }\n\n      throw new Error('Could not find the end of generated file content JSON value.');\n    }\n\n    function readPrimitiveJsonValue(text, valueStart) {\n      let endIndex = valueStart;\n      while (endIndex < text.length && !/[\\s,\\}\\]]/.test(text[endIndex])) {\n        endIndex += 1;\n      }\n\n      const rawValue = text.slice(valueStart, endIndex).trim();\n      if (!rawValue) {\n        throw new Error('Generated file content JSON value is empty.');\n      }\n\n      return {\n        value: JSON.parse(rawValue),\n        endIndex: endIndex - 1,\n      };\n    }\n\n    function readLooseJsonValue(text, valueStart) {\n      if (valueStart < 0 || valueStart >= text.length) {\n        throw new Error('Could not find content value in generated file object.');\n      }\n\n      const firstChar = text[valueStart];\n      if (firstChar === '\"') {\n        return readStrictQuotedString(text, valueStart);\n      }\n      if (firstChar === '{' || firstChar === '[') {\n        return readStructuredJsonValue(text, valueStart);\n      }\n\n      return readPrimitiveJsonValue(text, valueStart);\n    }\n\n    function canRecoverTruncatedTextFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      return lower.endsWith('.md') || lower.endsWith('.txt');\n    }\n\n    function decodeLooseJsonTail(raw) {\n      let tail = String(raw || '');\n      if (tail.endsWith('```')) {\n        tail = tail.slice(0, -3);\n      }\n      return decodeLooseJsonString(tail).trimEnd();\n    }\n\n    function isLikelyIncompletePayloadError(error) {\n      const message = String(error?.message ?? error ?? '');\n      return (\n        message.includes('Could not find closing quote') ||\n        message.includes('Could not find the end of generated file content JSON value') ||\n        message.includes('did not end after content field') ||\n        message.includes('files array was not closed') ||\n        message.includes('ended before files array closed') ||\n        message.includes('Could not find content value')\n      );\n    }\n\n    function parseLooseFilesPayload(text, allowPartial = false) {\n      const filesKeyIndex = findPropertyKey(text, 'files', 0);\n      if (filesKeyIndex === -1) {\n        throw new Error('Chunk payload does not contain a files property.');\n      }\n\n      const arrayStart = text.indexOf('[', filesKeyIndex);\n      if (arrayStart === -1) {\n        throw new Error('Chunk payload files property does not contain an array.');\n      }\n\n      const files = [];\n      let cursor = arrayStart + 1;\n\n      while (cursor < text.length) {\n        while (cursor < text.length && /[\\s,]/.test(text[cursor])) cursor += 1;\n        if (cursor >= text.length) {\n          if (allowPartial) {\n            return {\n              files,\n              recoveredPartialChunkPayload: true,\n              ignoredIncompleteTrailingFile: true,\n              recoveryReason: files.length\n                ? 'Chunk payload ended before files array closed.'\n                : 'Ignored incomplete trailing generated file because the model output ended before the payload closed.',\n            };\n          }\n          break;\n        }\n        if (text[cursor] === ']') {\n          return { files };\n        }\n        if (text[cursor] !== '{') {\n          cursor += 1;\n          continue;\n        }\n\n        let pathInfo = null;\n        let contentValueStart = -1;\n\n        try {\n          const objectStart = cursor;\n          const pathKeyIndex = findPropertyKey(text, 'path', objectStart);\n          if (pathKeyIndex === -1) {\n            throw new Error('Could not find path property in generated file object.');\n          }\n          const pathQuoteStart = findValueStart(text, pathKeyIndex);\n          if (pathQuoteStart === -1 || text[pathQuoteStart] !== '\"') {\n            throw new Error('Could not find path string value in generated file object.');\n          }\n          pathInfo = readStrictQuotedString(text, pathQuoteStart);\n\n          const contentKeyIndex = findPropertyKey(text, 'content', pathInfo.endIndex);\n          if (contentKeyIndex === -1) {\n            throw new Error('Could not find content property in generated file object.');\n          }\n          contentValueStart = findValueStart(text, contentKeyIndex);\n          const contentInfo = readLooseJsonValue(text, contentValueStart);\n\n          let objectEnd = contentInfo.endIndex + 1;\n          while (objectEnd < text.length && /\\s/.test(text[objectEnd])) objectEnd += 1;\n          if (text[objectEnd] !== '}') {\n            throw new Error('Generated file object did not end after content field.');\n          }\n\n          files.push({\n            path: pathInfo.value,\n            content: contentInfo.value,\n          });\n\n          cursor = objectEnd + 1;\n        } catch (error) {\n          if (allowPartial && pathInfo && contentValueStart !== -1 && text[contentValueStart] === '\"' && canRecoverTruncatedTextFile(pathInfo.value)) {\n            const recoveredContent = decodeLooseJsonTail(text.slice(contentValueStart + 1));\n            if (recoveredContent.trim()) {\n              files.push({\n                path: pathInfo.value,\n                content: recoveredContent,\n              });\n              return {\n                files,\n                recoveredPartialChunkPayload: true,\n                recoveryReason: 'Recovered truncated text file content for ' + pathInfo.value,\n              };\n            }\n          }\n          if (allowPartial && (files.length || isLikelyIncompletePayloadError(error))) {\n            return {\n              files,\n              recoveredPartialChunkPayload: true,\n              ignoredIncompleteTrailingFile: true,\n              recoveryReason: files.length\n                ? String(error?.message ?? error ?? 'Partial chunk payload recovered.')\n                : 'Ignored incomplete trailing generated file because the model output ended before the file was complete.',\n            };\n          }\n          throw error;\n        }\n      }\n\n      if (allowPartial) {\n        return {\n          files,\n          recoveredPartialChunkPayload: true,\n          ignoredIncompleteTrailingFile: true,\n          recoveryReason: files.length\n            ? 'Chunk payload files array was not closed.'\n            : 'Ignored incomplete trailing generated file because the files array was not closed.',\n        };\n      }\n\n      throw new Error('Chunk payload files array was not closed.');\n    }\n\n    function extractPayload(rawText) {\n      const text = normalizeText(rawText);\n      const candidates = [text];\n      const balancedObject = extractBalancedObject(text);\n      if (balancedObject) {\n        candidates.push(balancedObject);\n      }\n\n      for (const candidate of candidates) {\n        const parsed = parseCandidate(candidate);\n        if (parsed) return parsed;\n      }\n\n      for (const candidate of candidates) {\n        try {\n          const parsed = parseLooseFilesPayload(candidate, false);\n          if (parsed && Array.isArray(parsed.files)) {\n            return parsed;\n          }\n        } catch {}\n      }\n\n      for (const candidate of candidates) {\n        try {\n          const parsed = parseLooseFilesPayload(candidate, true);\n          if (parsed && Array.isArray(parsed.files)) {\n            return parsed;\n          }\n        } catch {}\n      }\n\n      throw new Error('Could not extract a valid infrastructure chunk JSON payload from model output.');\n    }\n\n    function getNodeItemsSafe(nodeName) {\n      if (typeof $items !== 'function') return [];\n      try {\n        return $items(nodeName) || [];\n      } catch (error) {\n        const message = String(error?.message ?? error ?? '');\n        if (message.includes(\"hasn't been executed\") || message.includes('not executed')) {\n          return [];\n        }\n        throw error;\n      }\n    }\n\n    function normalizeGeneratedContent(filePath, contentValue) {\n      if (typeof contentValue === 'string') {\n        return contentValue;\n      }\n      if (contentValue === null || contentValue === undefined) {\n        return '';\n      }\n      if (typeof contentValue === 'object') {\n        return JSON.stringify(contentValue, null, 2);\n      }\n      return String(contentValue);\n    }\n\n    const buildPromptItems = getNodeItemsSafe('INF - Build Chunk Prompt');\n\n    return $input.all().map((item) => {\n      const upstreamJson = buildPromptItems[0]?.json || {};\n      const json = {\n        ...upstreamJson,\n        ...(item.json || {}),\n      };\n      const payload = extractPayload(json.text);\n      const currentBatchFiles = Array.isArray(json.currentBatchFiles) && json.currentBatchFiles.length\n        ? json.currentBatchFiles\n        : (Array.isArray(json.remainingFiles) ? json.remainingFiles.slice(0, Number(json.batchSize || 15)) : []);\n      const currentBatchPaths = new Set(currentBatchFiles.map((file) => String(file.path || '').trim()).filter(Boolean));\n      const plannedFiles = Array.isArray(json.allPlannedFiles) && json.allPlannedFiles.length\n        ? json.allPlannedFiles\n        : (Array.isArray(json.infrastructureStructure) ? json.infrastructureStructure : (Array.isArray(json.backendStructure) ? json.backendStructure : []));\n      const allowedPaths = new Set(plannedFiles.map((file) => String(file.path || '').trim()).filter(Boolean));\n      const generatedOutsideCurrentBatch = [];\n      const ignoredUnplannedGeneratedFiles = [];\n      const ignoredDuplicateGeneratedFiles = [];\n\n      if (!Array.isArray(payload.files)) {\n        throw new Error('Chunk payload must include a files array.');\n      }\n\n      const seen = new Set();\n      const normalizedFiles = [];\n      for (let index = 0; index < payload.files.length; index += 1) {\n        const file = payload.files[index];\n        if (!file || typeof file !== 'object' || Array.isArray(file)) {\n          throw new Error('Generated file entry at index ' + index + ' must be an object.');\n        }\n\n        const filePath = String(file.path || '').trim();\n        const content = normalizeGeneratedContent(filePath, file.content);\n        if (!filePath.startsWith('infrastructure/')) {\n          throw new Error('Generated invalid file path: ' + (filePath || '<empty>'));\n        }\n        if (!allowedPaths.has(filePath)) {\n          ignoredUnplannedGeneratedFiles.push(filePath);\n          continue;\n        }\n        if (!currentBatchPaths.has(filePath)) {\n          generatedOutsideCurrentBatch.push(filePath);\n        }\n        if (seen.has(filePath)) {\n          ignoredDuplicateGeneratedFiles.push(filePath);\n          continue;\n        }\n\n        seen.add(filePath);\n        normalizedFiles.push({\n          path: filePath,\n          content,\n        });\n      }\n\n      return {\n        json: {\n          ...json,\n          recoveredPartialChunkPayload: payload.recoveredPartialChunkPayload === true,\n          partialChunkRecoveryReason: payload.recoveryReason || '',\n          ignoredIncompleteTrailingFile: payload.ignoredIncompleteTrailingFile === true,\n          generatedFilesThisIteration: normalizedFiles,\n          generatedFileCountThisIteration: normalizedFiles.length,\n          generatedFilesOutsideCurrentBatch: generatedOutsideCurrentBatch,\n          generatedFilesOutsideCurrentBatchCount: generatedOutsideCurrentBatch.length,\n          ignoredUnplannedGeneratedFiles,\n          ignoredUnplannedGeneratedFileCount: ignoredUnplannedGeneratedFiles.length,\n          ignoredDuplicateGeneratedFiles,\n          ignoredDuplicateGeneratedFileCount: ignoredDuplicateGeneratedFiles.length,\n        },\n        binary: item.binary ?? {},\n      };\n    });\n  }\nreturn beCleanChunkResponse();\n"
      },
      "id": "040ddbe7-6b0d-45a8-bdfc-a9c9bc1feaae",
      "name": "INF - Clean Chunk Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13664,
        2848
      ]
    },
    {
      "parameters": {
        "jsCode": "function infCleanChunkResponse() {\n    function parseCandidate(raw) {\n      try {\n        const parsed = JSON.parse(raw);\n        if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n          return parsed;\n        }\n      } catch {}\n      return null;\n    }\n\n    function normalizeText(raw) {\n      let text = String(raw ?? '').trim();\n      if (!text) {\n        throw new Error('Infrastructure chunk model output is empty.');\n      }\n\n      if (text.startsWith('```')) {\n        const firstNewlineIndex = text.indexOf('\\n');\n        if (firstNewlineIndex !== -1) {\n          const openingFence = text.slice(0, firstNewlineIndex).trim();\n          if (/^\\`\\`\\`(?:json)?$/i.test(openingFence)) {\n            text = text.slice(firstNewlineIndex + 1);\n            const trailingFenceIndex = text.lastIndexOf('\\n\\`\\`\\`');\n            if (trailingFenceIndex !== -1 && text.slice(trailingFenceIndex).trim() === '```') {\n              text = text.slice(0, trailingFenceIndex).trim();\n            } else if (text.endsWith('```')) {\n              text = text.slice(0, -3).trim();\n            } else {\n              text = text.trim();\n            }\n          }\n        }\n      }\n\n      return text;\n    }\n\n    function extractBalancedObject(text) {\n      let depth = 0;\n      let start = -1;\n      let inString = false;\n      let escaped = false;\n\n      for (let index = 0; index < text.length; index += 1) {\n        const char = text[index];\n\n        if (escaped) {\n          escaped = false;\n          continue;\n        }\n\n        if (char === '\\\\') {\n          if (inString) escaped = true;\n          continue;\n        }\n\n        if (char === '\"') {\n          inString = !inString;\n          continue;\n        }\n\n        if (inString) continue;\n\n        if (char === '{') {\n          if (depth === 0) start = index;\n          depth += 1;\n          continue;\n        }\n\n        if (char === '}') {\n          if (depth > 0) {\n            depth -= 1;\n            if (depth === 0 && start !== -1) {\n              return text.slice(start, index + 1);\n            }\n          }\n        }\n      }\n\n      return null;\n    }\n\n    function isQuoteEscaped(text, quoteIndex) {\n      let backslashCount = 0;\n      for (let index = quoteIndex - 1; index >= 0 && text[index] === '\\\\'; index -= 1) {\n        backslashCount += 1;\n      }\n      return backslashCount % 2 === 1;\n    }\n\n    function findPropertyKey(text, key, fromIndex) {\n      const pattern = '\"' + key + '\"';\n      return text.indexOf(pattern, fromIndex);\n    }\n\n    function findValueStart(text, keyIndex) {\n      const colonIndex = text.indexOf(':', keyIndex);\n      if (colonIndex === -1) return -1;\n      for (let index = colonIndex + 1; index < text.length; index += 1) {\n        if (/\\s/.test(text[index])) continue;\n        return index;\n      }\n      return -1;\n    }\n\n    function decodeLooseJsonString(raw) {\n      let output = '';\n\n      for (let index = 0; index < raw.length; index += 1) {\n        const char = raw[index];\n        if (char !== '\\\\') {\n          output += char;\n          continue;\n        }\n\n        const next = raw[index + 1];\n        if (next === undefined) {\n          output += '\\\\';\n          break;\n        }\n\n        if (next === 'n') {\n          output += '\\n';\n          index += 1;\n          continue;\n        }\n        if (next === 'r') {\n          output += '\\r';\n          index += 1;\n          continue;\n        }\n        if (next === 't') {\n          output += '\\t';\n          index += 1;\n          continue;\n        }\n        if (next === 'b') {\n          output += '\\b';\n          index += 1;\n          continue;\n        }\n        if (next === 'f') {\n          output += '\\f';\n          index += 1;\n          continue;\n        }\n        if (next === '\"' || next === '\\\\' || next === '/') {\n          output += next;\n          index += 1;\n          continue;\n        }\n        if (next === 'u' && /^[0-9a-fA-F]{4}$/.test(raw.slice(index + 2, index + 6))) {\n          output += String.fromCharCode(parseInt(raw.slice(index + 2, index + 6), 16));\n          index += 5;\n          continue;\n        }\n\n        output += '\\\\' + next;\n        index += 1;\n      }\n\n      return output;\n    }\n\n    function readStrictQuotedString(text, quoteStart) {\n      for (let index = quoteStart + 1; index < text.length; index += 1) {\n        if (text[index] === '\"' && !isQuoteEscaped(text, index)) {\n          return {\n            value: decodeLooseJsonString(text.slice(quoteStart + 1, index)),\n            endIndex: index,\n          };\n        }\n      }\n      throw new Error('Could not find closing quote for JSON string.');\n    }\n\n    function readStructuredJsonValue(text, valueStart) {\n      const openingChar = text[valueStart];\n      const closingChar = openingChar === '{' ? '}' : ']';\n      const stack = [closingChar];\n      let inString = false;\n      let escaped = false;\n\n      for (let index = valueStart + 1; index < text.length; index += 1) {\n        const char = text[index];\n\n        if (escaped) {\n          escaped = false;\n          continue;\n        }\n\n        if (char === '\\\\') {\n          if (inString) escaped = true;\n          continue;\n        }\n\n        if (char === '\"') {\n          inString = !inString;\n          continue;\n        }\n\n        if (inString) continue;\n\n        if (char === '{') {\n          stack.push('}');\n          continue;\n        }\n        if (char === '[') {\n          stack.push(']');\n          continue;\n        }\n\n        if (char === stack[stack.length - 1]) {\n          stack.pop();\n          if (!stack.length) {\n            const rawValue = text.slice(valueStart, index + 1);\n            return {\n              value: JSON.parse(rawValue),\n              endIndex: index,\n            };\n          }\n        }\n      }\n\n      throw new Error('Could not find the end of generated file content JSON value.');\n    }\n\n    function readPrimitiveJsonValue(text, valueStart) {\n      let endIndex = valueStart;\n      while (endIndex < text.length && !/[\\s,\\}\\]]/.test(text[endIndex])) {\n        endIndex += 1;\n      }\n\n      const rawValue = text.slice(valueStart, endIndex).trim();\n      if (!rawValue) {\n        throw new Error('Generated file content JSON value is empty.');\n      }\n\n      return {\n        value: JSON.parse(rawValue),\n        endIndex: endIndex - 1,\n      };\n    }\n\n    function readLooseJsonValue(text, valueStart) {\n      if (valueStart < 0 || valueStart >= text.length) {\n        throw new Error('Could not find content value in generated file object.');\n      }\n\n      const firstChar = text[valueStart];\n      if (firstChar === '\"') {\n        return readStrictQuotedString(text, valueStart);\n      }\n      if (firstChar === '{' || firstChar === '[') {\n        return readStructuredJsonValue(text, valueStart);\n      }\n\n      return readPrimitiveJsonValue(text, valueStart);\n    }\n\n    function canRecoverTruncatedTextFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      return lower.endsWith('.md') || lower.endsWith('.txt');\n    }\n\n    function decodeLooseJsonTail(raw) {\n      let tail = String(raw || '');\n      if (tail.endsWith('```')) {\n        tail = tail.slice(0, -3);\n      }\n      return decodeLooseJsonString(tail).trimEnd();\n    }\n\n    function isLikelyIncompletePayloadError(error) {\n      const message = String(error?.message ?? error ?? '');\n      return (\n        message.includes('Could not find closing quote') ||\n        message.includes('Could not find the end of generated file content JSON value') ||\n        message.includes('did not end after content field') ||\n        message.includes('files array was not closed') ||\n        message.includes('ended before files array closed') ||\n        message.includes('Could not find content value')\n      );\n    }\n\n    function parseLooseFilesPayload(text, allowPartial = false) {\n      const filesKeyIndex = findPropertyKey(text, 'files', 0);\n      if (filesKeyIndex === -1) {\n        throw new Error('Chunk payload does not contain a files property.');\n      }\n\n      const arrayStart = text.indexOf('[', filesKeyIndex);\n      if (arrayStart === -1) {\n        throw new Error('Chunk payload files property does not contain an array.');\n      }\n\n      const files = [];\n      let cursor = arrayStart + 1;\n\n      while (cursor < text.length) {\n        while (cursor < text.length && /[\\s,]/.test(text[cursor])) cursor += 1;\n        if (cursor >= text.length) {\n          if (allowPartial) {\n            return {\n              files,\n              recoveredPartialChunkPayload: true,\n              ignoredIncompleteTrailingFile: true,\n              recoveryReason: files.length\n                ? 'Chunk payload ended before files array closed.'\n                : 'Ignored incomplete trailing generated file because the model output ended before the payload closed.',\n            };\n          }\n          break;\n        }\n        if (text[cursor] === ']') {\n          return { files };\n        }\n        if (text[cursor] !== '{') {\n          cursor += 1;\n          continue;\n        }\n\n        let pathInfo = null;\n        let contentValueStart = -1;\n\n        try {\n          const objectStart = cursor;\n          const pathKeyIndex = findPropertyKey(text, 'path', objectStart);\n          if (pathKeyIndex === -1) {\n            throw new Error('Could not find path property in generated file object.');\n          }\n          const pathQuoteStart = findValueStart(text, pathKeyIndex);\n          if (pathQuoteStart === -1 || text[pathQuoteStart] !== '\"') {\n            throw new Error('Could not find path string value in generated file object.');\n          }\n          pathInfo = readStrictQuotedString(text, pathQuoteStart);\n\n          const contentKeyIndex = findPropertyKey(text, 'content', pathInfo.endIndex);\n          if (contentKeyIndex === -1) {\n            throw new Error('Could not find content property in generated file object.');\n          }\n          contentValueStart = findValueStart(text, contentKeyIndex);\n          const contentInfo = readLooseJsonValue(text, contentValueStart);\n\n          let objectEnd = contentInfo.endIndex + 1;\n          while (objectEnd < text.length && /\\s/.test(text[objectEnd])) objectEnd += 1;\n          if (text[objectEnd] !== '}') {\n            throw new Error('Generated file object did not end after content field.');\n          }\n\n          files.push({\n            path: pathInfo.value,\n            content: contentInfo.value,\n          });\n\n          cursor = objectEnd + 1;\n        } catch (error) {\n          if (allowPartial && pathInfo && contentValueStart !== -1 && text[contentValueStart] === '\"' && canRecoverTruncatedTextFile(pathInfo.value)) {\n            const recoveredContent = decodeLooseJsonTail(text.slice(contentValueStart + 1));\n            if (recoveredContent.trim()) {\n              files.push({\n                path: pathInfo.value,\n                content: recoveredContent,\n              });\n              return {\n                files,\n                recoveredPartialChunkPayload: true,\n                recoveryReason: 'Recovered truncated text file content for ' + pathInfo.value,\n              };\n            }\n          }\n          if (allowPartial && (files.length || isLikelyIncompletePayloadError(error))) {\n            return {\n              files,\n              recoveredPartialChunkPayload: true,\n              ignoredIncompleteTrailingFile: true,\n              recoveryReason: files.length\n                ? String(error?.message ?? error ?? 'Partial chunk payload recovered.')\n                : 'Ignored incomplete trailing generated file because the model output ended before the file was complete.',\n            };\n          }\n          throw error;\n        }\n      }\n\n      if (allowPartial) {\n        return {\n          files,\n          recoveredPartialChunkPayload: true,\n          ignoredIncompleteTrailingFile: true,\n          recoveryReason: files.length\n            ? 'Chunk payload files array was not closed.'\n            : 'Ignored incomplete trailing generated file because the files array was not closed.',\n        };\n      }\n\n      throw new Error('Chunk payload files array was not closed.');\n    }\n\n    function extractPayload(rawText) {\n      const text = normalizeText(rawText);\n      const candidates = [text];\n      const balancedObject = extractBalancedObject(text);\n      if (balancedObject) {\n        candidates.push(balancedObject);\n      }\n\n      for (const candidate of candidates) {\n        const parsed = parseCandidate(candidate);\n        if (parsed) return parsed;\n      }\n\n      for (const candidate of candidates) {\n        try {\n          const parsed = parseLooseFilesPayload(candidate, false);\n          if (parsed && Array.isArray(parsed.files)) {\n            return parsed;\n          }\n        } catch {}\n      }\n\n      for (const candidate of candidates) {\n        try {\n          const parsed = parseLooseFilesPayload(candidate, true);\n          if (parsed && Array.isArray(parsed.files)) {\n            return parsed;\n          }\n        } catch {}\n      }\n\n      throw new Error('Could not extract a valid infrastructure chunk JSON payload from model output.');\n    }\n\n    function getNodeItemsSafe(nodeName) {\n      if (typeof $items !== 'function') return [];\n      try {\n        return $items(nodeName) || [];\n      } catch (error) {\n        const message = String(error?.message ?? error ?? '');\n        if (message.includes(\"hasn't been executed\") || message.includes('not executed')) {\n          return [];\n        }\n        throw error;\n      }\n    }\n\n    function normalizeGeneratedContent(filePath, contentValue) {\n      if (typeof contentValue === 'string') {\n        return contentValue;\n      }\n      if (contentValue === null || contentValue === undefined) {\n        return '';\n      }\n      if (typeof contentValue === 'object') {\n        return JSON.stringify(contentValue, null, 2);\n      }\n      return String(contentValue);\n    }\n\n    const buildPromptItems = getNodeItemsSafe('INF - Build Refinement Chunk Prompt');\n\n    return $input.all().map((item) => {\n      const upstreamJson = buildPromptItems[0]?.json || {};\n      const json = {\n        ...upstreamJson,\n        ...(item.json || {}),\n      };\n      const payload = extractPayload(json.text);\n      const currentBatchFiles = Array.isArray(json.currentBatchFiles) && json.currentBatchFiles.length\n        ? json.currentBatchFiles\n        : (Array.isArray(json.remainingFiles) ? json.remainingFiles.slice(0, Number(json.batchSize || 15)) : []);\n      const currentBatchPaths = new Set(currentBatchFiles.map((file) => String(file.path || '').trim()).filter(Boolean));\n      const plannedFiles = Array.isArray(json.allPlannedFiles) && json.allPlannedFiles.length\n        ? json.allPlannedFiles\n        : [];\n      const allowedOutputFiles = Array.isArray(json.allowedOutputFiles) && json.allowedOutputFiles.length\n        ? json.allowedOutputFiles\n        : currentBatchFiles;\n      const allowedPaths = new Set(allowedOutputFiles.map((file) => String(file.path || '').trim()).filter(Boolean));\n      const generatedOutsideCurrentBatch = [];\n      const ignoredUnplannedGeneratedFiles = [];\n      const ignoredDuplicateGeneratedFiles = [];\n\n      if (!Array.isArray(payload.files)) {\n        throw new Error('Chunk payload must include a files array.');\n      }\n\n      const seen = new Set();\n      const normalizedFiles = [];\n      for (let index = 0; index < payload.files.length; index += 1) {\n        const file = payload.files[index];\n        if (!file || typeof file !== 'object' || Array.isArray(file)) {\n          throw new Error('Generated file entry at index ' + index + ' must be an object.');\n        }\n\n        const filePath = String(file.path || '').trim();\n        const content = normalizeGeneratedContent(filePath, file.content);\n        if (!filePath.startsWith('infrastructure/')) {\n          throw new Error('Generated invalid file path: ' + (filePath || '<empty>'));\n        }\n        if (!allowedPaths.has(filePath)) {\n          ignoredUnplannedGeneratedFiles.push(filePath);\n          continue;\n        }\n        if (!currentBatchPaths.has(filePath)) {\n          generatedOutsideCurrentBatch.push(filePath);\n        }\n        if (seen.has(filePath)) {\n          ignoredDuplicateGeneratedFiles.push(filePath);\n          continue;\n        }\n\n        seen.add(filePath);\n        normalizedFiles.push({\n          path: filePath,\n          content,\n        });\n      }\n\n      return {\n        json: {\n          ...json,\n          recoveredPartialChunkPayload: payload.recoveredPartialChunkPayload === true,\n          partialChunkRecoveryReason: payload.recoveryReason || '',\n          ignoredIncompleteTrailingFile: payload.ignoredIncompleteTrailingFile === true,\n          generatedFilesThisIteration: normalizedFiles,\n          generatedFileCountThisIteration: normalizedFiles.length,\n          generatedFilesOutsideCurrentBatch: generatedOutsideCurrentBatch,\n          generatedFilesOutsideCurrentBatchCount: generatedOutsideCurrentBatch.length,\n          ignoredUnplannedGeneratedFiles,\n          ignoredUnplannedGeneratedFileCount: ignoredUnplannedGeneratedFiles.length,\n          ignoredDuplicateGeneratedFiles,\n          ignoredDuplicateGeneratedFileCount: ignoredDuplicateGeneratedFiles.length,\n        },\n        binary: item.binary ?? {},\n      };\n    });\n  }\nreturn infCleanChunkResponse();\n"
      },
      "id": "8fd5f90e-1c60-4d87-9054-77513d3484ac",
      "name": "INF - Clean Refinement Chunk Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15312,
        2336
      ]
    },
    {
      "parameters": {
        "jsCode": "function decodeEscapedText(text) {\n  let value = String(text ?? '');\n  for (let i = 0; i < 2; i += 1) {\n    const trimmed = value.trim();\n    if (!trimmed) return trimmed;\n    if ((trimmed.startsWith('\"') && trimmed.endsWith('\"')) || (trimmed.startsWith(\"'\") && trimmed.endsWith(\"'\"))) {\n      try {\n        const parsed = JSON.parse(trimmed.startsWith(\"'\") ? `\"${trimmed.slice(1, -1).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"` : trimmed);\n        if (typeof parsed === 'string') {\n          value = parsed;\n          continue;\n        }\n      } catch {}\n    }\n    if (trimmed.includes('\\\\n') || trimmed.includes('\\\\\"') || trimmed.includes('\\\\t') || trimmed.includes('\\\\r')) {\n      value = trimmed\n        .replace(/\\\\r\\\\n/g, '\\n')\n        .replace(/\\\\n/g, '\\n')\n        .replace(/\\\\r/g, '\\r')\n        .replace(/\\\\t/g, '\\t')\n        .replace(/\\\\\"/g, '\"')\n        .replace(/\\\\\\\\/g, '\\\\');\n      continue;\n    }\n    break;\n  }\n  return value;\n}\n\nfunction normalizeText(raw) {\n  let text = String(raw ?? '').trim();\n  if (!text) {\n    throw new Error('Infrastructure refinement plan model output is empty.');\n  }\n  text = decodeEscapedText(text).trim();\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced) {\n    text = decodeEscapedText(fenced[1]).trim();\n  }\n  return text;\n}\n\nfunction parseJsonCandidates(text) {\n  const normalized = normalizeText(text);\n  const candidates = [normalized];\n  const objectStart = normalized.indexOf('{');\n  const objectEnd = normalized.lastIndexOf('}');\n  if (objectStart >= 0 && objectEnd > objectStart) {\n    candidates.push(normalized.slice(objectStart, objectEnd + 1));\n  }\n  const arrayStart = normalized.indexOf('[');\n  const arrayEnd = normalized.lastIndexOf(']');\n  if (arrayStart >= 0 && arrayEnd > arrayStart) {\n    candidates.push(normalized.slice(arrayStart, arrayEnd + 1));\n  }\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n  return null;\n}\n\nfunction normalizeAction(value) {\n  const action = String(value ?? '').trim().toLowerCase();\n  if (!action) return '';\n  if (['modify', 'modified', 'update', 'updated', 'change', 'changed', 'edit', 'edited', 'patch', 'replace'].includes(action)) {\n    return 'modify';\n  }\n  if (['create', 'created', 'add', 'added', 'new', 'insert'].includes(action)) {\n    return 'create';\n  }\n  if (['remove', 'removed', 'delete', 'deleted', 'drop'].includes(action)) {\n    return 'remove';\n  }\n  return '';\n}\n\nfunction extractEntriesFromObjectMap(payload) {\n  if (!payload || typeof payload !== 'object' || Array.isArray(payload)) return [];\n  const entries = [];\n  for (const [key, value] of Object.entries(payload)) {\n    const path = String(key ?? '').trim();\n    if (!path.startsWith('infrastructure/')) continue;\n    if (typeof value === 'string') {\n      const action = normalizeAction(value);\n      if (action) entries.push({ path, action });\n      continue;\n    }\n    if (value && typeof value === 'object') {\n      const action = normalizeAction(value.action ?? value.type ?? value.operation ?? value.op);\n      if (action) entries.push({ path, action });\n    }\n  }\n  return entries;\n}\n\nfunction extractRegexEntries(text) {\n  const normalized = normalizeText(text);\n  const results = [];\n  const pattern = /\"path\"\\s*:\\s*\"([^\"]+)\"[\\s,;\\r\\n]*\"action\"\\s*:\\s*\"([^\"]+)\"/gi;\n  for (const match of normalized.matchAll(pattern)) {\n    results.push({ path: match[1], action: match[2] });\n  }\n  return results;\n}\n\nfunction collectRawFiles(payload, originalText) {\n  if (Array.isArray(payload)) return payload;\n  if (Array.isArray(payload?.files)) return payload.files;\n  if (Array.isArray(payload?.changes)) return payload.changes;\n  if (Array.isArray(payload?.items)) return payload.items;\n  if (Array.isArray(payload?.actions)) return payload.actions;\n  const objectMapEntries = extractEntriesFromObjectMap(payload);\n  if (objectMapEntries.length) return objectMapEntries;\n  const regexEntries = extractRegexEntries(originalText);\n  if (regexEntries.length) return regexEntries;\n  return [];\n}\n\nfunction normalizePlan(payload, originalText) {\n  const rawFiles = collectRawFiles(payload, originalText);\n  const seen = new Set();\n  const files = [];\n  for (const entry of rawFiles) {\n    if (!entry || typeof entry !== 'object') continue;\n    const path = String(entry.path ?? entry.file ?? entry.filePath ?? '').trim();\n    const action = normalizeAction(entry.action ?? entry.type ?? entry.operation ?? entry.op);\n    if (!path || !path.startsWith('infrastructure/')) continue;\n    if (!action) continue;\n    if (seen.has(path)) continue;\n    seen.add(path);\n    files.push({ path, action });\n  }\n  if (!files.length) {\n    throw new Error('Infrastructure refinement plan did not contain any valid file actions.');\n  }\n  return { files };\n}\n\nconst item = $input.first();\nconst json = item?.json ?? {};\nconst rawText = json.text;\nconst payload = parseJsonCandidates(rawText) ?? rawText;\nconst plan = normalizePlan(payload, rawText);\n\nreturn [{\n  json: {\n    ...json,\n    ...plan,\n    refinementPlanFiles: plan.files,\n    fileCount: plan.files.length,\n    revisionNumber: Number(json.revisionNumber ?? 0) || 0,\n    plannedFiles: json.plannedFiles ?? [],\n    firstIterationFiles: json.firstIterationFiles ?? [],\n    currentFiles: json.currentFiles ?? [],\n    previousPlanFiles: json.previousPlanFiles ?? [],\n    infrastructureStructure: json.infrastructureStructure ?? json.structurePlan ?? '',\n    infrastructureStructureObject: json.infrastructureStructureObject ?? json.structurePlanObject ?? null,\n    structurePlan: json.structurePlan ?? json.infrastructureStructure ?? '',\n    structurePlanObject: json.structurePlanObject ?? json.infrastructureStructureObject ?? null,\n  },\n  ...(item?.binary && Object.keys(item.binary).length > 0 ? { binary: item.binary } : {}),\n}];"
      },
      "id": "4d8813cf-345d-4006-a0ed-96421533df9c",
      "name": "INF - Clean Refinement Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14576,
        2016
      ]
    },
    {
      "parameters": {
        "jsCode": "function beCleanStructure() {\n  function parseJsonCandidate(raw) {\n    try {\n      const parsed = JSON.parse(raw);\n      if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n        return parsed;\n      }\n    } catch {}\n    return null;\n  }\n\n  function normalizeText(raw) {\n    let text = String(raw ?? '').trim();\n    if (!text) {\n      throw new Error('Infrastructure structure model output is empty.');\n    }\n\n    if (text.startsWith('```')) {\n      const firstNewlineIndex = text.indexOf('\\n');\n      if (firstNewlineIndex !== -1) {\n        const openingFence = text.slice(0, firstNewlineIndex).trim();\n        if (/^```(?:json)?$/i.test(openingFence)) {\n          text = text.slice(firstNewlineIndex + 1);\n\n          const trailingFenceIndex = text.lastIndexOf('\\n```');\n          if (trailingFenceIndex !== -1 && text.slice(trailingFenceIndex).trim() === '```') {\n            text = text.slice(0, trailingFenceIndex).trim();\n          } else if (text.endsWith('```')) {\n            text = text.slice(0, -3).trim();\n          } else {\n            text = text.trim();\n          }\n        }\n      }\n    }\n\n    return text;\n  }\n\n  function extractBalancedObject(text) {\n    let depth = 0;\n    let start = -1;\n    let inString = false;\n    let escaped = false;\n\n    for (let index = 0; index < text.length; index += 1) {\n      const char = text[index];\n\n      if (escaped) {\n        escaped = false;\n        continue;\n      }\n\n      if (char === '\\\\') {\n        if (inString) escaped = true;\n        continue;\n      }\n\n      if (char === '\"') {\n        inString = !inString;\n        continue;\n      }\n\n      if (inString) continue;\n\n      if (char === '{') {\n        if (depth === 0) start = index;\n        depth += 1;\n        continue;\n      }\n\n      if (char === '}') {\n        if (depth > 0) {\n          depth -= 1;\n          if (depth === 0 && start !== -1) {\n            return text.slice(start, index + 1);\n          }\n        }\n      }\n    }\n\n    return null;\n  }\n\n  function extractStructure(rawText) {\n    const text = normalizeText(rawText);\n    const candidates = [text];\n    const balancedObject = extractBalancedObject(text);\n    if (balancedObject) {\n      candidates.push(balancedObject);\n    }\n\n    for (const candidate of candidates) {\n      const parsed = parseJsonCandidate(candidate);\n      if (parsed) return parsed;\n    }\n\n    throw new Error('Could not extract a valid infrastructure structure JSON document from model output.');\n  }\n\n  function normalizeFileEntry(file, index) {\n    if (typeof file === 'string') {\n      const path = file.trim();\n      if (!path) {\n        throw new Error(`files[${index}] must not be empty.`);\n      }\n      return { path };\n    }\n\n    if (!file || typeof file !== 'object' || Array.isArray(file)) {\n      throw new Error(`files[${index}] must be a string path or an object with path.`);\n    }\n\n    const filePath = String(file.path || '').trim();\n    if (!filePath) {\n      throw new Error(`files[${index}].path is required.`);\n    }\n\n    return { path: filePath };\n  }\n\n  function validateAndNormalizeStructure(payload) {\n    if (!payload || typeof payload !== 'object' || Array.isArray(payload)) {\n      throw new Error('Infrastructure structure must be an object.');\n    }\n    if (!Array.isArray(payload.files)) {\n      throw new Error('Infrastructure structure must contain a files array.');\n    }\n    if (!payload.files.length) {\n      throw new Error('Infrastructure structure files array must not be empty.');\n    }\n\n    const seen = new Set();\n    const normalizedFiles = payload.files.map((file, index) => {\n      const normalized = normalizeFileEntry(file, index);\n      const filePath = normalized.path;\n      if (!filePath.startsWith('infrastructure/')) {\n        throw new Error(`files[${index}].path must start with \"infrastructure/\".`);\n      }\n      if (seen.has(filePath)) {\n        throw new Error(`Duplicate infrastructure structure file path: ${filePath}`);\n      }\n      seen.add(filePath);\n      return normalized;\n    });\n\n    return { files: normalizedFiles };\n  }\n\n  const item = $input.first();\n  const structure = validateAndNormalizeStructure(extractStructure(item?.json?.text));\n\n  return [{\n    json: {\n      ...(item?.json ?? {}),\n      infrastructureStructure: JSON.stringify(structure, null, 2),\n      infrastructureStructureObject: structure,\n      structureFileCount: structure.files.length,\n    },\n    binary: item?.binary ?? {},\n  }];\n}\nreturn beCleanStructure();"
      },
      "id": "eb903218-75a4-4d7d-8c0c-2cd9eaaa340d",
      "name": "INF - Clean Structure Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13712,
        2400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Se3rPyRTvgimNBXz",
          "mode": "list",
          "cachedResultUrl": "/workflow/Se3rPyRTvgimNBXz",
          "cachedResultName": "Subworkflow - Create Link"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "id": "archiveData",
              "displayName": "archiveData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveMimeType",
              "displayName": "archiveMimeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveFileName",
              "displayName": "archiveFileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "revisionNumber",
              "displayName": "revisionNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveId",
              "displayName": "archiveId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveBinaryProperty",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "archiveBinaryProperty",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            }
          ],
          "value": {
            "revisionNumber": "={{ $json.revisionNumber }}",
            "archiveMimeType": "={{ $binary.infrastructureZip ? $binary.infrastructureZip.mimeType : \"application/zip\" }}",
            "archiveFileName": "={{ $binary.infrastructureZip ? $binary.infrastructureZip.fileName : \"infrastructure.zip\" }}",
            "response": "={{ $json.response }}",
            "archiveData": "={{ $binary.infrastructureZip ? ($binary.infrastructureZip.data || ($binary.infrastructureZip.id ? \"filesystem-v2\" : \"\")) : \"\" }}",
            "archiveId": "={{ $binary.infrastructureZip ? ($binary.infrastructureZip.id || \"\") : \"\" }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        14528,
        3008
      ],
      "id": "496e9793-55c9-47a4-a496-705b5af90096",
      "name": "INF - Create Zip Link"
    },
    {
      "parameters": {
        "binaryPropertyName": "infrastructureZip",
        "outputPrefix": "current_"
      },
      "id": "579fcd28-5037-4c69-919b-e5e822bd79f0",
      "name": "INF - Extract Refinement Infrastructure Zip",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        14144,
        2592
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "------------------------------------------------\nROLE\n------------------------------------------------\n\nYou are an Infrastructure Engineer generating deployment infrastructure code.\n\nYou operate inside a strict batch-based infrastructure generation pipeline.\n\nThis module is responsible ONLY for infrastructure code required to deploy the system.\n\nYou must never modify backend or frontend code.\n\n------------------------------------------------\nINPUTS\n------------------------------------------------\n\nYou will receive:\n\n- FULL REQUIREMENTS\n- COMPACT OPENAPI JSON\n- PLAN ? complete list of allowed infrastructure file paths\n- BATCH ? files that must be generated in this execution\n- MEMORY ? summaries of recently generated infrastructure files\n\nRequirements are the primary source of truth for infrastructure behaviour and deployment needs.\n\nOpenAPI is provided only to understand service exposure, routing, authentication surfaces, and API boundaries.\n\n------------------------------------------------\nBATCH GENERATION RULES\n------------------------------------------------\n\n- Generate ONLY the files listed in BATCH.\n- Generate EXACTLY the files listed in BATCH and no other files.\n- Never generate files outside BATCH.\n- Never reference files outside BATCH, MEMORY, or PLAN.\n- If a useful file exists in PLAN but is not in BATCH, do NOT generate it.\n- Assume other files will be generated in other batches.\n- Use MEMORY only to maintain consistency with already generated infrastructure files.\n\n------------------------------------------------\nCORE PRINCIPLE\n------------------------------------------------\n\nTHIS IS A DEPLOYMENT-ONLY MODULE.\n\nYou MUST:\n\n- Generate infrastructure code only\n- Keep backend and frontend untouched\n- Root everything inside infrastructure/\n- Use containerization\n- Avoid hardcoded secrets\n- Ensure secure-by-default configuration\n\n------------------------------------------------\nEXPECTED INFRASTRUCTURE STRUCTURE\n------------------------------------------------\n\nTypical infrastructure structure:\n\ninfrastructure/\n?\n??? docker-compose.yml\n??? .env.example\n??? traefik/\n?   ??? traefik.yml\n??? networks.md\n??? README.md\n\nThe actual files generated depend strictly on the BATCH list.\n\n------------------------------------------------\nDOCKER REQUIREMENTS\n------------------------------------------------\n\nThe docker-compose.yml must:\n\n- Define services for:\n  - reverse proxy (Traefik)\n  - backend\n  - frontend\n  - database\n- Define explicit networks\n- Use persistent volumes for database\n- Use environment variables for credentials and secrets\n- Avoid exposing internal services directly\n- Expose only required public ports through the reverse proxy\n\nContainers must:\n\n- start deterministically\n- fail fast on real errors\n- avoid hidden failures\n\n------------------------------------------------\nREVERSE PROXY REQUIREMENTS\n------------------------------------------------\n\nTraefik MUST be used as the reverse proxy.\n\nTraefik must:\n\n- act as the single public entry point\n- route traffic to backend and frontend\n- support HTTP and HTTPS configuration\n- run as a container\n- use Docker label-based routing\n- allow future TLS configuration (Let's Encrypt ready)\n\nMANDATORY ROUTING SAFETY RULE:\n\nAll exposed services MUST explicitly bind Traefik routing to the correct Docker network using:\n\ntraefik.docker.network=<PUBLIC_NETWORK_NAME>\n\nRequirements:\n\n- The PUBLIC network must have an explicit name in docker-compose.yml\n- Services exposed through Traefik must:\n  - be attached to the PUBLIC network\n  - set traefik.docker.network to the PUBLIC network name\n  - expose the correct internal port via\n    traefik.http.services.<service>.loadbalancer.server.port\n\nFailure to bind the correct network may cause 502 Bad Gateway errors.\n\nBackend services must NOT be exposed directly to the host unless explicitly required.\n\n------------------------------------------------\nDATABASE REQUIREMENTS\n------------------------------------------------\n\nThe database must:\n\n- use a relational database container\n- store data in persistent volumes\n- never expose credentials in code\n- obtain credentials from environment variables\n\nProvide placeholder credentials in `.env.example`.\n\nThe database must NOT be reachable from the public network.\n\n------------------------------------------------\nENVIRONMENT MANAGEMENT\n------------------------------------------------\n\nEnvironment configuration must follow these rules:\n\n- Provide a `.env.example` file with placeholder variables\n- Never store real secrets in version-controlled files\n- Document environment variables clearly\n- Separate development and production concerns when relevant\n\n------------------------------------------------\nSECURITY MODEL\n------------------------------------------------\n\nConfidentiality:\n\n- No secrets hardcoded\n- Prepare HTTPS support\n- Do not expose database publicly\n\nIntegrity:\n\n- Persistent volumes for database\n- Explicit network isolation\n- Internal communication via private Docker network\n\nAvailability:\n\n- Restart policies defined\n- Healthchecks when possible\n- Services stateless except database\n\n------------------------------------------------\nBUILD AND ARTIFACT SAFETY\n------------------------------------------------\n\nThe host repository may contain compiled artifacts such as:\n\n- frontend/node_modules\n- frontend/dist\n- backend/target\n- other OS-specific build folders\n\nThe infrastructure MUST work regardless of whether these folders exist.\n\nMANDATORY RULES:\n\n- Never copy host node_modules into containers\n- If bind mounts are used for frontend, remove incompatible artifacts before dependency installation:\n\n  rm -rf node_modules dist\n\n- Dependencies must be installed inside the container (e.g. npm ci)\n- Do not rely on host compiled artifacts\n- Do not use `|| true` to hide startup errors\n- Containers must fail fast if dependency installation fails\n\nInfrastructure must work:\n\n- on first execution\n- on repeated executions\n- on Windows, macOS, and Linux hosts\n- regardless of existing build artifacts\n\n------------------------------------------------\nREADINESS AND STARTUP SAFETY\n------------------------------------------------\n\nWhere possible:\n\n- add healthchecks for backend and frontend\n- avoid exposing services before they are ready\n- ensure reverse proxy routes only to listening services\n\nThis prevents 502 Bad Gateway errors caused by premature routing.\n\n------------------------------------------------\nNETWORK DESIGN\n------------------------------------------------\n\nThe network architecture must include:\n\n- PUBLIC network for reverse proxy traffic\n- PRIVATE network for backend and database communication\n\nRules:\n\n- database must NOT be attached to the public network\n- only Traefik exposes ports 80 and 443\n\nDocument the network architecture in networks.md.\n\n------------------------------------------------\nSCALABILITY PREPARATION\n------------------------------------------------\n\nInfrastructure must support future horizontal scaling.\n\nEnsure:\n\n- backend services can scale\n- reverse proxy supports automatic load balancing\n- services remain loosely coupled\n- infrastructure remains modular and extensible\n\n------------------------------------------------\nREADME REQUIREMENTS\n------------------------------------------------\n\nWhen generating README.md include:\n\n1) prerequisites (Docker, Docker Compose)\n2) environment variable configuration\n3) how to run the full stack\n4) routing explanation\n5) volume usage\n6) security overview\n\nCommands must be accurate and runnable.\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\n\nReturn ONLY valid JSON.\n\nFormat:\n\n{\n  \"files\": [\n    {\n      \"path\": \"infrastructure/...\",\n      \"content\": \"...\"\n    }\n  ]\n}\n\nRules:\n\n- Generate ONLY files listed in BATCH\n- Always populate the content field\n- Do NOT include explanations\n- Do NOT include text outside the JSON object\n- Do NOT include comments outside file content\n- Markdown formatting is allowed only inside file content\n- If generating .md or .txt files, keep them concise and strictly necessary\n- VERY IMPORTANT: Keep a maxmimum of 8000 tokens per file. One single file CANNOT HAVE MORE THAN 8000 TOKENS"
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 0
        }
      },
      "id": "43a12ee1-94dc-4f32-aadd-265d189e122f",
      "name": "INF - Generate Chunk",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        13328,
        2848
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 10000,
          "temperature": 0.1
        }
      },
      "id": "43b0c059-1a7f-4ee5-9256-760ad6ebd77e",
      "name": "INF - Generate Chunk Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        13280,
        2992
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "------------------------------------------------\nROLE\n------------------------------------------------\n\nYou generate refined infrastructure code for an existing infrastructure project.\n\nYou operate inside a controlled refinement loop of an automated infrastructure generation pipeline.\n\nYour task is to update the implementation of specific infrastructure files according to human feedback.\n\n------------------------------------------------\nMISSION\n------------------------------------------------\n\nRefine the infrastructure implementation.\n\nYou must update only the files explicitly provided to you.\n\nYour goal is to improve the code so that it satisfies the user feedback while preserving the existing architecture and API contracts.\n\n------------------------------------------------\nINPUTS\n------------------------------------------------\n\nYou will receive:\n\n- CURRENT_IMPLEMENTATION ? content of existing infrastructure files\n- TARGET_FILES ? list of file paths that must be updated\n- USER_FEEDBACK ? human feedback describing the required changes\n\nThe CURRENT_IMPLEMENTATION represents the current state of the infrastructure codebase.\n\nTARGET_FILES defines which files you are allowed to modify.\n\n------------------------------------------------\nSTRICT FILE SCOPE\n------------------------------------------------\n\nYou MUST follow these rules strictly:\n\n- Modify ONLY files listed in TARGET_FILES\n- NEVER create new files\n- NEVER delete files\n- NEVER modify files outside TARGET_FILES\n\nIf the feedback suggests changes to other files, you must ignore them.\n\n------------------------------------------------\nARCHITECTURE (MANDATORY)\n------------------------------------------------\n\nThe infrastructure follows a strict layered MVC architecture.\n\nLayers:\n\ndomain ? entities  \nrepository ? data access  \nservice ? business logic  \nservice.dto ? DTOs  \nservice.mapper ? entity ? DTO mapping  \nweb.rest ? REST controllers  \nconfig ? configuration and security\n\nRules:\n\nControllers\n- Controllers must remain thin\n- Controllers must only orchestrate requests\n\nServices\n- Services contain business logic\n\nRepositories\n- Repositories handle persistence only\n\nDTOs\n- DTOs must be used at API boundaries\n\nEntities\n- Entities must never be exposed directly in controllers\n\n------------------------------------------------\nAPI CONTRACT RULE\n------------------------------------------------\n\nYou must preserve the existing API contract.\n\nNever change:\n\n- endpoint paths\n- HTTP methods\n- request schemas\n- response schemas\n- field names\n- identifier types\n\nControllers must remain compatible with the existing API.\n\n------------------------------------------------\nREFINEMENT RULES\n------------------------------------------------\n\nWhen applying the feedback:\n\n- improve correctness\n- fix architectural violations\n- align with infrastructure best practices\n- preserve existing behavior unless explicitly requested to change it\n\nAvoid unnecessary refactoring.\n\nOnly change what is required to satisfy the feedback.\n\n------------------------------------------------\nIMPLEMENTATION QUALITY\n------------------------------------------------\n\nThe refined implementation must:\n\n- compile logically\n- respect the layered architecture\n- avoid duplicated logic\n- maintain clear separation of concerns\n- follow typical Spring Boot infrastructure conventions\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\n\nReturn ONLY valid JSON.\n\nStructure:\n\n{\n  \"files\": [\n    {\n      \"path\": \"infrastructure/...\",\n      \"content\": \"complete file content\"\n    }\n  ]\n}\n\nRules:\n\n- Do NOT include explanations\n- Do NOT include comments outside file content\n- Always return the FULL content of each modified file\n- Never return partial file snippets\n- Do not include files that were not modified\n- Do not include duplicate paths\n- Do not output anything outside the JSON object\n\n------------------------------------------------\nTOKEN SAFETY\n------------------------------------------------\n\nKeep each file under 8000 tokens.\n\nIf a file would exceed this limit, keep the implementation concise and avoid unnecessary verbosity."
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 0
        }
      },
      "id": "c44212c8-ac98-42e0-87ac-1fed6b6dcafb",
      "name": "INF - Generate Refinement Chunk",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        14992,
        2336
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 10000,
          "temperature": 0.1
        }
      },
      "id": "9ac87595-82f9-481c-8f53-727e9ec51fa0",
      "name": "INF - Generate Refinement Chunk Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        14896,
        2496
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 4000,
          "temperature": 0.1
        }
      },
      "id": "12832286-ec8f-4a53-ab5b-4752134e158d",
      "name": "INF - Generate Refinement Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        14144,
        2192
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.patchPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "------------------------------------------------\nROLE\n------------------------------------------------\n\nYou are a Senior Infrastructure Architect operating inside a refinement loop of an automated infrastructure generation pipeline.\n\nYour task is to refine an existing infrastructure project structure based on human feedback.\n\nYou do NOT generate code.\nYou do NOT generate file contents.\n\nYou ONLY produce structural patch instructions.\n\n------------------------------------------------\nMISSION\n------------------------------------------------\n\nAnalyze the existing infrastructure structure and the user feedback.\n\nYour goal is to produce the minimal set of structural operations required to improve the project structure.\n\nThese operations describe which files must be:\n\n- created\n- modified\n- removed\n\n------------------------------------------------\nINPUTS\n------------------------------------------------\n\nYou will receive:\n\nCURRENT_STRUCTURE ? list of existing infrastructure file paths\n\nUSER_FEEDBACK ? textual feedback describing problems or requested changes\n\nThe CURRENT_STRUCTURE represents the full set of infrastructure files currently present in the project.\n\n------------------------------------------------\nBACKEND ARCHITECTURE\n------------------------------------------------\n\nThe infrastructure follows a strict layered MVC architecture.\n\nLayers:\n\ndomain ? entities  \nrepository ? data access  \nservice ? business logic  \nservice.dto ? DTOs  \nservice.mapper ? entity ? DTO mapping  \nweb.rest ? REST controllers  \nconfig ? security and infrastructure configuration\n\nRules:\n\n- Controllers MUST remain under web.rest\n- Repositories MUST remain under repository\n- DTOs MUST remain under service.dto\n- Mappers MUST remain under service.mapper\n- Entities MUST remain under domain\n\n------------------------------------------------\nREFINEMENT RULES\n------------------------------------------------\n\nYou must follow these rules strictly:\n\n1. Only reference files that belong to the infrastructure project.\n2. Only propose changes that directly address the user feedback or clear structural issues.\n3. Do NOT invent unnecessary files.\n4. Do NOT duplicate existing paths.\n5. Prefer the minimal set of changes required to address the feedback.\n\n------------------------------------------------\nPATCH OPERATIONS\n------------------------------------------------\n\nYou may use ONLY the following operations:\n\ncreate  \nmodify  \nremove\n\nDefinitions:\n\ncreate  \n? a new file must be added to the project structure.\n\nmodify  \n? an existing file remains in the structure but its implementation must be updated.\n\nremove  \n? an existing file must be removed from the project.\n\nConstraints:\n\n- NEVER mark a file as modify if it does not exist in CURRENT_STRUCTURE\n- NEVER mark a file as remove if it does not exist\n- NEVER mark a file as create if it already exists\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\n\nReturn ONLY valid JSON.\n\nStructure:\n\n{\n  \"changes\": [\n    {\n      \"path\": \"infrastructure/.../File.ext\",\n      \"action\": \"create\"\n    },\n    {\n      \"path\": \"infrastructure/.../File.ext\",\n      \"action\": \"modify\"\n    },\n    {\n      \"path\": \"infrastructure/.../File.ext\",\n      \"action\": \"remove\"\n    }\n  ]\n}\n\nRules:\n\n- Do NOT include explanations\n- Do NOT include comments\n- Do NOT include additional fields\n- Do NOT output anything outside the JSON object\n- Paths MUST reference files, not directories\n- Paths MUST include filename and extension\n- Do not repeat the same path twice"
            }
          ]
        },
        "batching": {}
      },
      "id": "485b144d-ce71-4fe9-9dea-6ec52b41b70b",
      "name": "INF - Generate Refinement Structure",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        14240,
        2016
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a senior DevOps / Infrastructure architect designing the structural skeleton of an infrastructure module.\n\nThis step defines the authoritative infrastructure file universe.\nIf a necessary file is missing here, it will never be generated later.\n\n------------------------------------------------\nMISSION\n------------------------------------------------\n\nDesign a complete, runnable infrastructure module rooted at:\n\ninfrastructure/\n\nYou are NOT generating file contents yet.\nYou are defining the full file plan for a deployment-only module that must orchestrate the existing system safely.\n\nThe backend project already exists.\nThe frontend project already exists.\nYou MUST NOT modify backend or frontend source code.\n\n------------------------------------------------\nINPUTS\n------------------------------------------------\n\nYou will receive:\n\n- full system requirements\n- compact OpenAPI JSON\n\nUse requirements as the primary source of infrastructure needs.\nUse OpenAPI only to understand service boundaries, API exposure, and routing expectations.\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\n\nReturn ONLY valid JSON.\n\nStructure:\n\n{\n  \"files\": [\n    {\"path\": \"infrastructure/.../SomeFile.ext\"}\n  ]\n}\n\nRules:\n\n- Each item MUST be a final file path, not a directory\n- Every path MUST start with infrastructure/\n- Do NOT include directory-only entries\n- Do NOT include file contents\n- Do NOT include explanations\n- Do NOT include additional fields\n- Do NOT output anything outside the JSON object\n- NEVER make a duplicate path\n\n------------------------------------------------\nMODULE REQUIREMENTS\n------------------------------------------------\n\nThe infrastructure module must be complete, secure, modular, and production-ready.\n\nIt MUST support containerized orchestration for:\n\n- reverse proxy\n- backend\n- frontend\n- relational database\n\nIt MUST include, when required by the design:\n\n- docker-compose.yml\n- .env.example\n- traefik/traefik.yml\n- networks.md\n- README.md\n\nYou may add additional infrastructure-only files if they are necessary for a coherent and runnable module.\nDo not add unnecessary files.\n\n------------------------------------------------\nMANDATORY INFRASTRUCTURE RULES\n------------------------------------------------\n\n- Use containerization only\n- Do not modify backend or frontend code\n- Do not hardcode secrets\n- Use environment variables for credentials and secrets\n- Define explicit public and private Docker networks\n- Database must never be exposed publicly\n- Use persistent database volumes\n- Prefer healthchecks and restart policies when appropriate\n- Prepare Traefik as single entry point\n- Traefik routing must be label-based and future TLS-ready\n- Public Traefik network must have an explicit name\n- Exposed services must bind Traefik routing to the correct Docker network using traefik.docker.network\n- Avoid host-artifact assumptions such as frontend/node_modules, frontend/dist, backend/target, or other prebuilt directories\n- Startup must be deterministic and container-safe\n\n------------------------------------------------\nTECHNOLOGY DEFAULTS\n------------------------------------------------\n\nIf the requirements specify infrastructure technologies, follow them.\nIf not, use these defaults:\n\n- Docker Compose\n- Traefik\n- PostgreSQL\n\n------------------------------------------------\nFINAL RULE\n------------------------------------------------\n\nThe file plan must be sufficient to later generate a complete infrastructure module that works locally and is ready to evolve toward production.\nOnly include files inside infrastructure/."
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 0
        }
      },
      "id": "e15e40ac-d396-4455-82eb-7ab8da89268d",
      "name": "INF - Generate Structure",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        13392,
        2400
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 20000,
          "temperature": 0.1
        }
      },
      "id": "bad66d05-8b33-4818-bbe6-2fedd6c0bba5",
      "name": "INF - Generate Structure Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        13328,
        2560
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ $json.zipBinaryFields }}",
        "fileName": "infrastructure.zip",
        "binaryPropertyOutput": "infrastructureZip"
      },
      "id": "e04a3708-54e5-4d63-a0b2-ff891d9a710f",
      "name": "INF - Infrastructure Zip",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        13968,
        3104
      ]
    },
    {
      "parameters": {
        "jsCode": "function beInitGenerationState() {\n  const item = $input.first();\n  if (!item) {\n    throw new Error('No infrastructure structure item received.');\n  }\n\n  const json = item.json || {};\n  const structure = json.infrastructureStructureObject || JSON.parse(String(json.infrastructureStructure || '{}'));\n  if (!Array.isArray(structure.files) || !structure.files.length) {\n    throw new Error('Infrastructure structure does not contain any files.');\n  }\n\n  const seen = new Set();\n  const files = structure.files.map((file, index) => {\n    const filePath = typeof file === 'string'\n      ? String(file).trim()\n      : String(file?.path || '').trim();\n    if (!filePath.startsWith('infrastructure/')) {\n      throw new Error(`Invalid infrastructure structure path at index ${index}: ${filePath || '<empty>'}`);\n    }\n    if (seen.has(filePath)) {\n      throw new Error(`Duplicate infrastructure structure path: ${filePath}`);\n    }\n    seen.add(filePath);\n    return { path: filePath };\n  });\n\n  return [{\n    json: {\n      ...json,\n      allPlannedFiles: files,\n      remainingFiles: files,\n      generatedFiles: [],\n      generatedFilePaths: [],\n      lastIterationFiles: [],\n      totalPlannedFiles: files.length,\n      generatedFileCountTotal: 0,\n      remainingFileCount: files.length,\n      batchSize: 15,\n      currentBatchFiles: files.slice(0, 15),\n      currentBatchFileCount: Math.min(files.length, 15),\n      iteration: 1,\n      hasRemainingFiles: 'yes',\n    },\n    binary: item.binary ?? {},\n  }];\n}\n\nreturn beInitGenerationState();"
      },
      "id": "ea05be09-802f-488f-a472-bf52a70905a9",
      "name": "INF - Init Generation State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13472,
        2640
      ]
    },
    {
      "parameters": {
        "jsCode": "async function infInitRefinementState() {\n  const item = $input.first();\n  if (!item) throw new Error('No infrastructure refinement context item received.');\n\n  function normalizeFiles(value) {\n    const files = Array.isArray(value) ? value : [];\n    return files.map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') return { path: String(entry.path ?? '').trim() };\n      return { path: '' };\n    }).filter((entry) => entry.path);\n  }\n\n  function decodeBinaryText(binaryEntry) {\n    try {\n      const raw = String(binaryEntry?.data ?? '');\n      return raw && raw !== 'filesystem-v2' ? Buffer.from(raw, 'base64').toString('utf8') : '';\n    } catch {\n      return '';\n    }\n  }\n\n  async function readBinaryText(binary, propertyName, binaryEntry) {\n    try {\n      if (typeof this?.helpers?.getBinaryDataBuffer === 'function') {\n        const index = Array.isArray($input?.all?.()) ? 0 : 0;\n        const buffer = await this.helpers.getBinaryDataBuffer(index, propertyName);\n        if (buffer) return buffer.toString('utf8');\n      }\n    } catch {}\n    return decodeBinaryText(binaryEntry);\n  }\n\n  function uniquePaths(paths) {\n    const seen = new Set();\n    const output = [];\n    for (const value of paths || []) {\n      const path = String(value?.path ?? value ?? '').trim();\n      if (!path || seen.has(path)) continue;\n      seen.add(path);\n      output.push({ path });\n    }\n    return output;\n  }\n\n  function parseStructure(text) {\n    const raw = String(text ?? '').trim();\n    if (!raw) return null;\n    try {\n      const parsed = JSON.parse(raw);\n      const files = normalizeFiles(parsed?.files);\n      return files.length ? { files } : null;\n    } catch {\n      return null;\n    }\n  }\n\n  function normalizeInfrastructurePath(rawPath, infrastructureRoot, rawDirectory) {\n    const normalizedRoot = String(infrastructureRoot || 'infrastructure').replace(/\\\\/g, '/').trim().replace(/\\/+$/, '') || 'infrastructure';\n    const directory = String(rawDirectory ?? '').replace(/\\\\/g, '/').trim().replace(/^\\.\\//, '').replace(/\\/+$/, '');\n    const fileName = String(rawPath ?? '').replace(/\\\\/g, '/').trim().replace(/^\\.\\//, '');\n    const combined = [directory, fileName]\n      .filter(Boolean)\n      .join('/')\n      .replace(/\\/+/g, '/')\n      .replace(/^\\.\\//, '')\n      .replace(/\\/+/g, '/');\n    if (!combined) return '';\n    if (combined === normalizedRoot || combined === normalizedRoot + '.zip') return '';\n    if (combined.startsWith(normalizedRoot + '/')) return combined;\n    return normalizedRoot + '/' + combined.replace(/^\\/+/, '');\n  }\n\n  async function collectCurrentInfrastructureFiles(binary, infrastructureRoot) {\n    const byPath = new Map();\n    for (const [propertyName, entry] of Object.entries(binary || {})) {\n      if (propertyName === 'infrastructureZip' || propertyName === 'infrastructureStructure') continue;\n      const fileName = String(entry?.fileName ?? '').trim();\n      const normalizedPath = normalizeInfrastructurePath(fileName, infrastructureRoot, entry?.directory);\n      const isDecompressedEntry = /^current_/i.test(propertyName) || String(entry?.directory ?? '').replace(/\\\\/g, '/').trim() === infrastructureRoot;\n      if ((!isDecompressedEntry && !normalizedPath.startsWith(infrastructureRoot + '/')) || !normalizedPath || normalizedPath.endsWith('.zip')) continue;\n      byPath.set(normalizedPath, { path: normalizedPath, content: await readBinaryText(binary, propertyName, entry) });\n    }\n    return Array.from(byPath.values()).sort((a, b) => a.path.localeCompare(b.path));\n  }\n\n  const json = item.json || {};\n  const binary = item.binary || {};\n  const rawPlanEntries = Array.isArray(json.refinementPlanFiles) ? json.refinementPlanFiles : (Array.isArray(json.files) ? json.files : []);\n  const allowedActions = new Set(['modify', 'create', 'remove']);\n  const seenPlanPaths = new Set();\n  const refinementPlanFiles = [];\n  for (const entry of rawPlanEntries) {\n    if (!entry || typeof entry !== 'object') continue;\n    const path = String(entry.path ?? '').trim();\n    const action = String(entry.action ?? '').trim().toLowerCase();\n    if (!path.startsWith('infrastructure/') || !allowedActions.has(action) || seenPlanPaths.has(path)) continue;\n    seenPlanPaths.add(path);\n    refinementPlanFiles.push({ path, action });\n  }\n  if (!refinementPlanFiles.length) {\n    throw new Error('Infrastructure refinement plan did not contain any valid file actions.');\n  }\n\n  const infrastructureRoot = String(json.infrastructureRoot ?? 'infrastructure').trim() || 'infrastructure';\n  const infrastructureFiles = await collectCurrentInfrastructureFiles.call(this, binary, infrastructureRoot);\n  if (!infrastructureFiles.length) {\n    throw new Error('Current infrastructure ZIP could not be unpacked into files for refinement.');\n  }\n  const infrastructureFileMap = new Map(infrastructureFiles.map((file) => [file.path, file]));\n  const structureTextCandidates = [\n    String(json.infrastructureStructure ?? '').trim(),\n    String(json.structurePlan ?? '').trim(),\n    decodeBinaryText(binary.infrastructureStructure),\n  ].filter(Boolean);\n  const parsedStructure = structureTextCandidates.map(parseStructure).find(Boolean);\n  const currentPlanFiles = uniquePaths(parsedStructure?.files?.length ? parsedStructure.files : infrastructureFiles.map((file) => ({ path: file.path })));\n\n  const removePaths = new Set(refinementPlanFiles.filter((file) => file.action === 'remove').map((file) => file.path));\n  const workItems = refinementPlanFiles\n    .filter((file) => file.action !== 'remove')\n    .map((file) => ({ path: file.path, action: file.action, currentExists: infrastructureFileMap.has(file.path) }));\n\n  const currentInfrastructureFiles = infrastructureFiles.filter((file) => !removePaths.has(file.path));\n  const currentPlanPaths = currentPlanFiles.filter((file) => !removePaths.has(file.path));\n  for (const workItem of workItems) {\n    if (!currentPlanPaths.some((file) => file.path === workItem.path)) currentPlanPaths.push({ path: workItem.path });\n  }\n\n  const batchSize = Math.max(1, Number(json.refinementBatchSize ?? 4));\n  const currentBatchFiles = workItems.slice(0, batchSize);\n  const infrastructureStructureObject = { files: currentPlanPaths };\n  const infrastructureStructure = JSON.stringify(infrastructureStructureObject);\n\n  return [{\n    json: {\n      ...json,\n      refinementPlanFiles,\n      removeFilePaths: Array.from(removePaths),\n      generatedFiles: currentInfrastructureFiles,\n      generatedFilePaths: currentInfrastructureFiles.map((file) => file.path),\n      generatedFileCountTotal: currentInfrastructureFiles.length,\n      currentPlanFiles: currentPlanPaths,\n      plannedFiles: currentPlanPaths,\n      infrastructureStructure,\n      infrastructureStructureObject,\n      remainingFiles: workItems,\n      remainingFileCount: workItems.length,\n      currentBatchFiles,\n      currentBatchFileCount: currentBatchFiles.length,\n      allPlannedFiles: currentPlanPaths,\n      allowedOutputFiles: currentBatchFiles.map((file) => ({ path: file.path })),\n      lastIterationFiles: [],\n      recentImplementationSummaries: [],\n      generatedImplementationIndex: [],\n      batchSize,\n      iteration: 1,\n      hasRemainingFiles: workItems.length > 0 ? 'yes' : 'no',\n    },\n    binary,\n  }];\n}\n\nreturn infInitRefinementState();"
      },
      "id": "965b1464-3fc0-4bfa-9f97-d6a20aa4cd07",
      "name": "INF - Init Refinement State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14432,
        2592
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "0cf89e0b-7379-4f6c-9e23-c7727f5131e6",
      "name": "INF - Link and Zip",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        14768,
        2960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "be-has-remaining-files-condition",
              "leftValue": "={{ $json.hasRemainingFiles }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3f8fbdb0-aec6-4db5-b8bc-c4ed0096702b",
      "name": "INF - More Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        13520,
        3088
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "90eaa5a5-4bce-49b7-a058-ba1fd4133311",
              "leftValue": "={{ $json.hasRemainingFiles }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b725f10-604d-4303-8fba-e954994fb793",
      "name": "INF - More Refinement Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        15072,
        2592
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json ?? {};\nconst revisionNumber = Math.max(0, Math.trunc(Number(json.revisionNumber ?? 0) || 0));\nconst fileCount = Math.max(0, Math.trunc(Number(json.fileCount ?? 0) || 0));\nconst zipDownloadUrl = String(json.zipDownloadUrl ?? '').trim();\nif (!zipDownloadUrl) throw new Error('Review ZIP download URL is missing.');\nconst zipDownloadToken = String(json.zipDownloadToken ?? '').trim();\nif (!zipDownloadToken) throw new Error('Review ZIP download token is missing.');\nconst downloadLinkHtml = '<p><a href=\"' + zipDownloadUrl + '\" download target=\"_blank\" rel=\"noopener noreferrer\">Download current Infrastructure ZIP</a></p>';\nconst output = {\n  json: { ...json, revisionNumber, fileCount, zipDownloadUrl, zipDownloadToken, downloadLinkHtml },\n};\nif (item.binary && Object.keys(item.binary).length > 0) {\n  output.binary = item.binary;\n}\nreturn [output];"
      },
      "id": "fbbf3568-18a4-48d1-afb9-39688830d17a",
      "name": "INF - Prepare Information",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14992,
        2960
      ]
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ $json.zipBinaryFields }}",
        "fileName": "infrastructure.zip",
        "binaryPropertyOutput": "infrastructureZip"
      },
      "id": "2976e27e-c6f2-40f2-ab11-d77bd3d1de0d",
      "name": "INF - Refined Infrastructure Zip",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        15648,
        2608
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "infrastructureStructure",
        "binaryPropertyName": "infrastructureStructure",
        "options": {
          "fileName": "infrastructure-structure.json"
        }
      },
      "id": "ec014559-e02c-4eb2-811f-c0ea6489069c",
      "name": "INF - Refined Structure File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        15296,
        2736
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "c8b565a9-7637-4cbe-b398-9d4b921779db",
      "name": "INF - Refined Zip and Structure",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        15840,
        2720
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "4389f27c-02e0-449f-8432-d57c2a57f8fa",
      "name": "INF - Refinement Plan and Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        14480,
        2304
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "6aead711-e8b6-4648-9791-7644de210662",
      "name": "INF - Structure and Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        13056,
        2640
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "infrastructureStructure",
        "binaryPropertyName": "infrastructureStructure",
        "options": {
          "fileName": "infrastructure-structure.json"
        }
      },
      "id": "05e07c72-f9ed-4d5c-baf9-91d138083edc",
      "name": "INF - Structure File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        13936,
        2400
      ]
    },
    {
      "parameters": {
        "jsCode": "function beUpdateGenerationState() {\n    function detectLanguage(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      if (lower.endsWith('.java')) return 'java';\n      if (lower.endsWith('.kt')) return 'kotlin';\n      if (lower.endsWith('.py')) return 'python';\n      if (lower.endsWith('.ts')) return 'typescript';\n      if (lower.endsWith('.tsx')) return 'tsx';\n      if (lower.endsWith('.js')) return 'javascript';\n      if (lower.endsWith('.jsx')) return 'jsx';\n      if (lower.endsWith('.cs')) return 'csharp';\n      if (lower.endsWith('.go')) return 'go';\n      if (lower.endsWith('.rb')) return 'ruby';\n      if (lower.endsWith('.php')) return 'php';\n      if (lower.endsWith('.rs')) return 'rust';\n      if (lower.endsWith('.swift')) return 'swift';\n      if (lower.endsWith('.scala')) return 'scala';\n      if (lower.endsWith('.c')) return 'c';\n      if (lower.endsWith('.cpp') || lower.endsWith('.cc') || lower.endsWith('.cxx')) return 'cpp';\n      if (lower.endsWith('.h') || lower.endsWith('.hpp')) return 'cpp-header';\n      return 'other';\n    }\n\n    function isImplementationFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      if (!lower.startsWith('infrastructure/')) return false;\n      if (lower.includes('/src/test/') || lower.includes('/tests/') || lower.includes('/test/')) return false;\n      if (lower.includes('/resources/') || lower.includes('/db/') || lower.includes('/docs/') || lower.includes('/helm/')) return false;\n      if (lower.endsWith('.md') || lower.endsWith('.txt') || lower.endsWith('.yaml') || lower.endsWith('.yml') || lower.endsWith('.xml') || lower.endsWith('.properties') || lower.endsWith('.sql') || lower.endsWith('.json') || lower.endsWith('.csv')) return false;\n      return new Set(['java', 'kotlin', 'python', 'typescript', 'tsx', 'javascript', 'jsx', 'csharp', 'go', 'ruby', 'php', 'rust', 'swift', 'scala', 'c', 'cpp', 'cpp-header']).has(detectLanguage(filePath));\n    }\n\n    function uniqueStrings(values, limit) {\n      const seen = new Set();\n      const output = [];\n      for (const value of values || []) {\n        const normalized = String(value || '').trim();\n        if (!normalized || seen.has(normalized)) continue;\n        seen.add(normalized);\n        output.push(normalized);\n        if (output.length >= limit) break;\n      }\n      return output;\n    }\n\n    function matchAll(text, regex, mapper, limit) {\n      const output = [];\n      let match;\n      while ((match = regex.exec(text)) !== null) {\n        output.push(mapper(match));\n        if (output.length >= limit) break;\n      }\n      regex.lastIndex = 0;\n      return output;\n    }\n\n    function summarizeJava(filePath, content) {\n      const pkg = content.match(/^[ \\t]*package\\s+([A-Za-z0-9_.]+)\\s*;/m)?.[1] || '';\n      const imports = uniqueStrings(matchAll(content, /^[ \\t]*import\\s+([^;]+);/gm, (m) => m[1], 40), 40);\n      const annotations = uniqueStrings(matchAll(content, /^[ \\t]*@([A-Za-z0-9_.]+)/gm, (m) => m[1], 30), 30);\n      const types = matchAll(content, /^[ \\t]*(?:public|protected|private)?\\s*(?:abstract|final|sealed|non-sealed)?\\s*(class|interface|enum|record)\\s+([A-Za-z0-9_]+)/gm, (m) => ({ kind: m[1], name: m[2] }), 20);\n      const methods = matchAll(content, /^[ \\t]*(?:public|protected|private)\\s+(?:static\\s+)?(?:final\\s+)?(?:<[A-Za-z0-9_, ? extends implements]+>\\s+)?([A-Za-z0-9_\\[\\]<>., ?]+)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[2], returns: m[1].trim(), parameters: String(m[3] || '').trim() }), 40);\n      return { path: filePath, language: 'java', package: pkg, imports, annotations, types, methods };\n    }\n\n    function summarizePython(filePath, content) {\n      const imports = uniqueStrings([\n        ...matchAll(content, /^[ \\t]*import\\s+(.+)$/gm, (m) => m[1], 40),\n        ...matchAll(content, /^[ \\t]*from\\s+(.+)\\s+import\\s+(.+)$/gm, (m) => 'from ' + m[1] + ' import ' + m[2], 40),\n      ], 40);\n      const decorators = uniqueStrings(matchAll(content, /^[ \\t]*@([A-Za-z0-9_.]+)/gm, (m) => m[1], 30), 30);\n      const classes = matchAll(content, /^[ \\t]*class\\s+([A-Za-z0-9_]+)(?:\\(([^\\)]*)\\))?\\s*:/gm, (m) => ({ name: m[1], bases: String(m[2] || '').trim() }), 20);\n      const functions = matchAll(content, /^[ \\t]*def\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)\\s*(?:->\\s*([^:]+))?:/gm, (m) => ({ name: m[1], parameters: String(m[2] || '').trim(), returns: String(m[3] || '').trim() }), 40);\n      return { path: filePath, language: 'python', imports, decorators, classes, functions };\n    }\n\n    function summarizeTsLike(filePath, content, language) {\n      const imports = uniqueStrings(matchAll(content, /^[ \\t]*import\\s+(.+)$/gm, (m) => m[1], 40), 40);\n      const exports = uniqueStrings(matchAll(content, /^[ \\t]*export\\s+(?:default\\s+)?(?:class|interface|enum|type|function|const)\\s+([A-Za-z0-9_]+)/gm, (m) => m[1], 30), 30);\n      const decorators = uniqueStrings(matchAll(content, /^[ \\t]*@([A-Za-z0-9_.]+)/gm, (m) => m[1], 30), 30);\n      const types = matchAll(content, /^[ \\t]*(?:export\\s+)?(?:abstract\\s+)?(class|interface|enum|type)\\s+([A-Za-z0-9_]+)/gm, (m) => ({ kind: m[1], name: m[2] }), 25);\n      const functions = matchAll(content, /^[ \\t]*(?:export\\s+)?(?:async\\s+)?function\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[1], parameters: String(m[2] || '').trim() }), 40);\n      return { path: filePath, language, imports, decorators, exports, types, functions };\n    }\n\n    function summarizeCSharp(filePath, content) {\n      const namespaceName = content.match(/^[ \\t]*namespace\\s+([A-Za-z0-9_.]+)/m)?.[1] || '';\n      const usings = uniqueStrings(matchAll(content, /^[ \\t]*using\\s+([^;]+);/gm, (m) => m[1], 40), 40);\n      const attributes = uniqueStrings(matchAll(content, /^[ \\t]*\\[([A-Za-z0-9_., ()]+)\\]/gm, (m) => m[1], 30), 30);\n      const types = matchAll(content, /^[ \\t]*(?:public|internal|protected|private)?\\s*(?:abstract|sealed|partial)?\\s*(class|interface|enum|record|struct)\\s+([A-Za-z0-9_]+)/gm, (m) => ({ kind: m[1], name: m[2] }), 20);\n      const methods = matchAll(content, /^[ \\t]*(?:public|protected|private|internal)\\s+(?:static\\s+)?(?:async\\s+)?([A-Za-z0-9_<>,.?\\[\\] ]+)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[2], returns: m[1].trim(), parameters: String(m[3] || '').trim() }), 40);\n      return { path: filePath, language: 'csharp', namespace: namespaceName, usings, attributes, types, methods };\n    }\n\n    function summarizeGo(filePath, content) {\n      const pkg = content.match(/^[ \\t]*package\\s+([A-Za-z0-9_]+)/m)?.[1] || '';\n      const imports = uniqueStrings([\n        ...matchAll(content, /^[ \\t]*import\\s+\"([^\"]+)\"/gm, (m) => m[1], 40),\n        ...matchAll(content, /^[ \\t]*\"([^\"]+)\"$/gm, (m) => m[1], 40),\n      ], 40);\n      const types = matchAll(content, /^[ \\t]*type\\s+([A-Za-z0-9_]+)\\s+(struct|interface)/gm, (m) => ({ name: m[1], kind: m[2] }), 20);\n      const functions = [\n        ...matchAll(content, /^[ \\t]*func\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[1], receiver: '', parameters: String(m[2] || '').trim() }), 40),\n        ...matchAll(content, /^[ \\t]*func\\s*\\(([^\\)]*)\\)\\s*([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[2], receiver: String(m[1] || '').trim(), parameters: String(m[3] || '').trim() }), 40),\n      ].slice(0, 40);\n      return { path: filePath, language: 'go', package: pkg, imports, types, functions };\n    }\n\n    function summarizeGeneric(filePath, content, language) {\n      const imports = uniqueStrings([\n        ...matchAll(content, /^[ \\t]*import\\s+(.+)$/gm, (m) => m[1], 20),\n        ...matchAll(content, /^[ \\t]*using\\s+([^;]+);/gm, (m) => m[1], 20),\n        ...matchAll(content, /^[ \\t]*require\\s+['\"]([^'\"]+)['\"]/gm, (m) => m[1], 20),\n      ], 30);\n      const types = matchAll(content, /^[ \\t]*(?:export\\s+)?(?:public\\s+)?(?:abstract\\s+|final\\s+|sealed\\s+)?(class|interface|enum|record|struct)\\s+([A-Za-z0-9_]+)/gm, (m) => ({ kind: m[1], name: m[2] }), 20);\n      const functions = matchAll(content, /^[ \\t]*(?:export\\s+)?(?:async\\s+)?(?:function|def|fn)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[1], parameters: String(m[2] || '').trim() }), 40);\n      return { path: filePath, language, imports, types, functions };\n    }\n\n    function summarizeImplementationFile(file) {\n      const filePath = String(file?.path || '').trim();\n      const content = String(file?.content || '');\n      const language = detectLanguage(filePath);\n\n      let summary;\n      if (language === 'java' || language === 'kotlin') {\n        summary = summarizeJava(filePath, content);\n      } else if (language === 'python') {\n        summary = summarizePython(filePath, content);\n      } else if (language === 'typescript' || language === 'tsx' || language === 'javascript' || language === 'jsx') {\n        summary = summarizeTsLike(filePath, content, language);\n      } else if (language === 'csharp') {\n        summary = summarizeCSharp(filePath, content);\n      } else if (language === 'go') {\n        summary = summarizeGo(filePath, content);\n      } else {\n        summary = summarizeGeneric(filePath, content, language);\n      }\n\n      summary.lineCount = content ? content.replace(/\\r\\n/g, '\\n').split('\\n').length : 0;\n      return summary;\n    }\n\n    return $input.all().map((item) => {\n      const json = item.json || {};\n      const remainingFiles = Array.isArray(json.remainingFiles) ? json.remainingFiles : [];\n      const generatedFilesThisIteration = Array.isArray(json.generatedFilesThisIteration) ? json.generatedFilesThisIteration : [];\n      const generatedPaths = new Set(generatedFilesThisIteration.map((file) => String(file.path || '').trim()).filter(Boolean));\n\n      const generatedNoFilesThisIteration = generatedFilesThisIteration.length === 0;\n\n      const nextRemainingFiles = remainingFiles.filter((file) => !generatedPaths.has(String(file.path || '').trim()));\n      const previousGeneratedFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n      const previousGeneratedFilePaths = Array.isArray(json.generatedFilePaths) ? json.generatedFilePaths : [];\n      const batchSize = Math.max(1, Number(json.batchSize || 15));\n\n      const mergedGeneratedFiles = [\n        ...previousGeneratedFiles,\n        ...generatedFilesThisIteration,\n      ];\n      const mergedGeneratedFilePaths = [\n        ...previousGeneratedFilePaths,\n        ...generatedFilesThisIteration.map((file) => file.path),\n      ];\n\n      const generatedImplementationFiles = mergedGeneratedFiles.filter((file) => isImplementationFile(file.path));\n      const generatedImplementationIndex = generatedImplementationFiles.map(summarizeImplementationFile);\n      const generatedNonImplementationPaths = mergedGeneratedFiles\n        .filter((file) => !isImplementationFile(file.path))\n        .map((file) => String(file.path || '').trim())\n        .filter(Boolean);\n      const recentImplementationSummaries = generatedFilesThisIteration\n        .filter((file) => isImplementationFile(file.path))\n        .map(summarizeImplementationFile);\n\n      const nextCurrentBatchFiles = nextRemainingFiles.slice(0, batchSize);\n\n      return {\n        json: {\n          ...json,\n          generatedFiles: mergedGeneratedFiles,\n          generatedFilePaths: mergedGeneratedFilePaths,\n          generatedImplementationIndex,\n          generatedCodeIndex: generatedImplementationIndex,\n          generatedNonImplementationPaths,\n          recentImplementationSummaries,\n          lastIterationFiles: generatedFilesThisIteration,\n          generatedNoFilesThisIteration,\n          generatedFileCountTotal: mergedGeneratedFiles.length,\n          remainingFiles: nextRemainingFiles,\n          remainingFileCount: nextRemainingFiles.length,\n          batchSize,\n          currentBatchFiles: nextCurrentBatchFiles,\n          currentBatchFileCount: nextCurrentBatchFiles.length,\n          hasRemainingFiles: nextRemainingFiles.length > 0 ? 'yes' : 'no',\n          iteration: Number(json.iteration || 1) + (nextRemainingFiles.length > 0 ? 1 : 0),\n        },\n        binary: item.binary ?? {},\n      };\n    });\n  }\nreturn beUpdateGenerationState();"
      },
      "id": "5c056e85-b558-4c65-9fc8-e338ab235169",
      "name": "INF - Update Generation State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13120,
        3088
      ]
    },
    {
      "parameters": {
        "jsCode": "function infUpdateRefinementState() {\n  function normalizeFiles(value) {\n    const files = Array.isArray(value) ? value : [];\n    return files.map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') return { path: String(entry.path ?? '').trim() };\n      return { path: '' };\n    }).filter((entry) => entry.path);\n  }\n  function detectLanguage(filePath) {\n    const lower = String(filePath || '').toLowerCase();\n    if (lower.endsWith('.java')) return 'java';\n    if (lower.endsWith('.kt')) return 'kotlin';\n    if (lower.endsWith('.py')) return 'python';\n    if (lower.endsWith('.ts')) return 'typescript';\n    if (lower.endsWith('.tsx')) return 'tsx';\n    if (lower.endsWith('.js')) return 'javascript';\n    if (lower.endsWith('.jsx')) return 'jsx';\n    if (lower.endsWith('.cs')) return 'csharp';\n    if (lower.endsWith('.go')) return 'go';\n    if (lower.endsWith('.rb')) return 'ruby';\n    if (lower.endsWith('.php')) return 'php';\n    return 'other';\n  }\n  function isImplementationFile(filePath) {\n    const lower = String(filePath || '').toLowerCase();\n    if (!lower.startsWith('infrastructure/')) return false;\n    if (lower.includes('/src/test/') || lower.includes('/tests/') || lower.includes('/test/')) return false;\n    if (lower.includes('/resources/') || lower.includes('/db/') || lower.includes('/docs/') || lower.includes('/helm/')) return false;\n    if (lower.endsWith('.md') || lower.endsWith('.txt') || lower.endsWith('.yaml') || lower.endsWith('.yml') || lower.endsWith('.xml') || lower.endsWith('.properties') || lower.endsWith('.sql') || lower.endsWith('.json') || lower.endsWith('.csv')) return false;\n    return new Set(['java', 'kotlin', 'python', 'typescript', 'tsx', 'javascript', 'jsx', 'csharp', 'go', 'ruby', 'php']).has(detectLanguage(filePath));\n  }\n  function summarizeFile(file) {\n    const filePath = String(file?.path || '').trim();\n    const content = String(file?.content || '');\n    const language = detectLanguage(filePath);\n    const imports = [];\n    for (const regex of [/^[ \\t]*import\\s+([^;\\n]+)[;\\n]?/gm, /^[ \\t]*using\\s+([^;\\n]+);/gm, /^[ \\t]*from\\s+([^\\n]+)\\s+import\\s+([^\\n]+)/gm]) {\n      let match;\n      while ((match = regex.exec(content)) !== null && imports.length < 20) imports.push(match.slice(1).filter(Boolean).join(' ').trim());\n      regex.lastIndex = 0;\n    }\n    const types = [];\n    let match;\n    const typeRegex = /^[ \\t]*(?:export\\s+)?(?:public\\s+|private\\s+|protected\\s+|internal\\s+)?(?:abstract\\s+|final\\s+|sealed\\s+)?(class|interface|enum|record|type|struct)\\s+([A-Za-z0-9_]+)/gm;\n    while ((match = typeRegex.exec(content)) !== null && types.length < 12) types.push({ kind: match[1], name: match[2] });\n    typeRegex.lastIndex = 0;\n    const functions = [];\n    const fnRegex = /^[ \\t]*(?:export\\s+)?(?:async\\s+)?(?:function|def|func|fn)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm;\n    while ((match = fnRegex.exec(content)) !== null && functions.length < 20) functions.push({ name: match[1], parameters: String(match[2] || '').trim() });\n    fnRegex.lastIndex = 0;\n    return { path: filePath, language, imports: Array.from(new Set(imports)).slice(0, 20), types, functions, lineCount: content ? content.replace(/\\r\\n/g, '\\n').split('\\n').length : 0 };\n  }\n  return $input.all().map((item) => {\n    const json = item.json || {};\n    const remainingFiles = Array.isArray(json.remainingFiles) ? json.remainingFiles : [];\n    const currentFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const generatedFilesThisIteration = Array.isArray(json.generatedFilesThisIteration) ? json.generatedFilesThisIteration : [];\n    const generatedPaths = new Set(generatedFilesThisIteration.map((file) => String(file.path || '').trim()).filter(Boolean));\n    const currentMap = new Map(currentFiles.map((file) => [String(file.path || '').trim(), { path: String(file.path || '').trim(), content: file.content }]));\n    for (const file of generatedFilesThisIteration) {\n      const path = String(file.path || '').trim();\n      if (!path) continue;\n      currentMap.set(path, { path, content: file.content });\n    }\n    const nextGeneratedFiles = Array.from(currentMap.values()).sort((a, b) => a.path.localeCompare(b.path));\n    const nextRemainingFiles = remainingFiles.filter((file) => !generatedPaths.has(String(file.path || '').trim()));\n    const batchSize = Math.max(1, Number(json.batchSize || 4));\n    const nextCurrentBatchFiles = nextRemainingFiles.slice(0, batchSize);\n    const currentPlanFiles = normalizeFiles(json.currentPlanFiles);\n    for (const file of generatedFilesThisIteration) {\n      const path = String(file.path || '').trim();\n      if (path && !currentPlanFiles.some((entry) => entry.path === path)) currentPlanFiles.push({ path });\n    }\n    const infrastructureStructureObject = { files: currentPlanFiles };\n    const infrastructureStructure = JSON.stringify(infrastructureStructureObject);\n    const generatedImplementationIndex = nextGeneratedFiles.filter((file) => isImplementationFile(file.path)).map(summarizeFile);\n    const recentImplementationSummaries = generatedFilesThisIteration.filter((file) => isImplementationFile(file.path)).map(summarizeFile);\n    return {\n      json: {\n        ...json,\n        generatedFiles: nextGeneratedFiles,\n        generatedFilePaths: nextGeneratedFiles.map((file) => file.path),\n        generatedFileCountTotal: nextGeneratedFiles.length,\n        currentPlanFiles,\n        plannedFiles: currentPlanFiles,\n        infrastructureStructure,\n        infrastructureStructureObject,\n        remainingFiles: nextRemainingFiles,\n        remainingFileCount: nextRemainingFiles.length,\n        currentBatchFiles: nextCurrentBatchFiles,\n        currentBatchFileCount: nextCurrentBatchFiles.length,\n        allPlannedFiles: currentPlanFiles,\n        allowedOutputFiles: nextCurrentBatchFiles.map((file) => ({ path: String(file.path || '').trim() })),\n        generatedImplementationIndex,\n        generatedCodeIndex: generatedImplementationIndex,\n        recentImplementationSummaries,\n        lastIterationFiles: generatedFilesThisIteration,\n        generatedNoFilesThisIteration: generatedFilesThisIteration.length === 0,\n        hasRemainingFiles: nextRemainingFiles.length > 0 ? 'yes' : 'no',\n        iteration: Number(json.iteration || 1) + (nextRemainingFiles.length > 0 ? 1 : 0),\n      },\n      binary: item.binary ?? {},\n    };\n  });\n}\n\nreturn infUpdateRefinementState();"
      },
      "id": "17163fc4-8e56-4355-8fa5-8a9fb1c8f1c6",
      "name": "INF - Update Refinement State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15504,
        2336
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "e319d418-2ae8-42c1-a160-5b678224060e",
      "name": "INF - Zip and Structure",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        13968,
        2944
      ]
    },
    {
      "parameters": {
        "content": "## Infrastructure Generation Module\n\nTransforms **structured requirements** and the **API specification** into an **Infrastructure Directory** using an LLM.\n",
        "height": 1488,
        "width": 3392,
        "color": "#FFE8CC"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        12656,
        2000
      ],
      "typeVersion": 1,
      "id": "59e5ba8f-4fcc-4649-a978-d9602c1eef52",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-ecfe23f4-8cd2-4051-b3f1-f9ee08f30a55",
              "leftValue": "={{ $json.reviewMode }}",
              "rightValue": "refine",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b280975-858c-4f91-82b8-5a1bd9e55229",
      "name": "INF - Execute Refinement?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        12800,
        2304
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\nconst currentJson = item.json ?? {};\nconst rawBinary = item.binary ?? {};\n\nfunction getNodeItemSafe(nodeName) {\n  if (typeof $items !== 'function') return null;\n  try {\n    return ($items(nodeName) || [])[0] || null;\n  } catch {\n    return null;\n  }\n}\n\nfunction cleanJson(source) {\n  const json = { ...(source ?? {}) };\n  delete json.feedback;\n  delete json.Feedback;\n  delete json.Approved;\n  delete json['Start Again'];\n  delete json.reviewMode;\n  return json;\n}\n\nfunction cleanBinary(source) {\n  return Object.fromEntries(\n    Object.entries(source ?? {})\n      .filter(([key]) => !/^attachments?(?:_|$)/i.test(String(key)))\n      .filter(([key]) => !String(key).endsWith('_firstIteration')),\n  );\n}\n\nfunction normalizeFiles(value) {\n  const files = Array.isArray(value) ? value : [];\n  return files\n    .map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') return { path: String(entry.path ?? '').trim() };\n      return { path: '' };\n    })\n    .filter((entry) => entry.path);\n}\n\nconst firstNode = getNodeItemSafe('INF - Prepare Information for First Iteration');\nconst firstJson = cleanJson(firstNode?.json ?? {});\nconst baseJson = cleanJson(currentJson);\nconst cleanCurrentBinary = cleanBinary(rawBinary);\nconst firstFiles = normalizeFiles(firstJson.files).length\n  ? normalizeFiles(firstJson.files)\n  : normalizeFiles(baseJson.firstIterationFiles);\n\nconst outputJson = {\n  ...baseJson,\n  reviewMode: '',\n  firstIterationFiles: firstFiles,\n  firstIterationInfrastructureStructure: String(firstJson.infrastructureStructure ?? baseJson.firstIterationInfrastructureStructure ?? '').trim(),\n  firstIterationReviewRevisionNumber: Number(firstJson.revisionNumber ?? baseJson.firstIterationReviewRevisionNumber ?? baseJson.revisionNumber ?? 0) || 0,\n  firstIterationReviewZipDownloadUrl: String(firstJson.zipDownloadUrl ?? baseJson.firstIterationReviewZipDownloadUrl ?? baseJson.zipDownloadUrl ?? '').trim(),\n  firstIterationReviewZipDownloadToken: String(firstJson.zipDownloadToken ?? baseJson.firstIterationReviewZipDownloadToken ?? baseJson.zipDownloadToken ?? '').trim(),\n  firstIterationReviewDownloadLinkHtml: String(firstJson.downloadLinkHtml ?? baseJson.firstIterationReviewDownloadLinkHtml ?? baseJson.downloadLinkHtml ?? '').trim(),\n};\n\nreturn [{\n  json: outputJson,\n  ...(Object.keys(cleanCurrentBinary).length ? { binary: cleanCurrentBinary } : {}),\n}];"
      },
      "id": "b7c007a8-f237-4648-9bc3-7146adc446eb",
      "name": "INF - Review Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15200,
        2960
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\nconst json = { ...(item.json ?? {}) };\nfor (const key of [\n  'Approved',\n  'Start Again',\n  'Feedback',\n  'feedback',\n  'Attachments (optional)',\n  'reviewMode',\n  'zipDownloadUrl',\n  'zipDownloadToken',\n  'downloadLinkHtml',\n  'response',\n  'revisionNumber',\n  'fileCount',\n  'files',\n  'backendStructure',\n  'frontendStructure',\n  'infrastructureStructure',\n  'testsStructure',\n  'currentBackendIterationNumber',\n  'currentFrontendIterationNumber',\n  'currentInfrastructureIterationNumber',\n  'currentTestsIterationNumber',\n  'firstIterationReviewZipDownloadUrl',\n  'firstIterationReviewZipDownloadToken',\n  'firstIterationReviewDownloadLinkHtml',\n]) {\n  delete json[key];\n}\n\nconst binary = Object.fromEntries(\n  Object.entries(item.binary ?? {}).filter(([key]) => !/^attachments?(?:_|$)/i.test(String(key)))\n);\n\nreturn [{\n  json,\n  ...(Object.keys(binary).length ? { binary } : {}),\n}];"
      },
      "id": "471f221a-a7cc-4e30-8a93-208b842b6f48",
      "name": "INF - Sanitize Output Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13056,
        3328
      ]
    },
    {
      "parameters": {},
      "id": "a9cd4ed6-5fb0-4dc3-8a2d-a594d0c537d5",
      "name": "INF - Create Link",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        14208,
        2944
      ]
    },
    {
      "parameters": {},
      "id": "2b39503d-3401-4205-8d14-c5037a89e555",
      "name": "INF - Create Link1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        13840,
        2288
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "e4b96f9d-2860-46c6-8d2d-c4c103ea9a83",
      "name": "INF - Workflow Output",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        15984,
        3312
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c1d706cd-244f-46bb-b647-db0250e276dd",
      "name": "INF - Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        12608,
        2304
      ]
    },
    {
      "parameters": {
        "jsCode": "async function beCompactContextArtifacts() {\n  const items = $input.all();\n  if (!items.length) {\n    throw new Error('OpenAPI compactor received no input.');\n  }\n\n  async function readBinaryText(itemIndex, propertyName, fallbackFileName) {\n    const item = items[itemIndex];\n    const binary = item.binary?.[propertyName];\n    if (!binary) return null;\n\n    const buffer = await this.helpers.getBinaryDataBuffer(itemIndex, propertyName);\n    return {\n      fileName: binary.fileName || fallbackFileName,\n      text: buffer.toString('utf8'),\n    };\n  }\n\n  function compactRequirementsText(text) {\n    const lines = String(text || '')\n      .replace(/\\u0000/g, '')\n      .replace(/\\r\\n/g, '\\n')\n      .replace(/\\r/g, '\\n')\n      .replace(/[ \\t]+/g, ' ')\n      .split('\\n');\n    const compacted = [];\n\n    for (let rawLine of lines) {\n      let line = String(rawLine || '').trim();\n      if (!line) continue;\n      if (/^[-*_]{3,}$/.test(line)) continue;\n\n      line = line.replace(/^#{1,6}\\s*/, '');\n      line = line.replace(/^\\s*>\\s?/, '');\n      line = line.replace(/^\\s*[-*+]\\s+/, '- ');\n      line = line.replace(/^\\s*\\d+[.)]\\s+/, '- ');\n      line = line.replace(/!\\[([^\\]]*)\\]\\([^)]+\\)/g, '$1');\n      line = line.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1');\n      line = line.replace(/`([^`]+)`/g, '$1');\n      line = line.replace(/[*_~]+/g, '');\n      line = line.replace(/\\s+/g, ' ').trim();\n\n      if (!line) continue;\n      compacted.push(line);\n    }\n\n    return compacted.join('\\n').trim();\n  }\n\n  function normalizeText(text) {\n    return String(text || '')\n      .replace(/\\u0000/g, '')\n      .replace(/\\r\\n/g, '\\n')\n      .replace(/\\r/g, '\\n')\n      .replace(/\\t/g, '  ')\n      .replace(/[ \\t]+$/gm, '')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n  }\n\n  function countIndent(line) {\n    let count = 0;\n    while (count < line.length && line[count] === ' ') count += 1;\n    return count;\n  }\n\n  function nextMeaningfulIndent(lines, startIndex) {\n    for (let index = startIndex; index < lines.length; index += 1) {\n      if (lines[index].trim()) return countIndent(lines[index]);\n    }\n    return null;\n  }\n\n  function splitKeyValue(text) {\n    let inSingle = false;\n    let inDouble = false;\n    let squareDepth = 0;\n    let curlyDepth = 0;\n\n    for (let index = 0; index < text.length; index += 1) {\n      const char = text[index];\n      const prev = index > 0 ? text[index - 1] : '';\n      const next = index + 1 < text.length ? text[index + 1] : '';\n\n      if (char === \"'\" && !inDouble) {\n        if (inSingle && next === \"'\") {\n          index += 1;\n          continue;\n        }\n        inSingle = !inSingle;\n        continue;\n      }\n\n      if (char === '\"' && !inSingle && prev !== '\\\\') {\n        inDouble = !inDouble;\n        continue;\n      }\n\n      if (inSingle || inDouble) continue;\n\n      if (char === '[') squareDepth += 1;\n      else if (char === ']') squareDepth = Math.max(0, squareDepth - 1);\n      else if (char === '{') curlyDepth += 1;\n      else if (char === '}') curlyDepth = Math.max(0, curlyDepth - 1);\n      else if (\n        char === ':' &&\n        squareDepth === 0 &&\n        curlyDepth === 0 &&\n        (next === '' || /\\s/.test(next))\n      ) {\n        return {\n          key: text.slice(0, index).trim(),\n          value: text.slice(index + 1).trimStart(),\n        };\n      }\n    }\n\n    return null;\n  }\n\n  function splitFlowItems(text) {\n    const items = [];\n    let start = 0;\n    let inSingle = false;\n    let inDouble = false;\n    let squareDepth = 0;\n    let curlyDepth = 0;\n\n    for (let index = 0; index < text.length; index += 1) {\n      const char = text[index];\n      const prev = index > 0 ? text[index - 1] : '';\n      const next = index + 1 < text.length ? text[index + 1] : '';\n\n      if (char === \"'\" && !inDouble) {\n        if (inSingle && next === \"'\") {\n          index += 1;\n          continue;\n        }\n        inSingle = !inSingle;\n        continue;\n      }\n\n      if (char === '\"' && !inSingle && prev !== '\\\\') {\n        inDouble = !inDouble;\n        continue;\n      }\n\n      if (inSingle || inDouble) continue;\n\n      if (char === '[') squareDepth += 1;\n      else if (char === ']') squareDepth = Math.max(0, squareDepth - 1);\n      else if (char === '{') curlyDepth += 1;\n      else if (char === '}') curlyDepth = Math.max(0, curlyDepth - 1);\n      else if (char === ',' && squareDepth === 0 && curlyDepth === 0) {\n        const item = text.slice(start, index).trim();\n        if (item) items.push(item);\n        start = index + 1;\n      }\n    }\n\n    const tail = text.slice(start).trim();\n    if (tail) items.push(tail);\n    return items;\n  }\n\n  function parseQuotedString(text) {\n    if (text.startsWith('\"') && text.endsWith('\"')) {\n      try {\n        return JSON.parse(text);\n      } catch {\n        return text.slice(1, -1).replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n      }\n    }\n\n    if (text.startsWith(\"'\") && text.endsWith(\"'\")) {\n      return text.slice(1, -1).replace(/''/g, \"'\");\n    }\n\n    return text;\n  }\n\n  function parseScalar(raw) {\n    const text = String(raw ?? '').trim();\n    if (!text) return '';\n    if (text === '[]') return [];\n    if (text === '{}') return {};\n    if (\n      (text.startsWith('\"') && text.endsWith('\"')) ||\n      (text.startsWith(\"'\") && text.endsWith(\"'\"))\n    ) {\n      return parseQuotedString(text);\n    }\n    if (text.startsWith('[') && text.endsWith(']')) {\n      return splitFlowItems(text.slice(1, -1)).map((item) => parseScalar(item));\n    }\n    if (text.startsWith('{') && text.endsWith('}')) {\n      const output = {};\n      for (const part of splitFlowItems(text.slice(1, -1))) {\n        const mapping = splitKeyValue(part);\n        if (!mapping) continue;\n        output[String(parseScalar(mapping.key))] = parseScalar(mapping.value);\n      }\n      return output;\n    }\n    if (/^(?:null|Null|NULL|~)$/.test(text)) return null;\n    if (/^(?:true|True|TRUE)$/.test(text)) return true;\n    if (/^(?:false|False|FALSE)$/.test(text)) return false;\n    if (/^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$/.test(text)) return Number(text);\n    return text;\n  }\n\n  function parseKey(raw) {\n    const text = String(raw ?? '').trim();\n    const value = parseScalar(text);\n    return typeof value === 'string' ? value : String(value);\n  }\n\n  function readBlockScalar(lines, startIndex, parentIndent, style) {\n    const parts = [];\n    let blockIndent = null;\n    let index = startIndex;\n\n    while (index < lines.length) {\n      const line = lines[index];\n      if (!line.trim()) {\n        if (blockIndent !== null) parts.push('');\n        index += 1;\n        continue;\n      }\n\n      const indent = countIndent(line);\n      if (indent <= parentIndent) break;\n      if (blockIndent === null) blockIndent = indent;\n      parts.push(line.slice(blockIndent));\n      index += 1;\n    }\n\n    let value = '';\n    if (style === '>') {\n      const paragraphs = [];\n      let current = [];\n      for (const part of parts) {\n        if (part === '') {\n          if (current.length) {\n            paragraphs.push(current.join(' '));\n            current = [];\n          }\n          paragraphs.push('');\n        } else {\n          current.push(part.trim());\n        }\n      }\n      if (current.length) paragraphs.push(current.join(' '));\n      value = paragraphs.join('\\n').trim();\n    } else {\n      value = parts.join('\\n').trim();\n    }\n\n    return {\n      value,\n      nextIndex: index,\n    };\n  }\n\n  function skipEmpty(lines, state) {\n    while (state.index < lines.length && !lines[state.index].trim()) {\n      state.index += 1;\n    }\n  }\n\n  function assignMappingValue(target, keyRaw, valueRaw, lines, state, parentIndent) {\n    const key = parseKey(keyRaw);\n    const valueText = String(valueRaw ?? '').trim();\n\n    if (valueText.startsWith('|')) {\n      const block = readBlockScalar(lines, state.index, parentIndent, '|');\n      target[key] = block.value;\n      state.index = block.nextIndex;\n      return;\n    }\n\n    if (valueText.startsWith('>')) {\n      const block = readBlockScalar(lines, state.index, parentIndent, '>');\n      target[key] = block.value;\n      state.index = block.nextIndex;\n      return;\n    }\n\n    if (!valueText) {\n      const childIndent = nextMeaningfulIndent(lines, state.index);\n      target[key] = childIndent !== null && childIndent > parentIndent\n        ? parseNode(lines, state, childIndent)\n        : {};\n      return;\n    }\n\n    target[key] = parseScalar(valueText);\n  }\n\n  function parseSequence(lines, state, indent) {\n    const output = [];\n\n    while (state.index < lines.length) {\n      skipEmpty(lines, state);\n      if (state.index >= lines.length) break;\n\n      const line = lines[state.index];\n      const lineIndent = countIndent(line);\n      const trimmed = line.slice(lineIndent);\n      if (lineIndent < indent || lineIndent !== indent || !trimmed.startsWith('-')) break;\n\n      const content = trimmed.length === 1 ? '' : trimmed.slice(1).trimStart();\n      state.index += 1;\n\n      if (!content) {\n        const childIndent = nextMeaningfulIndent(lines, state.index);\n        output.push(\n          childIndent !== null && childIndent > lineIndent\n            ? parseNode(lines, state, childIndent)\n            : null,\n        );\n        continue;\n      }\n\n      const mapping = splitKeyValue(content);\n      if (mapping && mapping.key) {\n        const entry = {};\n        assignMappingValue(entry, mapping.key, mapping.value, lines, state, lineIndent);\n        const childIndent = nextMeaningfulIndent(lines, state.index);\n        if (childIndent !== null && childIndent > lineIndent) {\n          Object.assign(entry, parseMapping(lines, state, childIndent));\n        }\n        output.push(entry);\n      } else {\n        output.push(parseScalar(content));\n      }\n    }\n\n    return output;\n  }\n\n  function parseMapping(lines, state, indent) {\n    const output = {};\n\n    while (state.index < lines.length) {\n      skipEmpty(lines, state);\n      if (state.index >= lines.length) break;\n\n      const line = lines[state.index];\n      const lineIndent = countIndent(line);\n      const trimmed = line.slice(lineIndent);\n      if (lineIndent < indent || lineIndent !== indent || trimmed.startsWith('-')) break;\n\n      const mapping = splitKeyValue(trimmed);\n      state.index += 1;\n      if (!mapping || !mapping.key) continue;\n      assignMappingValue(output, mapping.key, mapping.value, lines, state, lineIndent);\n    }\n\n    return output;\n  }\n\n  function parseNode(lines, state, indent) {\n    skipEmpty(lines, state);\n    if (state.index >= lines.length) return null;\n\n    const line = lines[state.index];\n    const lineIndent = countIndent(line);\n    if (lineIndent < indent) return null;\n    const trimmed = line.slice(lineIndent);\n    return trimmed.startsWith('-')\n      ? parseSequence(lines, state, indent)\n      : parseMapping(lines, state, indent);\n  }\n\n  function parseYamlDocument(rawText) {\n    const text = normalizeText(rawText);\n    if (!text) return {};\n    const lines = text.split('\\n');\n    const state = { index: 0 };\n    const initialIndent = nextMeaningfulIndent(lines, 0) ?? 0;\n    const document = parseNode(lines, state, initialIndent);\n    return document && typeof document === 'object' ? document : {};\n  }\n\n  class OpenApiCompactor {\n    constructor(spec, includeDescriptions = false) {\n      this.spec = spec || {};\n      this.includeDescriptions = includeDescriptions;\n      this.resolvedRefs = new Map();\n      this.schemaCache = new Map();\n      this.referencedSchemaNames = new Set();\n    }\n\n    compact() {\n      const output = { ops: this.compactOperations() };\n      const api = this.compactInfo();\n      const defs = this.compactComponentSchemas();\n      if (Object.keys(api).length) output.api = api;\n      if (Object.keys(defs).length) output.defs = defs;\n      return output;\n    }\n\n    compactInfo() {\n      const components = this.spec.components || {};\n      const securitySchemes = components.securitySchemes || {};\n      const output = {};\n\n      const auth = {};\n      for (const [name, scheme] of Object.entries(securitySchemes)) {\n        auth[name] = this.compactSecurityScheme(scheme);\n      }\n      if (Object.keys(auth).length) output.auth = auth;\n\n      const globalSecurity = this.compactSecurity(this.spec.security);\n      if (globalSecurity !== null) output.security = globalSecurity;\n\n      return output;\n    }\n\n    compactSecurityScheme(scheme) {\n      const resolved = this.resolveIfRef(scheme) || {};\n      const type = resolved.type || 'unknown';\n\n      if (type === 'http') {\n        let value = type;\n        if (resolved.scheme) value += ':' + resolved.scheme;\n        if (resolved.bearerFormat) value += ':' + resolved.bearerFormat;\n        return value;\n      }\n\n      if (type === 'apiKey') {\n        return 'apiKey:' + (resolved.in || '?') + ':' + (resolved.name || '?');\n      }\n\n      if (type === 'oauth2') {\n        const flows = resolved.flows || {};\n        return { oauth2: Object.keys(flows).sort() };\n      }\n\n      if (type === 'openIdConnect') return 'openIdConnect';\n      return type;\n    }\n\n    compactSecurity(security) {\n      if (security === undefined || security === null) return null;\n      if (Array.isArray(security) && security.length === 0) return [];\n      if (!Array.isArray(security)) return null;\n\n      return security.map((requirement) => {\n        const item = {};\n        for (const [name, scopes] of Object.entries(requirement || {})) {\n          item[name] = Array.isArray(scopes) ? scopes : [];\n        }\n        return item;\n      });\n    }\n\n    compactOperations() {\n      const operations = {};\n      const paths = this.spec.paths || {};\n      const httpMethods = new Set(['get', 'post', 'put', 'patch', 'delete', 'options', 'head', 'trace']);\n\n      for (const [pathName, pathItem] of Object.entries(paths)) {\n        const resolvedPathItem = this.resolveIfRef(pathItem) || {};\n        const sharedParameters = Array.isArray(resolvedPathItem.parameters)\n          ? resolvedPathItem.parameters\n          : [];\n\n        for (const [method, operation] of Object.entries(resolvedPathItem)) {\n          if (!httpMethods.has(String(method).toLowerCase())) continue;\n\n          const resolvedOperation = this.resolveIfRef(operation) || {};\n          const key = String(method).toUpperCase() + ' ' + pathName;\n          const output = {};\n\n          const security = this.compactSecurity(resolvedOperation.security);\n          if (security !== null) output.security = security;\n\n          const params = this.compactParameters(sharedParameters, resolvedOperation.parameters || []);\n          if (Object.keys(params).length) output.params = params;\n\n          const requestBody = this.compactRequestBody(resolvedOperation.requestBody);\n          if (requestBody) output.body = requestBody;\n\n          const responses = this.compactResponses(resolvedOperation.responses || {});\n          if (Object.keys(responses).length) output.res = responses;\n\n          operations[key] = output;\n        }\n      }\n\n      return operations;\n    }\n\n    compactParameters(sharedParameters, localParameters) {\n      const merged = new Map();\n\n      for (const parameter of [...(sharedParameters || []), ...(localParameters || [])]) {\n        const resolved = this.resolveIfRef(parameter) || {};\n        const name = resolved.name;\n        const location = resolved.in;\n        if (!name || !location) continue;\n        merged.set(location + '::' + name, resolved);\n      }\n\n      const output = {};\n      for (const parameter of merged.values()) {\n        const location = parameter.in;\n        const name = parameter.required ? parameter.name : parameter.name + '?';\n        if (!output[location]) output[location] = {};\n        const summary = parameter.schema ? this.compactSchema(parameter.schema) : 'any';\n\n        if (this.includeDescriptions && parameter.description) {\n          output[location][name] = {\n            t: summary,\n            d: this.cleanText(parameter.description),\n          };\n        } else {\n          output[location][name] = summary;\n        }\n      }\n\n      return output;\n    }\n\n    compactRequestBody(requestBody) {\n      if (!requestBody) return null;\n\n      const resolved = this.resolveIfRef(requestBody) || {};\n      const output = {};\n      if (resolved.required) output.req = true;\n\n      const content = this.compactContent(resolved.content || {});\n      if (Object.keys(content).length) output.content = content;\n\n      if (this.includeDescriptions && resolved.description) {\n        output.d = this.cleanText(resolved.description);\n      }\n\n      return Object.keys(output).length ? output : null;\n    }\n\n    compactResponses(responses) {\n      const output = {};\n\n      for (const [statusCode, response] of Object.entries(responses || {})) {\n        const resolved = this.resolveIfRef(response) || {};\n        const item = {};\n\n        const content = this.compactContent(resolved.content || {});\n        if (Object.keys(content).length) item.content = content;\n\n        const headers = this.compactHeaders(resolved.headers || {});\n        if (Object.keys(headers).length) item.headers = headers;\n\n        output[String(statusCode)] = Object.keys(item).length ? item : 'response';\n      }\n\n      return output;\n    }\n\n    compactHeaders(headers) {\n      const output = {};\n      for (const [name, header] of Object.entries(headers || {})) {\n        const resolved = this.resolveIfRef(header) || {};\n        output[name] = resolved.schema ? this.compactSchema(resolved.schema) : 'any';\n      }\n      return output;\n    }\n\n    compactContent(content) {\n      const output = {};\n      for (const [contentType, mediaType] of Object.entries(content || {})) {\n        const resolved = this.resolveIfRef(mediaType) || {};\n        let entry = resolved.schema ? this.compactSchema(resolved.schema) : 'any';\n\n        if (this.includeDescriptions) {\n          if (resolved.example !== undefined) {\n            entry = { schema: entry, example: resolved.example };\n          } else if (resolved.examples) {\n            entry = { schema: entry, examples: Object.keys(resolved.examples).sort() };\n          }\n        }\n\n        output[contentType] = entry;\n      }\n      return output;\n    }\n\n    compactComponentSchemas() {\n      const schemas = (((this.spec || {}).components || {}).schemas) || {};\n      const output = {};\n      const queue = Array.from(this.referencedSchemaNames);\n      const visited = new Set();\n\n      while (queue.length) {\n        const name = queue.shift();\n        if (!name || visited.has(name) || !schemas[name]) continue;\n        visited.add(name);\n        output[name] = this.compactSchema(schemas[name], name);\n\n        for (const referencedName of this.referencedSchemaNames) {\n          if (!visited.has(referencedName) && !queue.includes(referencedName)) {\n            queue.push(referencedName);\n          }\n        }\n      }\n\n      return output;\n    }\n\n    compactSchema(schema, name = null) {\n      if (schema === undefined || schema === null) return 'any';\n\n      if (schema && typeof schema === 'object' && schema.$ref) {\n        return this.refLabel(schema.$ref);\n      }\n\n      const resolved = this.resolveIfRef(schema);\n      if (!resolved || typeof resolved !== 'object') return 'any';\n\n      if (name && this.schemaCache.has(name)) {\n        return this.schemaCache.get(name);\n      }\n\n      let result;\n      if (Array.isArray(resolved.allOf)) {\n        result = { allOf: resolved.allOf.map((item) => this.compactSchema(item)) };\n      } else if (Array.isArray(resolved.oneOf)) {\n        result = { oneOf: resolved.oneOf.map((item) => this.compactSchema(item)) };\n      } else if (Array.isArray(resolved.anyOf)) {\n        result = { anyOf: resolved.anyOf.map((item) => this.compactSchema(item)) };\n      } else if (resolved.type === 'array' || resolved.items) {\n        result = [this.compactSchema(resolved.items)];\n      } else if (this.looksLikeObjectSchema(resolved)) {\n        result = this.compactObjectSchema(resolved);\n      } else {\n        result = this.compactScalarSchema(resolved);\n      }\n\n      result = this.applyNullable(result, resolved);\n      if (name) this.schemaCache.set(name, result);\n      return result;\n    }\n\n    compactObjectSchema(schema) {\n      const properties = schema.properties || {};\n      const required = new Set(Array.isArray(schema.required) ? schema.required : []);\n      const output = {};\n\n      for (const [propertyName, propertySchema] of Object.entries(properties)) {\n        const key = required.has(propertyName) ? propertyName : propertyName + '?';\n        output[key] = this.compactSchema(propertySchema);\n      }\n\n      if (schema.additionalProperties) {\n        output['*'] = schema.additionalProperties === true\n          ? 'any'\n          : this.compactSchema(schema.additionalProperties);\n      }\n\n      if (!Object.keys(output).length) {\n        return 'object';\n      }\n\n      if (this.includeDescriptions && schema.description) {\n        return {\n          type: output,\n          d: this.cleanText(schema.description),\n        };\n      }\n\n      return output;\n    }\n\n    compactScalarSchema(schema) {\n      let value = schema.type || 'any';\n      if (schema.format) value += ':' + schema.format;\n      if (Array.isArray(schema.enum) && schema.enum.length) {\n        value += '[' + schema.enum.map((item) => JSON.stringify(item)).join(',') + ']';\n      }\n      return value;\n    }\n\n    applyNullable(result, schema) {\n      if (!schema.nullable) return result;\n      if (typeof result === 'string') return result + '|null';\n      return { nullable: result };\n    }\n\n    looksLikeObjectSchema(schema) {\n      return schema.type === 'object' || schema.properties || schema.additionalProperties;\n    }\n\n    resolveIfRef(node) {\n      if (!node || typeof node !== 'object') return node;\n      if (!node.$ref) return node;\n\n      const ref = node.$ref;\n      if (this.resolvedRefs.has(ref)) {\n        return this.resolvedRefs.get(ref);\n      }\n\n      let target = this.spec;\n      for (const rawPart of String(ref).replace(/^#\\//, '').split('/')) {\n        const part = rawPart.replace(/~1/g, '/').replace(/~0/g, '~');\n        target = target ? target[part] : undefined;\n      }\n\n      const resolved = this.resolveIfRef(target);\n      this.resolvedRefs.set(ref, resolved);\n      return resolved;\n    }\n\n    refLabel(ref) {\n      const normalizedRef = String(ref || '');\n      const parts = normalizedRef.split('/');\n      const label = parts[parts.length - 1];\n      if (normalizedRef.startsWith('#/components/schemas/') && label) {\n        this.referencedSchemaNames.add(label);\n      }\n      return '@' + label;\n    }\n\n    cleanText(value) {\n      return String(value || '').split(/\\s+/).filter(Boolean).join(' ');\n    }\n  }\n\n  let requirements = null;\n  let openapi = null;\n\n  for (let itemIndex = 0; itemIndex < items.length; itemIndex += 1) {\n    if (!requirements) {\n      requirements = await readBinaryText.call(this, itemIndex, 'requirements', 'requirements.md');\n    }\n    if (!openapi) {\n      openapi = await readBinaryText.call(this, itemIndex, 'openapiSpec', 'openapi.yaml');\n    }\n  }\n\n  if (!requirements) {\n    throw new Error('Requirements binary is missing, cannot compact infrastructure context.');\n  }\n  if (!openapi) {\n    throw new Error('OpenAPI binary is missing, cannot compact infrastructure context.');\n  }\n\n  const requirementsText = compactRequirementsText(requirements.text);\n  if (!requirementsText) {\n    throw new Error('Requirements text is empty after compaction.');\n  }\n\n  const openapiRaw = normalizeText(openapi.text || '');\n  if (!openapiRaw) {\n    throw new Error('OpenAPI text is empty, cannot compact specification.');\n  }\n\n  let parsedSpec;\n  if (openapiRaw.startsWith('{')) {\n    try {\n      parsedSpec = JSON.parse(openapiRaw);\n    } catch {\n      parsedSpec = parseYamlDocument(openapiRaw);\n    }\n  } else {\n    parsedSpec = parseYamlDocument(openapiRaw);\n  }\n\n  if (!parsedSpec || typeof parsedSpec !== 'object' || !Object.keys(parsedSpec).length) {\n    throw new Error('Failed to parse OpenAPI document into a compactable object.');\n  }\n\n  const compactedSpec = new OpenApiCompactor(parsedSpec, false).compact();\n  const compactedText = JSON.stringify(compactedSpec);\n\n  return [{\n    json: {},\n    binary: {\n      requirements: {\n        data: Buffer.from(requirementsText, 'utf8').toString('base64'),\n        mimeType: 'text/plain',\n        fileExtension: 'txt',\n        fileName: 'requirements-compact.txt',\n      },\n      openapiSpec: {\n        data: Buffer.from(compactedText, 'utf8').toString('base64'),\n        mimeType: 'application/json',\n        fileExtension: 'json',\n        fileName: 'openapi-compact.json',\n      },\n    },\n  }];\n}\n\nreturn await beCompactContextArtifacts.call(this);\n\r\n"
      },
      "id": "95dccd66-2fa1-44a7-9951-a47cc3ad50b8",
      "name": "INF - Compact Context Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12976,
        2400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "INF - Zip and Structure": {
      "main": [
        [
          {
            "node": "INF - Create Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Generate Refinement Structure": {
      "main": [
        [
          {
            "node": "INF - Clean Refinement Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Update Refinement State": {
      "main": [
        [
          {
            "node": "INF - More Refinement Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Link and Zip": {
      "main": [
        [
          {
            "node": "INF - Prepare Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - More Files?": {
      "main": [
        [
          {
            "node": "INF - Build Chunk Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INF - Assemble Infrastructure Zip Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Build Chunk Prompt": {
      "main": [
        [
          {
            "node": "INF - Generate Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Refined Infrastructure Zip": {
      "main": [
        [
          {
            "node": "INF - Refined Zip and Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - More Refinement Files?": {
      "main": [
        [
          {
            "node": "INF - Build Refinement Chunk Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INF - Assemble Refined Infrastructure Zip Inputs",
            "type": "main",
            "index": 0
          },
          {
            "node": "INF - Refined Structure File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Refinement Plan and Context": {
      "main": [
        [
          {
            "node": "INF - Extract Refinement Infrastructure Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Assemble Refined Infrastructure Zip Inputs": {
      "main": [
        [
          {
            "node": "INF - Refined Infrastructure Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Update Generation State": {
      "main": [
        [
          {
            "node": "INF - More Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Infrastructure Zip": {
      "main": [
        [
          {
            "node": "INF - Zip and Structure",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "INF - Refined Zip and Structure": {
      "main": [
        [
          {
            "node": "INF - Create Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Generate Refinement Chunk": {
      "main": [
        [
          {
            "node": "INF - Clean Refinement Chunk Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Generate Chunk": {
      "main": [
        [
          {
            "node": "INF - Clean Chunk Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Clean Chunk Response": {
      "main": [
        [
          {
            "node": "INF - Update Generation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Generate Refinement Chunk Model": {
      "ai_languageModel": [
        [
          {
            "node": "INF - Generate Refinement Chunk",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "INF - Build Prompt": {
      "main": [
        [
          {
            "node": "INF - Generate Structure",
            "type": "main",
            "index": 0
          },
          {
            "node": "INF - Structure and Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Assemble Infrastructure Zip Inputs": {
      "main": [
        [
          {
            "node": "INF - Infrastructure Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Build Refinement Chunk Prompt": {
      "main": [
        [
          {
            "node": "INF - Generate Refinement Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Generate Structure Model": {
      "ai_languageModel": [
        [
          {
            "node": "INF - Generate Structure",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "INF - Generate Structure": {
      "main": [
        [
          {
            "node": "INF - Clean Structure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Clean Structure Response": {
      "main": [
        [
          {
            "node": "INF - Structure File",
            "type": "main",
            "index": 0
          },
          {
            "node": "INF - Structure and Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "INF - Extract Refinement Infrastructure Zip": {
      "main": [
        [
          {
            "node": "INF - Init Refinement State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Init Refinement State": {
      "main": [
        [
          {
            "node": "INF - More Refinement Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Generate Chunk Model": {
      "ai_languageModel": [
        [
          {
            "node": "INF - Generate Chunk",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "INF - Structure and Context": {
      "main": [
        [
          {
            "node": "INF - Init Generation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Structure File": {
      "main": [
        [
          {
            "node": "INF - Zip and Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Clean Refinement Chunk Response": {
      "main": [
        [
          {
            "node": "INF - Update Refinement State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Init Generation State": {
      "main": [
        [
          {
            "node": "INF - Build Chunk Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Refined Structure File": {
      "main": [
        [
          {
            "node": "INF - Refined Zip and Structure",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "INF - Prepare Information": {
      "main": [
        [
          {
            "node": "INF - Review Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Generate Refinement Model": {
      "ai_languageModel": [
        [
          {
            "node": "INF - Generate Refinement Structure",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "INF - Build Refinement Prompt": {
      "main": [
        [
          {
            "node": "INF - Generate Refinement Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Create Zip Link": {
      "main": [
        [
          {
            "node": "INF - Link and Zip",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "INF - Clean Refinement Response": {
      "main": [
        [
          {
            "node": "INF - Refinement Plan and Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "INF - Review Output": {
      "main": [
        [
          {
            "node": "INF - Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Sanitize Output Context": {
      "main": [
        [
          {
            "node": "INF - Workflow Output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "INF - Create Link": {
      "main": [
        [
          {
            "node": "INF - Link and Zip",
            "type": "main",
            "index": 0
          },
          {
            "node": "INF - Create Zip Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Create Link1": {
      "main": [
        [
          {
            "node": "INF - Build Refinement Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "INF - Refinement Plan and Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Workflow Trigger": {
      "main": [
        [
          {
            "node": "INF - Execute Refinement?",
            "type": "main",
            "index": 0
          },
          {
            "node": "INF - Sanitize Output Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Execute Refinement?": {
      "main": [
        [
          {
            "node": "INF - Create Link1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INF - Compact Context Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INF - Compact Context Artifacts": {
      "main": [
        [
          {
            "node": "INF - Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "79a40eb1-c6bd-41a3-a262-dea728d261d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af49a67438f7e7c513a029a95d0dadb7f585243236e86464fcac385b6f1438c3"
  },
  "id": "DcoGbEIUb6nok9Y0",
  "tags": []
}