workflows/n8n-progress/daily/subworkflows-method-v1/requirements-workflow.json
{
  "name": "requirements-workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chunkPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a strict requirements extraction engine. Extract only what is explicitly present in the provided chunk. Never invent or infer beyond text. Keep output concise and concrete."
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 1200
        }
      },
      "id": "1aeadd61-96ac-40d8-aa3a-408c7c4af402",
      "name": "REQ - Analyze Chunk",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -2112,
        2624
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) {\n  throw new Error('No chunk analysis outputs found.');\n}\n\nfunction isNoRelevant(text) {\n  const normalized = String(text || '')\n    .replace(/\\*/g, '')\n    .trim()\n    .toUpperCase();\n  return normalized === 'NO_RELEVANT_REQUIREMENTS';\n}\n\nfunction pickCoverage(entries) {\n  for (const entry of entries) {\n    const total = Number(entry?.coverage?.totalChunks ?? 0);\n    if (total > 0) return entry.coverage;\n  }\n  return entries[0]?.coverage ?? {};\n}\n\nconst ordered = items\n  .map((item) => {\n    const json = item.json ?? {};\n    return {\n      chunkMeta: json.chunkMeta ?? {},\n      analysis: String(json.response ?? json.text ?? '').trim() || 'NO_RELEVANT_REQUIREMENTS',\n      coverage: json.coverage ?? {},\n      passthrough: json,\n    };\n  })\n  .sort((a, b) => {\n    const fa = Number(a.chunkMeta.fileOrder ?? 0);\n    const fb = Number(b.chunkMeta.fileOrder ?? 0);\n    if (fa !== fb) return fa - fb;\n    return Number(a.chunkMeta.chunkIndex ?? 0) - Number(b.chunkMeta.chunkIndex ?? 0);\n  });\n\nconst coverage = pickCoverage(ordered);\nconst totalChunksExpected = Number(coverage.totalChunks ?? 0);\nconst totalChunksReceived = ordered.length;\nif (totalChunksExpected > 0 && totalChunksReceived < totalChunksExpected) {\n  throw new Error('Missing chunk analyses: expected ' + totalChunksExpected + ', got ' + totalChunksReceived);\n}\n\nconst relevant = ordered.filter((entry) => !isNoRelevant(entry.analysis));\nif (relevant.length === 0) {\n  throw new Error('Chunk analyzer returned NO_RELEVANT_REQUIREMENTS for every chunk.');\n}\n\nconst corpus = ordered\n  .map((entry) => {\n    const fileName = entry.chunkMeta.fileName ?? 'unknown-file';\n    const chunkIndex = Number(entry.chunkMeta.chunkIndex ?? 0) + 1;\n    const chunkCount = Number(entry.chunkMeta.chunkCountForFile ?? 0);\n    return [\n      '### ' + fileName + ' [chunk ' + chunkIndex + '/' + chunkCount + ']',\n      entry.analysis,\n    ].join('\\n');\n  })\n  .join('\\n\\n');\n\nconst first = ordered[0]?.passthrough ?? {};\n\nconst userPrompt = [\n  'You now have chunk-by-chunk extracted evidence from all files.',\n  'Generate the final authoritative requirements document using ALL evidence below.',\n  'Do not invent facts. Preserve concrete source values exactly. Keep conflicts explicit.',\n  '',\n  'Extracted evidence:',\n  corpus,\n].join('\\n');\n\nreturn [{\n  json: {\n    ...first,\n    userPrompt,\n    chunkCoverage: {\n      totalChunksExpected,\n      totalChunksReceived,\n      totalFiles: coverage.totalFiles ?? null,\n      skippedFiles: coverage.skippedFiles ?? [],\n    },\n  },\n}];"
      },
      "id": "b534fe67-123e-420a-a090-5f0a9da7d68c",
      "name": "REQ - Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        2960
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\n\nfunction getNodeItemsSafe(nodeName) {\n  if (typeof $items !== 'function') return [];\n  try {\n    return $items(nodeName) || [];\n  } catch (error) {\n    const message = String(error?.message ?? error ?? '');\n    if (message.includes(\"hasn't been executed\") || message.includes('not executed')) {\n      return [];\n    }\n    return [];\n  }\n}\n\nconst hvItems = getNodeItemsSafe('REQ - Human Validation');\nconst hv1Items = getNodeItemsSafe('REQ - Human Validation1');\nconst loopItems = getNodeItemsSafe('REQ - Loop Decision');\n\nconst hvJson = hvItems[0]?.json ?? {};\nconst hv1Json = hv1Items[0]?.json ?? {};\nconst loopJson = loopItems[0]?.json ?? {};\n\nconst hvBinary = hvItems[0]?.binary ?? {};\nconst hv1Binary = hv1Items[0]?.binary ?? {};\nconst loopBinary = loopItems[0]?.binary ?? {};\n\nconst mergedJson = { ...hvJson, ...hv1Json, ...loopJson, ...(item.json ?? {}) };\nconst mergedBinary = { ...hvBinary, ...hv1Binary, ...loopBinary, ...(item.binary ?? {}) };\n\nconst requirements = String(mergedJson.requirements ?? '').trim();\nif (!requirements) {\n  throw new Error('Requirements Markdown draft is missing for refinement generation.');\n}\n\nconst reviewerFeedback = [\n  mergedJson.feedback,\n  mergedJson.Feedback,\n  loopJson.feedback,\n  loopJson.Feedback,\n  hv1Json.feedback,\n  hv1Json.Feedback,\n  hvJson.feedback,\n  hvJson.Feedback,\n]\n  .map((value) => String(value ?? '').trim())\n  .find((value) => value.length > 0) || 'Reviewer requested changes without additional details.';\n\nconst revisionNumber = Math.max(0, Math.trunc(Number(mergedJson.revisionNumber ?? 0) || 0)) + 1;\n\nfunction splitLines(text) {\n  return String(text ?? '').replace(/\\r\\n/g, '\\n').split('\\n');\n}\n\nfunction looksTextLike(binaryEntry, key) {\n  const mime = String(binaryEntry?.mimeType ?? '').toLowerCase();\n  const extRaw = String(binaryEntry?.fileExtension ?? '').toLowerCase();\n  const ext = extRaw.startsWith('.') ? extRaw.slice(1) : extRaw;\n\n  const textExt = new Set([\n    'txt', 'md', 'markdown', 'json', 'yaml', 'yml', 'csv', 'tsv', 'xml', 'html', 'htm',\n    'js', 'ts', 'py', 'java', 'c', 'cpp', 'cs', 'sql', 'log', 'ini', 'cfg',\n  ]);\n\n  if (mime.startsWith('text/')) return true;\n  if (mime.includes('json') || mime.includes('xml') || mime.includes('yaml')) return true;\n  if (textExt.has(ext)) return true;\n\n  const keyLower = String(key ?? '').toLowerCase();\n  if (keyLower.endsWith('.txt') || keyLower.endsWith('.md') || keyLower.endsWith('.json')) return true;\n\n  return false;\n}\n\nfunction decodeText(binaryEntry) {\n  try {\n    const raw = String(binaryEntry?.data ?? '');\n    if (!raw) return '';\n    return Buffer.from(raw, 'base64').toString('utf8');\n  } catch (error) {\n    return '';\n  }\n}\n\nconst attachmentEntries = Object.entries(mergedBinary)\n  .filter(([key]) => /^attachments?(?:_|$)/i.test(String(key)));\n\nconst attachmentSummaries = [];\nconst attachmentTextBlocks = [];\n\nlet totalTextChars = 0;\nconst maxTotalChars = 24000;\nconst maxPerFileChars = 6000;\n\nfor (const [key, bin] of attachmentEntries) {\n  const fileName = String(bin?.fileName ?? key);\n  const mimeType = String(bin?.mimeType ?? 'application/octet-stream');\n  const fileSize = Number(bin?.fileSize ?? 0);\n\n  attachmentSummaries.push({\n    key,\n    fileName,\n    mimeType,\n    fileSize,\n  });\n\n  if (!looksTextLike(bin, key)) continue;\n  if (totalTextChars >= maxTotalChars) continue;\n\n  const text = decodeText(bin).trim();\n  if (!text) continue;\n\n  const remaining = maxTotalChars - totalTextChars;\n  const take = Math.min(maxPerFileChars, remaining);\n  const excerpt = text.slice(0, take);\n\n  attachmentTextBlocks.push(\n    `Attachment: ${fileName} (${mimeType})\\n---\\n${excerpt}`,\n  );\n\n  totalTextChars += excerpt.length;\n}\n\nconst numberedMarkdown = splitLines(requirements)\n  .map((line, index) => `${index + 1}: ${line}`)\n  .join('\\n');\n\nconst attachmentSummaryText = attachmentSummaries.length\n  ? attachmentSummaries\n    .map((a, i) => `${i + 1}) ${a.fileName} | mime=${a.mimeType} | size=${a.fileSize}`)\n    .join('\\n')\n  : '[No attachments provided.]';\n\nconst attachmentExtractedText = attachmentTextBlocks.length\n  ? attachmentTextBlocks.join('\\n\\n')\n  : '[No text could be extracted from attachments automatically.]';\n\nconst patchPrompt = [\n  'You are refining an existing Requirements Markdown draft based on reviewer input.',\n  '',\n  'Update rules:',\n  '- Apply the reviewer feedback precisely.',\n  '- Use attachment context when available.',\n  '- Keep unchanged sections intact.',\n  '- Preserve requirement IDs and structure unless feedback explicitly asks to change them.',\n  '- Return ONLY the final requirements markdown text.',\n  '- Do NOT use markdown code fences.',\n  '- Do NOT add explanations.',\n  '',\n  'Reviewer feedback:',\n  reviewerFeedback,\n  '',\n  'Attachment metadata:',\n  attachmentSummaryText,\n  '',\n  'Extracted attachment text (partial when available):',\n  attachmentExtractedText,\n  '',\n  'Current markdown draft with line numbers:',\n  numberedMarkdown,\n].join('\\n');\n\nreturn [{\n  json: {\n    requirements,\n    reviewerFeedback,\n    revisionNumber,\n    attachmentCount: attachmentSummaries.length,\n    attachmentSummaries,\n    patchPrompt,\n  },\n  ...(mergedBinary && Object.keys(mergedBinary).length > 0 ? { binary: mergedBinary } : {}),\n}];\n"
      },
      "id": "a1b3959d-3a07-4b74-bea1-937f87ef9229",
      "name": "REQ - Build Refinement Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        2032
      ]
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 32768,
          "temperature": 0.4
        }
      },
      "id": "abb54021-7b77-470c-88b7-405a75914fc2",
      "name": "REQ - Chunk Analyser Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -2192,
        2816
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function tryParseJsonObject(text) {\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start === -1 || end <= start) return null;\n\n  const candidate = text.slice(start, end + 1);\n  try {\n    return JSON.parse(candidate);\n  } catch {\n    return null;\n  }\n}\n\nfunction decodeQuoted(value) {\n  const trimmed = value.trim();\n  if (!trimmed) return '';\n\n  if (trimmed.startsWith('\"') && trimmed.endsWith('\"')) {\n    try {\n      return JSON.parse(trimmed);\n    } catch {\n      const inner = trimmed.slice(1, -1);\n      return inner\n        .replace(/\\\\r\\\\n/g, '\\n')\n        .replace(/\\\\n/g, '\\n')\n        .replace(/\\\\t/g, '\\t')\n        .replace(/\\\\\"/g, '\"')\n        .replace(/\\\\'/g, \"'\")\n        .replace(/\\\\\\\\/g, '\\\\');\n    }\n  }\n\n  if (trimmed.startsWith(\"'\") && trimmed.endsWith(\"'\")) {\n    const inner = trimmed.slice(1, -1);\n    return inner\n      .replace(/\\\\r\\\\n/g, '\\n')\n      .replace(/\\\\n/g, '\\n')\n      .replace(/\\\\t/g, '\\t')\n      .replace(/\\\\\"/g, '\"')\n      .replace(/\\\\'/g, \"'\")\n      .replace(/\\\\\\\\/g, '\\\\');\n  }\n\n  return trimmed;\n}\n\nfunction normalizeCandidate(text) {\n  let out = String(text ?? '').trim();\n  if (!out) return '';\n\n  const fenced = out.match(/^```(?:markdown|md|txt)?\\s*([\\s\\S]*?)```$/i);\n  if (fenced) out = fenced[1].trim();\n\n  out = out.replace(/^\\s*[\"']?requirements[\"']?\\s*:\\s*/i, '').trim();\n  out = decodeQuoted(out);\n\n  if (!out.includes('\\n') && /\\\\n|\\\\t|\\\\r/.test(out)) {\n    out = out\n      .replace(/\\\\r\\\\n/g, '\\n')\n      .replace(/\\\\n/g, '\\n')\n      .replace(/\\\\t/g, '\\t')\n      .replace(/\\\\\"/g, '\"')\n      .replace(/\\\\'/g, \"'\")\n      .replace(/\\\\\\\\/g, '\\\\');\n  }\n\n  return out.trim();\n}\n\nfunction scoreCandidate(text) {\n  let score = text.length;\n  if (/^#\\s*Technical Requirements/i.test(text)) score += 1000;\n  if (/##\\s*1\\.\\s*Objective/i.test(text)) score += 800;\n  if (/##\\s*2\\.\\s*Technology Stack/i.test(text)) score += 500;\n  if (/##\\s*3\\.\\s*General Architecture/i.test(text)) score += 500;\n  if (/\\n##\\s*/.test(text)) score += 200;\n  return score;\n}\n\nfunction extractRequirements(rawText) {\n  if (typeof rawText !== 'string' || !rawText.trim()) {\n    throw new Error('Requirements response is empty.');\n  }\n\n  const raw = rawText.trim();\n  const candidates = [];\n\n  candidates.push(raw);\n\n  const fencedMatch = raw.match(/```(?:markdown|md|txt)?\\s*([\\s\\S]*?)```/i);\n  if (fencedMatch) candidates.push(fencedMatch[1]);\n\n  const parsed = tryParseJsonObject(raw);\n  if (parsed && typeof parsed === 'object') {\n    if (typeof parsed.requirements === 'string') candidates.push(parsed.requirements);\n    if (parsed.output && typeof parsed.output.requirements === 'string') candidates.push(parsed.output.requirements);\n    if (parsed.data && typeof parsed.data.requirements === 'string') candidates.push(parsed.data.requirements);\n  }\n\n  const labelled = raw.match(/(?:^|\\n)\\s*[\"']?requirements[\"']?\\s*:\\s*([\\s\\S]*)/i);\n  if (labelled) candidates.push(labelled[1]);\n\n  const normalized = candidates\n    .map(normalizeCandidate)\n    .filter((value) => value.length > 0);\n\n  if (!normalized.length) {\n    throw new Error('Could not extract requirements content from model output.');\n  }\n\n  let best = normalized[0];\n  let bestScore = scoreCandidate(best);\n\n  for (const candidate of normalized.slice(1)) {\n    const score = scoreCandidate(candidate);\n    if (score > bestScore) {\n      best = candidate;\n      bestScore = score;\n    }\n  }\n\n  return best;\n}\n\nconst item = $input.first();\nconst json = item?.json ?? {};\n\nreturn [{\n  json: {\n    response: extractRequirements(json.text),\n    revisionNumber: Number(item.json?.revisionNumber ?? 0) || 0,\n  },\n  binary: item?.binary ?? {},\n}];"
      },
      "id": "f5a4fd08-969e-48b0-a438-4e2becf9e665",
      "name": "REQ - Clean Refinement Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        2048
      ]
    },
    {
      "parameters": {
        "jsCode": "function tryParseJsonObject(text) {\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start === -1 || end <= start) return null;\n\n  const candidate = text.slice(start, end + 1);\n  try {\n    return JSON.parse(candidate);\n  } catch {\n    return null;\n  }\n}\n\nfunction decodeQuoted(value) {\n  const trimmed = value.trim();\n  if (!trimmed) return '';\n\n  if (trimmed.startsWith('\"') && trimmed.endsWith('\"')) {\n    try {\n      return JSON.parse(trimmed);\n    } catch {\n      const inner = trimmed.slice(1, -1);\n      return inner\n        .replace(/\\\\r\\\\n/g, '\\n')\n        .replace(/\\\\n/g, '\\n')\n        .replace(/\\\\t/g, '\\t')\n        .replace(/\\\\\"/g, '\"')\n        .replace(/\\\\'/g, \"'\")\n        .replace(/\\\\\\\\/g, '\\\\');\n    }\n  }\n\n  if (trimmed.startsWith(\"'\") && trimmed.endsWith(\"'\")) {\n    const inner = trimmed.slice(1, -1);\n    return inner\n      .replace(/\\\\r\\\\n/g, '\\n')\n      .replace(/\\\\n/g, '\\n')\n      .replace(/\\\\t/g, '\\t')\n      .replace(/\\\\\"/g, '\"')\n      .replace(/\\\\'/g, \"'\")\n      .replace(/\\\\\\\\/g, '\\\\');\n  }\n\n  return trimmed;\n}\n\nfunction normalizeCandidate(text) {\n  let out = String(text ?? '').trim();\n  if (!out) return '';\n\n  const fenced = out.match(/^```(?:markdown|md|txt)?\\s*([\\s\\S]*?)```$/i);\n  if (fenced) out = fenced[1].trim();\n\n  out = out.replace(/^\\s*[\"']?requirements[\"']?\\s*:\\s*/i, '').trim();\n  out = decodeQuoted(out);\n\n  if (!out.includes('\\n') && /\\\\n|\\\\t|\\\\r/.test(out)) {\n    out = out\n      .replace(/\\\\r\\\\n/g, '\\n')\n      .replace(/\\\\n/g, '\\n')\n      .replace(/\\\\t/g, '\\t')\n      .replace(/\\\\\"/g, '\"')\n      .replace(/\\\\'/g, \"'\")\n      .replace(/\\\\\\\\/g, '\\\\');\n  }\n\n  return out.trim();\n}\n\nfunction scoreCandidate(text) {\n  let score = text.length;\n  if (/^#\\s*Technical Requirements/i.test(text)) score += 1000;\n  if (/##\\s*1\\.\\s*Objective/i.test(text)) score += 800;\n  if (/##\\s*2\\.\\s*Technology Stack/i.test(text)) score += 500;\n  if (/##\\s*3\\.\\s*General Architecture/i.test(text)) score += 500;\n  if (/\\n##\\s*/.test(text)) score += 200;\n  return score;\n}\n\nfunction extractRequirements(rawText) {\n  if (typeof rawText !== 'string' || !rawText.trim()) {\n    throw new Error('Requirements response is empty.');\n  }\n\n  const raw = rawText.trim();\n  const candidates = [];\n\n  candidates.push(raw);\n\n  const fencedMatch = raw.match(/```(?:markdown|md|txt)?\\s*([\\s\\S]*?)```/i);\n  if (fencedMatch) candidates.push(fencedMatch[1]);\n\n  const parsed = tryParseJsonObject(raw);\n  if (parsed && typeof parsed === 'object') {\n    if (typeof parsed.requirements === 'string') candidates.push(parsed.requirements);\n    if (parsed.output && typeof parsed.output.requirements === 'string') candidates.push(parsed.output.requirements);\n    if (parsed.data && typeof parsed.data.requirements === 'string') candidates.push(parsed.data.requirements);\n  }\n\n  const labelled = raw.match(/(?:^|\\n)\\s*[\"']?requirements[\"']?\\s*:\\s*([\\s\\S]*)/i);\n  if (labelled) candidates.push(labelled[1]);\n\n  const normalized = candidates\n    .map(normalizeCandidate)\n    .filter((value) => value.length > 0);\n\n  if (!normalized.length) {\n    throw new Error('Could not extract requirements content from model output.');\n  }\n\n  let best = normalized[0];\n  let bestScore = scoreCandidate(best);\n\n  for (const candidate of normalized.slice(1)) {\n    const score = scoreCandidate(candidate);\n    if (score > bestScore) {\n      best = candidate;\n      bestScore = score;\n    }\n  }\n\n  return best;\n}\n\nconst item = $input.first();\nconst json = item?.json ?? {};\n\nreturn [{\n  json: {\n    response: extractRequirements(json.text),\n    revisionNumber: Number(item.json?.revisionNumber ?? 0) || 0,\n  },\n  binary: item?.binary ?? {},\n}];"
      },
      "id": "a32b3b74-de4a-40cb-a81f-a16d64388d5b",
      "name": "REQ - Clean Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        2960
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Se3rPyRTvgimNBXz",
          "mode": "list",
          "cachedResultUrl": "/workflow/Se3rPyRTvgimNBXz",
          "cachedResultName": "Subworkflow - Create Link"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "revisionNumber": "={{ $json.revisionNumber }}",
            "archiveMimeType": "={{ $binary.reviewZip.mimeType }}",
            "archiveFileName": "={{ $binary.reviewZip.fileName }}",
            "response": "={{ $json.response }}",
            "archiveData": "={{ $binary.reviewZip ? ($binary.reviewZip.data || ($binary.reviewZip.id ? \"filesystem-v2\" : \"\")) : \"\" }}",
            "archiveId": "={{ $binary.reviewZip ? ($binary.reviewZip.id || \"\") : \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "archiveData",
              "displayName": "archiveData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveMimeType",
              "displayName": "archiveMimeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveFileName",
              "displayName": "archiveFileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "openapiYaml",
              "displayName": "openapiYaml",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "revisionNumber",
              "displayName": "revisionNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveId",
              "displayName": "archiveId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveBinaryProperty",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "archiveBinaryProperty",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1120,
        2720
      ],
      "id": "7c133f55-ca36-4cfb-9dbc-14bc53165df6",
      "name": "REQ - Create Zip Link"
    },
    {
      "parameters": {
        "binaryPropertyName": "requirementsZip"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -2576,
        2368
      ],
      "id": "8ebb3b1d-4f58-4eea-9b69-070816f1f972",
      "name": "REQ - Decompress Zip"
    },
    {
      "parameters": {
        "jsCode": "\nconst KNOWN_TEXT_EXTENSIONS = new Set([\n  'txt', 'text', 'md', 'markdown', 'rst', 'adoc', 'asciidoc', 'tex',\n  'json', 'jsonl', 'json5', 'yaml', 'yml', 'toml', 'ini', 'cfg', 'conf', 'env', 'properties',\n  'xml', 'csv', 'tsv', 'psv', 'ssv',\n  'html', 'htm', 'xhtml', 'svg',\n  'js', 'mjs', 'cjs', 'jsx', 'ts', 'tsx', 'vue', 'svelte',\n  'py', 'pyi', 'java', 'kt', 'kts', 'scala', 'groovy',\n  'c', 'h', 'cpp', 'cc', 'cxx', 'hpp', 'hh', 'hxx',\n  'cs', 'go', 'rs', 'rb', 'php', 'swift', 'm', 'mm', 'dart', 'lua', 'r', 'jl', 'pl', 'pm',\n  'sh', 'bash', 'zsh', 'fish', 'ps1', 'bat', 'cmd', 'awk', 'sed',\n  'sql', 'graphql', 'gql', 'proto',\n  'log', 'out', 'err',\n  'gitignore', 'gitattributes', 'npmrc', 'yarnrc', 'editorconfig', 'dockerignore',\n  'ipynb'\n]);\n\n// Route almost all text-like files to OCR as requested, plus PDF/Word docs.\nconst OCR_EXTENSIONS = new Set([\n  ...KNOWN_TEXT_EXTENSIONS,\n  'pdf', 'doc', 'docx', 'rtf'\n]);\n\nconst KNOWN_TEXT_FILENAMES = new Set([\n  'dockerfile',\n  'makefile',\n  'jenkinsfile',\n  'procfile',\n  'vagrantfile',\n  'gemfile',\n  'rakefile',\n  'license',\n  'copying',\n  'changelog',\n  'readme',\n  '.env',\n  '.env.local',\n  '.env.development',\n  '.env.test',\n  '.env.production',\n  '.gitignore',\n  '.gitattributes',\n  '.npmrc',\n  '.yarnrc',\n  '.editorconfig'\n]);\n\nconst WORD_DOC_MIME_MARKERS = [\n  'msword',\n  'officedocument.wordprocessingml.document',\n  'application/rtf',\n  'text/rtf'\n];\n\nconst TEXT_MIME_MARKERS = [\n  'json', 'xml', 'yaml', 'toml', 'csv',\n  'javascript', 'typescript', 'ecmascript',\n  'sql', 'graphql',\n  'x-sh', 'shellscript', 'powershell',\n  'markdown', 'plain',\n  'x-python', 'x-php', 'x-java', 'x-c', 'x-c++',\n  'x-ruby', 'x-go', 'x-rust', 'x-lua',\n  'x-httpd-php'\n];\n\nfunction getExtension(fileName) {\n  const lower = String(fileName || '').toLowerCase();\n  const idx = lower.lastIndexOf('.');\n  return idx >= 0 ? lower.slice(idx + 1) : '';\n}\n\nfunction parseFileSize(raw, meta) {\n  if (typeof meta?.bytes === 'number' && Number.isFinite(meta.bytes) && meta.bytes > 0) return meta.bytes;\n  if (typeof raw === 'number' && Number.isFinite(raw) && raw > 0) return raw;\n\n  const txt = String(raw || '').trim().toLowerCase();\n  if (txt) {\n    const numeric = Number.parseFloat(txt.replace(',', '.'));\n    if (Number.isFinite(numeric) && numeric > 0) {\n      if (txt.endsWith('kb')) return Math.round(numeric * 1024);\n      if (txt.endsWith('mb')) return Math.round(numeric * 1024 * 1024);\n      if (txt.endsWith('gb')) return Math.round(numeric * 1024 * 1024 * 1024);\n      return Math.round(numeric);\n    }\n  }\n\n  if (typeof meta?.data === 'string' && meta.data && meta.data !== 'filesystem-v2') {\n    try {\n      return Buffer.from(meta.data, 'base64').length;\n    } catch (error) {\n      return 0;\n    }\n  }\n\n  return 0;\n}\n\nfunction looksLikeTextMime(mimeType) {\n  if (!mimeType) return false;\n  if (mimeType.startsWith('text/')) return true;\n  return TEXT_MIME_MARKERS.some((marker) => mimeType.includes(marker));\n}\n\nfunction isPdfMime(mimeType) {\n  return mimeType.includes('pdf');\n}\n\nfunction isLikelyTextBuffer(buffer) {\n  if (!buffer || buffer.length === 0) return false;\n\n  const sample = buffer.subarray(0, Math.min(buffer.length, 8192));\n\n  if (sample.length >= 4) {\n    const bomUtf8 = sample[0] === 0xef && sample[1] === 0xbb && sample[2] === 0xbf;\n    const bomUtf16Le = sample[0] === 0xff && sample[1] === 0xfe;\n    const bomUtf16Be = sample[0] === 0xfe && sample[1] === 0xff;\n    if (bomUtf8 || bomUtf16Le || bomUtf16Be) return true;\n  }\n\n  let printable = 0;\n  let zeroBytes = 0;\n\n  for (const byte of sample) {\n    if (byte === 0) {\n      zeroBytes += 1;\n      continue;\n    }\n    if (byte === 9 || byte === 10 || byte === 13) {\n      printable += 1;\n      continue;\n    }\n    if (byte >= 32 && byte <= 126) {\n      printable += 1;\n      continue;\n    }\n    if (byte >= 160) {\n      printable += 1;\n    }\n  }\n\n  if (zeroBytes > sample.length * 0.3) return false;\n  return printable / sample.length >= 0.85;\n}\n\nasync function getLoadedBinary(item, itemIndex) {\n  if (typeof getBinaryDataAsync === 'function') {\n    const copy = { ...item, index: item?.index ?? itemIndex };\n    try {\n      return (await getBinaryDataAsync(copy)) || item.binary || {};\n    } catch (error) {\n      return item.binary || {};\n    }\n  }\n  return item.binary || {};\n}\n\nconst firstJson = $input.first()?.json ?? {};\nconst items = $input.all();\n\nconst out = [];\nconst skipped = [];\nconst unsupported = [];\n\nfor (let itemIndex = 0; itemIndex < items.length; itemIndex++) {\n  const item = items[itemIndex];\n  const loadedBinary = await getLoadedBinary(item, itemIndex);\n\n  for (const [propertyName, metaValue] of Object.entries(loadedBinary)) {\n    const meta = metaValue ?? {};\n    const fileName = String(meta.fileName || propertyName);\n    const lowerName = fileName.toLowerCase();\n    const mimeType = String(meta.mimeType || '').toLowerCase();\n    const extension = getExtension(fileName);\n    const fileSize = parseFileSize(meta.fileSize, meta);\n\n    if (!fileName || fileName.endsWith('/') || fileSize <= 0) {\n      skipped.push({ fileName, propertyName, reason: 'directory_or_empty_entry' });\n      continue;\n    }\n\n    if (lowerName === 'desktop.ini' || lowerName === '.ds_store' || lowerName.startsWith('__macosx/')) {\n      skipped.push({ fileName, propertyName, reason: 'system_file' });\n      continue;\n    }\n\n    let buffer = Buffer.alloc(0);\n    if (typeof meta.data === 'string' && meta.data && meta.data !== 'filesystem-v2') {\n      try {\n        buffer = Buffer.from(meta.data, 'base64');\n      } catch (error) {\n        buffer = Buffer.alloc(0);\n      }\n    }\n\n    const isOcrByExtension = OCR_EXTENSIONS.has(extension);\n    const isOcrByMime = isPdfMime(mimeType) || WORD_DOC_MIME_MARKERS.some((marker) => mimeType.includes(marker));\n\n    const isKnownText = KNOWN_TEXT_EXTENSIONS.has(extension)\n      || KNOWN_TEXT_FILENAMES.has(lowerName)\n      || looksLikeTextMime(mimeType);\n\n    const isSniffedText = buffer.length > 0 ? isLikelyTextBuffer(buffer) : false;\n\n    if (!isOcrByExtension && !isOcrByMime && !isKnownText && !isSniffedText) {\n      unsupported.push({ fileName, propertyName, mimeType, extension, reason: 'unsupported_non_text_file' });\n      continue;\n    }\n\n    const shouldGoToOcr = isOcrByExtension || isOcrByMime || isKnownText || isSniffedText;\n\n    out.push({\n      json: {\n        ...firstJson,\n        fileName,\n        propertyName,\n        mimeType,\n        extension,\n        sourceKind: shouldGoToOcr ? 'ocr' : 'text',\n        skippedFromZip: skipped,\n      },\n      binary: {\n        data: meta,\n      },\n    });\n  }\n}\n\nif (unsupported.length > 0) {\n  throw new Error(\n    [\n      'ZIP contains unsupported files in the REQ path. Keep OCR/text-based files only.',\n      JSON.stringify(unsupported, null, 2),\n    ].join('\\n'),\n  );\n}\n\nif (out.length === 0) {\n  throw new Error('No supported OCR/text files found in ZIP after filtering empty/system entries.');\n}\n\nreturn out;\n"
      },
      "id": "34d40a24-5d34-4d37-8391-122777a5a92d",
      "name": "REQ - Expand Zip for OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        2368
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "response",
        "binaryPropertyName": "requirements",
        "options": {
          "fileName": "requirements.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1536,
        2960
      ],
      "id": "d1b1cc90-6ed5-4516-94e4-3936b9c0f7b6",
      "name": "REQ - File to Review"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.patchPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a senior software engineer operating inside an automated software engineering pipeline.\n\nTHIS IS A STRICT REFINEMENT ITERATION TASK.\n\nYou are not starting from zero.\nYou must refine an existing artefact while preserving all already-correct parts.\n\n------------------------------------------------\nGOAL\n------------------------------------------------\n\nProduce one improved, internally consistent next-iteration artefact for the selected module.\n\nThe refinement must:\n- fix concrete issues found in the previous iteration\n- preserve valid behaviour and stable contracts\n- remain compatible with upstream authoritative artefacts\n- be complete and production-ready for this module\n\n------------------------------------------------\nMODULE TARGET\n------------------------------------------------\n\n- Module: requirements\n- Refinement scope: improve and correct the requirements specification while preserving already-valid constraints.\n\nModule authority\n- This requirements artefact is the source of truth for downstream design, api, backend, frontend, infrastructure, and tests.\n\n------------------------------------------------\nINPUT ARTEFACTS (AUTHORITATIVE)\n------------------------------------------------\n\nYou will receive:\n- current module artefact from previous iteration\n- review findings / validation errors / improvement requests\n\nTreat these as authoritative.\n\n------------------------------------------------\nREFINEMENT RULES (MANDATORY)\n------------------------------------------------\n\n1) Preserve stable interfaces.\n- Do not rename fields, endpoints, entities, or public contracts unless explicitly required.\n\n2) Resolve root causes.\n- Do not patch symptoms with fragile workarounds.\n\n3) Keep architecture and boundaries intact.\n- Respect the module architecture and layering constraints unless it is said in the feedback that it has to change.\n\n4) Keep naming consistent.\n- Reuse the same terminology across all updated sections.\n\n5) Keep assumptions minimal.\n- If information is missing, use conservative assumptions.\n\n------------------------------------------------\nQUALITY GATE (SELF-CHECK BEFORE OUTPUT)\n------------------------------------------------\n\nBefore final output, verify:\n- every required section/file for the selected module exists\n- no required part is left incomplete\n- all cited issues in this refinement scope are addressed\n- constraints from authoritative inputs are respected\n- no new contradictions were introduced\n\nIf any check fails, correct it before producing final output.\n\nNote: In your answer just respond with the new and updated requirements and nothing more"
            }
          ]
        },
        "batching": {}
      },
      "id": "cbb30f22-06cf-4ed5-90d8-2cfc955f5492",
      "name": "REQ - Generate Refinement Response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1792,
        2096
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a Senior Software Requirements Engineer working inside an automated software engineering pipeline.\n\nYour task is to transform raw project context into a clear, structured, and implementation-ready requirements specification.\n\nThe output document will serve as the authoritative reference for the subsequent stages of the pipeline, including design, interface generation, API definition, implementation, infrastructure configuration, and testing.\n\nYour responsibility is to produce a precise and internally consistent requirements document that accurately represents the intended behaviour of the system.\n\n------------------------------------------------\nMISSION\n------------------------------------------------\n\nGenerate a complete software requirements specification in Markdown.\n\nThe document must clearly describe what the system must do, the rules it must follow and the constraints under which it must operate.\n\nThe goal is not to design the technical solution, but to define the behaviour and constraints of the system in a way that allows downstream modules to derive UI, APIs, architecture, implementation and testing.\n\n------------------------------------------------\nINPUT HANDLING\n------------------------------------------------\n\nYou may receive one or more source artefacts describing the system, such as:\n\n- business context\n- project description\n- functional notes\n- domain rules\n- user stories\n- process descriptions\n- legal or organisational constraints\n- technical guidelines\n\nTreat the provided information as authoritative.\n\nPriority order:\n\n1. Explicit information in the provided sources\n2. Explicit rules in this prompt\n3. Minimal conservative assumptions when necessary\n\nIf a required detail is missing but necessary to produce a coherent specification, introduce a minimal conservative assumption and mark it inline using:\n\n[ASSUMPTION: description]\n\nDo not create a dedicated assumptions section unless explicitly requested.\n\n------------------------------------------------\nOUTPUT CONTRACT (STRICT)\n------------------------------------------------\n\nReturn ONLY the final Markdown document.\n\nHard rules:\n\n- No text before the first heading\n- No text after the final section\n- No code fences\n- No JSON\n- No implementation code\n- No explanations about the generation process\n- No validation notes\n\nThe output must be a clean, professional requirements document.\n\n------------------------------------------------\nWRITING RULES\n------------------------------------------------\n\nUse normative language appropriate for requirements specifications:\n\nMUST / MUST NOT / SHOULD / MAY\n\nAll requirements must be:\n\n- atomic\n- testable\n- unambiguous\n- internally consistent\n\nEach requirement must include a unique identifier.\n\nExamples:\n\nREQ-001\nREQ-002\nDATA-004\nSEC-010\nTST-021\n\nRequirement identifiers must remain stable and unique.\n\nAvoid redundancy and contradictory statements.\n\nUse consistent terminology throughout the document.\n\n------------------------------------------------\nSTRUCTURE OF THE DOCUMENT\n------------------------------------------------\n\nYou are free to organise the document in the structure that best represents the system.\n\nDo not blindly follow a fixed template.\n\nInstead, organise the specification logically so that it is clear, coherent, and suitable for implementation.\n\nHowever, ensure that the document collectively addresses the aspects typically required in a professional requirements specification when relevant to the system being described.\n\nThese may include:\n\n. system purpose and scope  \n. stakeholders or user roles  \n. permissions and access restrictions  \n. functional behaviour and user interactions  \n. workflows and lifecycle states  \n. business rules and domain logic  \n. data entities and relationships  \n. persistence or traceability needs  \n. integration points with external systems  \n. operational or organisational constraints  \n. security and compliance considerations  \n. performance or availability expectations  \n. testing expectations and acceptance criteria\n\nNot all systems require every aspect above.\n\nInclude only what is justified by the provided context.\n\nAvoid inventing unnecessary technical detail.\n\n------------------------------------------------\nFUNCTIONAL REQUIREMENTS\n------------------------------------------------\n\nFunctional requirements should describe the behaviour of the system from the perspective of actors interacting with it.\n\nWhen useful, include:\n\n- preconditions\n- triggering actions\n- expected system behaviour\n- resulting system state\n- exceptions or failure conditions\n\nDescribe behaviour clearly enough that downstream teams can derive interfaces and APIs from the specification.\n\n------------------------------------------------\nDATA AND STATE\n------------------------------------------------\n\nWhere relevant, describe:\n\n- key domain entities\n- attributes and constraints\n- relationships between entities\n- lifecycle states and transitions\n- audit or traceability requirements\n\nFocus on conceptual data structures rather than implementation details.\n\n------------------------------------------------\nCONSTRAINTS\n------------------------------------------------\n\nDocument any relevant constraints present in the source material, such as:\n\n- regulatory requirements\n- organisational rules\n- security expectations\n- operational policies\n- integration requirements\n- technological limitations explicitly stated in the sources\n\nDo not invent architectural constraints if none are provided.\n\n------------------------------------------------\nTESTABILITY\n------------------------------------------------\n\nThe specification must allow verification.\n\nWhere appropriate, include acceptance criteria or behavioural conditions that allow the requirement to be validated through testing.\n\n------------------------------------------------\nCONSISTENCY CHECK (SILENT)\n------------------------------------------------\n\nBefore producing the final output, internally verify that:\n\n- no requirements contradict each other\n- no duplicate requirements exist with different values\n- terminology is consistent across sections\n- lifecycle states and rules are coherent\n- assumptions are clearly marked\n- the specification is sufficient for downstream design and implementation steps\n\nReturn only the final Markdown requirements specification."
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 1500
        }
      },
      "id": "e6246e4d-44d5-489c-b09d-15a80e931305",
      "name": "REQ - Generate Response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -2384,
        2960
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json ?? {};\nconst markdown = String(json.response ?? '').replace(/\\r\\n/g, '\\n');\n\nif (!markdown.trim()) {\n  throw new Error('Requirements Markdown is missing, cannot generate PDF.');\n}\n\nconst PAGE_WIDTH = 595;\nconst PAGE_HEIGHT = 842;\nconst MARGIN_X = 48;\nconst MARGIN_Y = 52;\nconst CONTENT_WIDTH = PAGE_WIDTH - (MARGIN_X * 2);\nconst LINE_GAP = 4;\nconst TABLE_FONT_SIZE = 11;\nconst TABLE_LINE_HEIGHT = 14;\nconst TABLE_CELL_PADDING_X = 5;\nconst TABLE_CELL_PADDING_Y = 4;\n\nconst WIN_ANSI_MAP = {\n  '\\u20AC': 0x80,\n  '\\u201A': 0x82,\n  '\\u0192': 0x83,\n  '\\u201E': 0x84,\n  '\\u2026': 0x85,\n  '\\u2020': 0x86,\n  '\\u2021': 0x87,\n  '\\u02C6': 0x88,\n  '\\u2030': 0x89,\n  '\\u0160': 0x8A,\n  '\\u2039': 0x8B,\n  '\\u0152': 0x8C,\n  '\\u017D': 0x8E,\n  '\\u2018': 0x91,\n  '\\u2019': 0x92,\n  '\\u201C': 0x93,\n  '\\u201D': 0x94,\n  '\\u2022': 0x95,\n  '\\u2013': 0x96,\n  '\\u2014': 0x97,\n  '\\u02DC': 0x98,\n  '\\u2122': 0x99,\n  '\\u0161': 0x9A,\n  '\\u203A': 0x9B,\n  '\\u0153': 0x9C,\n  '\\u017E': 0x9E,\n  '\\u0178': 0x9F,\n};\n\nfunction stripInlineMarkdown(value) {\n  return String(value ?? '')\n    .replace(/`([^`]+)`/g, '$1')\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')\n    .replace(/__([^_]+)__/g, '$1')\n    .replace(/\\*([^*]+)\\*/g, '$1')\n    .replace(/_([^_]+)_/g, '$1')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '$1 ($2)');\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '')\n    .normalize('NFC')\n    .replace(/\\u0000/g, '')\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')\n    .replace(/\\t/g, '    ');\n}\n\nfunction collapseSpaces(value) {\n  return String(value ?? '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction estimateMaxChars(fontSize, indent) {\n  const usable = Math.max(60, CONTENT_WIDTH - indent);\n  const avgCharWidth = Math.max(4.6, fontSize * 0.5);\n  return Math.max(18, Math.floor(usable / avgCharWidth));\n}\n\nfunction wrapText(text, maxChars) {\n  const clean = collapseSpaces(text);\n  const limit = Math.max(4, Math.floor(maxChars || 0));\n  if (!clean) return [''];\n\n  const lines = [];\n  let remaining = clean;\n\n  while (remaining.length > limit) {\n    let breakAt = remaining.lastIndexOf(' ', limit);\n    if (breakAt < Math.floor(limit * 0.5)) {\n      breakAt = limit;\n    }\n\n    const segment = remaining.slice(0, breakAt).trim();\n    if (segment) {\n      lines.push(segment);\n      remaining = remaining.slice(breakAt).trimStart();\n    } else {\n      lines.push(remaining.slice(0, limit));\n      remaining = remaining.slice(limit);\n    }\n  }\n\n  if (remaining) lines.push(remaining);\n  return lines.length ? lines : [''];\n}\n\nfunction toWinAnsiString(value) {\n  const input = String(value ?? '').normalize('NFC');\n  let out = '';\n\n  for (const char of input) {\n    const code = char.codePointAt(0);\n\n    if (code <= 0xff) {\n      out += String.fromCharCode(code);\n      continue;\n    }\n\n    if (WIN_ANSI_MAP[char] !== undefined) {\n      out += String.fromCharCode(WIN_ANSI_MAP[char]);\n      continue;\n    }\n\n    if (char === '?') {\n      out += '->';\n      continue;\n    }\n\n    const noDiacritics = char.normalize('NFKD').replace(/[\\u0300-\\u036f]/g, '');\n    if (noDiacritics && noDiacritics.codePointAt(0) <= 0xff) {\n      out += String.fromCharCode(noDiacritics.codePointAt(0));\n    }\n  }\n\n  return out;\n}\n\nfunction escapePdfLiteral(value) {\n  return String(value ?? '')\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\\(/g, '\\\\(')\n    .replace(/\\)/g, '\\\\)');\n}\n\nfunction isTableSeparator(line) {\n  const inner = String(line ?? '').trim().replace(/^\\|/, '').replace(/\\|$/, '');\n  if (!inner) return false;\n  const cells = inner.split('|').map((c) => c.trim());\n  return cells.length > 0 && cells.every((cell) => /^:?-{3,}:?$/.test(cell));\n}\n\nfunction parseTableLine(line) {\n  const inner = String(line ?? '').trim().replace(/^\\|/, '').replace(/\\|$/, '');\n  return inner.split('|').map((cell) => collapseSpaces(stripInlineMarkdown(cell)));\n}\n\nfunction buildTableLayout(tableRows, columnCount) {\n  const safeRows = tableRows.map((row) => Array.from({ length: columnCount }, (_, i) => collapseSpaces(row[i] ?? '')));\n\n  const maxCharsByCol = Array.from({ length: columnCount }, () => 8);\n  for (const row of safeRows) {\n    for (let i = 0; i < columnCount; i += 1) {\n      maxCharsByCol[i] = Math.max(maxCharsByCol[i], Math.min(48, row[i].length || 1));\n    }\n  }\n\n  let widths = maxCharsByCol.map((chars) => Math.max(50, chars * 5.1 + (TABLE_CELL_PADDING_X * 2)));\n  const total = widths.reduce((acc, v) => acc + v, 0);\n\n  if (total > CONTENT_WIDTH) {\n    const scale = CONTENT_WIDTH / total;\n    widths = widths.map((w) => Math.max(44, w * scale));\n    const scaledTotal = widths.reduce((acc, v) => acc + v, 0);\n    if (scaledTotal > CONTENT_WIDTH) {\n      widths[widths.length - 1] -= (scaledTotal - CONTENT_WIDTH);\n    }\n  }\n\n  const rowLayouts = safeRows.map((row, rowIndex) => {\n    const cellLines = row.map((cell, col) => {\n      const maxChars = Math.max(3, Math.floor((widths[col] - (TABLE_CELL_PADDING_X * 2)) / 5.8) - 1);\n      return wrapText(cell, maxChars);\n    });\n\n    const maxLineCount = Math.max(...cellLines.map((c) => c.length));\n    return {\n      font: rowIndex === 0 ? 'F2' : 'F1',\n      fontSize: TABLE_FONT_SIZE,\n      cellLines,\n      height: (maxLineCount * TABLE_LINE_HEIGHT) + (TABLE_CELL_PADDING_Y * 2),\n    };\n  });\n\n  return { widths, rowLayouts };\n}\n\nfunction buildLayout(mdText) {\n  const rows = [];\n  const lines = normalizeText(mdText).split('\\n');\n\n  const firstMeaningful = lines\n    .map((line) => collapseSpaces(stripInlineMarkdown(line)))\n    .find((line) => !!line) ?? 'Requirements Specification';\n\n  const firstHeading = firstMeaningful.match(/^(#{1,6})\\s+(.+)$/);\n  const title = firstHeading\n    ? collapseSpaces(firstHeading[2])\n    : collapseSpaces(firstMeaningful.replace(/^\\*\\*(.*)\\*\\*$/, '$1'));\n\n  rows.push({ text: title, font: 'F2', fontSize: 24, lineHeight: 30, indent: 0, extraAfter: 2 });\n  rows.push({ text: 'Requirements Specification Document', font: 'F1', fontSize: 12, lineHeight: 16, indent: 0, extraAfter: 8 });\n  rows.push({ type: 'rule' });\n  rows.push({ type: 'spacer', amount: 8 });\n\n  let titleConsumed = false;\n\n  for (let idx = 0; idx < lines.length; idx += 1) {\n    const rawLine = lines[idx];\n    const line = String(rawLine ?? '').replace(/\\s+$/g, '');\n    const trimmed = line.trim();\n    const cleanTrimmed = collapseSpaces(stripInlineMarkdown(trimmed.replace(/^#{1,6}\\s+/, '').replace(/^\\*\\*(.*)\\*\\*$/, '$1')));\n\n    if (!titleConsumed && cleanTrimmed && cleanTrimmed === title) {\n      titleConsumed = true;\n      continue;\n    }\n\n    if (!trimmed) {\n      rows.push({ type: 'spacer', amount: 6 });\n      continue;\n    }\n\n    if (trimmed.startsWith('|')) {\n      const tableLines = [trimmed];\n      let probe = idx + 1;\n      while (probe < lines.length) {\n        const candidate = String(lines[probe] ?? '').trim();\n        if (!candidate.startsWith('|')) break;\n        tableLines.push(candidate);\n        probe += 1;\n      }\n\n      if (tableLines.length >= 2 && isTableSeparator(tableLines[1])) {\n        const parsed = tableLines\n          .filter((lineValue, lineIndex) => !(lineIndex === 1 && isTableSeparator(lineValue)))\n          .map(parseTableLine);\n\n        const columnCount = parsed.reduce((acc, row) => Math.max(acc, row.length), 0);\n        if (parsed.length > 0 && columnCount > 0) {\n          rows.push({ type: 'table', rows: parsed, columnCount });\n          rows.push({ type: 'spacer', amount: 8 });\n          idx = probe - 1;\n          continue;\n        }\n      }\n    }\n\n    if (/^---+$/.test(trimmed) || /^___+$/.test(trimmed) || /^\\*\\*\\*+$/.test(trimmed)) {\n      rows.push({ type: 'rule' });\n      rows.push({ type: 'spacer', amount: 8 });\n      continue;\n    }\n\n    const heading = trimmed.match(/^(#{1,6})\\s+(.*)$/);\n    if (heading) {\n      const level = Math.min(6, heading[1].length);\n      const sizeMap = { 1: 20, 2: 16, 3: 14, 4: 12, 5: 11, 6: 10 };\n      rows.push({\n        text: collapseSpaces(stripInlineMarkdown(heading[2])),\n        font: 'F2',\n        fontSize: sizeMap[level],\n        lineHeight: sizeMap[level] + 4,\n        indent: 0,\n        extraBefore: level <= 2 ? 8 : 4,\n        extraAfter: level <= 2 ? 4 : 2,\n      });\n      continue;\n    }\n\n    const bullet = trimmed.match(/^[-*+]\\s+(.*)$/);\n    if (bullet) {\n      rows.push({ text: collapseSpaces(stripInlineMarkdown(bullet[1])), font: 'F1', fontSize: 12, lineHeight: 17, indent: 18, bullet: '- ' });\n      continue;\n    }\n\n    const ordered = trimmed.match(/^(\\d+[.)])\\s+(.*)$/);\n    if (ordered) {\n      rows.push({ text: collapseSpaces(stripInlineMarkdown(ordered[2])), font: 'F1', fontSize: 12, lineHeight: 17, indent: 22, bullet: ordered[1] + ' ' });\n      continue;\n    }\n\n    rows.push({ text: collapseSpaces(stripInlineMarkdown(trimmed)), font: 'F1', fontSize: 12, lineHeight: 17, indent: 0 });\n  }\n\n  return rows;\n}\n\nfunction paginate(rows) {\n  const pages = [];\n  let currentPage = [];\n  let y = PAGE_HEIGHT - MARGIN_Y;\n\n  function pushPage() {\n    pages.push(currentPage);\n    currentPage = [];\n    y = PAGE_HEIGHT - MARGIN_Y;\n  }\n\n  for (const row of rows) {\n    if (row.type === 'spacer') {\n      y -= row.amount;\n      if (y < MARGIN_Y) pushPage();\n      continue;\n    }\n\n    if (row.type === 'rule') {\n      y -= 8;\n      if (y < MARGIN_Y) pushPage();\n      currentPage.push({ type: 'line', x1: MARGIN_X, y1: y, x2: PAGE_WIDTH - MARGIN_X, y2: y, width: 0.2 });\n      y -= 12;\n      if (y < MARGIN_Y) pushPage();\n      continue;\n    }\n\n    if (row.type === 'table') {\n      const table = buildTableLayout(row.rows, row.columnCount);\n      const xBreaks = [MARGIN_X];\n      for (const w of table.widths) xBreaks.push(xBreaks[xBreaks.length - 1] + w);\n\n      for (let r = 0; r < table.rowLayouts.length; r += 1) {\n        const rowLayout = table.rowLayouts[r];\n        const rowHeight = rowLayout.height;\n\n        if ((y - rowHeight) < MARGIN_Y) pushPage();\n\n        const top = y;\n        const bottom = y - rowHeight;\n\n        currentPage.push({ type: 'line', x1: xBreaks[0], y1: top, x2: xBreaks[xBreaks.length - 1], y2: top, width: 0.6 });\n        currentPage.push({ type: 'line', x1: xBreaks[0], y1: bottom, x2: xBreaks[xBreaks.length - 1], y2: bottom, width: 0.6 });\n\n        for (let c = 0; c < xBreaks.length; c += 1) {\n          currentPage.push({ type: 'line', x1: xBreaks[c], y1: top, x2: xBreaks[c], y2: bottom, width: 0.4 });\n        }\n\n        for (let c = 0; c < rowLayout.cellLines.length; c += 1) {\n          const linesInCell = rowLayout.cellLines[c];\n          let textY = top - TABLE_CELL_PADDING_Y - TABLE_FONT_SIZE;\n          for (const segment of linesInCell) {\n            currentPage.push({\n              type: 'text',\n              text: segment,\n              font: rowLayout.font,\n              fontSize: rowLayout.fontSize,\n              x: xBreaks[c] + TABLE_CELL_PADDING_X,\n              y: textY,\n            });\n            textY -= TABLE_LINE_HEIGHT;\n          }\n        }\n\n        y = bottom - 4;\n        if (y < MARGIN_Y) pushPage();\n      }\n      continue;\n    }\n\n    y -= row.extraBefore ?? 0;\n    if (y < MARGIN_Y) pushPage();\n\n    const prefix = row.bullet ?? '';\n    const bodyMaxChars = estimateMaxChars(row.fontSize, row.indent);\n    const wrapped = wrapText(row.text, Math.max(12, bodyMaxChars - prefix.length));\n\n    for (let i = 0; i < wrapped.length; i += 1) {\n      const text = (i === 0 ? prefix : ' '.repeat(prefix.length)) + wrapped[i];\n      currentPage.push({ type: 'text', text, font: row.font, fontSize: row.fontSize, x: MARGIN_X + row.indent, y });\n      y -= row.lineHeight;\n      if (y < MARGIN_Y) pushPage();\n    }\n\n    y -= (row.extraAfter ?? LINE_GAP);\n    if (y < MARGIN_Y) pushPage();\n  }\n\n  if (currentPage.length === 0) {\n    currentPage.push({ type: 'text', text: '(empty document)', font: 'F1', fontSize: 11, x: MARGIN_X, y: PAGE_HEIGHT - MARGIN_Y });\n  }\n\n  pages.push(currentPage);\n  return pages;\n}\n\nfunction pageToStream(pageRows) {\n  const lines = [];\n\n  for (const row of pageRows) {\n    if (row.type === 'line') {\n      lines.push((row.width ?? 0.2).toFixed(2) + ' w');\n      lines.push(row.x1.toFixed(2) + ' ' + row.y1.toFixed(2) + ' m');\n      lines.push(row.x2.toFixed(2) + ' ' + row.y2.toFixed(2) + ' l');\n      lines.push('S');\n      continue;\n    }\n\n    const safe = escapePdfLiteral(toWinAnsiString(row.text || ''));\n    lines.push('BT');\n    lines.push('/' + row.font + ' ' + row.fontSize + ' Tf');\n    lines.push('1 0 0 1 ' + row.x.toFixed(2) + ' ' + row.y.toFixed(2) + ' Tm');\n    lines.push('(' + safe + ') Tj');\n    lines.push('ET');\n  }\n\n  return lines.join('\\n');\n}\n\nfunction buildPdfDocument(pageStreams) {\n  const objects = [];\n  const pageStart = 5;\n  const contentStart = pageStart + pageStreams.length;\n  const pageRefs = pageStreams.map((_, i) => (pageStart + i) + ' 0 R').join(' ');\n\n  objects[1] = '<< /Type /Catalog /Pages 2 0 R >>';\n  objects[2] = '<< /Type /Pages /Kids [' + pageRefs + '] /Count ' + pageStreams.length + ' >>';\n  objects[3] = '<< /Type /Font /Subtype /Type1 /BaseFont /Times-Roman /Encoding /WinAnsiEncoding >>';\n  objects[4] = '<< /Type /Font /Subtype /Type1 /BaseFont /Times-Bold /Encoding /WinAnsiEncoding >>';\n\n  for (let i = 0; i < pageStreams.length; i += 1) {\n    const pageObj = pageStart + i;\n    const contentObj = contentStart + i;\n    objects[pageObj] = [\n      '<< /Type /Page',\n      '/Parent 2 0 R',\n      '/MediaBox [0 0 ' + PAGE_WIDTH + ' ' + PAGE_HEIGHT + ']',\n      '/Resources << /Font << /F1 3 0 R /F2 4 0 R >> >>',\n      '/Contents ' + contentObj + ' 0 R',\n      '>>',\n    ].join(' ');\n\n    const stream = pageStreams[i];\n    const len = Buffer.byteLength(stream, 'latin1');\n    objects[contentObj] = '<< /Length ' + len + ' >>\\nstream\\n' + stream + '\\nendstream';\n  }\n\n  const maxObject = objects.length - 1;\n  let pdf = '%PDF-1.4\\n';\n  const offsets = [0];\n\n  for (let i = 1; i <= maxObject; i += 1) {\n    offsets[i] = Buffer.byteLength(pdf, 'latin1');\n    pdf += i + ' 0 obj\\n' + objects[i] + '\\nendobj\\n';\n  }\n\n  const xrefOffset = Buffer.byteLength(pdf, 'latin1');\n  pdf += 'xref\\n0 ' + (maxObject + 1) + '\\n';\n  pdf += '0000000000 65535 f \\n';\n\n  for (let i = 1; i <= maxObject; i += 1) {\n    const offset = String(offsets[i]).padStart(10, '0');\n    pdf += offset + ' 00000 n \\n';\n  }\n\n  pdf += 'trailer\\n<< /Size ' + (maxObject + 1) + ' /Root 1 0 R >>\\n';\n  pdf += 'startxref\\n' + xrefOffset + '\\n%%EOF';\n  return Buffer.from(pdf, 'latin1');\n}\n\nconst rows = buildLayout(markdown);\nconst pages = paginate(rows);\nconst streams = pages.map(pageToStream);\nconst pdfBuffer = buildPdfDocument(streams);\n\nreturn [{\n  json: { ...json },\n  binary: {\n    ...(item.binary ?? {}),\n    requirementsPdf: {\n      data: pdfBuffer.toString('base64'),\n      mimeType: 'application/pdf',\n      fileName: 'requirements.pdf',\n      fileExtension: 'pdf',\n    },\n  },\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        2704
      ],
      "id": "ecae0b45-25a8-4cce-92a0-eba1cba27396",
      "name": "REQ - Markdown to PDF"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1072,
        2944
      ],
      "id": "fb1d8516-e5a3-4933-8eda-94e1144a9b69",
      "name": "REQ - Md and Pdf"
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {}
      },
      "id": "adab8c6b-5d7e-4296-b646-a4ca619fc407",
      "name": "REQ - Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -2448,
        3168
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "193f451b-19fe-41d5-ab72-65a91581e795",
      "name": "REQ - OCR Extract Text",
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -1760,
        2352
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst CHUNK_MAX_CHARS = 7000;\nconst CHUNK_OVERLAP_CHARS = 500;\n\nfunction normalizeText(text) {\n  let value = String(text || '');\n  value = value.split('\\u0000').join('');\n  value = value.replace(/\\r\\n/g, '\\n');\n  value = value.replace(/\\r/g, '\\n');\n  value = value.replace(/[ \\t]+/g, ' ');\n  value = value.replace(/\\n{3,}/g, '\\n\\n');\n  return value\n    .split('\\n')\n    .map((line) => line.trimEnd())\n    .join('\\n')\n    .trim();\n}\n\nfunction chunkTextFullCoverage(text, maxChars, overlapChars) {\n  const chunks = [];\n  if (!text) return chunks;\n\n  let start = 0;\n  const len = text.length;\n\n  while (start < len) {\n    let end = Math.min(start + maxChars, len);\n\n    if (end < len) {\n      let breakAt = text.lastIndexOf('\\n\\n', end);\n      if (breakAt <= start + Math.floor(maxChars * 0.55)) breakAt = text.lastIndexOf('\\n', end);\n      if (breakAt <= start + Math.floor(maxChars * 0.45)) breakAt = end;\n      end = breakAt;\n    }\n\n    if (end <= start) end = Math.min(start + maxChars, len);\n\n    const chunk = text.slice(start, end).trim();\n    if (chunk) chunks.push({ start, end, text: chunk });\n\n    if (end >= len) break;\n\n    start = Math.max(start + 1, end - overlapChars);\n    while (start < len && /\\s/.test(text[start])) start++;\n  }\n\n  return chunks;\n}\n\nfunction getPairedIndices(item, fallbackIndex) {\n  if (!item || item.pairedItem == null) return [fallbackIndex];\n  if (Array.isArray(item.pairedItem)) {\n    return item.pairedItem\n      .map((entry) => Number(entry?.item))\n      .filter((index) => Number.isInteger(index) && index >= 0);\n  }\n\n  const single = Number(item.pairedItem?.item);\n  if (Number.isInteger(single) && single >= 0) return [single];\n  return [fallbackIndex];\n}\n\nfunction extractOcrContent(payload) {\n  if (!payload || typeof payload !== 'object') return '';\n\n  const pages = Array.isArray(payload.pages) ? payload.pages : [];\n  if (pages.length > 0) {\n    const joinedPages = pages\n      .map((page) => {\n        if (!page || typeof page !== 'object') return '';\n        if (typeof page.markdown === 'string') return page.markdown;\n        if (typeof page.text === 'string') return page.text;\n        if (typeof page.content === 'string') return page.content;\n        return '';\n      })\n      .filter((value) => value && value.trim() !== '')\n      .join('\\n\\n');\n\n    if (joinedPages.trim() !== '') return joinedPages;\n  }\n\n  const directCandidates = ['markdown', 'text', 'content', 'extractedText'];\n  for (const key of directCandidates) {\n    if (typeof payload[key] === 'string' && payload[key].trim() !== '') {\n      return payload[key];\n    }\n  }\n\n  return '';\n}\n\nfunction decodeUtf16Be(buffer) {\n  const out = Buffer.alloc(buffer.length);\n  for (let i = 0; i < buffer.length - 1; i += 2) {\n    out[i] = buffer[i + 1];\n    out[i + 1] = buffer[i];\n  }\n  if (buffer.length % 2 === 1) out[buffer.length - 1] = buffer[buffer.length - 1];\n  return out.toString('utf16le');\n}\n\nfunction looksLikeUtf16Le(buffer) {\n  const sample = buffer.subarray(0, Math.min(buffer.length, 2000));\n  let zeroOdd = 0;\n  let pairs = 0;\n  for (let i = 1; i < sample.length; i += 2) {\n    pairs += 1;\n    if (sample[i] === 0) zeroOdd += 1;\n  }\n  return pairs > 0 && zeroOdd / pairs >= 0.35;\n}\n\nfunction looksLikeUtf16Be(buffer) {\n  const sample = buffer.subarray(0, Math.min(buffer.length, 2000));\n  let zeroEven = 0;\n  let pairs = 0;\n  for (let i = 0; i < sample.length; i += 2) {\n    pairs += 1;\n    if (sample[i] === 0) zeroEven += 1;\n  }\n  return pairs > 0 && zeroEven / pairs >= 0.35;\n}\n\nfunction decodeTextBuffer(buffer) {\n  if (!buffer || buffer.length === 0) return '';\n\n  if (buffer.length >= 3 && buffer[0] === 0xef && buffer[1] === 0xbb && buffer[2] === 0xbf) {\n    return buffer.subarray(3).toString('utf8');\n  }\n\n  if (buffer.length >= 2 && buffer[0] === 0xff && buffer[1] === 0xfe) {\n    return buffer.subarray(2).toString('utf16le');\n  }\n\n  if (buffer.length >= 2 && buffer[0] === 0xfe && buffer[1] === 0xff) {\n    return decodeUtf16Be(buffer.subarray(2));\n  }\n\n  if (looksLikeUtf16Le(buffer)) return buffer.toString('utf16le');\n  if (looksLikeUtf16Be(buffer)) return decodeUtf16Be(buffer);\n\n  return buffer.toString('utf8');\n}\n\nconst getBinaryDataBufferHelper = this?.helpers?.getBinaryDataBuffer?.bind(this.helpers);\n\nasync function getBinaryContentFromItem(itemLike, itemIndex, preferredKey) {\n  if (!itemLike?.binary || typeof itemLike.binary !== 'object') {\n    return { buffer: Buffer.alloc(0), entry: null, key: null };\n  }\n\n  const key = preferredKey && itemLike.binary[preferredKey]\n    ? preferredKey\n    : itemLike.binary.data\n      ? 'data'\n      : Object.keys(itemLike.binary)[0] ?? null;\n\n  if (!key) return { buffer: Buffer.alloc(0), entry: null, key: null };\n\n  const entry = itemLike.binary[key] ?? null;\n\n  if (typeof getBinaryDataBufferHelper === 'function') {\n    try {\n      const buffer = await getBinaryDataBufferHelper(itemIndex, key);\n      if (buffer?.length) return { buffer, entry, key };\n    } catch (error) {\n    }\n  }\n\n  if (entry?.data && entry.data !== 'filesystem-v2') {\n    try {\n      return { buffer: Buffer.from(String(entry.data), 'base64'), entry, key };\n    } catch (error) {\n    }\n  }\n\n  return { buffer: Buffer.alloc(0), entry, key };\n}\n\nconst firstJson = $input.first()?.json ?? {};\nconst items = $input.all();\nconst sourceItems = typeof $items === 'function'\n  ? ($items('REQ - Expand Zip for OCR') || [])\n  : [];\n\nconst extractedFiles = [];\nconst unreadableFiles = [];\nconst skippedFiles = [];\nconst skippedSeen = new Set();\n\nfor (let index = 0; index < items.length; index++) {\n  const item = items[index];\n  const json = item.json ?? {};\n\n  const pairCandidates = getPairedIndices(item, index);\n  const sourcePairIndex = pairCandidates[0] ?? index;\n  const sourceItem = pairCandidates\n    .map((pairIndex) => sourceItems[pairIndex])\n    .find((entry) => entry && typeof entry === 'object') ?? null;\n\n  const sourceJson = sourceItem?.json ?? {};\n  const mergedJson = { ...sourceJson, ...json };\n\n  if (Array.isArray(sourceJson.skippedFromZip)) {\n    for (const skipped of sourceJson.skippedFromZip) {\n      const key = JSON.stringify(skipped);\n      if (!skippedSeen.has(key)) {\n        skippedSeen.add(key);\n        skippedFiles.push(skipped);\n      }\n    }\n  }\n\n  const fileName = String(mergedJson.fileName || ('file_' + (index + 1)));\n  const propertyName = String(mergedJson.propertyName || 'data');\n  const sourceKind = String(mergedJson.sourceKind || '').toLowerCase();\n\n  let content = '';\n  let mimeType = String(mergedJson.mimeType || 'application/octet-stream');\n  let extension = String(mergedJson.extension || '');\n  let extractionMethod = String(mergedJson.extractionMethod || '');\n\n  if (sourceKind === 'text') {\n    const { buffer, entry } = sourceItem\n      ? await getBinaryContentFromItem(sourceItem, sourcePairIndex, propertyName)\n      : { buffer: Buffer.alloc(0), entry: null };\n\n    if (buffer.length > 0) {\n      try {\n        content = normalizeText(decodeTextBuffer(buffer));\n        extractionMethod = extractionMethod || 'direct_text_decode';\n        mimeType = String(entry?.mimeType || mimeType || 'text/plain');\n        extension = String(entry?.fileExtension || extension || 'txt');\n      } catch (error) {\n      }\n    }\n\n    if (!content) {\n      content = normalizeText(extractOcrContent(mergedJson));\n      if (content) {\n        extractionMethod = extractionMethod || 'text_field_fallback';\n      }\n    }\n  } else {\n    content = normalizeText(extractOcrContent(mergedJson));\n    if (!content) {\n      const skipInfo = {\n        fileName,\n        propertyName,\n        reason: 'non_text_passthrough_no_extractable_text',\n      };\n      const key = JSON.stringify(skipInfo);\n      if (!skippedSeen.has(key)) {\n        skippedSeen.add(key);\n        skippedFiles.push(skipInfo);\n      }\n      continue;\n    }\n    extractionMethod = extractionMethod || 'passthrough_text';\n  }\n\n  if (!content) {\n    unreadableFiles.push({\n      fileName,\n      propertyName,\n      reason: 'no_text_in_response',\n    });\n    continue;\n  }\n\n  extractedFiles.push({\n    fileName,\n    propertyName,\n    mimeType,\n    extension,\n    extractionMethod,\n    content,\n  });\n}\n\nif (unreadableFiles.length > 0) {\n  const fileList = unreadableFiles.map((entry) => entry.fileName).join(', ');\n  throw new Error(\n    [\n      'No readable text extracted for: ' + fileList,\n      JSON.stringify(unreadableFiles, null, 2),\n    ].join('\\n'),\n  );\n}\n\nif (extractedFiles.length === 0) {\n  throw new Error('No readable text extracted from supported files.');\n}\n\nconst chunkItems = [];\nconst coverage = {\n  totalFiles: extractedFiles.length,\n  skippedFiles,\n  unreadableFiles,\n  totalChunks: 0,\n  chunkMaxChars: CHUNK_MAX_CHARS,\n  chunkOverlapChars: CHUNK_OVERLAP_CHARS,\n};\n\nextractedFiles.forEach((file, fileOrder) => {\n  const chunks = chunkTextFullCoverage(file.content, CHUNK_MAX_CHARS, CHUNK_OVERLAP_CHARS);\n  if (chunks.length === 0) {\n    throw new Error('No chunks generated for file: ' + file.fileName);\n  }\n\n  coverage.totalChunks += chunks.length;\n\n  chunks.forEach((chunk, chunkIndex) => {\n    const chunkPrompt = [\n      'You are extracting requirements evidence from one chunk of source documents.',\n      'Return concise but complete extracted requirements from this chunk only.',\n      'Do not invent facts. If uncertain, state UNKNOWN.',\n      '',\n      'File: ' + file.fileName,\n      'Chunk: ' + (chunkIndex + 1) + '/' + chunks.length,\n      '',\n      'Output format:',\n      '- Bullet list with concrete obligations, constraints, dates, thresholds, penalties, deliverables, role rules, acceptance criteria, and technical constraints present in this chunk.',\n      '- Preserve exact values when present.',\n      '- If chunk has no useful requirements text, return exactly: NO_RELEVANT_REQUIREMENTS',\n      '',\n      'Chunk content:',\n      chunk.text,\n    ].join('\\n');\n\n    chunkItems.push({\n      json: {\n        ...firstJson,\n        chunkPrompt,\n        chunkMeta: {\n          fileName: file.fileName,\n          fileOrder,\n          chunkIndex,\n          chunkCountForFile: chunks.length,\n          startOffset: chunk.start,\n          endOffset: chunk.end,\n          extractionMethod: file.extractionMethod,\n        },\n        coverage,\n      },\n    });\n  });\n});\n\nif (chunkItems.length === 0) {\n  throw new Error('No chunk prompts generated from extracted content.');\n}\n\nreturn chunkItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        2624
      ],
      "id": "6c1b213e-f5ed-46d7-ab43-a41832c30162",
      "name": "REQ - Parse Information"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json ?? {};\nconst requirements = String(json.response ?? '').trim();\nif (!requirements) throw new Error('Requirements draft is missing.');\nconst revisionNumber = Math.max(0, Math.trunc(Number(json.revisionNumber ?? 0) || 0));\nconst zipDownloadUrl = String(json.zipDownloadUrl ?? '').trim();\nif (!zipDownloadUrl) throw new Error('Review ZIP download URL is missing.');\nconst zipDownloadToken = String(json.zipDownloadToken ?? '').trim();\nif (!zipDownloadToken) throw new Error('Review ZIP download token is missing.');\nconst downloadLinkHtml = '<p><a href=\"' + zipDownloadUrl + '\" download target=\"_blank\" rel=\"noopener noreferrer\">Download current Requirements ZIP (Markdown + PDF)</a></p>';\nconst output = {\n  json: { requirements, revisionNumber, zipDownloadUrl, zipDownloadToken, downloadLinkHtml },\n};\nif (item.binary && Object.keys(item.binary).length > 0) {\n  output.binary = item.binary;\n}\nreturn [output];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        2608
      ],
      "id": "cf97ebbf-e102-40b4-8a5f-3b1cd8846202",
      "name": "REQ - Prepare Information"
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 32768,
          "temperature": 0.1
        }
      },
      "id": "e73c0331-00f8-4028-aac6-70641f79127a",
      "name": "REQ - Refinement Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -1936,
        2224
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1440,
        2048
      ],
      "id": "7947e295-2b54-44c5-a84f-d4aa27b9854b",
      "name": "REQ - Response and Revision Number"
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "requirements,requirementsPdf",
        "fileName": "req.zip",
        "binaryPropertyOutput": "reviewZip"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -1328,
        2592
      ],
      "id": "608b24db-68ab-43c8-a798-4d5e01d2269e",
      "name": "REQ - Zip to Review"
    },
    {
      "parameters": {
        "content": "## Requirements Generation Module\n\nTransforms the **user instructions** into a **structured requirements document**.",
        "height": 1504,
        "width": 2176,
        "color": "#DBEAFE"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2656,
        1808
      ],
      "typeVersion": 1,
      "id": "031a5bdc-62f9-44e0-849f-a35a0ca0d4dc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-b13b448a-55bd-47c2-b556-8c20f9c207cf",
              "leftValue": "={{ $json.reviewMode }}",
              "rightValue": "refine",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eabd45a4-794e-4326-b6a8-933dcb7fac6e",
      "name": "REQ - Execute Refinement?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2432,
        2048
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\nconst currentJson = item.json ?? {};\nconst rawBinary = item.binary ?? {};\n\nfunction getNodeItemSafe(nodeName) {\n  if (typeof $items !== 'function') return null;\n  try {\n    return ($items(nodeName) || [])[0] || null;\n  } catch {\n    return null;\n  }\n}\n\nfunction cleanJson(source) {\n  const json = { ...(source ?? {}) };\n  delete json.feedback;\n  delete json.Feedback;\n  delete json.Approved;\n  delete json['Start Again'];\n  delete json.reviewMode;\n  return json;\n}\n\nfunction cleanBinary(source) {\n  return Object.fromEntries(\n    Object.entries(source ?? {})\n      .filter(([key]) => !/^attachments?(?:_|$)/i.test(String(key)))\n      .filter(([key]) => !String(key).endsWith('_firstIteration')),\n  );\n}\n\nfunction firstNonEmpty(values) {\n  for (const value of values) {\n    if (typeof value === 'string' && value.trim()) return value.trim();\n  }\n  return '';\n}\n\nfunction makeTextBinary(text, fileName, mimeType) {\n  const value = String(text ?? '').trim();\n  if (!value) return null;\n  return {\n    data: Buffer.from(value, 'utf8').toString('base64'),\n    fileName,\n    mimeType,\n  };\n}\n\nconst firstNode = getNodeItemSafe('REQ - Prepare Information for First Iteration');\nconst firstJson = cleanJson(firstNode?.json ?? {});\nconst baseJson = cleanJson(currentJson);\nconst currentValue = firstNonEmpty([currentJson.requirements, currentJson.response]);\nconst cleanCurrentBinary = cleanBinary(rawBinary);\nconst currentArtifact = makeTextBinary(currentValue, 'requirements.md', 'text/markdown');\nif (currentArtifact) cleanCurrentBinary['requirements'] = currentArtifact;\n\nconst firstValue = firstNonEmpty([firstJson.requirements, baseJson.firstIterationRequirements, currentValue]);\nconst firstArtifact = makeTextBinary(firstValue, 'requirements.md', 'text/markdown');\nconst inheritedFirst = rawBinary['requirements_firstIteration'];\nif (firstArtifact || inheritedFirst) cleanCurrentBinary['requirements_firstIteration'] = firstArtifact || inheritedFirst;\n\nconst outputJson = {\n  ...baseJson,\n  reviewMode: '',\n  requirements: currentValue,\n    firstIterationRequirements: firstValue,\n  firstIterationReviewRevisionNumber: Number(firstJson.revisionNumber ?? baseJson.firstIterationReviewRevisionNumber ?? baseJson.revisionNumber ?? 0) || 0,\n  firstIterationReviewZipDownloadUrl: String(firstJson.zipDownloadUrl ?? baseJson.firstIterationReviewZipDownloadUrl ?? baseJson.zipDownloadUrl ?? '').trim(),\n  firstIterationReviewZipDownloadToken: String(firstJson.zipDownloadToken ?? baseJson.firstIterationReviewZipDownloadToken ?? baseJson.zipDownloadToken ?? '').trim(),\n  firstIterationReviewDownloadLinkHtml: String(firstJson.downloadLinkHtml ?? baseJson.firstIterationReviewDownloadLinkHtml ?? baseJson.downloadLinkHtml ?? '').trim(),\n};\n\nreturn [{\n  json: outputJson,\n  ...(Object.keys(cleanCurrentBinary).length ? { binary: cleanCurrentBinary } : {}),\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        2000
      ],
      "id": "34a6f47d-c915-4340-845b-b816328bd260",
      "name": "REQ - Review Output"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\nconst json = { ...(item.json ?? {}) };\nfor (const key of ['Approved', 'Start Again', 'Feedback', 'feedback', 'Attachments (optional)', 'reviewMode']) {\n  delete json[key];\n}\nconst binary = Object.fromEntries(\n  Object.entries(item.binary ?? {}).filter(([key]) => !/^attachments?(?:_|$)/i.test(String(key)))\n);\nreturn [{\n  json,\n  ...(Object.keys(binary).length ? { binary } : {}),\n}];"
      },
      "id": "c67665a1-1413-4337-8323-61dbc4cb77b1",
      "name": "REQ - Sanitize Output Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        1936
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a7d980d2-da9a-44ca-a3df-09ed0a371bc4",
      "name": "REQ - Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2704,
        1936
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-1c1e5fba-5550-4b4d-a635-7b73ba7b2c77",
              "leftValue": "={{ $json.sourceKind }}",
              "rightValue": "ocr",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "41c1edee-17df-42d4-b462-435263f1a01d",
      "name": "REQ - Is Text File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2208,
        2368
      ]
    },
    {
      "parameters": {},
      "id": "2c265f32-4902-4c5a-8f90-acf1f0a0753f",
      "name": "REQ - Combine Extracted Text",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2560,
        2624
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst MIME_BY_EXTENSION = {\n  pdf: 'application/pdf',\n  doc: 'application/msword',\n  docx: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n  rtf: 'application/rtf',\n};\n\nconst TEXT_AS_PLAIN_EXTENSIONS = new Set([\n  'txt', 'text', 'md', 'markdown', 'rst', 'adoc', 'asciidoc', 'tex',\n  'json', 'jsonl', 'json5', 'yaml', 'yml', 'toml', 'ini', 'cfg', 'conf', 'env', 'properties',\n  'xml', 'csv', 'tsv', 'psv', 'ssv',\n  'html', 'htm', 'xhtml', 'svg',\n  'js', 'mjs', 'cjs', 'jsx', 'ts', 'tsx', 'vue', 'svelte',\n  'py', 'pyi', 'java', 'kt', 'kts', 'scala', 'groovy',\n  'c', 'h', 'cpp', 'cc', 'cxx', 'hpp', 'hh', 'hxx',\n  'cs', 'go', 'rs', 'rb', 'php', 'swift', 'm', 'mm', 'dart', 'lua', 'r', 'jl', 'pl', 'pm',\n  'sh', 'bash', 'zsh', 'fish', 'ps1', 'bat', 'cmd', 'awk', 'sed',\n  'sql', 'graphql', 'gql', 'proto',\n  'log', 'out', 'err',\n  'gitignore', 'gitattributes', 'npmrc', 'yarnrc', 'editorconfig', 'dockerignore',\n  'ipynb'\n]);\n\nconst TEXT_FILENAME_HINTS = new Set([\n  'dockerfile', 'makefile', 'jenkinsfile', 'procfile', 'vagrantfile', 'gemfile', 'rakefile',\n  '.env', '.env.local', '.env.development', '.env.test', '.env.production',\n  '.gitignore', '.gitattributes', '.npmrc', '.yarnrc', '.editorconfig'\n]);\n\nfunction resolveMimeType(itemJson, entry) {\n  const ext = String(itemJson?.extension || entry?.fileExtension || '').toLowerCase();\n  const fileName = String(itemJson?.fileName || entry?.fileName || '').toLowerCase();\n  const incoming = String(entry?.mimeType || '').toLowerCase();\n\n  if (MIME_BY_EXTENSION[ext]) return MIME_BY_EXTENSION[ext];\n  if (TEXT_AS_PLAIN_EXTENSIONS.has(ext)) return 'text/plain';\n  if (TEXT_FILENAME_HINTS.has(fileName)) return 'text/plain';\n\n  if (incoming.startsWith('text/')) return 'text/plain';\n  if (\n    incoming.includes('json')\n    || incoming.includes('xml')\n    || incoming.includes('yaml')\n    || incoming.includes('toml')\n    || incoming.includes('csv')\n    || incoming.includes('javascript')\n    || incoming.includes('typescript')\n    || incoming.includes('sql')\n    || incoming.includes('markdown')\n  ) {\n    return 'text/plain';\n  }\n\n  return String(entry?.mimeType || 'application/octet-stream');\n}\n\nconst items = $input.all();\nconst out = [];\nconst getBinaryDataBufferHelper = this?.helpers?.getBinaryDataBuffer?.bind(this.helpers);\n\nfor (let index = 0; index < items.length; index++) {\n  const item = items[index];\n  const entry = item.binary?.data ?? Object.values(item.binary ?? {})[0] ?? null;\n  let buffer = Buffer.alloc(0);\n\n  if (typeof getBinaryDataBufferHelper === 'function') {\n    try {\n      buffer = (await getBinaryDataBufferHelper(index, 'data')) || Buffer.alloc(0);\n    } catch (error) {\n      buffer = Buffer.alloc(0);\n    }\n  }\n\n  if ((!buffer || buffer.length === 0) && entry?.data && entry.data !== 'filesystem-v2') {\n    try {\n      buffer = Buffer.from(String(entry.data), 'base64');\n    } catch (error) {\n      buffer = Buffer.alloc(0);\n    }\n  }\n\n  if (!buffer || buffer.length === 0) {\n    throw new Error('Missing binary payload for OCR preparation: ' + String(item.json?.fileName || ('item_' + index)));\n  }\n\n  const resolvedMimeType = resolveMimeType(item.json ?? {}, entry ?? {});\n\n  out.push({\n    json: { ...(item.json ?? {}), extractionMethod: 'mistral_ocr' },\n    binary: {\n      data: {\n        ...(entry ?? {}),\n        mimeType: resolvedMimeType,\n        data: buffer.toString('base64'),\n      },\n    },\n    pairedItem: item.pairedItem ?? { item: index },\n  });\n}\n\nreturn out;\n"
      },
      "id": "700b094d-e7c0-4721-b034-db2fe4db5ac4",
      "name": "REQ - Prepare OCR Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        2352
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -944,
        2608
      ],
      "id": "656e2dce-0d5b-4bda-ab9b-129e80cc02b6",
      "name": "REQ - Zip and Link"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "654404a4-4182-49ca-9bfa-2265e541f452",
      "name": "REQ - Workflow Output",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -528,
        1952
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "REQ - Parse Information": {
      "main": [
        [
          {
            "node": "REQ - Analyze Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Model": {
      "ai_languageModel": [
        [
          {
            "node": "REQ - Generate Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Markdown to PDF": {
      "main": [
        [
          {
            "node": "REQ - Md and Pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - OCR Extract Text": {
      "main": [
        [
          {
            "node": "REQ - Combine Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Md and Pdf": {
      "main": [
        [
          {
            "node": "REQ - Zip to Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - File to Review": {
      "main": [
        [
          {
            "node": "REQ - Md and Pdf",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "REQ - Create Zip Link": {
      "main": [
        [
          {
            "node": "REQ - Zip and Link",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "REQ - Zip to Review": {
      "main": [
        [
          {
            "node": "REQ - Create Zip Link",
            "type": "main",
            "index": 0
          },
          {
            "node": "REQ - Zip and Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Analyze Chunk": {
      "main": [
        [
          {
            "node": "REQ - Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Expand Zip for OCR": {
      "main": [
        [
          {
            "node": "REQ - Is Text File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Decompress Zip": {
      "main": [
        [
          {
            "node": "REQ - Expand Zip for OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Response and Revision Number": {
      "main": [
        [
          {
            "node": "REQ - Clean Refinement Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Generate Response": {
      "main": [
        [
          {
            "node": "REQ - Clean Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Chunk Analyser Model": {
      "ai_languageModel": [
        [
          {
            "node": "REQ - Analyze Chunk",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Clean Refinement Response": {
      "main": [
        [
          {
            "node": "REQ - Markdown to PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "REQ - File to Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Refinement Model": {
      "ai_languageModel": [
        [
          {
            "node": "REQ - Generate Refinement Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Build Prompt": {
      "main": [
        [
          {
            "node": "REQ - Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Build Refinement Prompt": {
      "main": [
        [
          {
            "node": "REQ - Generate Refinement Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "REQ - Response and Revision Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Generate Refinement Response": {
      "main": [
        [
          {
            "node": "REQ - Response and Revision Number",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "REQ - Clean Response": {
      "main": [
        [
          {
            "node": "REQ - Markdown to PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "REQ - File to Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Review Output": {
      "main": [
        [
          {
            "node": "REQ - Workflow Output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "REQ - Execute Refinement?": {
      "main": [
        [
          {
            "node": "REQ - Build Refinement Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REQ - Decompress Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Prepare Information": {
      "main": [
        [
          {
            "node": "REQ - Review Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Sanitize Output Context": {
      "main": [
        [
          {
            "node": "REQ - Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Start": {
      "main": [
        [
          {
            "node": "REQ - Execute Refinement?",
            "type": "main",
            "index": 0
          },
          {
            "node": "REQ - Sanitize Output Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Is Text File?": {
      "main": [
        [
          {
            "node": "REQ - Prepare OCR Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REQ - Combine Extracted Text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "REQ - Combine Extracted Text": {
      "main": [
        [
          {
            "node": "REQ - Parse Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Prepare OCR Binary": {
      "main": [
        [
          {
            "node": "REQ - OCR Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REQ - Zip and Link": {
      "main": [
        [
          {
            "node": "REQ - Prepare Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "88569773-13a4-4a6e-a0c2-083d118ed283",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af49a67438f7e7c513a029a95d0dadb7f585243236e86464fcac385b6f1438c3"
  },
  "id": "XAdWquYoHZ6lvPvT",
  "tags": []
}