workflows/n8n-progress/daily/subworkflows-method-v1/tests-workflow.json
{
  "name": "tests-workflow",
  "nodes": [
    {
      "parameters": {
        "content": "## Test Generation Module\n\nTransforms **structured requirements** and the **API specification** into an **E2E Test Directory** using an LLM.\n",
        "height": 1488,
        "width": 3712,
        "color": "#FEF3C7"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        12576,
        3840
      ],
      "typeVersion": 1,
      "id": "b11ddf07-b356-423b-9e63-9383e63c08be",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "jsCode": "async function beAssembleTestsZipInputs() {\n    function getExtension(filePath) {\n      const fileName = String(filePath || '').split('/').pop() || '';\n      if (fileName === 'pom.xml') return 'xml';\n      if (fileName === '.gitignore') return 'gitignore';\n      const match = fileName.match(/\\.([A-Za-z0-9]+)$/);\n      return match ? match[1].toLowerCase() : 'txt';\n    }\n    function getMimeType(filePath) {\n      const ext = getExtension(filePath);\n      const mimeByExtension = {\n        java: 'text/x-java-source',\n        xml: 'application/xml',\n        yaml: 'text/yaml',\n        yml: 'text/yaml',\n        json: 'application/json',\n        properties: 'text/plain',\n        md: 'text/markdown',\n        txt: 'text/plain',\n        sql: 'application/sql',\n        csv: 'text/csv',\n        gitignore: 'text/plain',\n      };\n      return mimeByExtension[ext] || 'text/plain';\n    }\n    function isIntentionallyEmptyFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      return lower.endsWith('/.gitkeep') || lower.endsWith('/.keep') || lower.endsWith('/.placeholder');\n    }\n    function normalizeContent(contentValue) {\n      if (typeof contentValue === 'string') {\n        return contentValue;\n      }\n      if (contentValue === null || contentValue === undefined) {\n        return '';\n      }\n      if (typeof contentValue === 'object') {\n        return JSON.stringify(contentValue, null, 2);\n      }\n      return String(contentValue);\n    }\n    function normalizeTestsPath(rawPath, testsRoot, rawDirectory) {\n      const normalizedRoot = String(testsRoot || 'tests').replace(/\\\\/g, '/').trim().replace(/\\/+$/, '') || 'tests';\n      const directory = String(rawDirectory ?? '').replace(/\\\\/g, '/').trim().replace(/^\\.\\//, '').replace(/\\/+$/, '');\n      const fileName = String(rawPath ?? '').replace(/\\\\/g, '/').trim().replace(/^\\.\\//, '');\n      const combined = [directory, fileName]\n        .filter(Boolean)\n        .join('/')\n        .replace(/\\/+/g, '/')\n        .replace(/^\\.\\//, '')\n        .replace(/\\/+/g, '/');\n      if (!combined) return '';\n      if (combined === normalizedRoot || combined === normalizedRoot + '.zip') return '';\n      if (combined.startsWith(normalizedRoot + '/')) return combined;\n      return normalizedRoot + '/' + combined.replace(/^\\/+/, '');\n    }\n    async function readBinaryText(propertyName, binaryEntry) {\n      try {\n        if (typeof this?.helpers?.getBinaryDataBuffer === 'function') {\n          const buffer = await this.helpers.getBinaryDataBuffer(0, propertyName);\n          if (buffer) return buffer.toString('utf8');\n        }\n      } catch {}\n      try {\n        const raw = String(binaryEntry?.data ?? '');\n        return raw && raw !== 'filesystem-v2' ? Buffer.from(raw, 'base64').toString('utf8') : '';\n      } catch {\n        return '';\n      }\n    }\n    async function collectGeneratedFilesFromBinary(binary, testsRoot) {\n      const byPath = new Map();\n      for (const [propertyName, entry] of Object.entries(binary || {})) {\n        if (!/^current_/i.test(propertyName)) continue;\n        const filePath = normalizeTestsPath(entry?.fileName, testsRoot, entry?.directory);\n        if (!filePath || filePath.endsWith('.zip')) continue;\n        byPath.set(filePath, { path: filePath, content: await readBinaryText.call(this, propertyName, entry) });\n      }\n      return Array.from(byPath.values()).sort((a, b) => a.path.localeCompare(b.path));\n    }\n    const item = $input.first();\n    if (!item) {\n      throw new Error('No tests generation state available for ZIP assembly.');\n    }\n    const json = item.json || {};\n    const testsRoot = String(json.testsRoot ?? 'tests').trim() || 'tests';\n    const remainingFiles = Array.isArray(json.remainingFiles) ? json.remainingFiles : [];\n    if (remainingFiles.length > 0) {\n      throw new Error('Cannot assemble tests ZIP while files are still remaining.');\n    }\n    const generatedFilesInput = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const generatedFiles = generatedFilesInput.length\n      ? generatedFilesInput\n      : await collectGeneratedFilesFromBinary.call(this, item.binary || {}, testsRoot);\n    if (!generatedFiles.length) {\n      throw new Error('No generated tests files available to assemble ZIP.');\n    }\n    const byPath = new Map();\n    for (const file of generatedFiles) {\n      const path = String(file?.path || '').trim();\n      if (!path) continue;\n      if (!byPath.has(path)) byPath.set(path, { path, content: file.content });\n    }\n    const binary = {};\n    const manifest = [];\n    Array.from(byPath.values()).forEach((file, index) => {\n      const filePath = String(file?.path || '').trim();\n      const content = normalizeContent(file?.content);\n      if (!filePath.startsWith('tests/')) {\n        throw new Error(`Generated tests file path must start with \"tests/\": ${filePath || '<empty>'}`);\n      }\n      // Empty files are allowed and must still be included in the assembled ZIP.\n      const key = `file_${index}`;\n      binary[key] = {\n        data: Buffer.from(content, 'utf8').toString('base64'),\n        mimeType: getMimeType(filePath),\n        fileExtension: getExtension(filePath),\n        fileName: filePath,\n      };\n      manifest.push({ path: filePath });\n    });\n    return [{\n      json: {\n        testsRoot: 'tests',\n        fileCount: manifest.length,\n        files: manifest,\n        zipBinaryFields: Object.keys(binary).join(','),\n      },\n      binary,\n    }];\n  }\nreturn beAssembleTestsZipInputs();\n"
      },
      "id": "cc3aa124-4b7b-4ea7-9326-6f4574b62d1a",
      "name": "TEST - Assemble Refined Tests Zip Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15600,
        4448
      ]
    },
    {
      "parameters": {
        "jsCode": "function beAssembleBackendZipInputs() {\n    function getExtension(filePath) {\n      const fileName = String(filePath || '').split('/').pop() || '';\n      if (fileName === 'pom.xml') return 'xml';\n      if (fileName === '.gitignore') return 'gitignore';\n      const match = fileName.match(/\\.([A-Za-z0-9]+)$/);\n      return match ? match[1].toLowerCase() : 'txt';\n    }\n    function getMimeType(filePath) {\n      const ext = getExtension(filePath);\n      const mimeByExtension = {\n        java: 'text/x-java-source',\n        xml: 'application/xml',\n        yaml: 'text/yaml',\n        yml: 'text/yaml',\n        json: 'application/json',\n        properties: 'text/plain',\n        md: 'text/markdown',\n        txt: 'text/plain',\n        sql: 'application/sql',\n        csv: 'text/csv',\n        gitignore: 'text/plain',\n      };\n      return mimeByExtension[ext] || 'text/plain';\n    }\n    function isIntentionallyEmptyFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      return lower.endsWith('/.gitkeep') || lower.endsWith('/.keep') || lower.endsWith('/.placeholder');\n    }\n    function normalizeContent(contentValue) {\n      if (typeof contentValue === 'string') {\n        return contentValue;\n      }\n      if (contentValue === null || contentValue === undefined) {\n        return '';\n      }\n      if (typeof contentValue === 'object') {\n        return JSON.stringify(contentValue, null, 2);\n      }\n      return String(contentValue);\n    }\n    const item = $input.first();\n    if (!item) {\n      throw new Error('No tests generation state available for ZIP assembly.');\n    }\n    const json = item.json || {};\n    const generatedFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const remainingFiles = Array.isArray(json.remainingFiles) ? json.remainingFiles : [];\n    if (remainingFiles.length > 0) {\n      throw new Error('Cannot assemble tests ZIP while files are still remaining.');\n    }\n    if (!generatedFiles.length) {\n      throw new Error('No generated tests files available to assemble ZIP.');\n    }\n    const binary = {};\n    const manifest = [];\n    generatedFiles.forEach((file, index) => {\n      const filePath = String(file?.path || '').trim();\n      const content = normalizeContent(file?.content);\n      if (!filePath.startsWith('tests/')) {\n        throw new Error(`Generated tests file path must start with \"tests/\": ${filePath || '<empty>'}`);\n      }\n      // Empty files are allowed and must still be included in the assembled ZIP.\n      const key = `file_${index}`;\n      binary[key] = {\n        data: Buffer.from(content, 'utf8').toString('base64'),\n        mimeType: getMimeType(filePath),\n        fileExtension: getExtension(filePath),\n        fileName: filePath,\n      };\n      manifest.push({ path: filePath });\n    });\n    return [{\n      json: {\n        testsRoot: 'tests',\n        fileCount: manifest.length,\n        files: manifest,\n        zipBinaryFields: Object.keys(binary).join(','),\n      },\n      binary,\n    }];\n  }\nreturn beAssembleBackendZipInputs();\n"
      },
      "id": "052d3691-31a2-45f3-9c42-a00febfbf142",
      "name": "TEST - Assemble Tests Zip Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13728,
        4912
      ]
    },
    {
      "parameters": {
        "jsCode": "function beBuildChunkPrompt() {\n  const MAX_MEMORY_ITEMS = 4;\n\n  function compactJson(value) {\n    return JSON.stringify(value);\n  }\n\n  function trimImplementationMemory(generatedImplementationIndex, recentImplementationSummaries) {\n    const seen = new Set();\n    const selected = [];\n\n    for (const collection of [recentImplementationSummaries || [], generatedImplementationIndex || []]) {\n      for (const entry of collection) {\n        if (!entry || typeof entry !== 'object') continue;\n        const path = String(entry.path || '').trim();\n        if (!path || seen.has(path)) continue;\n        seen.add(path);\n        selected.push(entry);\n        if (selected.length >= MAX_MEMORY_ITEMS) {\n          return selected;\n        }\n      }\n    }\n\n    return selected;\n  }\n\n  return $input.all().map((item) => {\n    const json = item.json || {};\n    const requirementsText = String(json.requirementsText || '').trim();\n    const openapiText = String(json.openapiText || '').trim();\n    if (!requirementsText) throw new Error('Missing requirements text for tests generation.');\n    if (!openapiText) throw new Error('Missing OpenAPI text for tests generation.');\n\n    const batchSize = Math.max(1, Number(json.batchSize || 15));\n    const currentBatchFiles = Array.isArray(json.currentBatchFiles) && json.currentBatchFiles.length\n      ? json.currentBatchFiles.slice(0, batchSize)\n      : (Array.isArray(json.remainingFiles) ? json.remainingFiles.slice(0, batchSize) : []);\n\n    if (!currentBatchFiles.length) {\n      throw new Error('No current batch files available for tests generation.');\n    }\n\n    const allPlannedFiles = Array.isArray(json.allPlannedFiles) && json.allPlannedFiles.length\n      ? json.allPlannedFiles\n      : currentBatchFiles;\n    const allPlannedPaths = allPlannedFiles\n      .map((file) => String(file?.path || '').trim())\n      .filter(Boolean);\n    const batchPaths = currentBatchFiles\n      .map((file) => String(file?.path || '').trim())\n      .filter(Boolean);\n\n    const implementationMemory = trimImplementationMemory(\n      Array.isArray(json.generatedImplementationIndex) ? json.generatedImplementationIndex : [],\n      Array.isArray(json.recentImplementationSummaries) ? json.recentImplementationSummaries : [],\n    );\n\n    const userPrompt = [\n      'REQ',\n      requirementsText,\n      'API',\n      openapiText,\n      'PLAN',\n      compactJson(allPlannedPaths),\n      'BATCH',\n      compactJson(batchPaths),\n      'STATE',\n      compactJson({\n        i: json.iteration,\n        g: json.generatedFileCountTotal,\n        r: json.remainingFileCount,\n        t: allPlannedPaths.length,\n        b: batchSize,\n        c: currentBatchFiles.length,\n      }),\n      implementationMemory.length ? 'MEMORY\\n' + compactJson(implementationMemory) : '',\n      'RULES',\n      [\n        'Generate only BATCH paths.',\n        'PLAN is the full allowed tests path set.',\n        'Do not reference types or files outside BATCH, MEMORY, or PLAN.',\n        'OpenAPI is absolute truth for paths, methods, params, bodies, fields, status codes, names, and security.',\n        'Do not add or rewrite API path prefixes.',\n        'Reuse existing naming and generated types consistently.',\n        'Return only valid JSON with a top-level files array.',\n      ].join('\\n'),\n    ].filter(Boolean).join('\\n');\n\n    return {\n      json: {\n        ...json,\n        batchSize,\n        allPlannedFiles,\n        currentBatchFiles,\n        currentBatchFileCount: currentBatchFiles.length,\n        userPrompt,\n        requirementsPromptLength: requirementsText.length,\n        openapiPromptLength: openapiText.length,\n        implementationMemoryLength: compactJson(implementationMemory).length,\n        fullPromptLength: userPrompt.length,\n      },\n      binary: item.binary ?? {},\n    };\n  });\n}\n\nreturn beBuildChunkPrompt();"
      },
      "id": "72adb573-66d3-42cf-8145-31f7bfae53d6",
      "name": "TEST - Build Chunk Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13024,
        4656
      ]
    },
    {
      "parameters": {
        "jsCode": "async function beBuildPrompt() {\n  const items = $input.all();\n  if (!items.length) {\n    throw new Error('Tests structure prompt builder received no input.');\n  }\n\n  async function readBinaryText(itemIndex, propertyName, fallbackFileName) {\n    const item = items[itemIndex];\n    const binary = item.binary?.[propertyName];\n    if (!binary) return null;\n\n    const buffer = await this.helpers.getBinaryDataBuffer(itemIndex, propertyName);\n    return {\n      fileName: binary.fileName || fallbackFileName,\n      text: buffer.toString('utf8'),\n    };\n  }\n\n  let requirements = null;\n  let openapi = null;\n\n  for (let itemIndex = 0; itemIndex < items.length; itemIndex += 1) {\n    if (!requirements) {\n      requirements = await readBinaryText.call(this, itemIndex, 'requirements', 'requirements-compact.txt');\n    }\n    if (!openapi) {\n      openapi = await readBinaryText.call(this, itemIndex, 'openapiSpec', 'openapi-compact.json');\n    }\n  }\n\n  if (!requirements) {\n    throw new Error('Missing compact requirements binary for tests structure generation.');\n  }\n  if (!openapi) {\n    throw new Error('Missing compact openapiSpec binary for tests structure generation.');\n  }\n\n  const requirementsText = String(requirements.text || '').trim();\n  const openapiText = String(openapi.text || '').trim();\n  if (!requirementsText) {\n    throw new Error('Requirements text is empty for tests structure generation.');\n  }\n  if (!openapiText) {\n    throw new Error('OpenAPI text is empty for tests structure generation.');\n  }\n\n  const userPrompt = [\n    'REQ',\n    requirementsText,\n    'API',\n    openapiText,\n  ].join('\\n');\n\n  return [{\n    json: {\n      requirementsFile: requirements.fileName,\n      requirementsText,\n      requirementsPromptLength: requirementsText.length,\n      openapiFile: openapi.fileName || 'openapi-compact.json',\n      openapiText,\n      openapiPromptLength: openapiText.length,\n      userPrompt,\n      fullPromptLength: userPrompt.length,\n    },\n    binary: items[0].binary ?? {},\n  }];\n}\n\nreturn await beBuildPrompt.call(this);\n"
      },
      "id": "50e63534-d675-4c46-9fd0-7b6c3e3f11dc",
      "name": "TEST - Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13136,
        4208
      ]
    },
    {
      "parameters": {
        "jsCode": "function testBuildRefinementChunkPrompt() {\n  const MAX_MEMORY_ITEMS = 6;\n  const ATTACHMENT_CHAR_LIMIT = 12000;\n  const ATTACHMENT_FILE_CHAR_LIMIT = 3000;\n  function compactJson(value) { return JSON.stringify(value); }\n  function normalizeFiles(value) {\n    const files = Array.isArray(value) ? value : [];\n    return files.map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') return { path: String(entry.path ?? '').trim() };\n      return { path: '' };\n    }).filter((entry) => entry.path);\n  }\n  function decodeText(binaryEntry) {\n    try {\n      const raw = String(binaryEntry?.data ?? '');\n      return raw ? Buffer.from(raw, 'base64').toString('utf8') : '';\n    } catch {\n      return '';\n    }\n  }\n  function looksTextLike(binaryEntry, key) {\n    const mime = String(binaryEntry?.mimeType ?? '').toLowerCase();\n    const extRaw = String(binaryEntry?.fileExtension ?? '').toLowerCase();\n    const ext = extRaw.startsWith('.') ? extRaw.slice(1) : extRaw;\n    const textExt = new Set(['txt','md','markdown','json','yaml','yml','csv','tsv','xml','html','htm','js','ts','py','java','sql','log','ini','cfg']);\n    if (mime.startsWith('text/')) return true;\n    if (mime.includes('json') || mime.includes('xml') || mime.includes('yaml')) return true;\n    if (textExt.has(ext)) return true;\n    const keyLower = String(key ?? '').toLowerCase();\n    return keyLower.endsWith('.txt') || keyLower.endsWith('.md') || keyLower.endsWith('.json');\n  }\n  function splitTokens(value) {\n    const text = String(value || '').replace(/([a-z0-9])([A-Z])/g, '$1 $2').replace(/[^A-Za-z0-9]+/g, ' ').toLowerCase();\n    return Array.from(new Set(text.split(/\\s+/).filter((token) => token.length > 1)));\n  }\n  function detectLanguage(filePath) {\n    const lower = String(filePath || '').toLowerCase();\n    if (lower.endsWith('.java')) return 'java';\n    if (lower.endsWith('.kt')) return 'kotlin';\n    if (lower.endsWith('.py')) return 'python';\n    if (lower.endsWith('.ts')) return 'typescript';\n    if (lower.endsWith('.tsx')) return 'tsx';\n    if (lower.endsWith('.js')) return 'javascript';\n    if (lower.endsWith('.jsx')) return 'jsx';\n    if (lower.endsWith('.cs')) return 'csharp';\n    if (lower.endsWith('.go')) return 'go';\n    if (lower.endsWith('.rb')) return 'ruby';\n    if (lower.endsWith('.php')) return 'php';\n    return 'other';\n  }\n  function isImplementationFile(filePath) {\n    const lower = String(filePath || '').toLowerCase();\n    if (!lower.startsWith('tests/')) return false;\n    if (lower.includes('/src/test/') || lower.includes('/tests/') || lower.includes('/test/')) return false;\n    if (lower.includes('/resources/') || lower.includes('/db/') || lower.includes('/docs/') || lower.includes('/helm/')) return false;\n    if (lower.endsWith('.md') || lower.endsWith('.txt') || lower.endsWith('.yaml') || lower.endsWith('.yml') || lower.endsWith('.xml') || lower.endsWith('.properties') || lower.endsWith('.sql') || lower.endsWith('.json') || lower.endsWith('.csv')) return false;\n    return new Set(['java', 'kotlin', 'python', 'typescript', 'tsx', 'javascript', 'jsx', 'csharp', 'go', 'ruby', 'php']).has(detectLanguage(filePath));\n  }\n\n  function summarizeFile(file) {\n    const filePath = String(file?.path || '').trim();\n    const content = String(file?.content || '');\n    const language = detectLanguage(filePath);\n    const imports = [];\n    for (const regex of [/^[ \\t]*import\\s+([^;\\n]+)[;\\n]?/gm, /^[ \\t]*using\\s+([^;\\n]+);/gm, /^[ \\t]*from\\s+([^\\n]+)\\s+import\\s+([^\\n]+)/gm, /^[ \\t]*require\\(['\"]([^'\"]+)['\"]\\)/gm]) {\n      let match;\n      while ((match = regex.exec(content)) !== null && imports.length < 20) imports.push(match.slice(1).filter(Boolean).join(' ').trim());\n      regex.lastIndex = 0;\n    }\n    const types = [];\n    let match;\n    const typeRegex = /^[ \\t]*(?:export\\s+)?(?:public\\s+|private\\s+|protected\\s+|internal\\s+)?(?:abstract\\s+|final\\s+|sealed\\s+)?(class|interface|enum|record|type|struct)\\s+([A-Za-z0-9_]+)/gm;\n    while ((match = typeRegex.exec(content)) !== null && types.length < 12) types.push({ kind: match[1], name: match[2] });\n    typeRegex.lastIndex = 0;\n    const functions = [];\n    const fnRegex = /^[ \\t]*(?:export\\s+)?(?:async\\s+)?(?:function|def|func|fn)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm;\n    while ((match = fnRegex.exec(content)) !== null && functions.length < 20) functions.push({ name: match[1], parameters: String(match[2] || '').trim() });\n    fnRegex.lastIndex = 0;\n    return { path: filePath, language, imports: Array.from(new Set(imports)).slice(0, 20), types, functions, lineCount: content ? content.replace(/\\r\\n/g, '\\n').split('\\n').length : 0 };\n  }\n  function getRole(path) {\n    const lower = String(path || '').toLowerCase();\n    for (const role of ['controller', 'service', 'repository', 'dto', 'mapper', 'entity', 'config', 'security']) {\n      if (lower.includes(role)) return role;\n    }\n    return 'other';\n  }\n  function sharedPrefixDepth(pathA, pathB) {\n    const a = String(pathA || '').split('/');\n    const b = String(pathB || '').split('/');\n    let depth = 0;\n    while (depth < a.length && depth < b.length && a[depth] === b[depth]) depth += 1;\n    return depth;\n  }\n  function scoreSummary(summary, batchItems) {\n    const summaryTokens = splitTokens(summary.path + ' ' + JSON.stringify(summary.types || []) + ' ' + JSON.stringify(summary.functions || []));\n    const summaryRole = getRole(summary.path);\n    let score = 0;\n    for (const batchItem of batchItems) {\n      const batchPath = String(batchItem.path || '').trim();\n      const overlap = splitTokens(batchPath).filter((token) => summaryTokens.includes(token)).length;\n      score += overlap * 2 + sharedPrefixDepth(summary.path, batchPath) * 3;\n      if (getRole(batchPath) === summaryRole && summaryRole !== 'other') score += 4;\n    }\n    return score;\n  }\n  function selectRelevantMemory(currentFiles, batchItems) {\n    const batchPaths = new Set(batchItems.map((item) => String(item.path || '').trim()));\n    return currentFiles\n      .filter((file) => isImplementationFile(file.path))\n      .filter((file) => !batchPaths.has(String(file.path || '').trim()))\n      .map(summarizeFile)\n      .map((summary) => ({ summary, score: scoreSummary(summary, batchItems) }))\n      .filter((entry) => entry.score > 0)\n      .sort((a, b) => b.score - a.score || a.summary.path.localeCompare(b.summary.path))\n      .slice(0, MAX_MEMORY_ITEMS)\n      .map((entry) => entry.summary);\n  }\n  return $input.all().map((item) => {\n    const json = item.json || {};\n    const binary = item.binary || {};\n    const reviewerFeedback = String(json.reviewerFeedback || json.feedback || '').trim() || 'Reviewer requested tests changes without additional details.';\n    const batchSize = Math.max(1, Number(json.batchSize || 4));\n    const currentBatchFiles = Array.isArray(json.currentBatchFiles) && json.currentBatchFiles.length ? json.currentBatchFiles.slice(0, batchSize) : (Array.isArray(json.remainingFiles) ? json.remainingFiles.slice(0, batchSize) : []);\n    if (!currentBatchFiles.length) throw new Error('No current refinement batch files available for tests refinement.');\n    const currentFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const currentFileMap = new Map(currentFiles.map((file) => [String(file.path || '').trim(), String(file.content ?? '')]));\n    const batchPayload = currentBatchFiles.map((entry) => {\n      const path = String(entry.path || '').trim();\n      const action = String(entry.action || 'modify').trim().toLowerCase();\n      const payload = { path, action };\n      if (action === 'modify' && currentFileMap.has(path)) payload.currentContent = currentFileMap.get(path);\n      return payload;\n    });\n    const attachmentBlocks = [];\n    let totalChars = 0;\n    for (const [key, entry] of Object.entries(binary).filter(([name]) => /^attachments?(?:_|$)/i.test(String(name)))) {\n      if (totalChars >= ATTACHMENT_CHAR_LIMIT || !looksTextLike(entry, key)) continue;\n      const text = decodeText(entry).trim();\n      if (!text) continue;\n      const take = Math.min(ATTACHMENT_FILE_CHAR_LIMIT, ATTACHMENT_CHAR_LIMIT - totalChars);\n      attachmentBlocks.push(`Attachment: ${String(entry.fileName || key)}\\n---\\n${text.slice(0, take)}`);\n      totalChars += Math.min(text.length, take);\n    }\n    const memory = selectRelevantMemory(currentFiles, currentBatchFiles);\n    const currentPlanPaths = normalizeFiles(json.currentPlanFiles).map((file) => file.path);\n    const userPrompt = [\n      'FEEDBACK', reviewerFeedback,\n      attachmentBlocks.length ? 'ATTACHMENTS\\n' + attachmentBlocks.join('\\n\\n') : '',\n      'CURRENT_PLAN', compactJson(currentPlanPaths),\n      'BATCH', compactJson(batchPayload),\n      memory.length ? 'MEMORY\\n' + compactJson(memory) : '',\n      'RULES', [\n        'Generate only the files listed in BATCH with action create or modify.',\n        'Do not output files whose action is remove.',\n        'For modify actions, return the complete updated file content.',\n        'For create actions, return the complete new file content.',\n        'Keep changes tightly aligned with FEEDBACK and ATTACHMENTS.',\n        'Preserve tests consistency with the existing package.',\n        'Return only valid JSON with a top-level files array.',\n      ].join('\\n'),\n    ].filter(Boolean).join('\\n');\n    return { json: { ...json, currentBatchFiles, currentBatchFileCount: currentBatchFiles.length, allPlannedFiles: currentPlanPaths.map((path) => ({ path })), allowedOutputFiles: currentBatchFiles.map((entry) => ({ path: String(entry.path || '').trim() })), userPrompt, fullPromptLength: userPrompt.length, refinementMemoryLength: compactJson(memory).length }, binary };\n  });\n}\n\nreturn testBuildRefinementChunkPrompt();"
      },
      "id": "382f3303-3535-4b18-8b4a-60d2aef6aee2",
      "name": "TEST - Build Refinement Chunk Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14928,
        4176
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\n\nfunction getNodeItemsSafe(nodeName) {\n  if (typeof $items !== 'function') return [];\n  try {\n    return $items(nodeName) || [];\n  } catch (error) {\n    const message = String(error?.message ?? error ?? '');\n    if (message.includes(\"hasn't been executed\") || message.includes('not executed')) {\n      return [];\n    }\n    return [];\n  }\n}\n\nfunction looksTextLike(binaryEntry, key) {\n  const mime = String(binaryEntry?.mimeType ?? '').toLowerCase();\n  const extRaw = String(binaryEntry?.fileExtension ?? '').toLowerCase();\n  const ext = extRaw.startsWith('.') ? extRaw.slice(1) : extRaw;\n  const textExt = new Set(['txt','md','markdown','json','yaml','yml','csv','tsv','xml','html','htm','js','ts','py','java','sql','log','ini','cfg']);\n  if (mime.startsWith('text/')) return true;\n  if (mime.includes('json') || mime.includes('xml') || mime.includes('yaml')) return true;\n  if (textExt.has(ext)) return true;\n  const keyLower = String(key ?? '').toLowerCase();\n  return keyLower.endsWith('.txt') || keyLower.endsWith('.md') || keyLower.endsWith('.json');\n}\n\nfunction decodeText(binaryEntry) {\n  try {\n    const raw = String(binaryEntry?.data ?? '');\n    if (!raw) return '';\n    return Buffer.from(raw, 'base64').toString('utf8');\n  } catch {\n    return '';\n  }\n}\n\nfunction normalizeFiles(value) {\n  const files = Array.isArray(value) ? value : [];\n  return files\n    .map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') {\n        return { path: String(entry.path ?? '').trim() };\n      }\n      return { path: '' };\n    })\n    .filter((entry) => entry.path);\n}\n\nfunction normalizeStructureObject(value) {\n  if (!value || typeof value !== 'object' || Array.isArray(value)) return null;\n  const files = normalizeFiles(value.files);\n  if (!files.length) return null;\n  return { files };\n}\n\nfunction parseStructureText(text) {\n  const raw = String(text ?? '').trim();\n  if (!raw) return null;\n  try {\n    return normalizeStructureObject(JSON.parse(raw));\n  } catch {\n    return null;\n  }\n}\n\nfunction stringifyStructureObject(value) {\n  try {\n    return JSON.stringify(value);\n  } catch {\n    return '';\n  }\n}\n\nconst previousPlanItems = getNodeItemsSafe('TEST - Clean Refinement Response');\nconst previousPlanJson = previousPlanItems[0]?.json ?? {};\n\nconst mergedJson = { ...previousPlanJson, ...(item.json ?? {}) };\nconst mergedBinary = { ...(item.binary ?? {}) };\n\nconst reviewerFeedback = [\n  mergedJson.feedback,\n  mergedJson.Feedback,\n].map((value) => String(value ?? '').trim()).find((value) => value.length > 0)\n  || 'Reviewer requested tests changes without additional details.';\n\nconst currentFilesCandidates = [\n  normalizeFiles(mergedJson.files),\n  normalizeFiles(mergedJson.currentFiles),\n  normalizeFiles(mergedJson.firstIterationFiles),\n  normalizeFiles(mergedJson.plannedFiles),\n];\nconst currentFiles = currentFilesCandidates.find((files) => files.length > 0) || [];\nif (!currentFiles.length) {\n  throw new Error('Current tests file structure is missing for refinement planning.');\n}\n\nconst structureObject =\n  normalizeStructureObject(mergedJson.testsStructureObject) ||\n  normalizeStructureObject(mergedJson.structurePlanObject) ||\n  parseStructureText(mergedJson.testsStructure) ||\n  parseStructureText(mergedJson.structurePlan) ||\n  parseStructureText(decodeText(mergedBinary.testsStructure)) ||\n  normalizeStructureObject({ files: normalizeFiles(mergedJson.plannedFiles) }) ||\n  normalizeStructureObject({ files: currentFiles });\n\nif (!structureObject) {\n  throw new Error('Tests structure plan from the refinement context is missing.');\n}\n\nconst structureText = [\n  String(mergedJson.testsStructure ?? '').trim(),\n  String(mergedJson.structurePlan ?? '').trim(),\n  decodeText(mergedBinary.testsStructure).trim(),\n  stringifyStructureObject(structureObject),\n].find((value) => String(value ?? '').trim().length > 0) || '';\n\nif (!structureText) {\n  throw new Error('Tests structure plan from the refinement context is not valid JSON.');\n}\n\nconst plannedFilesResolved = normalizeFiles(structureObject.files);\nif (!plannedFilesResolved.length) {\n  throw new Error('Tests structure plan from the refinement context does not contain any files.');\n}\n\nconst firstIterationFiles = normalizeFiles(mergedJson.firstIterationFiles);\nconst previousPlanFiles = Array.isArray(previousPlanJson.files) ? previousPlanJson.files : [];\n\nconst attachmentEntries = Object.entries(mergedBinary)\n  .filter(([key]) => /^attachments?(?:_|$)/i.test(String(key)));\n\nconst attachmentSummaries = [];\nconst attachmentTextBlocks = [];\nlet totalTextChars = 0;\nconst maxTotalChars = 16000;\nconst maxPerFileChars = 4000;\n\nfor (const [key, bin] of attachmentEntries) {\n  const fileName = String(bin?.fileName ?? key);\n  const mimeType = String(bin?.mimeType ?? 'application/octet-stream');\n  const fileSize = Number(bin?.fileSize ?? 0);\n  attachmentSummaries.push({ key, fileName, mimeType, fileSize });\n  if (!looksTextLike(bin, key) || totalTextChars >= maxTotalChars) continue;\n  const text = decodeText(bin).trim();\n  if (!text) continue;\n  const remaining = maxTotalChars - totalTextChars;\n  const take = Math.min(maxPerFileChars, remaining);\n  const excerpt = text.slice(0, take);\n  attachmentTextBlocks.push(`Attachment: ${fileName} (${mimeType})\\n---\\n${excerpt}`);\n  totalTextChars += excerpt.length;\n}\n\nconst attachmentSummaryText = attachmentSummaries.length\n  ? attachmentSummaries.map((a, i) => `${i + 1}) ${a.fileName} | mime=${a.mimeType} | size=${a.fileSize}`).join('\\n')\n  : '[No attachments provided.]';\n\nconst attachmentExtractedText = attachmentTextBlocks.length\n  ? attachmentTextBlocks.join('\\n\\n')\n  : '[No text could be extracted from attachments automatically.]';\n\nconst patchPrompt = [\n  'Feedback:',\n  reviewerFeedback,\n  '',\n  'Attachment metadata:',\n  attachmentSummaryText,\n  '',\n  'Extracted attachment text:',\n  attachmentExtractedText,\n  '',\n  'Current tests package files:',\n  JSON.stringify(currentFiles),\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    reviewerFeedback,\n    revisionNumber: Math.max(0, Math.trunc(Number(mergedJson.revisionNumber ?? 0) || 0)) + 1,\n    currentFiles,\n    plannedFiles: plannedFilesResolved,\n    firstIterationFiles,\n    previousPlanFiles,\n    attachmentCount: attachmentSummaries.length,\n    attachmentSummaries,\n    patchPrompt,\n    testsStructure: structureText,\n    testsStructureObject: structureObject,\n  },\n  ...(mergedBinary && Object.keys(mergedBinary).length > 0 ? { binary: mergedBinary } : {}),\n}];"
      },
      "id": "7cd2840d-5f3c-4130-9a4c-9928ac5d418a",
      "name": "TEST - Build Refinement Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14352,
        3856
      ]
    },
    {
      "parameters": {
        "jsCode": "function beCleanChunkResponse() {\n    function parseCandidate(raw) {\n      try {\n        const parsed = JSON.parse(raw);\n        if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n          return parsed;\n        }\n      } catch {}\n      return null;\n    }\n\n    function normalizeText(raw) {\n      let text = String(raw ?? '').trim();\n      if (!text) {\n        throw new Error('Tests chunk model output is empty.');\n      }\n\n      if (text.startsWith('```')) {\n        const firstNewlineIndex = text.indexOf('\\n');\n        if (firstNewlineIndex !== -1) {\n          const openingFence = text.slice(0, firstNewlineIndex).trim();\n          if (/^\\`\\`\\`(?:json)?$/i.test(openingFence)) {\n            text = text.slice(firstNewlineIndex + 1);\n            const trailingFenceIndex = text.lastIndexOf('\\n\\`\\`\\`');\n            if (trailingFenceIndex !== -1 && text.slice(trailingFenceIndex).trim() === '```') {\n              text = text.slice(0, trailingFenceIndex).trim();\n            } else if (text.endsWith('```')) {\n              text = text.slice(0, -3).trim();\n            } else {\n              text = text.trim();\n            }\n          }\n        }\n      }\n\n      return text;\n    }\n\n    function extractBalancedObject(text) {\n      let depth = 0;\n      let start = -1;\n      let inString = false;\n      let escaped = false;\n\n      for (let index = 0; index < text.length; index += 1) {\n        const char = text[index];\n\n        if (escaped) {\n          escaped = false;\n          continue;\n        }\n\n        if (char === '\\\\') {\n          if (inString) escaped = true;\n          continue;\n        }\n\n        if (char === '\"') {\n          inString = !inString;\n          continue;\n        }\n\n        if (inString) continue;\n\n        if (char === '{') {\n          if (depth === 0) start = index;\n          depth += 1;\n          continue;\n        }\n\n        if (char === '}') {\n          if (depth > 0) {\n            depth -= 1;\n            if (depth === 0 && start !== -1) {\n              return text.slice(start, index + 1);\n            }\n          }\n        }\n      }\n\n      return null;\n    }\n\n    function isQuoteEscaped(text, quoteIndex) {\n      let backslashCount = 0;\n      for (let index = quoteIndex - 1; index >= 0 && text[index] === '\\\\'; index -= 1) {\n        backslashCount += 1;\n      }\n      return backslashCount % 2 === 1;\n    }\n\n    function findPropertyKey(text, key, fromIndex) {\n      const pattern = '\"' + key + '\"';\n      return text.indexOf(pattern, fromIndex);\n    }\n\n    function findValueStart(text, keyIndex) {\n      const colonIndex = text.indexOf(':', keyIndex);\n      if (colonIndex === -1) return -1;\n      for (let index = colonIndex + 1; index < text.length; index += 1) {\n        if (/\\s/.test(text[index])) continue;\n        return index;\n      }\n      return -1;\n    }\n\n    function decodeLooseJsonString(raw) {\n      let output = '';\n\n      for (let index = 0; index < raw.length; index += 1) {\n        const char = raw[index];\n        if (char !== '\\\\') {\n          output += char;\n          continue;\n        }\n\n        const next = raw[index + 1];\n        if (next === undefined) {\n          output += '\\\\';\n          break;\n        }\n\n        if (next === 'n') {\n          output += '\\n';\n          index += 1;\n          continue;\n        }\n        if (next === 'r') {\n          output += '\\r';\n          index += 1;\n          continue;\n        }\n        if (next === 't') {\n          output += '\\t';\n          index += 1;\n          continue;\n        }\n        if (next === 'b') {\n          output += '\\b';\n          index += 1;\n          continue;\n        }\n        if (next === 'f') {\n          output += '\\f';\n          index += 1;\n          continue;\n        }\n        if (next === '\"' || next === '\\\\' || next === '/') {\n          output += next;\n          index += 1;\n          continue;\n        }\n        if (next === 'u' && /^[0-9a-fA-F]{4}$/.test(raw.slice(index + 2, index + 6))) {\n          output += String.fromCharCode(parseInt(raw.slice(index + 2, index + 6), 16));\n          index += 5;\n          continue;\n        }\n\n        output += '\\\\' + next;\n        index += 1;\n      }\n\n      return output;\n    }\n\n    function readStrictQuotedString(text, quoteStart) {\n      for (let index = quoteStart + 1; index < text.length; index += 1) {\n        if (text[index] === '\"' && !isQuoteEscaped(text, index)) {\n          return {\n            value: decodeLooseJsonString(text.slice(quoteStart + 1, index)),\n            endIndex: index,\n          };\n        }\n      }\n      throw new Error('Could not find closing quote for JSON string.');\n    }\n\n    function readStructuredJsonValue(text, valueStart) {\n      const openingChar = text[valueStart];\n      const closingChar = openingChar === '{' ? '}' : ']';\n      const stack = [closingChar];\n      let inString = false;\n      let escaped = false;\n\n      for (let index = valueStart + 1; index < text.length; index += 1) {\n        const char = text[index];\n\n        if (escaped) {\n          escaped = false;\n          continue;\n        }\n\n        if (char === '\\\\') {\n          if (inString) escaped = true;\n          continue;\n        }\n\n        if (char === '\"') {\n          inString = !inString;\n          continue;\n        }\n\n        if (inString) continue;\n\n        if (char === '{') {\n          stack.push('}');\n          continue;\n        }\n        if (char === '[') {\n          stack.push(']');\n          continue;\n        }\n\n        if (char === stack[stack.length - 1]) {\n          stack.pop();\n          if (!stack.length) {\n            const rawValue = text.slice(valueStart, index + 1);\n            return {\n              value: JSON.parse(rawValue),\n              endIndex: index,\n            };\n          }\n        }\n      }\n\n      throw new Error('Could not find the end of generated file content JSON value.');\n    }\n\n    function readPrimitiveJsonValue(text, valueStart) {\n      let endIndex = valueStart;\n      while (endIndex < text.length && !/[\\s,\\}\\]]/.test(text[endIndex])) {\n        endIndex += 1;\n      }\n\n      const rawValue = text.slice(valueStart, endIndex).trim();\n      if (!rawValue) {\n        throw new Error('Generated file content JSON value is empty.');\n      }\n\n      return {\n        value: JSON.parse(rawValue),\n        endIndex: endIndex - 1,\n      };\n    }\n\n    function readLooseJsonValue(text, valueStart) {\n      if (valueStart < 0 || valueStart >= text.length) {\n        throw new Error('Could not find content value in generated file object.');\n      }\n\n      const firstChar = text[valueStart];\n      if (firstChar === '\"') {\n        return readStrictQuotedString(text, valueStart);\n      }\n      if (firstChar === '{' || firstChar === '[') {\n        return readStructuredJsonValue(text, valueStart);\n      }\n\n      return readPrimitiveJsonValue(text, valueStart);\n    }\n\n    function canRecoverTruncatedTextFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      return lower.endsWith('.md') || lower.endsWith('.txt');\n    }\n\n    function decodeLooseJsonTail(raw) {\n      let tail = String(raw || '');\n      if (tail.endsWith('```')) {\n        tail = tail.slice(0, -3);\n      }\n      return decodeLooseJsonString(tail).trimEnd();\n    }\n\n    function isLikelyIncompletePayloadError(error) {\n      const message = String(error?.message ?? error ?? '');\n      return (\n        message.includes('Could not find closing quote') ||\n        message.includes('Could not find the end of generated file content JSON value') ||\n        message.includes('did not end after content field') ||\n        message.includes('files array was not closed') ||\n        message.includes('ended before files array closed') ||\n        message.includes('Could not find content value')\n      );\n    }\n\n    function parseLooseFilesPayload(text, allowPartial = false) {\n      const filesKeyIndex = findPropertyKey(text, 'files', 0);\n      if (filesKeyIndex === -1) {\n        throw new Error('Chunk payload does not contain a files property.');\n      }\n\n      const arrayStart = text.indexOf('[', filesKeyIndex);\n      if (arrayStart === -1) {\n        throw new Error('Chunk payload files property does not contain an array.');\n      }\n\n      const files = [];\n      let cursor = arrayStart + 1;\n\n      while (cursor < text.length) {\n        while (cursor < text.length && /[\\s,]/.test(text[cursor])) cursor += 1;\n        if (cursor >= text.length) {\n          if (allowPartial) {\n            return {\n              files,\n              recoveredPartialChunkPayload: true,\n              ignoredIncompleteTrailingFile: true,\n              recoveryReason: files.length\n                ? 'Chunk payload ended before files array closed.'\n                : 'Ignored incomplete trailing generated file because the model output ended before the payload closed.',\n            };\n          }\n          break;\n        }\n        if (text[cursor] === ']') {\n          return { files };\n        }\n        if (text[cursor] !== '{') {\n          cursor += 1;\n          continue;\n        }\n\n        let pathInfo = null;\n        let contentValueStart = -1;\n\n        try {\n          const objectStart = cursor;\n          const pathKeyIndex = findPropertyKey(text, 'path', objectStart);\n          if (pathKeyIndex === -1) {\n            throw new Error('Could not find path property in generated file object.');\n          }\n          const pathQuoteStart = findValueStart(text, pathKeyIndex);\n          if (pathQuoteStart === -1 || text[pathQuoteStart] !== '\"') {\n            throw new Error('Could not find path string value in generated file object.');\n          }\n          pathInfo = readStrictQuotedString(text, pathQuoteStart);\n\n          const contentKeyIndex = findPropertyKey(text, 'content', pathInfo.endIndex);\n          if (contentKeyIndex === -1) {\n            throw new Error('Could not find content property in generated file object.');\n          }\n          contentValueStart = findValueStart(text, contentKeyIndex);\n          const contentInfo = readLooseJsonValue(text, contentValueStart);\n\n          let objectEnd = contentInfo.endIndex + 1;\n          while (objectEnd < text.length && /\\s/.test(text[objectEnd])) objectEnd += 1;\n          if (text[objectEnd] !== '}') {\n            throw new Error('Generated file object did not end after content field.');\n          }\n\n          files.push({\n            path: pathInfo.value,\n            content: contentInfo.value,\n          });\n\n          cursor = objectEnd + 1;\n        } catch (error) {\n          if (allowPartial && pathInfo && contentValueStart !== -1 && text[contentValueStart] === '\"' && canRecoverTruncatedTextFile(pathInfo.value)) {\n            const recoveredContent = decodeLooseJsonTail(text.slice(contentValueStart + 1));\n            if (recoveredContent.trim()) {\n              files.push({\n                path: pathInfo.value,\n                content: recoveredContent,\n              });\n              return {\n                files,\n                recoveredPartialChunkPayload: true,\n                recoveryReason: 'Recovered truncated text file content for ' + pathInfo.value,\n              };\n            }\n          }\n          if (allowPartial && (files.length || isLikelyIncompletePayloadError(error))) {\n            return {\n              files,\n              recoveredPartialChunkPayload: true,\n              ignoredIncompleteTrailingFile: true,\n              recoveryReason: files.length\n                ? String(error?.message ?? error ?? 'Partial chunk payload recovered.')\n                : 'Ignored incomplete trailing generated file because the model output ended before the file was complete.',\n            };\n          }\n          throw error;\n        }\n      }\n\n      if (allowPartial) {\n        return {\n          files,\n          recoveredPartialChunkPayload: true,\n          ignoredIncompleteTrailingFile: true,\n          recoveryReason: files.length\n            ? 'Chunk payload files array was not closed.'\n            : 'Ignored incomplete trailing generated file because the files array was not closed.',\n        };\n      }\n\n      throw new Error('Chunk payload files array was not closed.');\n    }\n\n    function extractPayload(rawText) {\n      const text = normalizeText(rawText);\n      const candidates = [text];\n      const balancedObject = extractBalancedObject(text);\n      if (balancedObject) {\n        candidates.push(balancedObject);\n      }\n\n      for (const candidate of candidates) {\n        const parsed = parseCandidate(candidate);\n        if (parsed) return parsed;\n      }\n\n      for (const candidate of candidates) {\n        try {\n          const parsed = parseLooseFilesPayload(candidate, false);\n          if (parsed && Array.isArray(parsed.files)) {\n            return parsed;\n          }\n        } catch {}\n      }\n\n      for (const candidate of candidates) {\n        try {\n          const parsed = parseLooseFilesPayload(candidate, true);\n          if (parsed && Array.isArray(parsed.files)) {\n            return parsed;\n          }\n        } catch {}\n      }\n\n      throw new Error('Could not extract a valid tests chunk JSON payload from model output.');\n    }\n\n    function getNodeItemsSafe(nodeName) {\n      if (typeof $items !== 'function') return [];\n      try {\n        return $items(nodeName) || [];\n      } catch (error) {\n        const message = String(error?.message ?? error ?? '');\n        if (message.includes(\"hasn't been executed\") || message.includes('not executed')) {\n          return [];\n        }\n        throw error;\n      }\n    }\n\n    function normalizeGeneratedContent(filePath, contentValue) {\n      if (typeof contentValue === 'string') {\n        return contentValue;\n      }\n      if (contentValue === null || contentValue === undefined) {\n        return '';\n      }\n      if (typeof contentValue === 'object') {\n        return JSON.stringify(contentValue, null, 2);\n      }\n      return String(contentValue);\n    }\n\n    const buildPromptItems = getNodeItemsSafe('TEST - Build Chunk Prompt');\n\n    return $input.all().map((item) => {\n      const upstreamJson = buildPromptItems[0]?.json || {};\n      const json = {\n        ...upstreamJson,\n        ...(item.json || {}),\n      };\n      const payload = extractPayload(json.text);\n      const currentBatchFiles = Array.isArray(json.currentBatchFiles) && json.currentBatchFiles.length\n        ? json.currentBatchFiles\n        : (Array.isArray(json.remainingFiles) ? json.remainingFiles.slice(0, Number(json.batchSize || 15)) : []);\n      const currentBatchPaths = new Set(currentBatchFiles.map((file) => String(file.path || '').trim()).filter(Boolean));\n      const plannedFiles = Array.isArray(json.allPlannedFiles) && json.allPlannedFiles.length\n        ? json.allPlannedFiles\n        : (Array.isArray(json.testsStructure) ? json.testsStructure : (Array.isArray(json.backendStructure) ? json.backendStructure : []));\n      const allowedPaths = new Set(plannedFiles.map((file) => String(file.path || '').trim()).filter(Boolean));\n      const generatedOutsideCurrentBatch = [];\n      const ignoredUnplannedGeneratedFiles = [];\n      const ignoredDuplicateGeneratedFiles = [];\n\n      if (!Array.isArray(payload.files)) {\n        throw new Error('Chunk payload must include a files array.');\n      }\n\n      const seen = new Set();\n      const normalizedFiles = [];\n      for (let index = 0; index < payload.files.length; index += 1) {\n        const file = payload.files[index];\n        if (!file || typeof file !== 'object' || Array.isArray(file)) {\n          throw new Error('Generated file entry at index ' + index + ' must be an object.');\n        }\n\n        const filePath = String(file.path || '').trim();\n        const content = normalizeGeneratedContent(filePath, file.content);\n        if (!filePath.startsWith('tests/')) {\n          throw new Error('Generated invalid file path: ' + (filePath || '<empty>'));\n        }\n        if (!allowedPaths.has(filePath)) {\n          ignoredUnplannedGeneratedFiles.push(filePath);\n          continue;\n        }\n        if (!currentBatchPaths.has(filePath)) {\n          generatedOutsideCurrentBatch.push(filePath);\n        }\n        if (seen.has(filePath)) {\n          ignoredDuplicateGeneratedFiles.push(filePath);\n          continue;\n        }\n\n        seen.add(filePath);\n        normalizedFiles.push({\n          path: filePath,\n          content,\n        });\n      }\n\n      return {\n        json: {\n          ...json,\n          recoveredPartialChunkPayload: payload.recoveredPartialChunkPayload === true,\n          partialChunkRecoveryReason: payload.recoveryReason || '',\n          ignoredIncompleteTrailingFile: payload.ignoredIncompleteTrailingFile === true,\n          generatedFilesThisIteration: normalizedFiles,\n          generatedFileCountThisIteration: normalizedFiles.length,\n          generatedFilesOutsideCurrentBatch: generatedOutsideCurrentBatch,\n          generatedFilesOutsideCurrentBatchCount: generatedOutsideCurrentBatch.length,\n          ignoredUnplannedGeneratedFiles,\n          ignoredUnplannedGeneratedFileCount: ignoredUnplannedGeneratedFiles.length,\n          ignoredDuplicateGeneratedFiles,\n          ignoredDuplicateGeneratedFileCount: ignoredDuplicateGeneratedFiles.length,\n        },\n        binary: item.binary ?? {},\n      };\n    });\n  }\nreturn beCleanChunkResponse();\n"
      },
      "id": "c5394786-a116-45a3-a07c-db251488d4d9",
      "name": "TEST - Clean Chunk Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13632,
        4656
      ]
    },
    {
      "parameters": {
        "jsCode": "function testCleanChunkResponse() {\n    function parseCandidate(raw) {\n      try {\n        const parsed = JSON.parse(raw);\n        if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n          return parsed;\n        }\n      } catch {}\n      return null;\n    }\n\n    function normalizeText(raw) {\n      let text = String(raw ?? '').trim();\n      if (!text) {\n        throw new Error('Tests chunk model output is empty.');\n      }\n\n      if (text.startsWith('```')) {\n        const firstNewlineIndex = text.indexOf('\\n');\n        if (firstNewlineIndex !== -1) {\n          const openingFence = text.slice(0, firstNewlineIndex).trim();\n          if (/^\\`\\`\\`(?:json)?$/i.test(openingFence)) {\n            text = text.slice(firstNewlineIndex + 1);\n            const trailingFenceIndex = text.lastIndexOf('\\n\\`\\`\\`');\n            if (trailingFenceIndex !== -1 && text.slice(trailingFenceIndex).trim() === '```') {\n              text = text.slice(0, trailingFenceIndex).trim();\n            } else if (text.endsWith('```')) {\n              text = text.slice(0, -3).trim();\n            } else {\n              text = text.trim();\n            }\n          }\n        }\n      }\n\n      return text;\n    }\n\n    function extractBalancedObject(text) {\n      let depth = 0;\n      let start = -1;\n      let inString = false;\n      let escaped = false;\n\n      for (let index = 0; index < text.length; index += 1) {\n        const char = text[index];\n\n        if (escaped) {\n          escaped = false;\n          continue;\n        }\n\n        if (char === '\\\\') {\n          if (inString) escaped = true;\n          continue;\n        }\n\n        if (char === '\"') {\n          inString = !inString;\n          continue;\n        }\n\n        if (inString) continue;\n\n        if (char === '{') {\n          if (depth === 0) start = index;\n          depth += 1;\n          continue;\n        }\n\n        if (char === '}') {\n          if (depth > 0) {\n            depth -= 1;\n            if (depth === 0 && start !== -1) {\n              return text.slice(start, index + 1);\n            }\n          }\n        }\n      }\n\n      return null;\n    }\n\n    function isQuoteEscaped(text, quoteIndex) {\n      let backslashCount = 0;\n      for (let index = quoteIndex - 1; index >= 0 && text[index] === '\\\\'; index -= 1) {\n        backslashCount += 1;\n      }\n      return backslashCount % 2 === 1;\n    }\n\n    function findPropertyKey(text, key, fromIndex) {\n      const pattern = '\"' + key + '\"';\n      return text.indexOf(pattern, fromIndex);\n    }\n\n    function findValueStart(text, keyIndex) {\n      const colonIndex = text.indexOf(':', keyIndex);\n      if (colonIndex === -1) return -1;\n      for (let index = colonIndex + 1; index < text.length; index += 1) {\n        if (/\\s/.test(text[index])) continue;\n        return index;\n      }\n      return -1;\n    }\n\n    function decodeLooseJsonString(raw) {\n      let output = '';\n\n      for (let index = 0; index < raw.length; index += 1) {\n        const char = raw[index];\n        if (char !== '\\\\') {\n          output += char;\n          continue;\n        }\n\n        const next = raw[index + 1];\n        if (next === undefined) {\n          output += '\\\\';\n          break;\n        }\n\n        if (next === 'n') {\n          output += '\\n';\n          index += 1;\n          continue;\n        }\n        if (next === 'r') {\n          output += '\\r';\n          index += 1;\n          continue;\n        }\n        if (next === 't') {\n          output += '\\t';\n          index += 1;\n          continue;\n        }\n        if (next === 'b') {\n          output += '\\b';\n          index += 1;\n          continue;\n        }\n        if (next === 'f') {\n          output += '\\f';\n          index += 1;\n          continue;\n        }\n        if (next === '\"' || next === '\\\\' || next === '/') {\n          output += next;\n          index += 1;\n          continue;\n        }\n        if (next === 'u' && /^[0-9a-fA-F]{4}$/.test(raw.slice(index + 2, index + 6))) {\n          output += String.fromCharCode(parseInt(raw.slice(index + 2, index + 6), 16));\n          index += 5;\n          continue;\n        }\n\n        output += '\\\\' + next;\n        index += 1;\n      }\n\n      return output;\n    }\n\n    function readStrictQuotedString(text, quoteStart) {\n      for (let index = quoteStart + 1; index < text.length; index += 1) {\n        if (text[index] === '\"' && !isQuoteEscaped(text, index)) {\n          return {\n            value: decodeLooseJsonString(text.slice(quoteStart + 1, index)),\n            endIndex: index,\n          };\n        }\n      }\n      throw new Error('Could not find closing quote for JSON string.');\n    }\n\n    function readStructuredJsonValue(text, valueStart) {\n      const openingChar = text[valueStart];\n      const closingChar = openingChar === '{' ? '}' : ']';\n      const stack = [closingChar];\n      let inString = false;\n      let escaped = false;\n\n      for (let index = valueStart + 1; index < text.length; index += 1) {\n        const char = text[index];\n\n        if (escaped) {\n          escaped = false;\n          continue;\n        }\n\n        if (char === '\\\\') {\n          if (inString) escaped = true;\n          continue;\n        }\n\n        if (char === '\"') {\n          inString = !inString;\n          continue;\n        }\n\n        if (inString) continue;\n\n        if (char === '{') {\n          stack.push('}');\n          continue;\n        }\n        if (char === '[') {\n          stack.push(']');\n          continue;\n        }\n\n        if (char === stack[stack.length - 1]) {\n          stack.pop();\n          if (!stack.length) {\n            const rawValue = text.slice(valueStart, index + 1);\n            return {\n              value: JSON.parse(rawValue),\n              endIndex: index,\n            };\n          }\n        }\n      }\n\n      throw new Error('Could not find the end of generated file content JSON value.');\n    }\n\n    function readPrimitiveJsonValue(text, valueStart) {\n      let endIndex = valueStart;\n      while (endIndex < text.length && !/[\\s,\\}\\]]/.test(text[endIndex])) {\n        endIndex += 1;\n      }\n\n      const rawValue = text.slice(valueStart, endIndex).trim();\n      if (!rawValue) {\n        throw new Error('Generated file content JSON value is empty.');\n      }\n\n      return {\n        value: JSON.parse(rawValue),\n        endIndex: endIndex - 1,\n      };\n    }\n\n    function readLooseJsonValue(text, valueStart) {\n      if (valueStart < 0 || valueStart >= text.length) {\n        throw new Error('Could not find content value in generated file object.');\n      }\n\n      const firstChar = text[valueStart];\n      if (firstChar === '\"') {\n        return readStrictQuotedString(text, valueStart);\n      }\n      if (firstChar === '{' || firstChar === '[') {\n        return readStructuredJsonValue(text, valueStart);\n      }\n\n      return readPrimitiveJsonValue(text, valueStart);\n    }\n\n    function canRecoverTruncatedTextFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      return lower.endsWith('.md') || lower.endsWith('.txt');\n    }\n\n    function decodeLooseJsonTail(raw) {\n      let tail = String(raw || '');\n      if (tail.endsWith('```')) {\n        tail = tail.slice(0, -3);\n      }\n      return decodeLooseJsonString(tail).trimEnd();\n    }\n\n    function isLikelyIncompletePayloadError(error) {\n      const message = String(error?.message ?? error ?? '');\n      return (\n        message.includes('Could not find closing quote') ||\n        message.includes('Could not find the end of generated file content JSON value') ||\n        message.includes('did not end after content field') ||\n        message.includes('files array was not closed') ||\n        message.includes('ended before files array closed') ||\n        message.includes('Could not find content value')\n      );\n    }\n\n    function parseLooseFilesPayload(text, allowPartial = false) {\n      const filesKeyIndex = findPropertyKey(text, 'files', 0);\n      if (filesKeyIndex === -1) {\n        throw new Error('Chunk payload does not contain a files property.');\n      }\n\n      const arrayStart = text.indexOf('[', filesKeyIndex);\n      if (arrayStart === -1) {\n        throw new Error('Chunk payload files property does not contain an array.');\n      }\n\n      const files = [];\n      let cursor = arrayStart + 1;\n\n      while (cursor < text.length) {\n        while (cursor < text.length && /[\\s,]/.test(text[cursor])) cursor += 1;\n        if (cursor >= text.length) {\n          if (allowPartial) {\n            return {\n              files,\n              recoveredPartialChunkPayload: true,\n              ignoredIncompleteTrailingFile: true,\n              recoveryReason: files.length\n                ? 'Chunk payload ended before files array closed.'\n                : 'Ignored incomplete trailing generated file because the model output ended before the payload closed.',\n            };\n          }\n          break;\n        }\n        if (text[cursor] === ']') {\n          return { files };\n        }\n        if (text[cursor] !== '{') {\n          cursor += 1;\n          continue;\n        }\n\n        let pathInfo = null;\n        let contentValueStart = -1;\n\n        try {\n          const objectStart = cursor;\n          const pathKeyIndex = findPropertyKey(text, 'path', objectStart);\n          if (pathKeyIndex === -1) {\n            throw new Error('Could not find path property in generated file object.');\n          }\n          const pathQuoteStart = findValueStart(text, pathKeyIndex);\n          if (pathQuoteStart === -1 || text[pathQuoteStart] !== '\"') {\n            throw new Error('Could not find path string value in generated file object.');\n          }\n          pathInfo = readStrictQuotedString(text, pathQuoteStart);\n\n          const contentKeyIndex = findPropertyKey(text, 'content', pathInfo.endIndex);\n          if (contentKeyIndex === -1) {\n            throw new Error('Could not find content property in generated file object.');\n          }\n          contentValueStart = findValueStart(text, contentKeyIndex);\n          const contentInfo = readLooseJsonValue(text, contentValueStart);\n\n          let objectEnd = contentInfo.endIndex + 1;\n          while (objectEnd < text.length && /\\s/.test(text[objectEnd])) objectEnd += 1;\n          if (text[objectEnd] !== '}') {\n            throw new Error('Generated file object did not end after content field.');\n          }\n\n          files.push({\n            path: pathInfo.value,\n            content: contentInfo.value,\n          });\n\n          cursor = objectEnd + 1;\n        } catch (error) {\n          if (allowPartial && pathInfo && contentValueStart !== -1 && text[contentValueStart] === '\"' && canRecoverTruncatedTextFile(pathInfo.value)) {\n            const recoveredContent = decodeLooseJsonTail(text.slice(contentValueStart + 1));\n            if (recoveredContent.trim()) {\n              files.push({\n                path: pathInfo.value,\n                content: recoveredContent,\n              });\n              return {\n                files,\n                recoveredPartialChunkPayload: true,\n                recoveryReason: 'Recovered truncated text file content for ' + pathInfo.value,\n              };\n            }\n          }\n          if (allowPartial && (files.length || isLikelyIncompletePayloadError(error))) {\n            return {\n              files,\n              recoveredPartialChunkPayload: true,\n              ignoredIncompleteTrailingFile: true,\n              recoveryReason: files.length\n                ? String(error?.message ?? error ?? 'Partial chunk payload recovered.')\n                : 'Ignored incomplete trailing generated file because the model output ended before the file was complete.',\n            };\n          }\n          throw error;\n        }\n      }\n\n      if (allowPartial) {\n        return {\n          files,\n          recoveredPartialChunkPayload: true,\n          ignoredIncompleteTrailingFile: true,\n          recoveryReason: files.length\n            ? 'Chunk payload files array was not closed.'\n            : 'Ignored incomplete trailing generated file because the files array was not closed.',\n        };\n      }\n\n      throw new Error('Chunk payload files array was not closed.');\n    }\n\n    function extractPayload(rawText) {\n      const text = normalizeText(rawText);\n      const candidates = [text];\n      const balancedObject = extractBalancedObject(text);\n      if (balancedObject) {\n        candidates.push(balancedObject);\n      }\n\n      for (const candidate of candidates) {\n        const parsed = parseCandidate(candidate);\n        if (parsed) return parsed;\n      }\n\n      for (const candidate of candidates) {\n        try {\n          const parsed = parseLooseFilesPayload(candidate, false);\n          if (parsed && Array.isArray(parsed.files)) {\n            return parsed;\n          }\n        } catch {}\n      }\n\n      for (const candidate of candidates) {\n        try {\n          const parsed = parseLooseFilesPayload(candidate, true);\n          if (parsed && Array.isArray(parsed.files)) {\n            return parsed;\n          }\n        } catch {}\n      }\n\n      throw new Error('Could not extract a valid tests chunk JSON payload from model output.');\n    }\n\n    function getNodeItemsSafe(nodeName) {\n      if (typeof $items !== 'function') return [];\n      try {\n        return $items(nodeName) || [];\n      } catch (error) {\n        const message = String(error?.message ?? error ?? '');\n        if (message.includes(\"hasn't been executed\") || message.includes('not executed')) {\n          return [];\n        }\n        throw error;\n      }\n    }\n\n    function normalizeGeneratedContent(filePath, contentValue) {\n      if (typeof contentValue === 'string') {\n        return contentValue;\n      }\n      if (contentValue === null || contentValue === undefined) {\n        return '';\n      }\n      if (typeof contentValue === 'object') {\n        return JSON.stringify(contentValue, null, 2);\n      }\n      return String(contentValue);\n    }\n\n    const buildPromptItems = getNodeItemsSafe('TEST - Build Refinement Chunk Prompt');\n\n    return $input.all().map((item) => {\n      const upstreamJson = buildPromptItems[0]?.json || {};\n      const json = {\n        ...upstreamJson,\n        ...(item.json || {}),\n      };\n      const payload = extractPayload(json.text);\n      const currentBatchFiles = Array.isArray(json.currentBatchFiles) && json.currentBatchFiles.length\n        ? json.currentBatchFiles\n        : (Array.isArray(json.remainingFiles) ? json.remainingFiles.slice(0, Number(json.batchSize || 15)) : []);\n      const currentBatchPaths = new Set(currentBatchFiles.map((file) => String(file.path || '').trim()).filter(Boolean));\n      const plannedFiles = Array.isArray(json.allPlannedFiles) && json.allPlannedFiles.length\n        ? json.allPlannedFiles\n        : [];\n      const allowedOutputFiles = Array.isArray(json.allowedOutputFiles) && json.allowedOutputFiles.length\n        ? json.allowedOutputFiles\n        : currentBatchFiles;\n      const allowedPaths = new Set(allowedOutputFiles.map((file) => String(file.path || '').trim()).filter(Boolean));\n      const generatedOutsideCurrentBatch = [];\n      const ignoredUnplannedGeneratedFiles = [];\n      const ignoredDuplicateGeneratedFiles = [];\n\n      if (!Array.isArray(payload.files)) {\n        throw new Error('Chunk payload must include a files array.');\n      }\n\n      const seen = new Set();\n      const normalizedFiles = [];\n      for (let index = 0; index < payload.files.length; index += 1) {\n        const file = payload.files[index];\n        if (!file || typeof file !== 'object' || Array.isArray(file)) {\n          throw new Error('Generated file entry at index ' + index + ' must be an object.');\n        }\n\n        const filePath = String(file.path || '').trim();\n        const content = normalizeGeneratedContent(filePath, file.content);\n        if (!filePath.startsWith('tests/')) {\n          throw new Error('Generated invalid file path: ' + (filePath || '<empty>'));\n        }\n        if (!allowedPaths.has(filePath)) {\n          ignoredUnplannedGeneratedFiles.push(filePath);\n          continue;\n        }\n        if (!currentBatchPaths.has(filePath)) {\n          generatedOutsideCurrentBatch.push(filePath);\n        }\n        if (seen.has(filePath)) {\n          ignoredDuplicateGeneratedFiles.push(filePath);\n          continue;\n        }\n\n        seen.add(filePath);\n        normalizedFiles.push({\n          path: filePath,\n          content,\n        });\n      }\n\n      return {\n        json: {\n          ...json,\n          recoveredPartialChunkPayload: payload.recoveredPartialChunkPayload === true,\n          partialChunkRecoveryReason: payload.recoveryReason || '',\n          ignoredIncompleteTrailingFile: payload.ignoredIncompleteTrailingFile === true,\n          generatedFilesThisIteration: normalizedFiles,\n          generatedFileCountThisIteration: normalizedFiles.length,\n          generatedFilesOutsideCurrentBatch: generatedOutsideCurrentBatch,\n          generatedFilesOutsideCurrentBatchCount: generatedOutsideCurrentBatch.length,\n          ignoredUnplannedGeneratedFiles,\n          ignoredUnplannedGeneratedFileCount: ignoredUnplannedGeneratedFiles.length,\n          ignoredDuplicateGeneratedFiles,\n          ignoredDuplicateGeneratedFileCount: ignoredDuplicateGeneratedFiles.length,\n        },\n        binary: item.binary ?? {},\n      };\n    });\n  }\nreturn testCleanChunkResponse();\n"
      },
      "id": "5e90ec2f-7246-43bc-90a9-84004b1fe72f",
      "name": "TEST - Clean Refinement Chunk Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15472,
        4176
      ]
    },
    {
      "parameters": {
        "jsCode": "function decodeEscapedText(text) {\n  let value = String(text ?? '');\n  for (let i = 0; i < 2; i += 1) {\n    const trimmed = value.trim();\n    if (!trimmed) return trimmed;\n    if ((trimmed.startsWith('\"') && trimmed.endsWith('\"')) || (trimmed.startsWith(\"'\") && trimmed.endsWith(\"'\"))) {\n      try {\n        const parsed = JSON.parse(trimmed.startsWith(\"'\") ? `\"${trimmed.slice(1, -1).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')}\"` : trimmed);\n        if (typeof parsed === 'string') {\n          value = parsed;\n          continue;\n        }\n      } catch {}\n    }\n    if (trimmed.includes('\\\\n') || trimmed.includes('\\\\\"') || trimmed.includes('\\\\t') || trimmed.includes('\\\\r')) {\n      value = trimmed\n        .replace(/\\\\r\\\\n/g, '\\n')\n        .replace(/\\\\n/g, '\\n')\n        .replace(/\\\\r/g, '\\r')\n        .replace(/\\\\t/g, '\\t')\n        .replace(/\\\\\"/g, '\"')\n        .replace(/\\\\\\\\/g, '\\\\');\n      continue;\n    }\n    break;\n  }\n  return value;\n}\n\nfunction normalizeText(raw) {\n  let text = String(raw ?? '').trim();\n  if (!text) {\n    throw new Error('Tests refinement plan model output is empty.');\n  }\n  text = decodeEscapedText(text).trim();\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced) {\n    text = decodeEscapedText(fenced[1]).trim();\n  }\n  return text;\n}\n\nfunction parseJsonCandidates(text) {\n  const normalized = normalizeText(text);\n  const candidates = [normalized];\n  const objectStart = normalized.indexOf('{');\n  const objectEnd = normalized.lastIndexOf('}');\n  if (objectStart >= 0 && objectEnd > objectStart) {\n    candidates.push(normalized.slice(objectStart, objectEnd + 1));\n  }\n  const arrayStart = normalized.indexOf('[');\n  const arrayEnd = normalized.lastIndexOf(']');\n  if (arrayStart >= 0 && arrayEnd > arrayStart) {\n    candidates.push(normalized.slice(arrayStart, arrayEnd + 1));\n  }\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n  return null;\n}\n\nfunction normalizeAction(value) {\n  const action = String(value ?? '').trim().toLowerCase();\n  if (!action) return '';\n  if (['modify', 'modified', 'update', 'updated', 'change', 'changed', 'edit', 'edited', 'patch', 'replace'].includes(action)) {\n    return 'modify';\n  }\n  if (['create', 'created', 'add', 'added', 'new', 'insert'].includes(action)) {\n    return 'create';\n  }\n  if (['remove', 'removed', 'delete', 'deleted', 'drop'].includes(action)) {\n    return 'remove';\n  }\n  return '';\n}\n\nfunction extractEntriesFromObjectMap(payload) {\n  if (!payload || typeof payload !== 'object' || Array.isArray(payload)) return [];\n  const entries = [];\n  for (const [key, value] of Object.entries(payload)) {\n    const path = String(key ?? '').trim();\n    if (!path.startsWith('tests/')) continue;\n    if (typeof value === 'string') {\n      const action = normalizeAction(value);\n      if (action) entries.push({ path, action });\n      continue;\n    }\n    if (value && typeof value === 'object') {\n      const action = normalizeAction(value.action ?? value.type ?? value.operation ?? value.op);\n      if (action) entries.push({ path, action });\n    }\n  }\n  return entries;\n}\n\nfunction extractRegexEntries(text) {\n  const normalized = normalizeText(text);\n  const results = [];\n  const pattern = /\"path\"\\s*:\\s*\"([^\"]+)\"[\\s,;\\r\\n]*\"action\"\\s*:\\s*\"([^\"]+)\"/gi;\n  for (const match of normalized.matchAll(pattern)) {\n    results.push({ path: match[1], action: match[2] });\n  }\n  return results;\n}\n\nfunction collectRawFiles(payload, originalText) {\n  if (Array.isArray(payload)) return payload;\n  if (Array.isArray(payload?.files)) return payload.files;\n  if (Array.isArray(payload?.changes)) return payload.changes;\n  if (Array.isArray(payload?.items)) return payload.items;\n  if (Array.isArray(payload?.actions)) return payload.actions;\n  const objectMapEntries = extractEntriesFromObjectMap(payload);\n  if (objectMapEntries.length) return objectMapEntries;\n  const regexEntries = extractRegexEntries(originalText);\n  if (regexEntries.length) return regexEntries;\n  return [];\n}\n\nfunction normalizePlan(payload, originalText) {\n  const rawFiles = collectRawFiles(payload, originalText);\n  const seen = new Set();\n  const files = [];\n  for (const entry of rawFiles) {\n    if (!entry || typeof entry !== 'object') continue;\n    const path = String(entry.path ?? entry.file ?? entry.filePath ?? '').trim();\n    const action = normalizeAction(entry.action ?? entry.type ?? entry.operation ?? entry.op);\n    if (!path || !path.startsWith('tests/')) continue;\n    if (!action) continue;\n    if (seen.has(path)) continue;\n    seen.add(path);\n    files.push({ path, action });\n  }\n  if (!files.length) {\n    throw new Error('Tests refinement plan did not contain any valid file actions.');\n  }\n  return { files };\n}\n\nconst item = $input.first();\nconst json = item?.json ?? {};\nconst rawText = json.text;\nconst payload = parseJsonCandidates(rawText) ?? rawText;\nconst plan = normalizePlan(payload, rawText);\n\nreturn [{\n  json: {\n    ...json,\n    ...plan,\n    refinementPlanFiles: plan.files,\n    fileCount: plan.files.length,\n    revisionNumber: Number(json.revisionNumber ?? 0) || 0,\n    plannedFiles: json.plannedFiles ?? [],\n    firstIterationFiles: json.firstIterationFiles ?? [],\n    currentFiles: json.currentFiles ?? [],\n    previousPlanFiles: json.previousPlanFiles ?? [],\n    testsStructure: json.testsStructure ?? json.structurePlan ?? '',\n    testsStructureObject: json.testsStructureObject ?? json.structurePlanObject ?? null,\n    structurePlan: json.structurePlan ?? json.testsStructure ?? '',\n    structurePlanObject: json.structurePlanObject ?? json.testsStructureObject ?? null,\n  },\n  ...(item?.binary && Object.keys(item.binary).length > 0 ? { binary: item.binary } : {}),\n}];"
      },
      "id": "fcd0f259-eb6f-4295-a5d7-09c707e70cc8",
      "name": "TEST - Clean Refinement Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14928,
        3856
      ]
    },
    {
      "parameters": {
        "jsCode": "function beCleanStructure() {\n  function parseJsonCandidate(raw) {\n    try {\n      const parsed = JSON.parse(raw);\n      if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n        return parsed;\n      }\n    } catch {}\n    return null;\n  }\n\n  function normalizeText(raw) {\n    let text = String(raw ?? '').trim();\n    if (!text) {\n      throw new Error('Tests structure model output is empty.');\n    }\n\n    if (text.startsWith('```')) {\n      const firstNewlineIndex = text.indexOf('\\n');\n      if (firstNewlineIndex !== -1) {\n        const openingFence = text.slice(0, firstNewlineIndex).trim();\n        if (/^```(?:json)?$/i.test(openingFence)) {\n          text = text.slice(firstNewlineIndex + 1);\n\n          const trailingFenceIndex = text.lastIndexOf('\\n```');\n          if (trailingFenceIndex !== -1 && text.slice(trailingFenceIndex).trim() === '```') {\n            text = text.slice(0, trailingFenceIndex).trim();\n          } else if (text.endsWith('```')) {\n            text = text.slice(0, -3).trim();\n          } else {\n            text = text.trim();\n          }\n        }\n      }\n    }\n\n    return text;\n  }\n\n  function extractBalancedObject(text) {\n    let depth = 0;\n    let start = -1;\n    let inString = false;\n    let escaped = false;\n\n    for (let index = 0; index < text.length; index += 1) {\n      const char = text[index];\n\n      if (escaped) {\n        escaped = false;\n        continue;\n      }\n\n      if (char === '\\\\') {\n        if (inString) escaped = true;\n        continue;\n      }\n\n      if (char === '\"') {\n        inString = !inString;\n        continue;\n      }\n\n      if (inString) continue;\n\n      if (char === '{') {\n        if (depth === 0) start = index;\n        depth += 1;\n        continue;\n      }\n\n      if (char === '}') {\n        if (depth > 0) {\n          depth -= 1;\n          if (depth === 0 && start !== -1) {\n            return text.slice(start, index + 1);\n          }\n        }\n      }\n    }\n\n    return null;\n  }\n\n  function extractStructure(rawText) {\n    const text = normalizeText(rawText);\n    const candidates = [text];\n    const balancedObject = extractBalancedObject(text);\n    if (balancedObject) {\n      candidates.push(balancedObject);\n    }\n\n    for (const candidate of candidates) {\n      const parsed = parseJsonCandidate(candidate);\n      if (parsed) return parsed;\n    }\n\n    throw new Error('Could not extract a valid tests structure JSON document from model output.');\n  }\n\n  function normalizeFileEntry(file, index) {\n    if (typeof file === 'string') {\n      const path = file.trim();\n      if (!path) {\n        throw new Error(`files[${index}] must not be empty.`);\n      }\n      return { path };\n    }\n\n    if (!file || typeof file !== 'object' || Array.isArray(file)) {\n      throw new Error(`files[${index}] must be a string path or an object with path.`);\n    }\n\n    const filePath = String(file.path || '').trim();\n    if (!filePath) {\n      throw new Error(`files[${index}].path is required.`);\n    }\n\n    return { path: filePath };\n  }\n\n  function validateAndNormalizeStructure(payload) {\n    if (!payload || typeof payload !== 'object' || Array.isArray(payload)) {\n      throw new Error('Tests structure must be an object.');\n    }\n    if (!Array.isArray(payload.files)) {\n      throw new Error('Tests structure must contain a files array.');\n    }\n    if (!payload.files.length) {\n      throw new Error('Tests structure files array must not be empty.');\n    }\n\n    const seen = new Set();\n    const normalizedFiles = payload.files.map((file, index) => {\n      const normalized = normalizeFileEntry(file, index);\n      const filePath = normalized.path;\n      if (!filePath.startsWith('tests/')) {\n        throw new Error(`files[${index}].path must start with \"tests/\".`);\n      }\n      if (seen.has(filePath)) {\n        throw new Error(`Duplicate tests structure file path: ${filePath}`);\n      }\n      seen.add(filePath);\n      return normalized;\n    });\n\n    return { files: normalizedFiles };\n  }\n\n  const item = $input.first();\n  const structure = validateAndNormalizeStructure(extractStructure(item?.json?.text));\n\n  return [{\n    json: {\n      ...(item?.json ?? {}),\n      testsStructure: JSON.stringify(structure, null, 2),\n      testsStructureObject: structure,\n      structureFileCount: structure.files.length,\n    },\n    binary: item?.binary ?? {},\n  }];\n}\nreturn beCleanStructure();"
      },
      "id": "dedf4ad9-5abe-4fe6-b6b9-303b810f07f6",
      "name": "TEST - Clean Structure Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13680,
        4208
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Se3rPyRTvgimNBXz",
          "mode": "list",
          "cachedResultUrl": "/workflow/Se3rPyRTvgimNBXz",
          "cachedResultName": "Subworkflow - Create Link"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "id": "archiveData",
              "displayName": "archiveData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveMimeType",
              "displayName": "archiveMimeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveFileName",
              "displayName": "archiveFileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "revisionNumber",
              "displayName": "revisionNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveId",
              "displayName": "archiveId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveBinaryProperty",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "archiveBinaryProperty",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            }
          ],
          "value": {
            "revisionNumber": "={{ $json.revisionNumber }}",
            "archiveMimeType": "={{ $binary.testsZip ? $binary.testsZip.mimeType : \"application/zip\" }}",
            "archiveFileName": "={{ $binary.testsZip ? $binary.testsZip.fileName : \"tests.zip\" }}",
            "response": "={{ $json.response }}",
            "archiveData": "={{ $binary.testsZip ? ($binary.testsZip.data || ($binary.testsZip.id ? \"filesystem-v2\" : \"\")) : \"\" }}",
            "archiveId": "={{ $binary.testsZip ? ($binary.testsZip.id || \"\") : \"\" }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        14576,
        4848
      ],
      "id": "44117a1d-b143-4ae1-9ca8-41841a7d1dba",
      "name": "TEST - Create Zip Link"
    },
    {
      "parameters": {
        "binaryPropertyName": "testsZip",
        "outputPrefix": "current_"
      },
      "id": "f1b67989-b712-4f41-a913-6f1ea821c21d",
      "name": "TEST - Extract Refinement Tests Zip",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        14144,
        4432
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "------------------------------------------------\nROLE\n------------------------------------------------\n\nYou generate end-to-end testing code for the current batch only.\n\nYou operate inside a strict black-box test generation pipeline.\n\n------------------------------------------------\nINPUTS\n------------------------------------------------\n\nYou will receive:\n\n- FULL REQUIREMENTS\n- COMPACT OPENAPI JSON\n- PLAN ? complete list of allowed tests file paths\n- BATCH ? files that must be generated in this execution\n- MEMORY ? summaries of recently generated implementation files\n\nRequirements and OpenAPI are the authoritative sources of expected behavior.\nTests must validate externally observable behavior only.\n\n------------------------------------------------\nBATCH GENERATION RULES\n------------------------------------------------\n\n- Generate ONLY the files listed in BATCH\n- Generate EXACTLY the files listed in BATCH and no other files\n- If another planned file seems useful but is not in BATCH, do NOT generate it in this execution\n- Never generate files outside BATCH\n- Never reference files outside BATCH, MEMORY, or PLAN\n- Assume other files will be generated in other batches\n- Use MEMORY only to keep consistency across already-generated test files\n\n------------------------------------------------\nTEST AUTOMATION RULES\n------------------------------------------------\n\n- Generate tests code only\n- Do NOT modify backend, frontend, or infrastructure\n- Root everything inside tests/\n- Use a modern browser automation framework suitable for CI\n- Use headless-friendly execution\n- Use reliable waiting mechanisms\n- Avoid arbitrary sleep and timeout calls unless strictly unavoidable\n- Use stable selectors and resilient locators\n- Use BASE_URL and credentials from environment variables\n- Do not hardcode secrets\n- Use one worker only\n- Generate unique identifiers for test data when needed\n- Respect business invariants during cleanup\n- Do not rely on internal implementation details\n- Validate role-based behavior only when supported by requirements\n- Keep README commands accurate and runnable\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\n\nReturn ONLY valid JSON.\n\nFormat:\n\n{\n  \"files\": [\n    {\n      \"path\": \"tests/...\",\n      \"content\": \"...\"\n    }\n  ]\n}\n\nRules:\n\n- Do not return markdown outside file content\n- Do not include explanations\n- Do not include comments outside file content\n- Always fill the content field for each generated file\n- If generating .md or .txt files, keep them concise and strictly necessary\n- VERY IMPORTANT: Keep a maxmimum of 8000 tokens per file. One single file CANNOT HAVE MORE THAN 8000 TOKENS"
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 0
        }
      },
      "id": "0d2e6ec9-814b-4df2-9f08-70a6cb95e3a7",
      "name": "TEST - Generate Chunk",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        13296,
        4656
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 10000,
          "temperature": 0.1
        }
      },
      "id": "364734b7-fad0-4188-b922-82454207ca40",
      "name": "TEST - Generate Chunk Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        13248,
        4800
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "------------------------------------------------\nROLE\n------------------------------------------------\n\nYou generate refined tests code for an existing tests project.\n\nYou operate inside a controlled refinement loop of an automated tests generation pipeline.\n\nYour task is to update the implementation of specific tests files according to human feedback.\n\n------------------------------------------------\nMISSION\n------------------------------------------------\n\nRefine the tests implementation.\n\nYou must update only the files explicitly provided to you.\n\nYour goal is to improve the code so that it satisfies the user feedback while preserving the existing architecture and API contracts.\n\n------------------------------------------------\nINPUTS\n------------------------------------------------\n\nYou will receive:\n\n- CURRENT_IMPLEMENTATION ? content of existing tests files\n- TARGET_FILES ? list of file paths that must be updated\n- USER_FEEDBACK ? human feedback describing the required changes\n\nThe CURRENT_IMPLEMENTATION represents the current state of the tests codebase.\n\nTARGET_FILES defines which files you are allowed to modify.\n\n------------------------------------------------\nSTRICT FILE SCOPE\n------------------------------------------------\n\nYou MUST follow these rules strictly:\n\n- Modify ONLY files listed in TARGET_FILES\n- NEVER create new files\n- NEVER delete files\n- NEVER modify files outside TARGET_FILES\n\nIf the feedback suggests changes to other files, you must ignore them.\n\n------------------------------------------------\nARCHITECTURE (MANDATORY)\n------------------------------------------------\n\nThe tests follows a strict layered MVC architecture.\n\nLayers:\n\ndomain ? entities  \nrepository ? data access  \nservice ? business logic  \nservice.dto ? DTOs  \nservice.mapper ? entity ? DTO mapping  \nweb.rest ? REST controllers  \nconfig ? configuration and security\n\nRules:\n\nControllers\n- Controllers must remain thin\n- Controllers must only orchestrate requests\n\nServices\n- Services contain business logic\n\nRepositories\n- Repositories handle persistence only\n\nDTOs\n- DTOs must be used at API boundaries\n\nEntities\n- Entities must never be exposed directly in controllers\n\n------------------------------------------------\nAPI CONTRACT RULE\n------------------------------------------------\n\nYou must preserve the existing API contract.\n\nNever change:\n\n- endpoint paths\n- HTTP methods\n- request schemas\n- response schemas\n- field names\n- identifier types\n\nControllers must remain compatible with the existing API.\n\n------------------------------------------------\nREFINEMENT RULES\n------------------------------------------------\n\nWhen applying the feedback:\n\n- improve correctness\n- fix architectural violations\n- align with tests best practices\n- preserve existing behavior unless explicitly requested to change it\n\nAvoid unnecessary refactoring.\n\nOnly change what is required to satisfy the feedback.\n\n------------------------------------------------\nIMPLEMENTATION QUALITY\n------------------------------------------------\n\nThe refined implementation must:\n\n- compile logically\n- respect the layered architecture\n- avoid duplicated logic\n- maintain clear separation of concerns\n- follow typical Spring Boot tests conventions\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\n\nReturn ONLY valid JSON.\n\nStructure:\n\n{\n  \"files\": [\n    {\n      \"path\": \"tests/...\",\n      \"content\": \"complete file content\"\n    }\n  ]\n}\n\nRules:\n\n- Do NOT include explanations\n- Do NOT include comments outside file content\n- Always return the FULL content of each modified file\n- Never return partial file snippets\n- Do not include files that were not modified\n- Do not include duplicate paths\n- Do not output anything outside the JSON object\n\n------------------------------------------------\nTOKEN SAFETY\n------------------------------------------------\n\nKeep each file under 8000 tokens.\n\nIf a file would exceed this limit, keep the implementation concise and avoid unnecessary verbosity."
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 0
        }
      },
      "id": "c922538f-9b57-48eb-97e8-6f44d190aa35",
      "name": "TEST - Generate Refinement Chunk",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        15152,
        4176
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 10000,
          "temperature": 0.1
        }
      },
      "id": "65f436e9-7a6b-4686-aead-f1ff3676aff6",
      "name": "TEST - Generate Refinement Chunk Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        15056,
        4336
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 4000,
          "temperature": 0.1
        }
      },
      "id": "1640b4c8-9392-4134-b38c-af6a76525cf1",
      "name": "TEST - Generate Refinement Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        14496,
        4016
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.patchPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "------------------------------------------------\nROLE\n------------------------------------------------\n\nYou are a Senior Tests Architect operating inside a refinement loop of an automated tests generation pipeline.\n\nYour task is to refine an existing tests project structure based on human feedback.\n\nYou do NOT generate code.\nYou do NOT generate file contents.\n\nYou ONLY produce structural patch instructions.\n\n------------------------------------------------\nMISSION\n------------------------------------------------\n\nAnalyze the existing tests structure and the user feedback.\n\nYour goal is to produce the minimal set of structural operations required to improve the project structure.\n\nThese operations describe which files must be:\n\n- created\n- modified\n- removed\n\n------------------------------------------------\nINPUTS\n------------------------------------------------\n\nYou will receive:\n\nCURRENT_STRUCTURE ? list of existing tests file paths\n\nUSER_FEEDBACK ? textual feedback describing problems or requested changes\n\nThe CURRENT_STRUCTURE represents the full set of tests files currently present in the project.\n\n------------------------------------------------\nBACKEND ARCHITECTURE\n------------------------------------------------\n\nThe tests follows a strict layered MVC architecture.\n\nLayers:\n\ndomain ? entities  \nrepository ? data access  \nservice ? business logic  \nservice.dto ? DTOs  \nservice.mapper ? entity ? DTO mapping  \nweb.rest ? REST controllers  \nconfig ? security and infrastructure configuration\n\nRules:\n\n- Controllers MUST remain under web.rest\n- Repositories MUST remain under repository\n- DTOs MUST remain under service.dto\n- Mappers MUST remain under service.mapper\n- Entities MUST remain under domain\n\n------------------------------------------------\nREFINEMENT RULES\n------------------------------------------------\n\nYou must follow these rules strictly:\n\n1. Only reference files that belong to the tests project.\n2. Only propose changes that directly address the user feedback or clear structural issues.\n3. Do NOT invent unnecessary files.\n4. Do NOT duplicate existing paths.\n5. Prefer the minimal set of changes required to address the feedback.\n\n------------------------------------------------\nPATCH OPERATIONS\n------------------------------------------------\n\nYou may use ONLY the following operations:\n\ncreate  \nmodify  \nremove\n\nDefinitions:\n\ncreate  \n? a new file must be added to the project structure.\n\nmodify  \n? an existing file remains in the structure but its implementation must be updated.\n\nremove  \n? an existing file must be removed from the project.\n\nConstraints:\n\n- NEVER mark a file as modify if it does not exist in CURRENT_STRUCTURE\n- NEVER mark a file as remove if it does not exist\n- NEVER mark a file as create if it already exists\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\n\nReturn ONLY valid JSON.\n\nStructure:\n\n{\n  \"changes\": [\n    {\n      \"path\": \"tests/.../File.ext\",\n      \"action\": \"create\"\n    },\n    {\n      \"path\": \"tests/.../File.ext\",\n      \"action\": \"modify\"\n    },\n    {\n      \"path\": \"tests/.../File.ext\",\n      \"action\": \"remove\"\n    }\n  ]\n}\n\nRules:\n\n- Do NOT include explanations\n- Do NOT include comments\n- Do NOT include additional fields\n- Do NOT output anything outside the JSON object\n- Paths MUST reference files, not directories\n- Paths MUST include filename and extension\n- Do not repeat the same path twice"
            }
          ]
        },
        "batching": {}
      },
      "id": "cb816565-c211-4d14-97fe-885379e87829",
      "name": "TEST - Generate Refinement Structure",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        14592,
        3856
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a senior QA / Test Automation architect designing the structural skeleton of an end-to-end testing module.\n\nThis step defines the authoritative tests file universe.\nIf a necessary file is missing here, it will never be generated later.\n\n------------------------------------------------\nMISSION\n------------------------------------------------\n\nDesign a complete, runnable black-box end-to-end testing module rooted at:\n\ntests/\n\nYou are NOT generating file contents yet.\nYou are defining the full file plan for a complete automated E2E suite.\n\nBackend, frontend, and infrastructure already exist.\nYou MUST NOT modify backend, frontend, or infrastructure code.\n\n------------------------------------------------\nINPUTS\n------------------------------------------------\n\nYou will receive:\n\n- full system requirements\n- compact OpenAPI JSON\n\nRequirements and OpenAPI are the authoritative sources of system behavior.\nTests must validate externally observable behavior only.\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\n\nReturn ONLY valid JSON.\n\nStructure:\n\n{\n  \"files\": [\n    {\"path\": \"tests/.../SomeFile.ext\"}\n  ]\n}\n\nRules:\n\n- Each item MUST be a final file path, not a directory\n- Every path MUST start with tests/\n- Do NOT include directory-only entries\n- Do NOT include file contents\n- Do NOT include explanations\n- Do NOT include additional fields\n- Do NOT output anything outside the JSON object\n- NEVER make a duplicate path\n\n------------------------------------------------\nMODULE REQUIREMENTS\n------------------------------------------------\n\nThe tests module must be a complete, runnable E2E suite suitable for local use and CI.\n\nIt must support:\n\n- black-box browser-driven testing\n- headless execution\n- CI-friendly execution\n- environment-based BASE_URL and credentials\n- one worker only\n\nThe structure should support, where applicable:\n\n- authentication flows\n- authorization checks\n- core business flows\n- business rule enforcement\n- reusable fixtures\n- helpers and test data generation\n- configuration\n- README\n\nYou may add additional test-only files if they are necessary for a coherent and runnable suite.\nDo not add unnecessary files.\n\n------------------------------------------------\nTESTING RULES\n------------------------------------------------\n\n- Tests must validate externally observable behavior only\n- Do not rely on implementation details\n- Prefer stable selectors and reliable waits\n- Avoid arbitrary sleeps\n- Test data should be unique where needed\n- Cleanup logic must respect business invariants\n- The suite must be logically consistent and executable without manual correction\n\n------------------------------------------------\nTECHNOLOGY DEFAULTS\n------------------------------------------------\n\nIf the requirements specify a testing framework, follow them.\nIf not, use:\n\n- Playwright\n- TypeScript\n\n------------------------------------------------\nFINAL RULE\n------------------------------------------------\n\nThe file plan must be sufficient to later generate a complete tests module inside tests/.\nOnly include files inside tests/."
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 0
        }
      },
      "id": "0f7fa7d7-bcb0-4acd-8923-053a84331bd0",
      "name": "TEST - Generate Structure",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        13360,
        4208
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "maxTokens": 20000,
          "temperature": 0.1
        }
      },
      "id": "41d047e6-7ae0-41da-a6bc-9ec8fd5f0ede",
      "name": "TEST - Generate Structure Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        13296,
        4368
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "ZTb6SwoWYVTNTucr",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function beInitGenerationState() {\n  const item = $input.first();\n  if (!item) {\n    throw new Error('No tests structure item received.');\n  }\n\n  const json = item.json || {};\n  const structure = json.testsStructureObject || JSON.parse(String(json.testsStructure || '{}'));\n  if (!Array.isArray(structure.files) || !structure.files.length) {\n    throw new Error('Tests structure does not contain any files.');\n  }\n\n  const seen = new Set();\n  const files = structure.files.map((file, index) => {\n    const filePath = typeof file === 'string'\n      ? String(file).trim()\n      : String(file?.path || '').trim();\n    if (!filePath.startsWith('tests/')) {\n      throw new Error(`Invalid tests structure path at index ${index}: ${filePath || '<empty>'}`);\n    }\n    if (seen.has(filePath)) {\n      throw new Error(`Duplicate tests structure path: ${filePath}`);\n    }\n    seen.add(filePath);\n    return { path: filePath };\n  });\n\n  return [{\n    json: {\n      ...json,\n      allPlannedFiles: files,\n      remainingFiles: files,\n      generatedFiles: [],\n      generatedFilePaths: [],\n      lastIterationFiles: [],\n      totalPlannedFiles: files.length,\n      generatedFileCountTotal: 0,\n      remainingFileCount: files.length,\n      batchSize: 15,\n      currentBatchFiles: files.slice(0, 15),\n      currentBatchFileCount: Math.min(files.length, 15),\n      iteration: 1,\n      hasRemainingFiles: 'yes',\n    },\n    binary: item.binary ?? {},\n  }];\n}\n\nreturn beInitGenerationState();"
      },
      "id": "3a68b2f9-751a-4559-a9b0-0046c9186ea1",
      "name": "TEST - Init Generation State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13440,
        4448
      ]
    },
    {
      "parameters": {
        "jsCode": "async function testInitRefinementState() {\n  const item = $input.first();\n  if (!item) throw new Error('No tests refinement context item received.');\n\n  function normalizeFiles(value) {\n    const files = Array.isArray(value) ? value : [];\n    return files.map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') return { path: String(entry.path ?? '').trim() };\n      return { path: '' };\n    }).filter((entry) => entry.path);\n  }\n\n  function decodeBinaryText(binaryEntry) {\n    try {\n      const raw = String(binaryEntry?.data ?? '');\n      return raw && raw !== 'filesystem-v2' ? Buffer.from(raw, 'base64').toString('utf8') : '';\n    } catch {\n      return '';\n    }\n  }\n\n  async function readBinaryText(binary, propertyName, binaryEntry) {\n    try {\n      if (typeof this?.helpers?.getBinaryDataBuffer === 'function') {\n        const index = Array.isArray($input?.all?.()) ? 0 : 0;\n        const buffer = await this.helpers.getBinaryDataBuffer(index, propertyName);\n        if (buffer) return buffer.toString('utf8');\n      }\n    } catch {}\n    return decodeBinaryText(binaryEntry);\n  }\n\n  function uniquePaths(paths) {\n    const seen = new Set();\n    const output = [];\n    for (const value of paths || []) {\n      const path = String(value?.path ?? value ?? '').trim();\n      if (!path || seen.has(path)) continue;\n      seen.add(path);\n      output.push({ path });\n    }\n    return output;\n  }\n\n  function parseStructure(text) {\n    const raw = String(text ?? '').trim();\n    if (!raw) return null;\n    try {\n      const parsed = JSON.parse(raw);\n      const files = normalizeFiles(parsed?.files);\n      return files.length ? { files } : null;\n    } catch {\n      return null;\n    }\n  }\n\n  function normalizeTestsPath(rawPath, testsRoot, rawDirectory) {\n    const normalizedRoot = String(testsRoot || 'tests').replace(/\\\\/g, '/').trim().replace(/\\/+$/, '') || 'tests';\n    const directory = String(rawDirectory ?? '').replace(/\\\\/g, '/').trim().replace(/^\\.\\//, '').replace(/\\/+$/, '');\n    const fileName = String(rawPath ?? '').replace(/\\\\/g, '/').trim().replace(/^\\.\\//, '');\n    const combined = [directory, fileName]\n      .filter(Boolean)\n      .join('/')\n      .replace(/\\/+/g, '/')\n      .replace(/^\\.\\//, '')\n      .replace(/\\/+/g, '/');\n    if (!combined) return '';\n    if (combined === normalizedRoot || combined === normalizedRoot + '.zip') return '';\n    if (combined.startsWith(normalizedRoot + '/')) return combined;\n    return normalizedRoot + '/' + combined.replace(/^\\/+/, '');\n  }\n\n  async function collectCurrentTestsFiles(binary, testsRoot) {\n    const byPath = new Map();\n    for (const [propertyName, entry] of Object.entries(binary || {})) {\n      if (propertyName === 'testsZip' || propertyName === 'testsStructure') continue;\n      const fileName = String(entry?.fileName ?? '').trim();\n      const normalizedPath = normalizeTestsPath(fileName, testsRoot, entry?.directory);\n      const isDecompressedEntry = /^current_/i.test(propertyName) || String(entry?.directory ?? '').replace(/\\\\/g, '/').trim() === testsRoot;\n      if ((!isDecompressedEntry && !normalizedPath.startsWith(testsRoot + '/')) || !normalizedPath || normalizedPath.endsWith('.zip')) continue;\n      byPath.set(normalizedPath, { path: normalizedPath, content: await readBinaryText(binary, propertyName, entry) });\n    }\n    return Array.from(byPath.values()).sort((a, b) => a.path.localeCompare(b.path));\n  }\n\n  const json = item.json || {};\n  const binary = item.binary || {};\n  const rawPlanEntries = Array.isArray(json.refinementPlanFiles) ? json.refinementPlanFiles : (Array.isArray(json.files) ? json.files : []);\n  const allowedActions = new Set(['modify', 'create', 'remove']);\n  const seenPlanPaths = new Set();\n  const refinementPlanFiles = [];\n  for (const entry of rawPlanEntries) {\n    if (!entry || typeof entry !== 'object') continue;\n    const path = String(entry.path ?? '').trim();\n    const action = String(entry.action ?? '').trim().toLowerCase();\n    if (!path.startsWith('tests/') || !allowedActions.has(action) || seenPlanPaths.has(path)) continue;\n    seenPlanPaths.add(path);\n    refinementPlanFiles.push({ path, action });\n  }\n  if (!refinementPlanFiles.length) {\n    throw new Error('Tests refinement plan did not contain any valid file actions.');\n  }\n\n  const testsRoot = String(json.testsRoot ?? 'tests').trim() || 'tests';\n  const testsFiles = await collectCurrentTestsFiles.call(this, binary, testsRoot);\n  if (!testsFiles.length) {\n    throw new Error('Current tests ZIP could not be unpacked into files for refinement.');\n  }\n  const testsFileMap = new Map(testsFiles.map((file) => [file.path, file]));\n  const structureTextCandidates = [\n    String(json.testsStructure ?? '').trim(),\n    String(json.structurePlan ?? '').trim(),\n    decodeBinaryText(binary.testsStructure),\n  ].filter(Boolean);\n  const parsedStructure = structureTextCandidates.map(parseStructure).find(Boolean);\n  const currentPlanFiles = uniquePaths(parsedStructure?.files?.length ? parsedStructure.files : testsFiles.map((file) => ({ path: file.path })));\n\n  const removePaths = new Set(refinementPlanFiles.filter((file) => file.action === 'remove').map((file) => file.path));\n  const workItems = refinementPlanFiles\n    .filter((file) => file.action !== 'remove')\n    .map((file) => ({ path: file.path, action: file.action, currentExists: testsFileMap.has(file.path) }));\n\n  const currentTestsFiles = testsFiles.filter((file) => !removePaths.has(file.path));\n  const currentPlanPaths = currentPlanFiles.filter((file) => !removePaths.has(file.path));\n  for (const workItem of workItems) {\n    if (!currentPlanPaths.some((file) => file.path === workItem.path)) currentPlanPaths.push({ path: workItem.path });\n  }\n\n  const batchSize = Math.max(1, Number(json.refinementBatchSize ?? 4));\n  const currentBatchFiles = workItems.slice(0, batchSize);\n  const testsStructureObject = { files: currentPlanPaths };\n  const testsStructure = JSON.stringify(testsStructureObject);\n\n  return [{\n    json: {\n      ...json,\n      refinementPlanFiles,\n      removeFilePaths: Array.from(removePaths),\n      generatedFiles: currentTestsFiles,\n      generatedFilePaths: currentTestsFiles.map((file) => file.path),\n      generatedFileCountTotal: currentTestsFiles.length,\n      currentPlanFiles: currentPlanPaths,\n      plannedFiles: currentPlanPaths,\n      testsStructure,\n      testsStructureObject,\n      remainingFiles: workItems,\n      remainingFileCount: workItems.length,\n      currentBatchFiles,\n      currentBatchFileCount: currentBatchFiles.length,\n      allPlannedFiles: currentPlanPaths,\n      allowedOutputFiles: currentBatchFiles.map((file) => ({ path: file.path })),\n      lastIterationFiles: [],\n      recentImplementationSummaries: [],\n      generatedImplementationIndex: [],\n      batchSize,\n      iteration: 1,\n      hasRemainingFiles: workItems.length > 0 ? 'yes' : 'no',\n    },\n    binary,\n  }];\n}\n\nreturn testInitRefinementState();"
      },
      "id": "7a45b5c9-0329-4921-a30b-ebb0c3a3bd2d",
      "name": "TEST - Init Refinement State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14352,
        4432
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "efe5c261-4beb-4225-b3e1-2d86d89d2e7f",
      "name": "TEST - Link and Zip",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        14816,
        4800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "be-has-remaining-files-condition",
              "leftValue": "={{ $json.hasRemainingFiles }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "455e62b9-a5fb-4593-b5dc-263ddffd49d2",
      "name": "TEST - More Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        13488,
        4896
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "90eaa5a5-4bce-49b7-a058-ba1fd4133311",
              "leftValue": "={{ $json.hasRemainingFiles }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22a013c8-5f07-41cf-817b-6e3051538365",
      "name": "TEST - More Refinement Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        15232,
        4432
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json ?? {};\nconst revisionNumber = Math.max(0, Math.trunc(Number(json.revisionNumber ?? 0) || 0));\nconst fileCount = Math.max(0, Math.trunc(Number(json.fileCount ?? 0) || 0));\nconst zipDownloadUrl = String(json.zipDownloadUrl ?? '').trim();\nif (!zipDownloadUrl) throw new Error('Review ZIP download URL is missing.');\nconst zipDownloadToken = String(json.zipDownloadToken ?? '').trim();\nif (!zipDownloadToken) throw new Error('Review ZIP download token is missing.');\nconst downloadLinkHtml = '<p><a href=\"' + zipDownloadUrl + '\" download target=\"_blank\" rel=\"noopener noreferrer\">Download current Tests ZIP</a></p>';\nconst output = {\n  json: { ...json, revisionNumber, fileCount, zipDownloadUrl, zipDownloadToken, downloadLinkHtml },\n};\nif (item.binary && Object.keys(item.binary).length > 0) {\n  output.binary = item.binary;\n}\nreturn [output];"
      },
      "id": "cad3d98d-fa15-43ec-9d77-2db224b56e3f",
      "name": "TEST - Prepare Information",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15040,
        4800
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "testsStructure",
        "binaryPropertyName": "testsStructure",
        "options": {
          "fileName": "tests-structure.json"
        }
      },
      "id": "2b19285a-fef3-4ee5-9b96-17d544ea2b5b",
      "name": "TEST - Refined Structure File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        15456,
        4576
      ]
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ $json.zipBinaryFields }}",
        "fileName": "tests.zip",
        "binaryPropertyOutput": "testsZip"
      },
      "id": "9841d5e1-6b74-498c-9779-286defac7470",
      "name": "TEST - Refined Tests Zip",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        15808,
        4448
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "06b1280a-31b4-4e53-8f99-e3dba0678a1f",
      "name": "TEST - Refined Zip and Structure",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16000,
        4560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "f1179e62-342e-4cc3-aedd-fe6e87299791",
      "name": "TEST - Refinement Plan and Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        14704,
        4128
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a4ab5e52-ab94-4974-9f5f-ac70f92cfff2",
      "name": "TEST - Structure and Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        13024,
        4448
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "testsStructure",
        "binaryPropertyName": "testsStructure",
        "options": {
          "fileName": "tests-structure.json"
        }
      },
      "id": "2cb03267-7897-4874-bd5f-a48580baa4b3",
      "name": "TEST - Structure File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        13904,
        4208
      ]
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ $json.zipBinaryFields }}",
        "fileName": "tests.zip",
        "binaryPropertyOutput": "testsZip"
      },
      "id": "509eb1b5-2d3b-4bc4-98da-d07f214ce638",
      "name": "TEST - Tests Zip",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        13952,
        4912
      ]
    },
    {
      "parameters": {
        "jsCode": "function beUpdateGenerationState() {\n    function detectLanguage(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      if (lower.endsWith('.java')) return 'java';\n      if (lower.endsWith('.kt')) return 'kotlin';\n      if (lower.endsWith('.py')) return 'python';\n      if (lower.endsWith('.ts')) return 'typescript';\n      if (lower.endsWith('.tsx')) return 'tsx';\n      if (lower.endsWith('.js')) return 'javascript';\n      if (lower.endsWith('.jsx')) return 'jsx';\n      if (lower.endsWith('.cs')) return 'csharp';\n      if (lower.endsWith('.go')) return 'go';\n      if (lower.endsWith('.rb')) return 'ruby';\n      if (lower.endsWith('.php')) return 'php';\n      if (lower.endsWith('.rs')) return 'rust';\n      if (lower.endsWith('.swift')) return 'swift';\n      if (lower.endsWith('.scala')) return 'scala';\n      if (lower.endsWith('.c')) return 'c';\n      if (lower.endsWith('.cpp') || lower.endsWith('.cc') || lower.endsWith('.cxx')) return 'cpp';\n      if (lower.endsWith('.h') || lower.endsWith('.hpp')) return 'cpp-header';\n      return 'other';\n    }\n\n    function isImplementationFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      if (!lower.startsWith('tests/')) return false;\n      if (lower.includes('/src/test/') || lower.includes('/tests/') || lower.includes('/test/')) return false;\n      if (lower.includes('/resources/') || lower.includes('/db/') || lower.includes('/docs/') || lower.includes('/helm/')) return false;\n      if (lower.endsWith('.md') || lower.endsWith('.txt') || lower.endsWith('.yaml') || lower.endsWith('.yml') || lower.endsWith('.xml') || lower.endsWith('.properties') || lower.endsWith('.sql') || lower.endsWith('.json') || lower.endsWith('.csv')) return false;\n      return new Set(['java', 'kotlin', 'python', 'typescript', 'tsx', 'javascript', 'jsx', 'csharp', 'go', 'ruby', 'php', 'rust', 'swift', 'scala', 'c', 'cpp', 'cpp-header']).has(detectLanguage(filePath));\n    }\n\n    function uniqueStrings(values, limit) {\n      const seen = new Set();\n      const output = [];\n      for (const value of values || []) {\n        const normalized = String(value || '').trim();\n        if (!normalized || seen.has(normalized)) continue;\n        seen.add(normalized);\n        output.push(normalized);\n        if (output.length >= limit) break;\n      }\n      return output;\n    }\n\n    function matchAll(text, regex, mapper, limit) {\n      const output = [];\n      let match;\n      while ((match = regex.exec(text)) !== null) {\n        output.push(mapper(match));\n        if (output.length >= limit) break;\n      }\n      regex.lastIndex = 0;\n      return output;\n    }\n\n    function summarizeJava(filePath, content) {\n      const pkg = content.match(/^[ \\t]*package\\s+([A-Za-z0-9_.]+)\\s*;/m)?.[1] || '';\n      const imports = uniqueStrings(matchAll(content, /^[ \\t]*import\\s+([^;]+);/gm, (m) => m[1], 40), 40);\n      const annotations = uniqueStrings(matchAll(content, /^[ \\t]*@([A-Za-z0-9_.]+)/gm, (m) => m[1], 30), 30);\n      const types = matchAll(content, /^[ \\t]*(?:public|protected|private)?\\s*(?:abstract|final|sealed|non-sealed)?\\s*(class|interface|enum|record)\\s+([A-Za-z0-9_]+)/gm, (m) => ({ kind: m[1], name: m[2] }), 20);\n      const methods = matchAll(content, /^[ \\t]*(?:public|protected|private)\\s+(?:static\\s+)?(?:final\\s+)?(?:<[A-Za-z0-9_, ? extends implements]+>\\s+)?([A-Za-z0-9_\\[\\]<>., ?]+)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[2], returns: m[1].trim(), parameters: String(m[3] || '').trim() }), 40);\n      return { path: filePath, language: 'java', package: pkg, imports, annotations, types, methods };\n    }\n\n    function summarizePython(filePath, content) {\n      const imports = uniqueStrings([\n        ...matchAll(content, /^[ \\t]*import\\s+(.+)$/gm, (m) => m[1], 40),\n        ...matchAll(content, /^[ \\t]*from\\s+(.+)\\s+import\\s+(.+)$/gm, (m) => 'from ' + m[1] + ' import ' + m[2], 40),\n      ], 40);\n      const decorators = uniqueStrings(matchAll(content, /^[ \\t]*@([A-Za-z0-9_.]+)/gm, (m) => m[1], 30), 30);\n      const classes = matchAll(content, /^[ \\t]*class\\s+([A-Za-z0-9_]+)(?:\\(([^\\)]*)\\))?\\s*:/gm, (m) => ({ name: m[1], bases: String(m[2] || '').trim() }), 20);\n      const functions = matchAll(content, /^[ \\t]*def\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)\\s*(?:->\\s*([^:]+))?:/gm, (m) => ({ name: m[1], parameters: String(m[2] || '').trim(), returns: String(m[3] || '').trim() }), 40);\n      return { path: filePath, language: 'python', imports, decorators, classes, functions };\n    }\n\n    function summarizeTsLike(filePath, content, language) {\n      const imports = uniqueStrings(matchAll(content, /^[ \\t]*import\\s+(.+)$/gm, (m) => m[1], 40), 40);\n      const exports = uniqueStrings(matchAll(content, /^[ \\t]*export\\s+(?:default\\s+)?(?:class|interface|enum|type|function|const)\\s+([A-Za-z0-9_]+)/gm, (m) => m[1], 30), 30);\n      const decorators = uniqueStrings(matchAll(content, /^[ \\t]*@([A-Za-z0-9_.]+)/gm, (m) => m[1], 30), 30);\n      const types = matchAll(content, /^[ \\t]*(?:export\\s+)?(?:abstract\\s+)?(class|interface|enum|type)\\s+([A-Za-z0-9_]+)/gm, (m) => ({ kind: m[1], name: m[2] }), 25);\n      const functions = matchAll(content, /^[ \\t]*(?:export\\s+)?(?:async\\s+)?function\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[1], parameters: String(m[2] || '').trim() }), 40);\n      return { path: filePath, language, imports, decorators, exports, types, functions };\n    }\n\n    function summarizeCSharp(filePath, content) {\n      const namespaceName = content.match(/^[ \\t]*namespace\\s+([A-Za-z0-9_.]+)/m)?.[1] || '';\n      const usings = uniqueStrings(matchAll(content, /^[ \\t]*using\\s+([^;]+);/gm, (m) => m[1], 40), 40);\n      const attributes = uniqueStrings(matchAll(content, /^[ \\t]*\\[([A-Za-z0-9_., ()]+)\\]/gm, (m) => m[1], 30), 30);\n      const types = matchAll(content, /^[ \\t]*(?:public|internal|protected|private)?\\s*(?:abstract|sealed|partial)?\\s*(class|interface|enum|record|struct)\\s+([A-Za-z0-9_]+)/gm, (m) => ({ kind: m[1], name: m[2] }), 20);\n      const methods = matchAll(content, /^[ \\t]*(?:public|protected|private|internal)\\s+(?:static\\s+)?(?:async\\s+)?([A-Za-z0-9_<>,.?\\[\\] ]+)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[2], returns: m[1].trim(), parameters: String(m[3] || '').trim() }), 40);\n      return { path: filePath, language: 'csharp', namespace: namespaceName, usings, attributes, types, methods };\n    }\n\n    function summarizeGo(filePath, content) {\n      const pkg = content.match(/^[ \\t]*package\\s+([A-Za-z0-9_]+)/m)?.[1] || '';\n      const imports = uniqueStrings([\n        ...matchAll(content, /^[ \\t]*import\\s+\"([^\"]+)\"/gm, (m) => m[1], 40),\n        ...matchAll(content, /^[ \\t]*\"([^\"]+)\"$/gm, (m) => m[1], 40),\n      ], 40);\n      const types = matchAll(content, /^[ \\t]*type\\s+([A-Za-z0-9_]+)\\s+(struct|interface)/gm, (m) => ({ name: m[1], kind: m[2] }), 20);\n      const functions = [\n        ...matchAll(content, /^[ \\t]*func\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[1], receiver: '', parameters: String(m[2] || '').trim() }), 40),\n        ...matchAll(content, /^[ \\t]*func\\s*\\(([^\\)]*)\\)\\s*([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[2], receiver: String(m[1] || '').trim(), parameters: String(m[3] || '').trim() }), 40),\n      ].slice(0, 40);\n      return { path: filePath, language: 'go', package: pkg, imports, types, functions };\n    }\n\n    function summarizeGeneric(filePath, content, language) {\n      const imports = uniqueStrings([\n        ...matchAll(content, /^[ \\t]*import\\s+(.+)$/gm, (m) => m[1], 20),\n        ...matchAll(content, /^[ \\t]*using\\s+([^;]+);/gm, (m) => m[1], 20),\n        ...matchAll(content, /^[ \\t]*require\\s+['\"]([^'\"]+)['\"]/gm, (m) => m[1], 20),\n      ], 30);\n      const types = matchAll(content, /^[ \\t]*(?:export\\s+)?(?:public\\s+)?(?:abstract\\s+|final\\s+|sealed\\s+)?(class|interface|enum|record|struct)\\s+([A-Za-z0-9_]+)/gm, (m) => ({ kind: m[1], name: m[2] }), 20);\n      const functions = matchAll(content, /^[ \\t]*(?:export\\s+)?(?:async\\s+)?(?:function|def|fn)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm, (m) => ({ name: m[1], parameters: String(m[2] || '').trim() }), 40);\n      return { path: filePath, language, imports, types, functions };\n    }\n\n    function summarizeImplementationFile(file) {\n      const filePath = String(file?.path || '').trim();\n      const content = String(file?.content || '');\n      const language = detectLanguage(filePath);\n\n      let summary;\n      if (language === 'java' || language === 'kotlin') {\n        summary = summarizeJava(filePath, content);\n      } else if (language === 'python') {\n        summary = summarizePython(filePath, content);\n      } else if (language === 'typescript' || language === 'tsx' || language === 'javascript' || language === 'jsx') {\n        summary = summarizeTsLike(filePath, content, language);\n      } else if (language === 'csharp') {\n        summary = summarizeCSharp(filePath, content);\n      } else if (language === 'go') {\n        summary = summarizeGo(filePath, content);\n      } else {\n        summary = summarizeGeneric(filePath, content, language);\n      }\n\n      summary.lineCount = content ? content.replace(/\\r\\n/g, '\\n').split('\\n').length : 0;\n      return summary;\n    }\n\n    return $input.all().map((item) => {\n      const json = item.json || {};\n      const remainingFiles = Array.isArray(json.remainingFiles) ? json.remainingFiles : [];\n      const generatedFilesThisIteration = Array.isArray(json.generatedFilesThisIteration) ? json.generatedFilesThisIteration : [];\n      const generatedPaths = new Set(generatedFilesThisIteration.map((file) => String(file.path || '').trim()).filter(Boolean));\n\n      const generatedNoFilesThisIteration = generatedFilesThisIteration.length === 0;\n\n      const nextRemainingFiles = remainingFiles.filter((file) => !generatedPaths.has(String(file.path || '').trim()));\n      const previousGeneratedFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n      const previousGeneratedFilePaths = Array.isArray(json.generatedFilePaths) ? json.generatedFilePaths : [];\n      const batchSize = Math.max(1, Number(json.batchSize || 15));\n\n      const mergedGeneratedFiles = [\n        ...previousGeneratedFiles,\n        ...generatedFilesThisIteration,\n      ];\n      const mergedGeneratedFilePaths = [\n        ...previousGeneratedFilePaths,\n        ...generatedFilesThisIteration.map((file) => file.path),\n      ];\n\n      const generatedImplementationFiles = mergedGeneratedFiles.filter((file) => isImplementationFile(file.path));\n      const generatedImplementationIndex = generatedImplementationFiles.map(summarizeImplementationFile);\n      const generatedNonImplementationPaths = mergedGeneratedFiles\n        .filter((file) => !isImplementationFile(file.path))\n        .map((file) => String(file.path || '').trim())\n        .filter(Boolean);\n      const recentImplementationSummaries = generatedFilesThisIteration\n        .filter((file) => isImplementationFile(file.path))\n        .map(summarizeImplementationFile);\n\n      const nextCurrentBatchFiles = nextRemainingFiles.slice(0, batchSize);\n\n      return {\n        json: {\n          ...json,\n          generatedFiles: mergedGeneratedFiles,\n          generatedFilePaths: mergedGeneratedFilePaths,\n          generatedImplementationIndex,\n          generatedCodeIndex: generatedImplementationIndex,\n          generatedNonImplementationPaths,\n          recentImplementationSummaries,\n          lastIterationFiles: generatedFilesThisIteration,\n          generatedNoFilesThisIteration,\n          generatedFileCountTotal: mergedGeneratedFiles.length,\n          remainingFiles: nextRemainingFiles,\n          remainingFileCount: nextRemainingFiles.length,\n          batchSize,\n          currentBatchFiles: nextCurrentBatchFiles,\n          currentBatchFileCount: nextCurrentBatchFiles.length,\n          hasRemainingFiles: nextRemainingFiles.length > 0 ? 'yes' : 'no',\n          iteration: Number(json.iteration || 1) + (nextRemainingFiles.length > 0 ? 1 : 0),\n        },\n        binary: item.binary ?? {},\n      };\n    });\n  }\nreturn beUpdateGenerationState();"
      },
      "id": "5ed81f9c-05eb-41af-b032-905cf5012d41",
      "name": "TEST - Update Generation State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13088,
        4896
      ]
    },
    {
      "parameters": {
        "jsCode": "function testUpdateRefinementState() {\n  function normalizeFiles(value) {\n    const files = Array.isArray(value) ? value : [];\n    return files.map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') return { path: String(entry.path ?? '').trim() };\n      return { path: '' };\n    }).filter((entry) => entry.path);\n  }\n  function detectLanguage(filePath) {\n    const lower = String(filePath || '').toLowerCase();\n    if (lower.endsWith('.java')) return 'java';\n    if (lower.endsWith('.kt')) return 'kotlin';\n    if (lower.endsWith('.py')) return 'python';\n    if (lower.endsWith('.ts')) return 'typescript';\n    if (lower.endsWith('.tsx')) return 'tsx';\n    if (lower.endsWith('.js')) return 'javascript';\n    if (lower.endsWith('.jsx')) return 'jsx';\n    if (lower.endsWith('.cs')) return 'csharp';\n    if (lower.endsWith('.go')) return 'go';\n    if (lower.endsWith('.rb')) return 'ruby';\n    if (lower.endsWith('.php')) return 'php';\n    return 'other';\n  }\n  function isImplementationFile(filePath) {\n    const lower = String(filePath || '').toLowerCase();\n    if (!lower.startsWith('tests/')) return false;\n    if (lower.includes('/src/test/') || lower.includes('/tests/') || lower.includes('/test/')) return false;\n    if (lower.includes('/resources/') || lower.includes('/db/') || lower.includes('/docs/') || lower.includes('/helm/')) return false;\n    if (lower.endsWith('.md') || lower.endsWith('.txt') || lower.endsWith('.yaml') || lower.endsWith('.yml') || lower.endsWith('.xml') || lower.endsWith('.properties') || lower.endsWith('.sql') || lower.endsWith('.json') || lower.endsWith('.csv')) return false;\n    return new Set(['java', 'kotlin', 'python', 'typescript', 'tsx', 'javascript', 'jsx', 'csharp', 'go', 'ruby', 'php']).has(detectLanguage(filePath));\n  }\n  function summarizeFile(file) {\n    const filePath = String(file?.path || '').trim();\n    const content = String(file?.content || '');\n    const language = detectLanguage(filePath);\n    const imports = [];\n    for (const regex of [/^[ \\t]*import\\s+([^;\\n]+)[;\\n]?/gm, /^[ \\t]*using\\s+([^;\\n]+);/gm, /^[ \\t]*from\\s+([^\\n]+)\\s+import\\s+([^\\n]+)/gm]) {\n      let match;\n      while ((match = regex.exec(content)) !== null && imports.length < 20) imports.push(match.slice(1).filter(Boolean).join(' ').trim());\n      regex.lastIndex = 0;\n    }\n    const types = [];\n    let match;\n    const typeRegex = /^[ \\t]*(?:export\\s+)?(?:public\\s+|private\\s+|protected\\s+|internal\\s+)?(?:abstract\\s+|final\\s+|sealed\\s+)?(class|interface|enum|record|type|struct)\\s+([A-Za-z0-9_]+)/gm;\n    while ((match = typeRegex.exec(content)) !== null && types.length < 12) types.push({ kind: match[1], name: match[2] });\n    typeRegex.lastIndex = 0;\n    const functions = [];\n    const fnRegex = /^[ \\t]*(?:export\\s+)?(?:async\\s+)?(?:function|def|func|fn)\\s+([A-Za-z0-9_]+)\\s*\\(([^\\)]*)\\)/gm;\n    while ((match = fnRegex.exec(content)) !== null && functions.length < 20) functions.push({ name: match[1], parameters: String(match[2] || '').trim() });\n    fnRegex.lastIndex = 0;\n    return { path: filePath, language, imports: Array.from(new Set(imports)).slice(0, 20), types, functions, lineCount: content ? content.replace(/\\r\\n/g, '\\n').split('\\n').length : 0 };\n  }\n  return $input.all().map((item) => {\n    const json = item.json || {};\n    const remainingFiles = Array.isArray(json.remainingFiles) ? json.remainingFiles : [];\n    const currentFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const generatedFilesThisIteration = Array.isArray(json.generatedFilesThisIteration) ? json.generatedFilesThisIteration : [];\n    const generatedPaths = new Set(generatedFilesThisIteration.map((file) => String(file.path || '').trim()).filter(Boolean));\n    const currentMap = new Map(currentFiles.map((file) => [String(file.path || '').trim(), { path: String(file.path || '').trim(), content: file.content }]));\n    for (const file of generatedFilesThisIteration) {\n      const path = String(file.path || '').trim();\n      if (!path) continue;\n      currentMap.set(path, { path, content: file.content });\n    }\n    const nextGeneratedFiles = Array.from(currentMap.values()).sort((a, b) => a.path.localeCompare(b.path));\n    const nextRemainingFiles = remainingFiles.filter((file) => !generatedPaths.has(String(file.path || '').trim()));\n    const batchSize = Math.max(1, Number(json.batchSize || 4));\n    const nextCurrentBatchFiles = nextRemainingFiles.slice(0, batchSize);\n    const currentPlanFiles = normalizeFiles(json.currentPlanFiles);\n    for (const file of generatedFilesThisIteration) {\n      const path = String(file.path || '').trim();\n      if (path && !currentPlanFiles.some((entry) => entry.path === path)) currentPlanFiles.push({ path });\n    }\n    const testsStructureObject = { files: currentPlanFiles };\n    const testsStructure = JSON.stringify(testsStructureObject);\n    const generatedImplementationIndex = nextGeneratedFiles.filter((file) => isImplementationFile(file.path)).map(summarizeFile);\n    const recentImplementationSummaries = generatedFilesThisIteration.filter((file) => isImplementationFile(file.path)).map(summarizeFile);\n    return {\n      json: {\n        ...json,\n        generatedFiles: nextGeneratedFiles,\n        generatedFilePaths: nextGeneratedFiles.map((file) => file.path),\n        generatedFileCountTotal: nextGeneratedFiles.length,\n        currentPlanFiles,\n        plannedFiles: currentPlanFiles,\n        testsStructure,\n        testsStructureObject,\n        remainingFiles: nextRemainingFiles,\n        remainingFileCount: nextRemainingFiles.length,\n        currentBatchFiles: nextCurrentBatchFiles,\n        currentBatchFileCount: nextCurrentBatchFiles.length,\n        allPlannedFiles: currentPlanFiles,\n        allowedOutputFiles: nextCurrentBatchFiles.map((file) => ({ path: String(file.path || '').trim() })),\n        generatedImplementationIndex,\n        generatedCodeIndex: generatedImplementationIndex,\n        recentImplementationSummaries,\n        lastIterationFiles: generatedFilesThisIteration,\n        generatedNoFilesThisIteration: generatedFilesThisIteration.length === 0,\n        hasRemainingFiles: nextRemainingFiles.length > 0 ? 'yes' : 'no',\n        iteration: Number(json.iteration || 1) + (nextRemainingFiles.length > 0 ? 1 : 0),\n      },\n      binary: item.binary ?? {},\n    };\n  });\n}\n\nreturn testUpdateRefinementState();"
      },
      "id": "db8b2456-02ee-4fdc-a170-8f2652919eae",
      "name": "TEST - Update Refinement State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15664,
        4176
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "5de7e30c-0b57-47e8-a207-ee4b16d1df36",
      "name": "TEST - Zip and Structure",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        13968,
        4784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-4738efa3-9b65-4064-b911-b1a1cde8357d",
              "leftValue": "={{ $json.reviewMode }}",
              "rightValue": "refine",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f64a0672-85cf-4e80-be57-c95361f5b336",
      "name": "TEST - Execute Refinement?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        12768,
        4160
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\nconst currentJson = item.json ?? {};\nconst rawBinary = item.binary ?? {};\n\nfunction getNodeItemSafe(nodeName) {\n  if (typeof $items !== 'function') return null;\n  try {\n    return ($items(nodeName) || [])[0] || null;\n  } catch {\n    return null;\n  }\n}\n\nfunction cleanJson(source) {\n  const json = { ...(source ?? {}) };\n  delete json.feedback;\n  delete json.Feedback;\n  delete json.Approved;\n  delete json['Start Again'];\n  delete json.reviewMode;\n  return json;\n}\n\nfunction cleanBinary(source) {\n  return Object.fromEntries(\n    Object.entries(source ?? {})\n      .filter(([key]) => !/^attachments?(?:_|$)/i.test(String(key)))\n      .filter(([key]) => !String(key).endsWith('_firstIteration')),\n  );\n}\n\nfunction normalizeFiles(value) {\n  const files = Array.isArray(value) ? value : [];\n  return files\n    .map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') return { path: String(entry.path ?? '').trim() };\n      return { path: '' };\n    })\n    .filter((entry) => entry.path);\n}\n\nconst firstNode = getNodeItemSafe('TEST - Prepare Information for First Iteration');\nconst firstJson = cleanJson(firstNode?.json ?? {});\nconst baseJson = cleanJson(currentJson);\nconst cleanCurrentBinary = cleanBinary(rawBinary);\nconst firstFiles = normalizeFiles(firstJson.files).length\n  ? normalizeFiles(firstJson.files)\n  : normalizeFiles(baseJson.firstIterationFiles);\n\nconst outputJson = {\n  ...baseJson,\n  reviewMode: '',\n  firstIterationFiles: firstFiles,\n  firstIterationTestsStructure: String(firstJson.testsStructure ?? baseJson.firstIterationTestsStructure ?? '').trim(),\n  firstIterationReviewRevisionNumber: Number(firstJson.revisionNumber ?? baseJson.firstIterationReviewRevisionNumber ?? baseJson.revisionNumber ?? 0) || 0,\n  firstIterationReviewZipDownloadUrl: String(firstJson.zipDownloadUrl ?? baseJson.firstIterationReviewZipDownloadUrl ?? baseJson.zipDownloadUrl ?? '').trim(),\n  firstIterationReviewZipDownloadToken: String(firstJson.zipDownloadToken ?? baseJson.firstIterationReviewZipDownloadToken ?? baseJson.zipDownloadToken ?? '').trim(),\n  firstIterationReviewDownloadLinkHtml: String(firstJson.downloadLinkHtml ?? baseJson.firstIterationReviewDownloadLinkHtml ?? baseJson.downloadLinkHtml ?? '').trim(),\n};\n\nreturn [{\n  json: outputJson,\n  ...(Object.keys(cleanCurrentBinary).length ? { binary: cleanCurrentBinary } : {}),\n}];"
      },
      "id": "50f33ec1-69dc-41dc-b642-acded492e0aa",
      "name": "TEST - Review Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15440,
        4800
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\nconst json = { ...(item.json ?? {}) };\nfor (const key of [\n  'Approved',\n  'Start Again',\n  'Feedback',\n  'feedback',\n  'Attachments (optional)',\n  'reviewMode',\n  'zipDownloadUrl',\n  'zipDownloadToken',\n  'downloadLinkHtml',\n  'response',\n  'revisionNumber',\n  'fileCount',\n  'files',\n  'backendStructure',\n  'frontendStructure',\n  'infrastructureStructure',\n  'testsStructure',\n  'currentBackendIterationNumber',\n  'currentFrontendIterationNumber',\n  'currentInfrastructureIterationNumber',\n  'currentTestsIterationNumber',\n  'firstIterationReviewZipDownloadUrl',\n  'firstIterationReviewZipDownloadToken',\n  'firstIterationReviewDownloadLinkHtml',\n]) {\n  delete json[key];\n}\n\nconst binary = Object.fromEntries(\n  Object.entries(item.binary ?? {}).filter(([key]) => !/^attachments?(?:_|$)/i.test(String(key)))\n);\n\nreturn [{\n  json,\n  ...(Object.keys(binary).length ? { binary } : {}),\n}];"
      },
      "id": "b430dff4-14e7-4e91-84a3-f9d107822a00",
      "name": "TEST - Sanitize Output Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13072,
        5136
      ]
    },
    {
      "parameters": {},
      "id": "00e8388e-6160-41ff-95d0-95a12dec9ce9",
      "name": "TEST - Create Link",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        14256,
        4784
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "86b40cdd-8850-4b55-8dd5-ea5be35630db",
      "name": "TEST - Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        12528,
        4160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a279458a-ed1e-4584-aa4e-2f763735b4be",
      "name": "TEST - Workflow Output",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16224,
        5120
      ]
    },
    {
      "parameters": {},
      "id": "8eef16a2-75c2-4cd3-83a0-26ef3b566bf3",
      "name": "TEST - Start Refinement",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        14112,
        4144
      ]
    },
    {
      "parameters": {
        "jsCode": "async function beCompactContextArtifacts() {\n  const items = $input.all();\n  if (!items.length) {\n    throw new Error('OpenAPI compactor received no input.');\n  }\n\n  async function readBinaryText(itemIndex, propertyName, fallbackFileName) {\n    const item = items[itemIndex];\n    const binary = item.binary?.[propertyName];\n    if (!binary) return null;\n\n    const buffer = await this.helpers.getBinaryDataBuffer(itemIndex, propertyName);\n    return {\n      fileName: binary.fileName || fallbackFileName,\n      text: buffer.toString('utf8'),\n    };\n  }\n\n  function compactRequirementsText(text) {\n    const lines = String(text || '')\n      .replace(/\\u0000/g, '')\n      .replace(/\\r\\n/g, '\\n')\n      .replace(/\\r/g, '\\n')\n      .replace(/[ \\t]+/g, ' ')\n      .split('\\n');\n    const compacted = [];\n\n    for (let rawLine of lines) {\n      let line = String(rawLine || '').trim();\n      if (!line) continue;\n      if (/^[-*_]{3,}$/.test(line)) continue;\n\n      line = line.replace(/^#{1,6}\\s*/, '');\n      line = line.replace(/^\\s*>\\s?/, '');\n      line = line.replace(/^\\s*[-*+]\\s+/, '- ');\n      line = line.replace(/^\\s*\\d+[.)]\\s+/, '- ');\n      line = line.replace(/!\\[([^\\]]*)\\]\\([^)]+\\)/g, '$1');\n      line = line.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1');\n      line = line.replace(/`([^`]+)`/g, '$1');\n      line = line.replace(/[*_~]+/g, '');\n      line = line.replace(/\\s+/g, ' ').trim();\n\n      if (!line) continue;\n      compacted.push(line);\n    }\n\n    return compacted.join('\\n').trim();\n  }\n\n  function normalizeText(text) {\n    return String(text || '')\n      .replace(/\\u0000/g, '')\n      .replace(/\\r\\n/g, '\\n')\n      .replace(/\\r/g, '\\n')\n      .replace(/\\t/g, '  ')\n      .replace(/[ \\t]+$/gm, '')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n  }\n\n  function countIndent(line) {\n    let count = 0;\n    while (count < line.length && line[count] === ' ') count += 1;\n    return count;\n  }\n\n  function nextMeaningfulIndent(lines, startIndex) {\n    for (let index = startIndex; index < lines.length; index += 1) {\n      if (lines[index].trim()) return countIndent(lines[index]);\n    }\n    return null;\n  }\n\n  function splitKeyValue(text) {\n    let inSingle = false;\n    let inDouble = false;\n    let squareDepth = 0;\n    let curlyDepth = 0;\n\n    for (let index = 0; index < text.length; index += 1) {\n      const char = text[index];\n      const prev = index > 0 ? text[index - 1] : '';\n      const next = index + 1 < text.length ? text[index + 1] : '';\n\n      if (char === \"'\" && !inDouble) {\n        if (inSingle && next === \"'\") {\n          index += 1;\n          continue;\n        }\n        inSingle = !inSingle;\n        continue;\n      }\n\n      if (char === '\"' && !inSingle && prev !== '\\\\') {\n        inDouble = !inDouble;\n        continue;\n      }\n\n      if (inSingle || inDouble) continue;\n\n      if (char === '[') squareDepth += 1;\n      else if (char === ']') squareDepth = Math.max(0, squareDepth - 1);\n      else if (char === '{') curlyDepth += 1;\n      else if (char === '}') curlyDepth = Math.max(0, curlyDepth - 1);\n      else if (\n        char === ':' &&\n        squareDepth === 0 &&\n        curlyDepth === 0 &&\n        (next === '' || /\\s/.test(next))\n      ) {\n        return {\n          key: text.slice(0, index).trim(),\n          value: text.slice(index + 1).trimStart(),\n        };\n      }\n    }\n\n    return null;\n  }\n\n  function splitFlowItems(text) {\n    const items = [];\n    let start = 0;\n    let inSingle = false;\n    let inDouble = false;\n    let squareDepth = 0;\n    let curlyDepth = 0;\n\n    for (let index = 0; index < text.length; index += 1) {\n      const char = text[index];\n      const prev = index > 0 ? text[index - 1] : '';\n      const next = index + 1 < text.length ? text[index + 1] : '';\n\n      if (char === \"'\" && !inDouble) {\n        if (inSingle && next === \"'\") {\n          index += 1;\n          continue;\n        }\n        inSingle = !inSingle;\n        continue;\n      }\n\n      if (char === '\"' && !inSingle && prev !== '\\\\') {\n        inDouble = !inDouble;\n        continue;\n      }\n\n      if (inSingle || inDouble) continue;\n\n      if (char === '[') squareDepth += 1;\n      else if (char === ']') squareDepth = Math.max(0, squareDepth - 1);\n      else if (char === '{') curlyDepth += 1;\n      else if (char === '}') curlyDepth = Math.max(0, curlyDepth - 1);\n      else if (char === ',' && squareDepth === 0 && curlyDepth === 0) {\n        const item = text.slice(start, index).trim();\n        if (item) items.push(item);\n        start = index + 1;\n      }\n    }\n\n    const tail = text.slice(start).trim();\n    if (tail) items.push(tail);\n    return items;\n  }\n\n  function parseQuotedString(text) {\n    if (text.startsWith('\"') && text.endsWith('\"')) {\n      try {\n        return JSON.parse(text);\n      } catch {\n        return text.slice(1, -1).replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n      }\n    }\n\n    if (text.startsWith(\"'\") && text.endsWith(\"'\")) {\n      return text.slice(1, -1).replace(/''/g, \"'\");\n    }\n\n    return text;\n  }\n\n  function parseScalar(raw) {\n    const text = String(raw ?? '').trim();\n    if (!text) return '';\n    if (text === '[]') return [];\n    if (text === '{}') return {};\n    if (\n      (text.startsWith('\"') && text.endsWith('\"')) ||\n      (text.startsWith(\"'\") && text.endsWith(\"'\"))\n    ) {\n      return parseQuotedString(text);\n    }\n    if (text.startsWith('[') && text.endsWith(']')) {\n      return splitFlowItems(text.slice(1, -1)).map((item) => parseScalar(item));\n    }\n    if (text.startsWith('{') && text.endsWith('}')) {\n      const output = {};\n      for (const part of splitFlowItems(text.slice(1, -1))) {\n        const mapping = splitKeyValue(part);\n        if (!mapping) continue;\n        output[String(parseScalar(mapping.key))] = parseScalar(mapping.value);\n      }\n      return output;\n    }\n    if (/^(?:null|Null|NULL|~)$/.test(text)) return null;\n    if (/^(?:true|True|TRUE)$/.test(text)) return true;\n    if (/^(?:false|False|FALSE)$/.test(text)) return false;\n    if (/^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$/.test(text)) return Number(text);\n    return text;\n  }\n\n  function parseKey(raw) {\n    const text = String(raw ?? '').trim();\n    const value = parseScalar(text);\n    return typeof value === 'string' ? value : String(value);\n  }\n\n  function readBlockScalar(lines, startIndex, parentIndent, style) {\n    const parts = [];\n    let blockIndent = null;\n    let index = startIndex;\n\n    while (index < lines.length) {\n      const line = lines[index];\n      if (!line.trim()) {\n        if (blockIndent !== null) parts.push('');\n        index += 1;\n        continue;\n      }\n\n      const indent = countIndent(line);\n      if (indent <= parentIndent) break;\n      if (blockIndent === null) blockIndent = indent;\n      parts.push(line.slice(blockIndent));\n      index += 1;\n    }\n\n    let value = '';\n    if (style === '>') {\n      const paragraphs = [];\n      let current = [];\n      for (const part of parts) {\n        if (part === '') {\n          if (current.length) {\n            paragraphs.push(current.join(' '));\n            current = [];\n          }\n          paragraphs.push('');\n        } else {\n          current.push(part.trim());\n        }\n      }\n      if (current.length) paragraphs.push(current.join(' '));\n      value = paragraphs.join('\\n').trim();\n    } else {\n      value = parts.join('\\n').trim();\n    }\n\n    return {\n      value,\n      nextIndex: index,\n    };\n  }\n\n  function skipEmpty(lines, state) {\n    while (state.index < lines.length && !lines[state.index].trim()) {\n      state.index += 1;\n    }\n  }\n\n  function assignMappingValue(target, keyRaw, valueRaw, lines, state, parentIndent) {\n    const key = parseKey(keyRaw);\n    const valueText = String(valueRaw ?? '').trim();\n\n    if (valueText.startsWith('|')) {\n      const block = readBlockScalar(lines, state.index, parentIndent, '|');\n      target[key] = block.value;\n      state.index = block.nextIndex;\n      return;\n    }\n\n    if (valueText.startsWith('>')) {\n      const block = readBlockScalar(lines, state.index, parentIndent, '>');\n      target[key] = block.value;\n      state.index = block.nextIndex;\n      return;\n    }\n\n    if (!valueText) {\n      const childIndent = nextMeaningfulIndent(lines, state.index);\n      target[key] = childIndent !== null && childIndent > parentIndent\n        ? parseNode(lines, state, childIndent)\n        : {};\n      return;\n    }\n\n    target[key] = parseScalar(valueText);\n  }\n\n  function parseSequence(lines, state, indent) {\n    const output = [];\n\n    while (state.index < lines.length) {\n      skipEmpty(lines, state);\n      if (state.index >= lines.length) break;\n\n      const line = lines[state.index];\n      const lineIndent = countIndent(line);\n      const trimmed = line.slice(lineIndent);\n      if (lineIndent < indent || lineIndent !== indent || !trimmed.startsWith('-')) break;\n\n      const content = trimmed.length === 1 ? '' : trimmed.slice(1).trimStart();\n      state.index += 1;\n\n      if (!content) {\n        const childIndent = nextMeaningfulIndent(lines, state.index);\n        output.push(\n          childIndent !== null && childIndent > lineIndent\n            ? parseNode(lines, state, childIndent)\n            : null,\n        );\n        continue;\n      }\n\n      const mapping = splitKeyValue(content);\n      if (mapping && mapping.key) {\n        const entry = {};\n        assignMappingValue(entry, mapping.key, mapping.value, lines, state, lineIndent);\n        const childIndent = nextMeaningfulIndent(lines, state.index);\n        if (childIndent !== null && childIndent > lineIndent) {\n          Object.assign(entry, parseMapping(lines, state, childIndent));\n        }\n        output.push(entry);\n      } else {\n        output.push(parseScalar(content));\n      }\n    }\n\n    return output;\n  }\n\n  function parseMapping(lines, state, indent) {\n    const output = {};\n\n    while (state.index < lines.length) {\n      skipEmpty(lines, state);\n      if (state.index >= lines.length) break;\n\n      const line = lines[state.index];\n      const lineIndent = countIndent(line);\n      const trimmed = line.slice(lineIndent);\n      if (lineIndent < indent || lineIndent !== indent || trimmed.startsWith('-')) break;\n\n      const mapping = splitKeyValue(trimmed);\n      state.index += 1;\n      if (!mapping || !mapping.key) continue;\n      assignMappingValue(output, mapping.key, mapping.value, lines, state, lineIndent);\n    }\n\n    return output;\n  }\n\n  function parseNode(lines, state, indent) {\n    skipEmpty(lines, state);\n    if (state.index >= lines.length) return null;\n\n    const line = lines[state.index];\n    const lineIndent = countIndent(line);\n    if (lineIndent < indent) return null;\n    const trimmed = line.slice(lineIndent);\n    return trimmed.startsWith('-')\n      ? parseSequence(lines, state, indent)\n      : parseMapping(lines, state, indent);\n  }\n\n  function parseYamlDocument(rawText) {\n    const text = normalizeText(rawText);\n    if (!text) return {};\n    const lines = text.split('\\n');\n    const state = { index: 0 };\n    const initialIndent = nextMeaningfulIndent(lines, 0) ?? 0;\n    const document = parseNode(lines, state, initialIndent);\n    return document && typeof document === 'object' ? document : {};\n  }\n\n  class OpenApiCompactor {\n    constructor(spec, includeDescriptions = false) {\n      this.spec = spec || {};\n      this.includeDescriptions = includeDescriptions;\n      this.resolvedRefs = new Map();\n      this.schemaCache = new Map();\n      this.referencedSchemaNames = new Set();\n    }\n\n    compact() {\n      const output = { ops: this.compactOperations() };\n      const api = this.compactInfo();\n      const defs = this.compactComponentSchemas();\n      if (Object.keys(api).length) output.api = api;\n      if (Object.keys(defs).length) output.defs = defs;\n      return output;\n    }\n\n    compactInfo() {\n      const components = this.spec.components || {};\n      const securitySchemes = components.securitySchemes || {};\n      const output = {};\n\n      const auth = {};\n      for (const [name, scheme] of Object.entries(securitySchemes)) {\n        auth[name] = this.compactSecurityScheme(scheme);\n      }\n      if (Object.keys(auth).length) output.auth = auth;\n\n      const globalSecurity = this.compactSecurity(this.spec.security);\n      if (globalSecurity !== null) output.security = globalSecurity;\n\n      return output;\n    }\n\n    compactSecurityScheme(scheme) {\n      const resolved = this.resolveIfRef(scheme) || {};\n      const type = resolved.type || 'unknown';\n\n      if (type === 'http') {\n        let value = type;\n        if (resolved.scheme) value += ':' + resolved.scheme;\n        if (resolved.bearerFormat) value += ':' + resolved.bearerFormat;\n        return value;\n      }\n\n      if (type === 'apiKey') {\n        return 'apiKey:' + (resolved.in || '?') + ':' + (resolved.name || '?');\n      }\n\n      if (type === 'oauth2') {\n        const flows = resolved.flows || {};\n        return { oauth2: Object.keys(flows).sort() };\n      }\n\n      if (type === 'openIdConnect') return 'openIdConnect';\n      return type;\n    }\n\n    compactSecurity(security) {\n      if (security === undefined || security === null) return null;\n      if (Array.isArray(security) && security.length === 0) return [];\n      if (!Array.isArray(security)) return null;\n\n      return security.map((requirement) => {\n        const item = {};\n        for (const [name, scopes] of Object.entries(requirement || {})) {\n          item[name] = Array.isArray(scopes) ? scopes : [];\n        }\n        return item;\n      });\n    }\n\n    compactOperations() {\n      const operations = {};\n      const paths = this.spec.paths || {};\n      const httpMethods = new Set(['get', 'post', 'put', 'patch', 'delete', 'options', 'head', 'trace']);\n\n      for (const [pathName, pathItem] of Object.entries(paths)) {\n        const resolvedPathItem = this.resolveIfRef(pathItem) || {};\n        const sharedParameters = Array.isArray(resolvedPathItem.parameters)\n          ? resolvedPathItem.parameters\n          : [];\n\n        for (const [method, operation] of Object.entries(resolvedPathItem)) {\n          if (!httpMethods.has(String(method).toLowerCase())) continue;\n\n          const resolvedOperation = this.resolveIfRef(operation) || {};\n          const key = String(method).toUpperCase() + ' ' + pathName;\n          const output = {};\n\n          const security = this.compactSecurity(resolvedOperation.security);\n          if (security !== null) output.security = security;\n\n          const params = this.compactParameters(sharedParameters, resolvedOperation.parameters || []);\n          if (Object.keys(params).length) output.params = params;\n\n          const requestBody = this.compactRequestBody(resolvedOperation.requestBody);\n          if (requestBody) output.body = requestBody;\n\n          const responses = this.compactResponses(resolvedOperation.responses || {});\n          if (Object.keys(responses).length) output.res = responses;\n\n          operations[key] = output;\n        }\n      }\n\n      return operations;\n    }\n\n    compactParameters(sharedParameters, localParameters) {\n      const merged = new Map();\n\n      for (const parameter of [...(sharedParameters || []), ...(localParameters || [])]) {\n        const resolved = this.resolveIfRef(parameter) || {};\n        const name = resolved.name;\n        const location = resolved.in;\n        if (!name || !location) continue;\n        merged.set(location + '::' + name, resolved);\n      }\n\n      const output = {};\n      for (const parameter of merged.values()) {\n        const location = parameter.in;\n        const name = parameter.required ? parameter.name : parameter.name + '?';\n        if (!output[location]) output[location] = {};\n        const summary = parameter.schema ? this.compactSchema(parameter.schema) : 'any';\n\n        if (this.includeDescriptions && parameter.description) {\n          output[location][name] = {\n            t: summary,\n            d: this.cleanText(parameter.description),\n          };\n        } else {\n          output[location][name] = summary;\n        }\n      }\n\n      return output;\n    }\n\n    compactRequestBody(requestBody) {\n      if (!requestBody) return null;\n\n      const resolved = this.resolveIfRef(requestBody) || {};\n      const output = {};\n      if (resolved.required) output.req = true;\n\n      const content = this.compactContent(resolved.content || {});\n      if (Object.keys(content).length) output.content = content;\n\n      if (this.includeDescriptions && resolved.description) {\n        output.d = this.cleanText(resolved.description);\n      }\n\n      return Object.keys(output).length ? output : null;\n    }\n\n    compactResponses(responses) {\n      const output = {};\n\n      for (const [statusCode, response] of Object.entries(responses || {})) {\n        const resolved = this.resolveIfRef(response) || {};\n        const item = {};\n\n        const content = this.compactContent(resolved.content || {});\n        if (Object.keys(content).length) item.content = content;\n\n        const headers = this.compactHeaders(resolved.headers || {});\n        if (Object.keys(headers).length) item.headers = headers;\n\n        output[String(statusCode)] = Object.keys(item).length ? item : 'response';\n      }\n\n      return output;\n    }\n\n    compactHeaders(headers) {\n      const output = {};\n      for (const [name, header] of Object.entries(headers || {})) {\n        const resolved = this.resolveIfRef(header) || {};\n        output[name] = resolved.schema ? this.compactSchema(resolved.schema) : 'any';\n      }\n      return output;\n    }\n\n    compactContent(content) {\n      const output = {};\n      for (const [contentType, mediaType] of Object.entries(content || {})) {\n        const resolved = this.resolveIfRef(mediaType) || {};\n        let entry = resolved.schema ? this.compactSchema(resolved.schema) : 'any';\n\n        if (this.includeDescriptions) {\n          if (resolved.example !== undefined) {\n            entry = { schema: entry, example: resolved.example };\n          } else if (resolved.examples) {\n            entry = { schema: entry, examples: Object.keys(resolved.examples).sort() };\n          }\n        }\n\n        output[contentType] = entry;\n      }\n      return output;\n    }\n\n    compactComponentSchemas() {\n      const schemas = (((this.spec || {}).components || {}).schemas) || {};\n      const output = {};\n      const queue = Array.from(this.referencedSchemaNames);\n      const visited = new Set();\n\n      while (queue.length) {\n        const name = queue.shift();\n        if (!name || visited.has(name) || !schemas[name]) continue;\n        visited.add(name);\n        output[name] = this.compactSchema(schemas[name], name);\n\n        for (const referencedName of this.referencedSchemaNames) {\n          if (!visited.has(referencedName) && !queue.includes(referencedName)) {\n            queue.push(referencedName);\n          }\n        }\n      }\n\n      return output;\n    }\n\n    compactSchema(schema, name = null) {\n      if (schema === undefined || schema === null) return 'any';\n\n      if (schema && typeof schema === 'object' && schema.$ref) {\n        return this.refLabel(schema.$ref);\n      }\n\n      const resolved = this.resolveIfRef(schema);\n      if (!resolved || typeof resolved !== 'object') return 'any';\n\n      if (name && this.schemaCache.has(name)) {\n        return this.schemaCache.get(name);\n      }\n\n      let result;\n      if (Array.isArray(resolved.allOf)) {\n        result = { allOf: resolved.allOf.map((item) => this.compactSchema(item)) };\n      } else if (Array.isArray(resolved.oneOf)) {\n        result = { oneOf: resolved.oneOf.map((item) => this.compactSchema(item)) };\n      } else if (Array.isArray(resolved.anyOf)) {\n        result = { anyOf: resolved.anyOf.map((item) => this.compactSchema(item)) };\n      } else if (resolved.type === 'array' || resolved.items) {\n        result = [this.compactSchema(resolved.items)];\n      } else if (this.looksLikeObjectSchema(resolved)) {\n        result = this.compactObjectSchema(resolved);\n      } else {\n        result = this.compactScalarSchema(resolved);\n      }\n\n      result = this.applyNullable(result, resolved);\n      if (name) this.schemaCache.set(name, result);\n      return result;\n    }\n\n    compactObjectSchema(schema) {\n      const properties = schema.properties || {};\n      const required = new Set(Array.isArray(schema.required) ? schema.required : []);\n      const output = {};\n\n      for (const [propertyName, propertySchema] of Object.entries(properties)) {\n        const key = required.has(propertyName) ? propertyName : propertyName + '?';\n        output[key] = this.compactSchema(propertySchema);\n      }\n\n      if (schema.additionalProperties) {\n        output['*'] = schema.additionalProperties === true\n          ? 'any'\n          : this.compactSchema(schema.additionalProperties);\n      }\n\n      if (!Object.keys(output).length) {\n        return 'object';\n      }\n\n      if (this.includeDescriptions && schema.description) {\n        return {\n          type: output,\n          d: this.cleanText(schema.description),\n        };\n      }\n\n      return output;\n    }\n\n    compactScalarSchema(schema) {\n      let value = schema.type || 'any';\n      if (schema.format) value += ':' + schema.format;\n      if (Array.isArray(schema.enum) && schema.enum.length) {\n        value += '[' + schema.enum.map((item) => JSON.stringify(item)).join(',') + ']';\n      }\n      return value;\n    }\n\n    applyNullable(result, schema) {\n      if (!schema.nullable) return result;\n      if (typeof result === 'string') return result + '|null';\n      return { nullable: result };\n    }\n\n    looksLikeObjectSchema(schema) {\n      return schema.type === 'object' || schema.properties || schema.additionalProperties;\n    }\n\n    resolveIfRef(node) {\n      if (!node || typeof node !== 'object') return node;\n      if (!node.$ref) return node;\n\n      const ref = node.$ref;\n      if (this.resolvedRefs.has(ref)) {\n        return this.resolvedRefs.get(ref);\n      }\n\n      let target = this.spec;\n      for (const rawPart of String(ref).replace(/^#\\//, '').split('/')) {\n        const part = rawPart.replace(/~1/g, '/').replace(/~0/g, '~');\n        target = target ? target[part] : undefined;\n      }\n\n      const resolved = this.resolveIfRef(target);\n      this.resolvedRefs.set(ref, resolved);\n      return resolved;\n    }\n\n    refLabel(ref) {\n      const normalizedRef = String(ref || '');\n      const parts = normalizedRef.split('/');\n      const label = parts[parts.length - 1];\n      if (normalizedRef.startsWith('#/components/schemas/') && label) {\n        this.referencedSchemaNames.add(label);\n      }\n      return '@' + label;\n    }\n\n    cleanText(value) {\n      return String(value || '').split(/\\s+/).filter(Boolean).join(' ');\n    }\n  }\n\n  let requirements = null;\n  let openapi = null;\n\n  for (let itemIndex = 0; itemIndex < items.length; itemIndex += 1) {\n    if (!requirements) {\n      requirements = await readBinaryText.call(this, itemIndex, 'requirements', 'requirements.md');\n    }\n    if (!openapi) {\n      openapi = await readBinaryText.call(this, itemIndex, 'openapiSpec', 'openapi.yaml');\n    }\n  }\n\n  if (!requirements) {\n    throw new Error('Requirements binary is missing, cannot compact tests context.');\n  }\n  if (!openapi) {\n    throw new Error('OpenAPI binary is missing, cannot compact tests context.');\n  }\n\n  const requirementsText = compactRequirementsText(requirements.text);\n  if (!requirementsText) {\n    throw new Error('Requirements text is empty after compaction.');\n  }\n\n  const openapiRaw = normalizeText(openapi.text || '');\n  if (!openapiRaw) {\n    throw new Error('OpenAPI text is empty, cannot compact specification.');\n  }\n\n  let parsedSpec;\n  if (openapiRaw.startsWith('{')) {\n    try {\n      parsedSpec = JSON.parse(openapiRaw);\n    } catch {\n      parsedSpec = parseYamlDocument(openapiRaw);\n    }\n  } else {\n    parsedSpec = parseYamlDocument(openapiRaw);\n  }\n\n  if (!parsedSpec || typeof parsedSpec !== 'object' || !Object.keys(parsedSpec).length) {\n    throw new Error('Failed to parse OpenAPI document into a compactable object.');\n  }\n\n  const compactedSpec = new OpenApiCompactor(parsedSpec, false).compact();\n  const compactedText = JSON.stringify(compactedSpec);\n\n  return [{\n    json: {},\n    binary: {\n      requirements: {\n        data: Buffer.from(requirementsText, 'utf8').toString('base64'),\n        mimeType: 'text/plain',\n        fileExtension: 'txt',\n        fileName: 'requirements-compact.txt',\n      },\n      openapiSpec: {\n        data: Buffer.from(compactedText, 'utf8').toString('base64'),\n        mimeType: 'application/json',\n        fileExtension: 'json',\n        fileName: 'openapi-compact.json',\n      },\n    },\n  }];\n}\n\nreturn await beCompactContextArtifacts.call(this);\n\r\n"
      },
      "id": "0684cfd1-a08c-4988-9bf8-598969b1ca6b",
      "name": "TEST - Compact Context Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12944,
        4208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "TEST - Generate Refinement Model": {
      "ai_languageModel": [
        [
          {
            "node": "TEST - Generate Refinement Structure",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Refined Zip and Structure": {
      "main": [
        [
          {
            "node": "TEST - Create Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Link and Zip": {
      "main": [
        [
          {
            "node": "TEST - Prepare Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - More Files?": {
      "main": [
        [
          {
            "node": "TEST - Build Chunk Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TEST - Assemble Tests Zip Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Generate Chunk Model": {
      "ai_languageModel": [
        [
          {
            "node": "TEST - Generate Chunk",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TEST - More Refinement Files?": {
      "main": [
        [
          {
            "node": "TEST - Build Refinement Chunk Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TEST - Assemble Refined Tests Zip Inputs",
            "type": "main",
            "index": 0
          },
          {
            "node": "TEST - Refined Structure File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Init Refinement State": {
      "main": [
        [
          {
            "node": "TEST - More Refinement Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Generate Refinement Chunk Model": {
      "ai_languageModel": [
        [
          {
            "node": "TEST - Generate Refinement Chunk",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Build Prompt": {
      "main": [
        [
          {
            "node": "TEST - Generate Structure",
            "type": "main",
            "index": 0
          },
          {
            "node": "TEST - Structure and Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Update Refinement State": {
      "main": [
        [
          {
            "node": "TEST - More Refinement Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Generate Structure Model": {
      "ai_languageModel": [
        [
          {
            "node": "TEST - Generate Structure",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Create Zip Link": {
      "main": [
        [
          {
            "node": "TEST - Link and Zip",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TEST - Refinement Plan and Context": {
      "main": [
        [
          {
            "node": "TEST - Extract Refinement Tests Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Clean Refinement Response": {
      "main": [
        [
          {
            "node": "TEST - Refinement Plan and Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Build Chunk Prompt": {
      "main": [
        [
          {
            "node": "TEST - Generate Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Extract Refinement Tests Zip": {
      "main": [
        [
          {
            "node": "TEST - Init Refinement State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Clean Structure Response": {
      "main": [
        [
          {
            "node": "TEST - Structure File",
            "type": "main",
            "index": 0
          },
          {
            "node": "TEST - Structure and Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TEST - Generate Structure": {
      "main": [
        [
          {
            "node": "TEST - Clean Structure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Structure and Context": {
      "main": [
        [
          {
            "node": "TEST - Init Generation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Assemble Tests Zip Inputs": {
      "main": [
        [
          {
            "node": "TEST - Tests Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Refined Structure File": {
      "main": [
        [
          {
            "node": "TEST - Refined Zip and Structure",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TEST - Clean Refinement Chunk Response": {
      "main": [
        [
          {
            "node": "TEST - Update Refinement State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Generate Refinement Structure": {
      "main": [
        [
          {
            "node": "TEST - Clean Refinement Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Zip and Structure": {
      "main": [
        [
          {
            "node": "TEST - Create Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Build Refinement Chunk Prompt": {
      "main": [
        [
          {
            "node": "TEST - Generate Refinement Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Prepare Information": {
      "main": [
        [
          {
            "node": "TEST - Review Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Refined Tests Zip": {
      "main": [
        [
          {
            "node": "TEST - Refined Zip and Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Generate Chunk": {
      "main": [
        [
          {
            "node": "TEST - Clean Chunk Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Assemble Refined Tests Zip Inputs": {
      "main": [
        [
          {
            "node": "TEST - Refined Tests Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Build Refinement Prompt": {
      "main": [
        [
          {
            "node": "TEST - Generate Refinement Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Init Generation State": {
      "main": [
        [
          {
            "node": "TEST - Build Chunk Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Update Generation State": {
      "main": [
        [
          {
            "node": "TEST - More Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Structure File": {
      "main": [
        [
          {
            "node": "TEST - Zip and Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Generate Refinement Chunk": {
      "main": [
        [
          {
            "node": "TEST - Clean Refinement Chunk Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Clean Chunk Response": {
      "main": [
        [
          {
            "node": "TEST - Update Generation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Tests Zip": {
      "main": [
        [
          {
            "node": "TEST - Zip and Structure",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TEST - Review Output": {
      "main": [
        [
          {
            "node": "TEST - Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Execute Refinement?": {
      "main": [
        [
          {
            "node": "TEST - Start Refinement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TEST - Compact Context Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Sanitize Output Context": {
      "main": [
        [
          {
            "node": "TEST - Workflow Output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TEST - Create Link": {
      "main": [
        [
          {
            "node": "TEST - Link and Zip",
            "type": "main",
            "index": 0
          },
          {
            "node": "TEST - Create Zip Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Workflow Trigger": {
      "main": [
        [
          {
            "node": "TEST - Execute Refinement?",
            "type": "main",
            "index": 0
          },
          {
            "node": "TEST - Sanitize Output Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST - Start Refinement": {
      "main": [
        [
          {
            "node": "TEST - Build Refinement Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "TEST - Refinement Plan and Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TEST - Compact Context Artifacts": {
      "main": [
        [
          {
            "node": "TEST - Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bc019970-6747-48bb-bccd-7b42863ac18f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af49a67438f7e7c513a029a95d0dadb7f585243236e86464fcac385b6f1438c3"
  },
  "id": "h7qFrKACAcRj8pcN",
  "tags": []
}