workflows/n8n-progress/daily/subworkflows-method-v3/backend-validation.json
{
  "name": "backend-validation",
  "nodes": [
    {
      "parameters": {
        "jsCode": "function buildValidationHelperInput() {\n  return $input.all().map((item) => {\n    const inputJson = item.json || {};\n\n    const rawAttempts = Number(\n      inputJson.maxCompileFixAttempts ?? inputJson.maxAttempts ?? inputJson.max_fix_attempts ?? 50,\n    );\n    const maxCompileFixAttempts = Number.isFinite(rawAttempts)\n      ? Math.max(1, Math.min(50, Math.floor(rawAttempts)))\n      : 50;\n\n    const outputBinary = { ...(item.binary ?? {}) };\n    if (!outputBinary.backendZip && outputBinary.reviewZip) {\n      outputBinary.backendZip = outputBinary.reviewZip;\n    }\n\n    return {\n      json: {\n        ...inputJson,\n        compileFixAttempt: Number(inputJson.compileFixAttempt || 0),\n        maxCompileFixAttempts,\n        requirementsText: String(inputJson.requirementsText || ''),\n        requirementsFile: String(inputJson.requirementsFile || 'requirements.txt'),\n        openapiText: String(inputJson.openapiText || ''),\n        openapiFile: String(inputJson.openapiFile || 'openapi.yaml'),\n      },\n      binary: outputBinary,\n    };\n  });\n}\n\nreturn buildValidationHelperInput();"
      },
      "id": "f86daa26-f948-4d67-aa0b-6e8251124482",
      "name": "BEV - Input Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24304,
        11984
      ]
    },
    {
      "parameters": {
        "binaryPropertyName": "backendZip",
        "outputPrefix": "current_"
      },
      "id": "708fbb6b-8fd0-47ee-a696-dbe4627a969b",
      "name": "BEV - Extract Backend ZIP",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        24544,
        11984
      ]
    },
    {
      "parameters": {
        "jsCode": "function buildValidationHelperOutput() {\n  return $input.all().map((item) => ({\n    json: {\n      validationCompleted: true,\n      ...(item.json || {}),\n    },\n    binary: item.binary ?? {},\n  }));\n}\n\nreturn buildValidationHelperOutput();\n"
      },
      "id": "2117e9c0-b029-4033-93c2-28c4e3a5cdce",
      "name": "BEV - Validation Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27072,
        11728
      ]
    },
    {
      "parameters": {
        "jsCode": "async function loadBackendZipForValidation() {\n  const item = $input.first() || { json: {}, binary: {} };\n  const json = item.json || {};\n  const binary = item.binary || {};\n\n  const maxFileBytes = 1024 * 1024 * 2;\n\n  function normalizeBackendPath(rawPath) {\n    const normalized = String(rawPath || '')\n      .replace(/\\\\/g, '/')\n      .trim()\n      .replace(/^\\.\\//, '')\n      .replace(/^\\/+/, '')\n      .replace(/\\/+/g, '/');\n\n    if (!normalized) return '';\n    if (normalized.endsWith('/')) return '';\n    if (normalized.startsWith('__MACOSX/')) return '';\n    if (normalized.endsWith('/.DS_Store')) return '';\n    if (normalized === '.DS_Store') return '';\n\n    if (normalized.startsWith('backend/target/') || normalized === 'backend/target') return '';\n    if (normalized.startsWith('backend/bin/') || normalized === 'backend/bin') return '';\n    if (normalized.startsWith('backend/')) return normalized;\n    if (normalized === 'backend') return '';\n\n    const prefixed = `backend/${normalized}`;\n    if (prefixed.startsWith('backend/target/') || prefixed === 'backend/target') return '';\n    if (prefixed.startsWith('backend/bin/') || prefixed === 'backend/bin') return '';\n    return prefixed;\n  }\n\n  function isLikelyTextBuffer(buffer) {\n    const len = Math.min(buffer.length, 2048);\n    for (let index = 0; index < len; index += 1) {\n      if (buffer[index] === 0) return false;\n    }\n    return true;\n  }\n\n  function pruneDirectoryMarkerEntries(byPath) {\n    const paths = Array.from(byPath.keys());\n    for (const path of paths) {\n      const content = String(byPath.get(path) ?? '');\n      if (content.length !== 0) continue;\n      const prefix = `${path}/`;\n      const hasChildFile = paths.some((candidate) => candidate !== path && candidate.startsWith(prefix));\n      if (hasChildFile) {\n        byPath.delete(path);\n      }\n    }\n  }\n\n  async function readBinaryBuffer(propertyName, binaryEntry) {\n    try {\n      if (typeof this?.helpers?.getBinaryDataBuffer === 'function') {\n        const fromHelper = await this.helpers.getBinaryDataBuffer(0, propertyName);\n        if (fromHelper) return fromHelper;\n      }\n    } catch {}\n\n    try {\n      const raw = String(binaryEntry?.data ?? '');\n      if (!raw || raw === 'filesystem-v2') return null;\n      return Buffer.from(raw, 'base64');\n    } catch {\n      return null;\n    }\n  }\n\n  const extractedEntries = Object.entries(binary).filter(([propertyName]) => /^current_/i.test(propertyName));\n  if (!extractedEntries.length) {\n    return [{\n      json: {\n        ...json,\n        compilePassed: false,\n        compileErrorMessage: 'No extracted files found. Upload a valid backend ZIP in the form field backendZip.',\n        compileExitCode: 1,\n        compileRawExitCode: 'MISSING_ZIP_CONTENT',\n        compileHadError: true,\n        generatedFiles: [],\n      },\n      binary,\n    }];\n  }\n\n  const byPath = new Map();\n\n  for (const [propertyName, entry] of extractedEntries) {\n    const rawEntryPath = (() => {\n      const fileName = String(entry?.fileName || '').replace(/\\\\/g, '/').trim();\n      const directory = String(entry?.directory || '').replace(/\\\\/g, '/').trim();\n\n      if (!fileName) return '';\n      if (!directory) return fileName;\n      if (fileName.startsWith('backend/') || fileName.includes('/')) return fileName;\n\n      return directory.replace(/\\/+$/, '') + '/' + fileName.replace(/^\\/+/, '');\n    })();\n    const filePath = normalizeBackendPath(rawEntryPath);\n    if (!filePath) continue;\n\n    const buffer = await readBinaryBuffer.call(this, propertyName, entry);\n    if (!buffer) continue;\n    if (buffer.length > maxFileBytes) continue;\n    if (!isLikelyTextBuffer(buffer)) continue;\n\n    const content = buffer.toString('utf8');\n    if (!byPath.has(filePath)) {\n      byPath.set(filePath, content);\n    }\n  }\n\n  // Some ZIP extractors emit directory markers as zero-byte pseudo-files\n  // (e.g. backend/src/main and backend/src/test). Remove those markers.\n  pruneDirectoryMarkerEntries(byPath);\n\n  const generatedFiles = Array.from(byPath.entries())\n    .map(([path, content]) => ({ path, content }))\n    .sort((a, b) => a.path.localeCompare(b.path));\n\n  if (!generatedFiles.length) {\n    return [{\n      json: {\n        ...json,\n        compilePassed: false,\n        compileErrorMessage: 'Uploaded ZIP did not contain readable text files for backend validation.',\n        compileExitCode: 1,\n        compileRawExitCode: 'NO_TEXT_FILES',\n        compileHadError: true,\n        generatedFiles: [],\n      },\n      binary,\n    }];\n  }\n\n  return [{\n    json: {\n      ...json,\n      generatedFiles,\n      generatedFilePaths: generatedFiles.map((file) => file.path),\n      generatedFileCountTotal: generatedFiles.length,\n      allPlannedFiles: generatedFiles.map((file) => ({ path: file.path })),\n      compileFixAttempt: Number(json.compileFixAttempt || 0),\n      maxCompileFixAttempts: Math.max(1, Number(json.maxCompileFixAttempts || 50)),\n      requirementsText: String(json.requirementsText || ''),\n      requirementsFile: String(json.requirementsFile || 'requirements.txt'),\n      openapiText: String(json.openapiText || ''),\n      openapiFile: String(json.openapiFile || 'openapi.yaml'),\n    },\n    binary,\n  }];\n}\n\nreturn loadBackendZipForValidation();\n"
      },
      "id": "5141520d-4ab7-41d1-9372-c51d07eb6e69",
      "name": "BEV - Load Backend ZIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24784,
        11984
      ]
    },
    {
      "parameters": {
        "formTitle": "Backend Validation Helper",
        "formDescription": "Upload a backend ZIP and run compile/startup/test validation with automatic fix loop.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Backend ZIP",
              "fieldType": "file",
              "fieldName": "backendZip",
              "multipleFiles": false,
              "acceptFileTypes": ".zip"
            }
          ]
        },
        "options": {
          "buttonLabel": "Run Validation",
          "path": "c4dfd2eb-7a20-45ab-805c-6ba8ee1514af",
          "useWorkflowTimezone": true
        }
      },
      "id": "599c6f7f-d4c1-4f9b-abdc-acd0a7ca7640",
      "name": "BEV - Start Validation Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        24064,
        11888
      ],
      "webhookId": "c4dfd2eb-7a20-45ab-805c-6ba8ee1514af"
    },
    {
      "parameters": {},
      "id": "97c4597e-6f63-4aa5-8700-dba43278f55e",
      "name": "BEV - Start Validation Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        24064,
        12080
      ]
    },
    {
      "parameters": {
        "jsCode": "async function beCompileGeneratedBackend() {\n  const item = $input.first();\n  if (!item) {\n    return [{\n      json: {\n        compilePassed: false,\n        compileErrorMessage: 'No backend generation state available for compilation.',\n        compileExitCode: 1,\n        compileRawExitCode: 'NO_INPUT',\n        compileHadError: true,\n      },\n      binary: {},\n    }];\n  }\n\n  const json = item.json || {};\n  const generatedFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n  if (!generatedFiles.length) {\n    return [{\n      json: {\n        ...json,\n        compilePassed: false,\n        compileErrorMessage: 'No generated backend files found for compilation.',\n        compileExitCode: 1,\n        compileRawExitCode: 'NO_GENERATED_FILES',\n        compileHadError: true,\n      },\n      binary: item.binary ?? {},\n    }];\n  }\n\n  let fs;\n  let path;\n  let os;\n  let childProcess;\n  try {\n    fs = require('fs');\n    path = require('path');\n    os = require('os');\n    childProcess = require('child_process');\n  } catch (error) {\n    return [{\n      json: {\n        ...json,\n        compilePassed: false,\n        compileErrorMessage:\n          'Compilation step requires built-in modules (fs, path, os, child_process). ' +\n          'If disabled, set NODE_FUNCTION_ALLOW_BUILTIN=fs,path,os,child_process. ' +\n          String(error?.message ?? error ?? ''),\n        compileExitCode: 1,\n        compileRawExitCode: 'MISSING_BUILTINS',\n        compileHadError: true,\n      },\n      binary: item.binary ?? {},\n    }];\n  }\n\n  function normalizeContent(contentValue) {\n    if (typeof contentValue === 'string') return contentValue;\n    if (contentValue === null || contentValue === undefined) return '';\n    if (typeof contentValue === 'object') return JSON.stringify(contentValue, null, 2);\n    return String(contentValue);\n  }\n\n  function buildGeneratedIndexes(files) {\n    const generatedContentByPath = new Map();\n    const generatedPathSet = new Set();\n    const basenameIndex = new Map();\n\n    for (const file of files) {\n      const filePath = String(file?.path || '').trim().replace(/\\\\/g, '/');\n      if (!filePath.startsWith('backend/')) continue;\n      if (filePath === 'backend/target' || filePath.startsWith('backend/target/')) continue;\n\n      const content = normalizeContent(file?.content);\n      generatedContentByPath.set(filePath, content);\n      generatedPathSet.add(filePath);\n\n      const basename = filePath.split('/').pop()?.toLowerCase() || '';\n      if (!basename) continue;\n      if (!basenameIndex.has(basename)) basenameIndex.set(basename, []);\n      basenameIndex.get(basename).push(filePath);\n    }\n\n    return { generatedContentByPath, generatedPathSet, basenameIndex };\n  }\n\n  function extractTopLevelTypeDeclarations(content) {\n    const text = String(content || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n    const declarations = [];\n    const pattern = /^\\s*(public\\s+)?(?:abstract\\s+|final\\s+)?(?:class|interface|enum|record)\\s+([A-Za-z_][A-Za-z0-9_]*)\\b/gm;\n    for (const match of text.matchAll(pattern)) {\n      declarations.push({\n        isPublic: Boolean(match[1]),\n        typeName: String(match[2] || '').trim(),\n      });\n    }\n    return declarations.filter((entry) => entry.typeName);\n  }\n\n  function hasLikelyMalformedJavaStringLiteral(content) {\n    const text = String(content || '');\n    if (!text) return false;\n\n    // Detect invalid multiline string starts commonly produced in broken test patches,\n    // e.g. .content(\"{\\n  \\\"x\\\": ...\\n}\")\n    if (/(?:\\.content|\\.body|\\.payload)\\(\\s*\"\\s*[\\[{]\\s*\\n/m.test(text)) {\n      return true;\n    }\n\n    // Detect full-file JSON-style escaping (\\\" across most literals), which indicates\n    // Java source was likely emitted as escaped JSON text rather than raw source.\n    const escapedQuoteCount = (text.match(/\\\\\\\"/g) || []).length;\n    const plainQuoteCount = (text.match(/(^|[^\\\\])\"/g) || []).length;\n    const hasTextBlock = text.includes('\"\"\"');\n    if (!hasTextBlock && escapedQuoteCount >= 20 && escapedQuoteCount > plainQuoteCount * 1.8) {\n      return true;\n    }\n\n    return false;\n  }\n\n  function runPreCompileGuards(generatedContentByPath) {\n    const typeToPaths = new Map();\n    const violations = [];\n\n    for (const [filePath, content] of generatedContentByPath.entries()) {\n      if (!/\\.java$/i.test(filePath)) continue;\n      const declarations = extractTopLevelTypeDeclarations(content);\n      const basename = filePath.split('/').pop() || '';\n      const fileStem = basename.replace(/\\.java$/i, '');\n\n      for (const declaration of declarations) {\n        if (!typeToPaths.has(declaration.typeName)) typeToPaths.set(declaration.typeName, []);\n        typeToPaths.get(declaration.typeName).push(filePath);\n\n        if (declaration.isPublic && declaration.typeName && declaration.typeName !== fileStem) {\n          violations.push(\n            `[ERROR] ${filePath}: public type \"${declaration.typeName}\" must be declared in ${declaration.typeName}.java`,\n          );\n        }\n      }\n\n      if (hasLikelyMalformedJavaStringLiteral(content)) {\n        violations.push(\n          `[ERROR] ${filePath}: likely malformed Java string literal detected (invalid multiline string or JSON-escaped source).`,\n        );\n      }\n    }\n\n    for (const [typeName, paths] of typeToPaths.entries()) {\n      const uniquePaths = Array.from(new Set(paths)).sort((a, b) => a.localeCompare(b));\n      if (uniquePaths.length <= 1) continue;\n      violations.push(\n        `[ERROR] duplicate class: ${typeName} declared in ${uniquePaths.join(', ')}`,\n      );\n    }\n\n    return Array.from(new Set(violations));\n  }\n\n  function normalizeClassName(value) {\n    return String(value || '')\n      .trim()\n      .replace(/[:;,]+$/, '')\n      .replace(/\\$.*$/, '');\n  }\n\n  function classToPathCandidates(className, preferTests = false) {\n    const cleanClass = normalizeClassName(className);\n    if (!cleanClass) return [];\n\n    const parts = cleanClass.split('.').filter(Boolean);\n    if (!parts.length) return [];\n\n    const classLeaf = parts[parts.length - 1];\n    const packagePath = parts.slice(0, -1).join('/');\n    const exts = ['java', 'kt', 'groovy'];\n\n    const testRoots = [\n      'backend/src/test/java',\n      'backend/src/test/kotlin',\n      'backend/src/test/groovy',\n    ];\n    const mainRoots = [\n      'backend/src/main/java',\n      'backend/src/main/kotlin',\n      'backend/src/main/groovy',\n    ];\n    const roots = preferTests ? [...testRoots, ...mainRoots] : [...mainRoots, ...testRoots];\n\n    const candidates = [];\n    for (const root of roots) {\n      for (const ext of exts) {\n        if (packagePath) {\n          candidates.push(`${root}/${packagePath}/${classLeaf}.${ext}`);\n        } else {\n          candidates.push(`${root}/${classLeaf}.${ext}`);\n        }\n      }\n    }\n    return candidates;\n  }\n\n  function collectFailingTestClassNames(outputText) {\n    const text = String(outputText || '');\n    const found = new Set();\n    const patterns = [\n      /\\[ERROR\\]\\s+([A-Za-z_][A-Za-z0-9_.$]*)\\.[A-Za-z_][A-Za-z0-9_$<>]*\\s+.*<<<\\s+(?:FAILURE|ERROR)!/g,\n      /\\[ERROR\\]\\s+([A-Za-z_][A-Za-z0-9_.$]*Test[A-Za-z0-9_$]*)\\s+Time elapsed.*<<<\\s+(?:FAILURE|ERROR)!/g,\n      /\\[ERROR\\]\\s+([A-Za-z_][A-Za-z0-9_.$]*Test[A-Za-z0-9_$]*)\\.[A-Za-z_][A-Za-z0-9_$<>]*:\\d+/g,\n      /\\bin\\s+([A-Za-z_][A-Za-z0-9_.$]*Test[A-Za-z0-9_$]*)\\b/g,\n      /\\bat\\s+([A-Za-z_][A-Za-z0-9_.$]*Test[A-Za-z0-9_$]*)\\.[A-Za-z_][A-Za-z0-9_$<>]*\\(/g,\n    ];\n\n    for (const pattern of patterns) {\n      for (const match of text.matchAll(pattern)) {\n        const className = normalizeClassName(match[1]);\n        if (!className) continue;\n        if (!/Test/i.test(className)) continue;\n        found.add(className);\n      }\n    }\n\n    return Array.from(found);\n  }\n\n  function resolveFailingTestFilePaths(outputText, generatedPathSet, basenameIndex) {\n    const text = String(outputText || '');\n    const testPaths = new Set();\n\n    const explicitPathPattern = /backend[\\\\/](?:src[\\\\/](?:test|it)[\\\\/][A-Za-z0-9_.\\\\/\\\\-]+\\.(?:java|kt|groovy))/g;\n    for (const match of text.matchAll(explicitPathPattern)) {\n      const normalized = String(match[1] || match[0]).replace(/\\\\/g, '/').trim();\n      if (generatedPathSet.has(normalized)) {\n        testPaths.add(normalized);\n      }\n    }\n\n    for (const className of collectFailingTestClassNames(text)) {\n      const candidates = classToPathCandidates(className, true);\n      for (const candidate of candidates) {\n        if (generatedPathSet.has(candidate) && candidate.includes('/src/test/')) {\n          testPaths.add(candidate);\n          break;\n        }\n      }\n\n      const leaf = className.split('.').pop() || '';\n      if (!leaf) continue;\n      const basename = `${leaf}.java`.toLowerCase();\n      const options = basenameIndex.get(basename) || [];\n      for (const option of options) {\n        if (option.includes('/src/test/')) {\n          testPaths.add(option);\n        }\n      }\n    }\n\n    return Array.from(testPaths).sort((a, b) => a.localeCompare(b));\n  }\n\n  function collectSourceCandidatesFromLog(outputText, generatedPathSet, basenameIndex) {\n    const text = String(outputText || '');\n    const sourcePaths = new Set();\n\n    const stackClassPattern = /\\bat\\s+([A-Za-z_][A-Za-z0-9_.$]+)\\.[A-Za-z_][A-Za-z0-9_$<>]*\\([^)]+\\)/g;\n    for (const match of text.matchAll(stackClassPattern)) {\n      const className = normalizeClassName(match[1]);\n      if (!className || /Test/i.test(className)) continue;\n      const candidates = classToPathCandidates(className, false);\n      for (const candidate of candidates) {\n        if (generatedPathSet.has(candidate) && candidate.includes('/src/main/')) {\n          sourcePaths.add(candidate);\n          break;\n        }\n      }\n    }\n\n    const javaFilePattern = /\\(([A-Za-z0-9_.$-]+\\.java):\\d+\\)/g;\n    for (const match of text.matchAll(javaFilePattern)) {\n      const basename = String(match[1] || '').toLowerCase();\n      if (!basename || basename.endsWith('test.java')) continue;\n      const options = basenameIndex.get(basename) || [];\n      for (const option of options) {\n        if (option.includes('/src/main/')) {\n          sourcePaths.add(option);\n        }\n      }\n    }\n\n    return sourcePaths;\n  }\n\n  function inferSourceCandidatesFromTestFiles(testFilePaths, generatedContentByPath, generatedPathSet, basenameIndex) {\n    const sourcePaths = new Set();\n    const blockedPrefixes = [\n      'java.',\n      'javax.',\n      'jakarta.',\n      'org.junit.',\n      'org.mockito.',\n      'org.assertj.',\n      'org.hamcrest.',\n      'org.springframework.',\n      'lombok.',\n      'com.fasterxml.',\n      'org.apache.',\n    ];\n\n    for (const testPath of testFilePaths) {\n      const content = String(generatedContentByPath.get(testPath) || '');\n      if (!content) continue;\n\n      const importPattern = /^\\s*import\\s+([A-Za-z_][A-Za-z0-9_.]+)\\s*;/gm;\n      for (const match of content.matchAll(importPattern)) {\n        const fqcn = String(match[1] || '').trim();\n        if (!fqcn || blockedPrefixes.some((prefix) => fqcn.startsWith(prefix))) continue;\n        const candidates = classToPathCandidates(fqcn, false);\n        for (const candidate of candidates) {\n          if (generatedPathSet.has(candidate) && candidate.includes('/src/main/')) {\n            sourcePaths.add(candidate);\n            break;\n          }\n        }\n      }\n\n      const classLiteralPattern = /\\b([A-Z][A-Za-z0-9_]*)\\.class\\b/g;\n      for (const match of content.matchAll(classLiteralPattern)) {\n        const classBase = String(match[1] || '').trim();\n        if (!classBase || /Test$/i.test(classBase)) continue;\n        const basename = `${classBase}.java`.toLowerCase();\n        const options = basenameIndex.get(basename) || [];\n        for (const option of options) {\n          if (option.includes('/src/main/')) {\n            sourcePaths.add(option);\n          }\n        }\n      }\n\n      const testBasename = testPath.split('/').pop()?.replace(/\\.(java|kt|groovy)$/i, '') || '';\n      if (testBasename) {\n        const fromTestName = testBasename.replace(/(IT|Tests?|TestCase)$/i, '');\n        if (fromTestName && fromTestName !== testBasename) {\n          const basename = `${fromTestName}.java`.toLowerCase();\n          const options = basenameIndex.get(basename) || [];\n          for (const option of options) {\n            if (option.includes('/src/main/')) {\n              sourcePaths.add(option);\n            }\n          }\n        }\n      }\n    }\n\n    return sourcePaths;\n  }\n\n    function ensureDirectoryPath(targetPath) {\n    const resolved = path.resolve(targetPath);\n    const root = path.parse(resolved).root;\n    const segments = resolved.slice(root.length).split(path.sep).filter(Boolean);\n\n    let current = root;\n    for (const segment of segments) {\n      current = path.join(current, segment);\n      if (!fs.existsSync(current)) {\n        fs.mkdirSync(current);\n        continue;\n      }\n\n      let stat;\n      try {\n        stat = fs.statSync(current);\n      } catch {\n        fs.rmSync(current, { force: true });\n        fs.mkdirSync(current);\n        continue;\n      }\n\n      if (!stat.isDirectory()) {\n        fs.rmSync(current, { force: true });\n        fs.mkdirSync(current);\n      }\n    }\n  }\n  const compileSessionId = String(json.compileSessionId || `${Date.now()}-${Math.random().toString(36).slice(2, 8)}`);\n  const workspaceRoot = path.join(os.tmpdir(), 'n8n-backend-build', compileSessionId);\n  const backendDir = path.join(workspaceRoot, 'backend');\n  const generatedIndexes = buildGeneratedIndexes(generatedFiles);\n  const { generatedContentByPath, generatedPathSet, basenameIndex } = generatedIndexes;\n  if (!generatedContentByPath.size) {\n    return [{\n      json: {\n        ...json,\n        compileSessionId,\n        compileWorkspace: backendDir,\n        compilePassed: false,\n        compileErrorMessage: 'No materializable backend source files found (backend/target entries are ignored).',\n        compileExitCode: 1,\n        compileRawExitCode: 'NO_MATERIALIZABLE_FILES',\n        compileHadError: true,\n      },\n      binary: item.binary ?? {},\n    }];\n  }\n\n  const preCompileGuardViolations = runPreCompileGuards(generatedContentByPath);\n  if (preCompileGuardViolations.length > 0) {\n    const guardLog = [\n      '[ERROR] PRE_COMPILE_GUARD_FAILED',\n      ...preCompileGuardViolations.slice(0, 40),\n    ].join('\\n');\n    return [{\n      json: {\n        ...json,\n        compileSessionId,\n        compileWorkspace: backendDir,\n        compileCommand: 'pre-compile-guard',\n        compileValidationStage: 'guard',\n        compilePassed: false,\n        compileExitCode: 1,\n        compileRawExitCode: 'PRE_COMPILE_GUARD_FAILED',\n        compileHadError: true,\n        compileStdout: '',\n        compileStderr: guardLog,\n        compileErrorMessage: guardLog,\n        preCompileGuardFailed: true,\n        preCompileGuardViolationCount: preCompileGuardViolations.length,\n        preCompileGuardViolations: preCompileGuardViolations.slice(0, 40),\n      },\n      binary: item.binary ?? {},\n    }];\n  }\n\n  try {\n    if (fs.existsSync(backendDir)) {\n      fs.rmSync(backendDir, { recursive: true, force: true });\n    }\n    fs.mkdirSync(backendDir, { recursive: true });\n\n    for (const [filePath, content] of generatedContentByPath.entries()) {\n      const absolutePath = path.join(workspaceRoot, ...filePath.split('/'));\n      ensureDirectoryPath(path.dirname(absolutePath));\n      fs.writeFileSync(absolutePath, content, 'utf8');\n    }\n\n    const targetDir = path.join(backendDir, 'target');\n    if (fs.existsSync(targetDir)) {\n      fs.rmSync(targetDir, { recursive: true, force: true });\n    }\n  } catch (error) {\n    return [{\n      json: {\n        ...json,\n        compileSessionId,\n        compileWorkspace: backendDir,\n        compilePassed: false,\n        compileErrorMessage: 'Failed to materialize backend directory before compile: ' + String(error?.message ?? error ?? ''),\n        compileExitCode: 1,\n        compileRawExitCode: 'MATERIALIZE_FAILED',\n        compileHadError: true,\n      },\n      binary: item.binary ?? {},\n    }];\n  }\n\n  if (!fs.existsSync(path.join(backendDir, 'pom.xml'))) {\n    return [{\n      json: {\n        ...json,\n        compileSessionId,\n        compileWorkspace: backendDir,\n        compilePassed: false,\n        compileErrorMessage: 'Generated backend does not contain backend/pom.xml, cannot run Maven compile.',\n        compileExitCode: 1,\n        compileRawExitCode: 'MISSING_POM',\n        compileHadError: true,\n      },\n      binary: item.binary ?? {},\n    }];\n  }\n\n  const MAX_OUTPUT_CHARS = 20 * 1024 * 1024;\n  const SPRING_BOOT_STARTUP_TIMEOUT_MS = Math.max(30000, Number(json.springBootStartupTimeoutMs || 120000));\n  const MAVEN_TEST_TIMEOUT_MS = Math.max(60000, Number(json.mavenTestTimeoutMs || 300000));\n  const forceDependencyUpdate = json.forceDependencyUpdate !== false;\n  const generateSourcesArgs = forceDependencyUpdate\n    ? ['-q', '-U', '-DskipTests', 'generate-sources']\n    : ['-q', '-DskipTests', 'generate-sources'];\n  const generateSourcesCommandText = `mvn ${generateSourcesArgs.join(' ')}`;\n  const compileArgs = forceDependencyUpdate\n    ? ['-q', '-U', '-DskipTests', 'compile']\n    : ['-q', '-DskipTests', 'compile'];\n  const compileCommandText = `mvn ${compileArgs.join(' ')}`;\n  const runArgs = [\n    '-q',\n    '-DskipTests',\n    '-Dmaven.test.skip=true',\n    '-Dspring-boot.run.useTestClasspath=false',\n    'spring-boot:run',\n  ];\n  const runCommandText = `mvn ${runArgs.join(' ')}`;\n\n  function appendLimited(target, chunk) {\n    const value = String(chunk ?? '');\n    if (!value) return target;\n    const next = target + value;\n    if (next.length <= MAX_OUTPUT_CHARS) return next;\n    return next.slice(next.length - MAX_OUTPUT_CHARS);\n  }\n\n  function getProcessEnvSafe() {\n    try {\n      if (typeof process !== 'undefined' && process && process.env && typeof process.env === 'object') {\n        return process.env;\n      }\n    } catch {}\n    return null;\n  }\n\n  const PROCESS_ENV = getProcessEnvSafe();\n\n  function buildProcessEnv(extraEnv = null) {\n    const hasExtraEnv = Boolean(extraEnv && typeof extraEnv === 'object' && Object.keys(extraEnv).length > 0);\n    if (!hasExtraEnv) {\n      return PROCESS_ENV || undefined;\n    }\n\n    if (!PROCESS_ENV) {\n      return undefined;\n    }\n\n    return {\n      ...PROCESS_ENV,\n      ...extraEnv,\n    };\n  }\n\n  function buildRuntimeMavenProperties(envOverrides = null) {\n    const source = envOverrides && typeof envOverrides === 'object' ? envOverrides : {};\n    const props = [];\n    const mappings = [\n      ['SPRING_DATASOURCE_URL', 'spring.datasource.url'],\n      ['SPRING_DATASOURCE_USERNAME', 'spring.datasource.username'],\n      ['SPRING_DATASOURCE_PASSWORD', 'spring.datasource.password'],\n      ['SPRING_DATASOURCE_URL', 'spring.liquibase.url'],\n      ['SPRING_DATASOURCE_USERNAME', 'spring.liquibase.user'],\n      ['SPRING_DATASOURCE_PASSWORD', 'spring.liquibase.password'],\n    ];\n\n    for (const [envKey, propertyKey] of mappings) {\n      const value = source[envKey];\n      if (value == null || value === '') continue;\n      props.push(`-D${propertyKey}=${String(value)}`);\n    }\n\n    return props;\n  }\n\n  function buildSpringBootRunArguments(envOverrides = null) {\n    const source = envOverrides && typeof envOverrides === 'object' ? envOverrides : {};\n    const args = [];\n    const mappings = [\n      ['SPRING_DATASOURCE_URL', 'spring.datasource.url'],\n      ['SPRING_DATASOURCE_USERNAME', 'spring.datasource.username'],\n      ['SPRING_DATASOURCE_PASSWORD', 'spring.datasource.password'],\n      ['SPRING_DATASOURCE_URL', 'spring.liquibase.url'],\n      ['SPRING_DATASOURCE_USERNAME', 'spring.liquibase.user'],\n      ['SPRING_DATASOURCE_PASSWORD', 'spring.liquibase.password'],\n    ];\n\n    for (const [envKey, propertyKey] of mappings) {\n      const value = source[envKey];\n      if (value == null || value === '') continue;\n      args.push(`--${propertyKey}=${String(value)}`);\n    }\n\n    return args;\n  }\n\n  function runMavenGoal(args, extraEnv = null) {\n    return new Promise((resolve) => {\n      childProcess.execFile(\n        'mvn',\n        args,\n        {\n          cwd: backendDir,\n          windowsHide: true,\n          maxBuffer: MAX_OUTPUT_CHARS,\n          env: buildProcessEnv(extraEnv),\n        },\n        (error, stdout, stderr) => {\n          const hadError = Boolean(error);\n          const rawCode = error?.code;\n          const normalizedCode = typeof rawCode === 'number' ? rawCode : (hadError ? 1 : 0);\n          resolve({\n            code: normalizedCode,\n            rawCode: rawCode == null ? '' : String(rawCode),\n            hadError,\n            stdout: String(stdout ?? ''),\n            stderr: String(stderr ?? ''),\n            errorMessage: String(error?.message ?? ''),\n          });\n        },\n      );\n    });\n  }\n\n  function runMavenGenerateSources(extraEnv = null) {\n    return runMavenGoal(generateSourcesArgs, extraEnv);\n  }\n\n  function runMavenCompile(extraEnv = null) {\n    return runMavenGoal(compileArgs, extraEnv);\n  }\n\n  function runSpringBootValidation(extraEnv = null, extraMavenProps = [], appArguments = []) {\n    return new Promise((resolve) => {\n      const startupPattern = /Started\\s+.+\\s+in\\s+[0-9.]+\\s+seconds/i;\n      let stdout = '';\n      let stderr = '';\n      let started = false;\n      let timedOut = false;\n      let finished = false;\n      let spawnErrorMessage = '';\n      const springBootArgs = Array.isArray(appArguments)\n        ? appArguments.filter((value) => value != null && String(value).trim() !== '').map((value) => String(value))\n        : [];\n      const runArgumentsProperty = springBootArgs.length\n        ? [`-Dspring-boot.run.arguments=${springBootArgs.join(' ')}`]\n        : [];\n\n      const child = childProcess.spawn(\n        'mvn',\n        [...runArgs, ...extraMavenProps, ...runArgumentsProperty],\n        {\n          cwd: backendDir,\n          windowsHide: true,\n          env: buildProcessEnv(extraEnv),\n        },\n      );\n\n      function finalize(payload) {\n        if (finished) return;\n        finished = true;\n        clearTimeout(timer);\n        resolve({\n          ...payload,\n          stdout,\n          stderr,\n        });\n      }\n\n      function tryMarkStarted() {\n        if (started) return;\n        const combined = stdout + '\\n' + stderr;\n        if (!startupPattern.test(combined)) return;\n        started = true;\n        setTimeout(() => {\n          try {\n            child.kill('SIGTERM');\n          } catch {}\n        }, 500);\n        setTimeout(() => {\n          try {\n            child.kill('SIGKILL');\n          } catch {}\n        }, 3000);\n      }\n\n      const timer = setTimeout(() => {\n        timedOut = true;\n        try {\n          child.kill('SIGTERM');\n        } catch {}\n        setTimeout(() => {\n          try {\n            child.kill('SIGKILL');\n          } catch {}\n        }, 2500);\n      }, SPRING_BOOT_STARTUP_TIMEOUT_MS);\n\n      child.stdout.on('data', (chunk) => {\n        stdout = appendLimited(stdout, chunk);\n        tryMarkStarted();\n      });\n\n      child.stderr.on('data', (chunk) => {\n        stderr = appendLimited(stderr, chunk);\n        tryMarkStarted();\n      });\n\n      child.on('error', (error) => {\n        spawnErrorMessage = String(error?.message ?? error ?? '');\n      });\n\n      child.on('close', (exitCode, signal) => {\n        if (started) {\n          finalize({\n            code: 0,\n            rawCode: signal ? String(signal) : String(exitCode ?? ''),\n            hadError: false,\n            errorMessage: '',\n            started: true,\n            timedOut: false,\n          });\n          return;\n        }\n\n        if (timedOut) {\n          finalize({\n            code: 1,\n            rawCode: 'RUN_STARTUP_TIMEOUT',\n            hadError: true,\n            errorMessage: `spring-boot:run did not report successful startup within ${SPRING_BOOT_STARTUP_TIMEOUT_MS}ms.`,\n            started: false,\n            timedOut: true,\n          });\n          return;\n        }\n\n        const normalizedCode = typeof exitCode === 'number' ? exitCode : 1;\n        finalize({\n          code: normalizedCode,\n          rawCode: signal ? String(signal) : String(exitCode ?? ''),\n          hadError: true,\n          errorMessage: spawnErrorMessage || `spring-boot:run exited before successful startup (code=${normalizedCode}).`,\n          started: false,\n          timedOut: false,\n        });\n      });\n    });\n  }\n\n  function runMavenTests(extraEnv = null, extraMavenProps = []) {\n    return new Promise((resolve) => {\n      childProcess.execFile(\n        'mvn',\n        ['-q', ...extraMavenProps, 'test'],\n        {\n          cwd: backendDir,\n          windowsHide: true,\n          timeout: MAVEN_TEST_TIMEOUT_MS,\n          maxBuffer: MAX_OUTPUT_CHARS,\n          env: buildProcessEnv(extraEnv),\n        },\n        (error, stdout, stderr) => {\n          const hadError = Boolean(error);\n          const rawCode = error?.code;\n          const normalizedCode = typeof rawCode === 'number' ? rawCode : (hadError ? 1 : 0);\n          resolve({\n            code: normalizedCode,\n            rawCode: rawCode == null ? '' : String(rawCode),\n            hadError,\n            stdout: String(stdout ?? ''),\n            stderr: String(stderr ?? ''),\n            errorMessage: String(error?.message ?? ''),\n          });\n        },\n      );\n    });\n  }\n\n  function runExternalCommand(command, args, timeoutMs = 30000) {\n    return new Promise((resolve) => {\n      childProcess.execFile(\n        command,\n        args,\n        {\n          windowsHide: true,\n          timeout: timeoutMs,\n          maxBuffer: 4 * 1024 * 1024,\n        },\n        (error, stdout, stderr) => {\n          const hadError = Boolean(error);\n          const rawCode = error?.code;\n          resolve({\n            code: typeof rawCode === 'number' ? rawCode : (hadError ? 1 : 0),\n            hadError,\n            stdout: String(stdout ?? ''),\n            stderr: String(stderr ?? ''),\n            errorMessage: String(error?.message ?? ''),\n          });\n        },\n      );\n    });\n  }\n\n  function sleep(ms) {\n    return new Promise((resolve) => setTimeout(resolve, ms));\n  }\n\n  function unquote(value) {\n    const text = String(value ?? '').trim();\n    if (!text) return '';\n    if (\n      (text.startsWith('\"') && text.endsWith('\"'))\n      || (text.startsWith('\\'') && text.endsWith('\\''))\n    ) {\n      return text.slice(1, -1);\n    }\n    return text;\n  }\n\n  function resolvePlaceholders(value) {\n    const text = String(value ?? '');\n    return text.replace(/\\$\\{([^}:]+)(?::([^}]*))?\\}/g, (_full, envName, defaultValue) => {\n      const safeEnv = PROCESS_ENV || {};\n      const fromEnv = safeEnv[String(envName || '').trim()];\n      if (typeof fromEnv === 'string' && fromEnv.length > 0) return fromEnv;\n      return defaultValue == null ? '' : String(defaultValue);\n    });\n  }\n\n  function extractDatasourceFromProperties(content) {\n    const result = {};\n    const lines = String(content || '').split(/\\r?\\n/);\n    for (const rawLine of lines) {\n      const line = rawLine.trim();\n      if (!line || line.startsWith('#')) continue;\n      const match = line.match(/^spring\\.datasource\\.(url|username|password)\\s*=\\s*(.+)$/);\n      if (!match) continue;\n      result[match[1]] = unquote(resolvePlaceholders(match[2]));\n    }\n    return result;\n  }\n\n  function extractDatasourceFromYaml(content) {\n    const result = {};\n    const stack = [];\n    const lines = String(content || '').split(/\\r?\\n/);\n    for (const rawLine of lines) {\n      if (!rawLine || /^\\s*#/.test(rawLine)) continue;\n      const match = rawLine.match(/^(\\s*)([A-Za-z0-9_.-]+)\\s*:\\s*(.*)$/);\n      if (!match) continue;\n      const indent = match[1].length;\n      const key = match[2];\n      const value = String(match[3] ?? '').trim();\n\n      while (stack.length > 0 && indent <= stack[stack.length - 1].indent) {\n        stack.pop();\n      }\n\n      const pathParts = [...stack.map((entry) => entry.key), key];\n      if (!value) {\n        stack.push({ key, indent });\n        continue;\n      }\n\n      const fullPath = pathParts.join('.');\n      if (fullPath === 'spring.datasource.url') {\n        result.url = unquote(resolvePlaceholders(value));\n      } else if (fullPath === 'spring.datasource.username') {\n        result.username = unquote(resolvePlaceholders(value));\n      } else if (fullPath === 'spring.datasource.password') {\n        result.password = unquote(resolvePlaceholders(value));\n      }\n    }\n    return result;\n  }\n\n  function loadDatasourceConfig(resourcesDir) {\n    const defaultResult = { url: '', username: '', password: '', sourceFile: '' };\n    if (!fs.existsSync(resourcesDir)) return defaultResult;\n\n    const files = fs.readdirSync(resourcesDir)\n      .filter((name) => /^application.*\\.(ya?ml|properties)$/i.test(name))\n      .sort((a, b) => a.localeCompare(b));\n\n    const merged = { ...defaultResult };\n    for (const name of files) {\n      const fullPath = path.join(resourcesDir, name);\n      let parsed = {};\n      try {\n        const text = fs.readFileSync(fullPath, 'utf8');\n        parsed = /\\.properties$/i.test(name)\n          ? extractDatasourceFromProperties(text)\n          : extractDatasourceFromYaml(text);\n      } catch {\n        parsed = {};\n      }\n      for (const key of ['url', 'username', 'password']) {\n        if (parsed[key] && !merged[key]) {\n          merged[key] = String(parsed[key]);\n          merged.sourceFile = name;\n        }\n      }\n      if (merged.url && merged.username && merged.password) break;\n    }\n\n    return merged;\n  }\n\n  function parseJdbcUrl(jdbcUrl) {\n    const text = String(jdbcUrl || '').trim();\n    if (!text) return null;\n\n    const standard = text.match(/^jdbc:(postgresql|mysql|mariadb):\\/\\/([^/:;?]+)(?::(\\d+))?\\/([^?;]+)(.*)$/i);\n    if (standard) {\n      const engine = String(standard[1] || '').toLowerCase();\n      const host = String(standard[2] || '').trim();\n      const defaultPortByEngine = {\n        postgresql: 5432,\n        mysql: 3306,\n        mariadb: 3306,\n      };\n      return {\n        engine,\n        host,\n        port: Number(standard[3] || defaultPortByEngine[engine] || 0),\n        database: String(standard[4] || '').trim(),\n        suffix: String(standard[5] || ''),\n        buildUrl: (nextHost, nextPort) => `jdbc:${engine}://${nextHost}:${nextPort}/${String(standard[4] || '').trim()}${String(standard[5] || '')}`,\n      };\n    }\n\n    const sqlServer = text.match(/^jdbc:sqlserver:\\/\\/([^:;]+)(?::(\\d+))?;(.+)$/i);\n    if (sqlServer) {\n      const host = String(sqlServer[1] || '').trim();\n      const port = Number(sqlServer[2] || 1433);\n      const tail = String(sqlServer[3] || '');\n      const dbMatch = tail.match(/(?:^|;)databaseName=([^;]+)/i);\n      const database = dbMatch ? String(dbMatch[1] || '').trim() : '';\n      return {\n        engine: 'sqlserver',\n        host,\n        port,\n        database,\n        suffix: tail,\n        buildUrl: (nextHost, nextPort) => `jdbc:sqlserver://${nextHost}:${nextPort};${tail}`,\n      };\n    }\n\n    return null;\n  }\n\n  function parsePublishedPortFromDockerOutput(outputText) {\n    const text = String(outputText || '').trim();\n    if (!text) return 0;\n    const firstLine = text.split(/\\r?\\n/).find((line) => String(line || '').trim()) || '';\n    const match = firstLine.match(/:(\\d+)\\s*$/);\n    return match ? Number(match[1]) : 0;\n  }\n\n  async function resolveMappedPort(containerName, internalPort, timeoutMs = 30000) {\n    const deadline = Date.now() + Math.max(2000, timeoutMs);\n    while (Date.now() < deadline) {\n      const probe = await runExternalCommand(\n        'docker',\n        ['port', containerName, `${internalPort}/tcp`],\n        10000,\n      );\n      if (!probe.hadError && probe.code === 0) {\n        const mappedPort = parsePublishedPortFromDockerOutput(probe.stdout);\n        if (mappedPort > 0) return mappedPort;\n      }\n      await sleep(700);\n    }\n    return 0;\n  }\n\n  async function waitForContainerDatabaseReady(containerName, engine, timeoutMs = 120000) {\n    const checksByEngine = {\n      postgresql: [\n        ['exec', containerName, 'pg_isready', '-h', '127.0.0.1', '-p', '5432'],\n      ],\n      mysql: [\n        ['exec', containerName, 'mysqladmin', 'ping', '-h', '127.0.0.1', '--silent'],\n      ],\n      mariadb: [\n        ['exec', containerName, 'mariadb-admin', 'ping', '-h', '127.0.0.1', '--silent'],\n        ['exec', containerName, 'mysqladmin', 'ping', '-h', '127.0.0.1', '--silent'],\n      ],\n    };\n\n    const probes = checksByEngine[String(engine || '').toLowerCase()] || [];\n    if (!probes.length) return true;\n\n    const deadline = Date.now() + Math.max(3000, timeoutMs);\n    while (Date.now() < deadline) {\n      for (const probeArgs of probes) {\n        const probe = await runExternalCommand('docker', probeArgs, 12000);\n        if (!probe.hadError && probe.code === 0) return true;\n      }\n      await sleep(1200);\n    }\n    return false;\n  }\n\n  async function prepareRuntimeInfrastructure() {\n    const resourcesDir = path.join(backendDir, 'src', 'main', 'resources');\n    const datasource = loadDatasourceConfig(resourcesDir);\n    if (!datasource.url) {\n      return {\n        envOverrides: {},\n        details: {\n          runtimeInfraMode: 'none',\n          runtimeInfraReason: 'no-datasource-url',\n        },\n        cleanup: async () => {},\n      };\n    }\n\n    const jdbc = parseJdbcUrl(datasource.url);\n    if (!jdbc) {\n      return {\n        envOverrides: {},\n        details: {\n          runtimeInfraMode: 'none',\n          runtimeInfraReason: 'unsupported-jdbc-url',\n          runtimeInfraDatasourceUrl: datasource.url,\n          runtimeInfraDatasourceSourceFile: datasource.sourceFile,\n        },\n        cleanup: async () => {},\n      };\n    }\n\n    const localHostAliases = new Set(['localhost', '127.0.0.1', '::1']);\n    if (!localHostAliases.has(jdbc.host.toLowerCase())) {\n      return {\n        envOverrides: {},\n        details: {\n          runtimeInfraMode: 'external-datasource',\n          runtimeInfraReason: 'non-localhost-datasource',\n          runtimeInfraDatasourceUrl: datasource.url,\n          runtimeInfraDatasourceSourceFile: datasource.sourceFile,\n        },\n        cleanup: async () => {},\n      };\n    }\n\n    const dockerCheck = await runExternalCommand('docker', ['version', '--format', '{{.Server.Version}}'], 10000);\n    if (dockerCheck.hadError || dockerCheck.code !== 0) {\n      return {\n        error: `Runtime database for ${jdbc.engine} is required but Docker is unavailable. ${dockerCheck.errorMessage || dockerCheck.stderr || dockerCheck.stdout}`.trim(),\n        details: {\n          runtimeInfraMode: 'failed',\n          runtimeInfraReason: 'docker-unavailable',\n          runtimeInfraDatasourceUrl: datasource.url,\n          runtimeInfraDatasourceSourceFile: datasource.sourceFile,\n          runtimeInfraDatabaseEngine: jdbc.engine,\n        },\n      };\n    }\n\n    const defaultDbName = jdbc.database || 'app';\n    const defaultUser = datasource.username || 'app';\n    const defaultPassword = datasource.password || 'app';\n    const containerName = `n8n-beval-${String(compileSessionId).replace(/[^A-Za-z0-9_-]/g, '').slice(0, 24)}-${Date.now().toString(36)}`;\n\n    const engineConfig = {\n      postgresql: {\n        image: 'postgres:16-alpine',\n        internalPort: 5432,\n        envArgs: [\n          '-e', `POSTGRES_DB=${defaultDbName}`,\n          '-e', `POSTGRES_USER=${defaultUser}`,\n          '-e', `POSTGRES_PASSWORD=${defaultPassword}`,\n        ],\n      },\n      mysql: {\n        image: 'mysql:8.4',\n        internalPort: 3306,\n        envArgs: [\n          '-e', `MYSQL_DATABASE=${defaultDbName}`,\n          '-e', `MYSQL_USER=${defaultUser}`,\n          '-e', `MYSQL_PASSWORD=${defaultPassword}`,\n          '-e', `MYSQL_ROOT_PASSWORD=${defaultPassword || 'root'}`,\n        ],\n      },\n      mariadb: {\n        image: 'mariadb:11',\n        internalPort: 3306,\n        envArgs: [\n          '-e', `MARIADB_DATABASE=${defaultDbName}`,\n          '-e', `MARIADB_USER=${defaultUser}`,\n          '-e', `MARIADB_PASSWORD=${defaultPassword}`,\n          '-e', `MARIADB_ROOT_PASSWORD=${defaultPassword || 'root'}`,\n        ],\n      },\n    }[jdbc.engine];\n\n    if (!engineConfig) {\n      return {\n        envOverrides: {},\n        details: {\n          runtimeInfraMode: 'none',\n          runtimeInfraReason: 'unsupported-database-engine',\n          runtimeInfraDatasourceUrl: datasource.url,\n          runtimeInfraDatasourceSourceFile: datasource.sourceFile,\n          runtimeInfraDatabaseEngine: jdbc.engine,\n        },\n        cleanup: async () => {},\n      };\n    }\n\n    const runtimeDockerNetwork = String((PROCESS_ENV?.N8N_RUNTIME_DOCKER_NETWORK ?? 'n8n-net')).trim() || 'n8n-net';\n    const networkCheck = await runExternalCommand('docker', ['network', 'inspect', runtimeDockerNetwork], 15000);\n    if (networkCheck.hadError || networkCheck.code !== 0) {\n      return {\n        error: `Docker network \"${runtimeDockerNetwork}\" is not available for temporary ${jdbc.engine} database connectivity. ${networkCheck.errorMessage || networkCheck.stderr || networkCheck.stdout}`.trim(),\n        details: {\n          runtimeInfraMode: 'failed',\n          runtimeInfraReason: 'docker-network-missing',\n          runtimeInfraDatasourceUrl: datasource.url,\n          runtimeInfraDatasourceSourceFile: datasource.sourceFile,\n          runtimeInfraDatabaseEngine: jdbc.engine,\n          runtimeInfraDockerNetwork: runtimeDockerNetwork,\n        },\n      };\n    }\n\n    const runArgs = [\n      'run',\n      '-d',\n      '--rm',\n      '--name',\n      containerName,\n      '--network',\n      runtimeDockerNetwork,\n      ...engineConfig.envArgs,\n      engineConfig.image,\n    ];\n\n    const start = await runExternalCommand('docker', runArgs, 90000);\n    if (start.hadError || start.code !== 0) {\n      return {\n        error: `Failed to start temporary ${jdbc.engine} database container. ${start.errorMessage || start.stderr || start.stdout}`.trim(),\n        details: {\n          runtimeInfraMode: 'failed',\n          runtimeInfraReason: 'docker-run-failed',\n          runtimeInfraDatasourceUrl: datasource.url,\n          runtimeInfraDatasourceSourceFile: datasource.sourceFile,\n          runtimeInfraDatabaseEngine: jdbc.engine,\n        },\n      };\n    }\n\n    const stopContainer = async () => {\n      await runExternalCommand('docker', ['stop', '-t', '1', containerName], 15000);\n    };\n\n    const ready = await waitForContainerDatabaseReady(containerName, jdbc.engine, 120000);\n    if (!ready) {\n      const logTail = await runExternalCommand('docker', ['logs', '--tail', '80', containerName], 12000);\n      await stopContainer();\n      return {\n        error: `Temporary ${jdbc.engine} database did not become ready. ${(logTail.stderr || logTail.stdout || '').trim()}`.trim(),\n        details: {\n          runtimeInfraMode: 'failed',\n          runtimeInfraReason: 'database-not-ready-in-container',\n          runtimeInfraDatasourceUrl: datasource.url,\n          runtimeInfraDatasourceSourceFile: datasource.sourceFile,\n          runtimeInfraDatabaseEngine: jdbc.engine,\n          runtimeInfraDatabasePort: engineConfig.internalPort,\n          runtimeInfraContainerName: containerName,\n          runtimeInfraDockerNetwork: runtimeDockerNetwork,\n        },\n      };\n    }\n\n    const connectivityProbeByEngine = {\n      postgresql: ['run', '--rm', '--network', runtimeDockerNetwork, '--entrypoint', 'sh', engineConfig.image, '-lc', `pg_isready -h ${containerName} -p ${engineConfig.internalPort}`],\n      mysql: ['run', '--rm', '--network', runtimeDockerNetwork, '--entrypoint', 'sh', engineConfig.image, '-lc', `mysqladmin ping -h ${containerName} -P ${engineConfig.internalPort} --silent`],\n      mariadb: ['run', '--rm', '--network', runtimeDockerNetwork, '--entrypoint', 'sh', engineConfig.image, '-lc', `mariadb-admin ping -h ${containerName} -P ${engineConfig.internalPort} --silent || mysqladmin ping -h ${containerName} -P ${engineConfig.internalPort} --silent`],\n    };\n    const connectivityProbeArgs = connectivityProbeByEngine[jdbc.engine];\n    if (Array.isArray(connectivityProbeArgs) && connectivityProbeArgs.length > 0) {\n      const crossNetworkProbe = await runExternalCommand('docker', connectivityProbeArgs, 20000);\n      if (crossNetworkProbe.hadError || crossNetworkProbe.code !== 0) {\n        const logTail = await runExternalCommand('docker', ['logs', '--tail', '80', containerName], 12000);\n        await stopContainer();\n        return {\n          error: `Temporary ${jdbc.engine} database is not reachable from Docker network \"${runtimeDockerNetwork}\". ${(crossNetworkProbe.errorMessage || crossNetworkProbe.stderr || crossNetworkProbe.stdout || '').trim()}`.trim(),\n          details: {\n            runtimeInfraMode: 'failed',\n            runtimeInfraReason: 'database-unreachable-from-runner-network',\n            runtimeInfraDatasourceUrl: datasource.url,\n            runtimeInfraDatasourceSourceFile: datasource.sourceFile,\n            runtimeInfraDatabaseEngine: jdbc.engine,\n            runtimeInfraDatabaseHost: containerName,\n            runtimeInfraDatabasePort: engineConfig.internalPort,\n            runtimeInfraContainerName: containerName,\n            runtimeInfraDockerNetwork: runtimeDockerNetwork,\n            runtimeInfraContainerLogTail: (logTail.stderr || logTail.stdout || '').trim(),\n          },\n        };\n      }\n    }\n\n    const overriddenUrl = jdbc.buildUrl(containerName, engineConfig.internalPort);\n    return {\n      envOverrides: {\n        SPRING_DATASOURCE_URL: overriddenUrl,\n        SPRING_DATASOURCE_USERNAME: defaultUser,\n        SPRING_DATASOURCE_PASSWORD: defaultPassword,\n      },\n      details: {\n        runtimeInfraMode: 'ephemeral-docker-database',\n        runtimeInfraReason: 'auto-provisioned-local-db',\n        runtimeInfraDatasourceUrl: datasource.url,\n        runtimeInfraDatasourceSourceFile: datasource.sourceFile,\n        runtimeInfraDatabaseEngine: jdbc.engine,\n        runtimeInfraDatabaseHost: containerName,\n        runtimeInfraDatabasePort: engineConfig.internalPort,\n        runtimeInfraContainerName: containerName,\n        runtimeInfraDockerNetwork: runtimeDockerNetwork,\n      },\n      cleanup: stopContainer,\n    };\n  }\n\n  function extractTestFailureContext(testResult) {\n    const combined = [testResult.errorMessage, testResult.stderr, testResult.stdout]\n      .filter(Boolean)\n      .join('\\n');\n\n    const failingTestFiles = resolveFailingTestFilePaths(combined, generatedPathSet, basenameIndex);\n    const sourceCandidates = collectSourceCandidatesFromLog(combined, generatedPathSet, basenameIndex);\n    const sourceFromTests = inferSourceCandidatesFromTestFiles(\n      failingTestFiles,\n      generatedContentByPath,\n      generatedPathSet,\n      basenameIndex,\n    );\n\n    const targetSourceFiles = Array.from(new Set([\n      ...sourceCandidates,\n      ...sourceFromTests,\n    ]))\n      .filter((filePath) => filePath.includes('/src/main/'))\n      .sort((a, b) => a.localeCompare(b));\n\n    return {\n      testFailedFilePaths: failingTestFiles,\n      testTargetFilePaths: targetSourceFiles,\n    };\n  }\n\n  const generateSourcesResult = await runMavenGenerateSources();\n\n  if (generateSourcesResult.code !== 0 || generateSourcesResult.hadError) {\n    return [{\n      json: {\n        ...json,\n        compileSessionId,\n        compileCommand: generateSourcesCommandText,\n        compileWorkspace: backendDir,\n        compileValidationStage: 'generate-sources',\n        compileExitCode: generateSourcesResult.code,\n        compileRawExitCode: generateSourcesResult.rawCode,\n        compileHadError: generateSourcesResult.hadError,\n        compileStdout: generateSourcesResult.stdout,\n        compileStderr: generateSourcesResult.stderr,\n        compileErrorMessage: generateSourcesResult.errorMessage,\n        compilePassed: false,\n      },\n      binary: item.binary ?? {},\n    }];\n  }\n\n  const compileResult = await runMavenCompile();\n\n  if (compileResult.code !== 0 || compileResult.hadError) {\n    return [{\n      json: {\n        ...json,\n        compileSessionId,\n        compileCommand: compileCommandText,\n        compileWorkspace: backendDir,\n        compileValidationStage: 'compile',\n        compileExitCode: compileResult.code,\n        compileRawExitCode: compileResult.rawCode,\n        compileHadError: compileResult.hadError,\n        compileStdout: compileResult.stdout,\n        compileStderr: compileResult.stderr,\n        compileErrorMessage: compileResult.errorMessage,\n        compilePassed: false,\n      },\n      binary: item.binary ?? {},\n    }];\n  }\n\n  const runtimeInfra = await prepareRuntimeInfrastructure();\n  if (runtimeInfra?.error) {\n    return [{\n      json: {\n        ...json,\n        compileSessionId,\n        compileCommand: runCommandText,\n        compileWorkspace: backendDir,\n        compileValidationStage: 'run',\n        compileExitCode: 1,\n        compileRawExitCode: 'RUNTIME_INFRASTRUCTURE_FAILED',\n        compileHadError: true,\n        compileStdout: '',\n        compileStderr: '',\n        compileErrorMessage: runtimeInfra.error,\n        compilePassed: false,\n        ...(runtimeInfra.details || {}),\n      },\n      binary: item.binary ?? {},\n    }];\n  }\n\n  const runtimeEnv = runtimeInfra?.envOverrides || {};\n  const runtimeMavenProps = buildRuntimeMavenProperties(runtimeEnv);\n  const runtimeSpringBootArguments = buildSpringBootRunArguments(runtimeEnv);\n  const runtimeDetails = runtimeInfra?.details || {};\n  const cleanupRuntimeInfra = async () => {\n    try {\n      if (runtimeInfra?.cleanup) {\n        await runtimeInfra.cleanup();\n      }\n    } catch {}\n  };\n\n  try {\n    const runResult = await runSpringBootValidation(runtimeEnv, runtimeMavenProps, runtimeSpringBootArguments);\n\n    if (runResult.code !== 0 || runResult.hadError || !runResult.started) {\n      return [{\n        json: {\n          ...json,\n          compileSessionId,\n          compileCommand: runCommandText,\n          compileWorkspace: backendDir,\n          compileValidationStage: 'run',\n          compileExitCode: runResult.code,\n          compileRawExitCode: runResult.rawCode,\n          compileHadError: runResult.hadError,\n          compileStdout: runResult.stdout,\n          compileStderr: runResult.stderr,\n          compileErrorMessage: runResult.errorMessage,\n          compilePassed: false,\n          ...runtimeDetails,\n        },\n        binary: item.binary ?? {},\n      }];\n    }\n\n    const testResult = await runMavenTests(runtimeEnv, runtimeMavenProps);\n\n    if (testResult.code !== 0 || testResult.hadError) {\n      const testFailureContext = extractTestFailureContext(testResult);\n      return [{\n        json: {\n          ...json,\n          ...testFailureContext,\n          compileSessionId,\n          compileCommand: 'mvn -q test',\n          compileWorkspace: backendDir,\n          compileValidationStage: 'test',\n          compileExitCode: testResult.code,\n          compileRawExitCode: testResult.rawCode,\n          compileHadError: testResult.hadError,\n          compileStdout: testResult.stdout,\n          compileStderr: testResult.stderr,\n          compileErrorMessage: testResult.errorMessage,\n          compilePassed: false,\n          ...runtimeDetails,\n        },\n        binary: item.binary ?? {},\n      }];\n    }\n\n    return [{\n      json: {\n        ...json,\n        testFailedFilePaths: [],\n        testTargetFilePaths: [],\n        compileSessionId,\n        compileCommand: 'mvn -q test',\n        compileWorkspace: backendDir,\n        compileValidationStage: 'test',\n        compileExitCode: 0,\n        compileRawExitCode: testResult.rawCode,\n        compileHadError: false,\n        compileStdout: testResult.stdout,\n        compileStderr: testResult.stderr,\n        compileErrorMessage: '',\n        compilePassed: true,\n        ...runtimeDetails,\n      },\n      binary: item.binary ?? {},\n    }];\n  } finally {\n    await cleanupRuntimeInfra();\n  }\n}\n\nreturn beCompileGeneratedBackend();\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n"
      },
      "id": "76190edc-5e9c-41f7-b4ab-7d863ad8f549",
      "name": "BEV - Validate Generated Backend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25008,
        11984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "be-compile-passed-condition",
              "leftValue": "={{ String($json.compilePassed || (Number($json.compileFixAttempt || 0) >= Number($json.maxCompileFixAttempts || 50))) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2569710f-e673-4f56-b8f6-22ade843c87c",
      "name": "BEV - Validation Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        25280,
        11984
      ]
    },
    {
      "parameters": {
        "jsCode": "function bePrepareCompileFixState() {\n  const MAX_RECENT_MODEL_RESPONSES = 3;\n  const MAX_FIRST_COMPILER_ERRORS = 20;\n  const STAGNATION_WINDOW = 3;\n  const WIDE_RECOVERY_BUCKET_THRESHOLD = 4;\n  const WIDE_RECOVERY_NO_CHANGE_THRESHOLD = 3;\n  const WIDE_RECOVERY_ITERATIONS = 2;\n  const PRE_COMPILE_GUARD_TEST_LOOP_THRESHOLD = 3;\n\n  function toText(value) {\n    return String(value ?? '').trim();\n  }\n\n  function buildErrorSignature(value) {\n    const text = String(value ?? '')\n      .toLowerCase()\n      .replace(/[a-z]:\\\\[^\\\\n\\\\r\\\\t ]*backend\\\\/g, 'backend/')\n      .replace(/\\/tmp\\/n8n-backend-build\\/[a-z0-9-]+\\/backend\\//g, 'backend/')\n      .replace(/\\[[0-9]+,[0-9]+\\]/g, '[n,n]')\n      .replace(/:[0-9]+(?=[)\\s]|$)/g, ':n')\n      .replace(/\\s+/g, ' ')\n      .trim();\n\n    if (!text) return '';\n    return text.length > 5000 ? text.slice(0, 5000) : text;\n  }\n\n  function buildErrorBucket(value) {\n    const text = String(value ?? '').toLowerCase();\n    if (!text) return '';\n\n    if (text.includes('pre_compile_guard_failed')) {\n      return 'pre-compile-guard-failed';\n    }\n\n    if (text.includes('dependencies.dependency.version') && text.includes('org.testcontainers:redis')) {\n      return 'pom-missing-testcontainers-redis-version';\n    }\n\n    if (\n      text.includes('repo.zalando')\n      || text.includes('forbidden (403)')\n      || text.includes('name does not resolve')\n    ) {\n      return 'dependency-zalando-repository-unreachable';\n    }\n\n    if (\n      text.includes('problem-throwable')\n      || text.includes('package org.zalando.problem.throwable does not exist')\n    ) {\n      return 'java-missing-zalando-problem-throwable';\n    }\n\n    if (text.includes('unknown property') && text.includes('/mapper/')) {\n      return 'java-mapstruct-unknown-property';\n    }\n\n    if (\n      text.includes('failed to initialize jpa entitymanagerfactory')\n      || (text.includes('table [') && text.includes('contains physical column name'))\n    ) {\n      return 'spring-boot-jpa-entity-mapping';\n    }\n\n    if (\n      text.includes('application run failed')\n      || text.includes('error starting applicationcontext')\n      || text.includes('beancreationexception')\n    ) {\n      return 'spring-boot-startup-failure';\n    }\n\n    if (text.includes('cannot find symbol')) {\n      return 'java-cannot-find-symbol';\n    }\n\n    if (text.includes('duplicate class')) {\n      return 'java-duplicate-class';\n    }\n\n    if (text.includes('public type \"') && text.includes('must be declared in')) {\n      return 'java-duplicate-class';\n    }\n\n    if (text.includes('package ') && text.includes(' does not exist')) {\n      return 'java-missing-package';\n    }\n\n    if (text.includes('compilation error')) {\n      return 'java-compilation-error';\n    }\n\n    if (text.includes('could not resolve dependencies') || text.includes('failed to read artifact descriptor')) {\n      return 'dependency-resolution';\n    }\n\n    if (text.includes('non-parseable pom') || text.includes('modelparseexception')) {\n      return 'pom-parse-error';\n    }\n\n    return text\n      .replace(/\\s+/g, ' ')\n      .trim()\n      .slice(0, 120);\n  }\n\n  function normalizePathArray(value) {\n    if (!Array.isArray(value)) return [];\n    const seen = new Set();\n    const normalized = [];\n    for (const raw of value) {\n      const path = String(raw || '').trim().replace(/\\\\/g, '/');\n      if (!path || !path.startsWith('backend/')) continue;\n      if (seen.has(path)) continue;\n      seen.add(path);\n      normalized.push(path);\n    }\n    return normalized;\n  }\n\n  function extractGuardViolationPaths(value) {\n    const text = String(value || '');\n    if (!text) return [];\n    const paths = new Set();\n    const pattern = /(backend\\/src\\/(?:main|test)\\/[A-Za-z0-9_./-]+\\.(?:java|kt|groovy))/gi;\n    for (const match of text.matchAll(pattern)) {\n      const raw = String(match[1] || '').trim().replace(/\\\\/g, '/').replace(/[),:;]+$/, '');\n      if (!raw.startsWith('backend/')) continue;\n      paths.add(raw);\n    }\n    return Array.from(paths).sort((a, b) => a.localeCompare(b));\n  }\n\n  function pickErrorSummary(parts, maxChars) {\n    const text = parts.filter(Boolean).join('\\n').trim();\n    if (!text) return '';\n    return text.length > maxChars ? text.slice(0, maxChars) : text;\n  }\n\n  function compactText(value, maxChars) {\n    const text = String(value ?? '');\n    if (!text) return '';\n    return text.length > maxChars ? text.slice(0, maxChars) : text;\n  }\n\n  function normalizeRecentModelResponses(value) {\n    if (!Array.isArray(value)) return [];\n    const normalized = [];\n    for (const entry of value) {\n      if (!entry || typeof entry !== 'object' || Array.isArray(entry)) continue;\n      const attempt = Math.max(0, Number(entry.attempt || 0));\n      const response = compactText(entry.response, 2400);\n      if (!attempt || !response) continue;\n      normalized.push({\n        attempt,\n        parseError: toText(entry.parseError),\n        parsedPaths: normalizePathArray(entry.parsedPaths).slice(0, 20),\n        appliedPaths: normalizePathArray(entry.appliedPaths).slice(0, 20),\n        response,\n      });\n    }\n    return normalized.slice(-MAX_RECENT_MODEL_RESPONSES);\n  }\n\n  function splitLines(value) {\n    return String(value ?? '')\n      .split(/\\r?\\n/)\n      .map((line) => String(line || '').trim())\n      .filter(Boolean);\n  }\n\n  function extractCompilerErrorLines(value, maxLines = MAX_FIRST_COMPILER_ERRORS) {\n    const lines = splitLines(value);\n    const selected = [];\n    for (const line of lines) {\n      if (!line.startsWith('[ERROR]')) continue;\n      const normalized = line.replace(/\\s+/g, ' ').trim();\n      if (\n        normalized === '[ERROR]'\n        || normalized.startsWith('[ERROR] -> [Help ')\n        || normalized.includes('For more information about the errors and possible solutions')\n      ) {\n        continue;\n      }\n      selected.push(normalized);\n      if (selected.length >= maxLines) break;\n    }\n    return selected;\n  }\n\n  function countCompilerErrorLines(value) {\n    return extractCompilerErrorLines(value, 5000).length;\n  }\n\n  function getBucketSeverityScore(bucket, stage) {\n    const normalizedBucket = String(bucket || '').toLowerCase();\n    const normalizedStage = String(stage || '').toLowerCase();\n    let score = 0;\n\n    if (normalizedStage === 'compile') score += 60000;\n    else if (normalizedStage === 'guard') score += 50000;\n    else if (normalizedStage === 'run') score += 30000;\n    else if (normalizedStage === 'test') score += 10000;\n    else score += 40000;\n\n    if (!normalizedBucket) return score + 5000;\n    if (normalizedBucket.startsWith('pom-') || normalizedBucket.startsWith('dependency-')) return score + 9000;\n    if (normalizedBucket === 'dependency-resolution') return score + 8500;\n    if (normalizedBucket === 'java-compilation-error') return score + 7000;\n    if (normalizedBucket === 'java-duplicate-class') return score + 6800;\n    if (normalizedBucket === 'java-mapstruct-unknown-property') return score + 6500;\n    if (normalizedBucket === 'java-cannot-find-symbol') return score + 6000;\n    if (normalizedBucket === 'java-missing-package') return score + 5800;\n    if (normalizedBucket.startsWith('spring-boot-')) return score + 3000;\n    return score + 5000;\n  }\n\n  function computeConvergenceScore(params) {\n    if (params.compilePassed) return 0;\n    const bucketScore = getBucketSeverityScore(params.errorBucket, params.validationStage);\n    const errorLineScore = Math.min(15000, Math.max(0, params.errorLineCount) * 25);\n    const noChangePenalty = Math.min(5000, Math.max(0, params.noChangeCount) * 700);\n    return bucketScore + errorLineScore + noChangePenalty + 1;\n  }\n\n  function isDependencyLikeBucket(bucket) {\n    const value = String(bucket || '').toLowerCase();\n    if (!value) return false;\n    return value === 'dependency-resolution' || value.startsWith('dependency-') || value.startsWith('pom-');\n  }\n\n  function hasNonDecreasingTrend(values) {\n    if (!Array.isArray(values) || values.length < STAGNATION_WINDOW) return false;\n    for (let index = 1; index < values.length; index += 1) {\n      if (values[index] < values[index - 1]) return false;\n    }\n    return true;\n  }\n\n  function isLogbackNoiseLine(line) {\n    const text = String(line || '').toLowerCase();\n    if (!text) return false;\n    if (text.includes('|-info in') && text.includes('logback')) return true;\n    if (text.includes('logback.classic') || text.includes('logback.core')) return true;\n    if (text.includes('contextinitializer') || text.includes('basicconfigurator')) return true;\n    if (text.includes('appendermodelhandler') || text.includes('levelchangepropagator')) return true;\n    if (text.includes('setting level of logger') || text.includes('propagating ')) return true;\n    if (text.includes('could not find resource [logback')) return true;\n    if (text.includes('this is logback-classic version')) return true;\n    return false;\n  }\n\n  function selectRunFailureSummary(compileErrorMessage, compileStderr, compileStdout, maxChars) {\n    const priorityPatterns = [\n      /failed to initialize jpa entitymanagerfactory/i,\n      /beancreationexception/i,\n      /exception encountered during context initialization/i,\n      /table \\[[a-z0-9_]+\\] contains physical column name/i,\n      /application run failed/i,\n      /error starting applicationcontext/i,\n      /caused by:/i,\n      /\\[error\\]/i,\n      /compilation error/i,\n      /cannot find symbol/i,\n      /incompatible types/i,\n      /illegal character/i,\n      /failed to execute goal .*spring-boot-maven-plugin.*run/i,\n    ];\n\n    const orderedLines = [\n      ...splitLines(compileStdout),\n      ...splitLines(compileStderr),\n      ...splitLines(compileErrorMessage),\n    ];\n\n    const preferred = [];\n    for (const line of orderedLines) {\n      if (isLogbackNoiseLine(line)) continue;\n      if (priorityPatterns.some((pattern) => pattern.test(line))) {\n        preferred.push(line);\n      }\n    }\n\n    const withErrors = orderedLines.filter((line) => {\n      if (isLogbackNoiseLine(line)) return false;\n      const text = line.toLowerCase();\n      return text.includes(' error ') || text.includes('exception');\n    });\n\n    const fallback = orderedLines.filter((line) => !isLogbackNoiseLine(line));\n    const merged = Array.from(new Set([\n      ...preferred,\n      ...withErrors,\n      ...splitLines(compileErrorMessage),\n      ...fallback.slice(-8),\n    ]));\n\n    return pickErrorSummary(merged, maxChars);\n  }\n\n  function collectRelevantPaths(errorText, generatedFiles, explicitPaths = []) {\n    const found = new Set();\n\n    const unixMatches = errorText.match(/backend\\/[A-Za-z0-9_./-]+/g) || [];\n    for (const raw of unixMatches) {\n      found.add(String(raw).replace(/,+$/, '').trim());\n    }\n\n    const windowsMatches = errorText.match(/backend\\\\[A-Za-z0-9_.\\\\-]+/g) || [];\n    for (const raw of windowsMatches) {\n      found.add(String(raw).replace(/,+$/, '').replace(/\\\\/g, '/').trim());\n    }\n\n    const generatedPathSet = new Set(\n      (Array.isArray(generatedFiles) ? generatedFiles : [])\n        .map((file) => String(file?.path || '').trim())\n        .filter(Boolean),\n    );\n\n    function addQualifiedTypePaths(text) {\n      const source = String(text || '');\n      if (!source) return;\n      const fqcnMatches = source.match(/\\b(?:[a-z_][a-z0-9_]*\\.)+[A-Z][A-Za-z0-9_$]*\\b/g) || [];\n      for (const raw of fqcnMatches) {\n        const fqcn = String(raw || '').trim();\n        if (!fqcn || fqcn.startsWith('java.')) continue;\n        const candidate = `backend/src/main/java/${fqcn.replace(/\\./g, '/')}.java`;\n        if (generatedPathSet.has(candidate)) {\n          found.add(candidate);\n        }\n      }\n    }\n\n    for (const rawPath of explicitPaths) {\n      const normalized = String(rawPath || '').trim().replace(/\\\\/g, '/');\n      if (!normalized) continue;\n      found.add(normalized);\n    }\n\n    const tableMatches = Array.from(\n      String(errorText || '').matchAll(/table\\s*\\[([a-z0-9_]+)\\]/gi),\n      (match) => String(match[1] || '').toLowerCase(),\n    );\n    const hasJpaTableColumnMismatchSignal = /contains physical column name/i.test(String(errorText || ''));\n    const blockedColumnTokens = new Set(['error', 'help', 'warning', 'warn', 'info', 'line', 'column', 'table']);\n    const columnMatches = hasJpaTableColumnMismatchSignal\n      ? Array.from(\n        String(errorText || '').matchAll(/\\[([a-z0-9_]+)\\]/gi),\n        (match) => String(match[1] || '').toLowerCase(),\n      ).filter((token) => token && !blockedColumnTokens.has(token))\n      : [];\n\n    if (tableMatches.length || columnMatches.length) {\n      for (const file of (Array.isArray(generatedFiles) ? generatedFiles : [])) {\n        const path = String(file?.path || '').trim();\n        const content = String(file?.content || '').toLowerCase();\n        if (!path || !generatedPathSet.has(path)) continue;\n        if (!path.includes('/src/main/')) continue;\n        if (!content) continue;\n\n        const tableHit = tableMatches.some((tableName) => tableName && content.includes(tableName));\n        const columnHit = columnMatches.some((columnName) => {\n          if (!columnName) return false;\n          if (columnName.length < 3) return false;\n          if (content.includes(columnName)) return true;\n          const camelCase = columnName.replace(/_([a-z])/g, (_, c) => c.toUpperCase());\n          return camelCase !== columnName && content.includes(camelCase.toLowerCase());\n        });\n\n        if (tableHit || columnHit) {\n          found.add(path);\n        }\n      }\n    }\n\n    addQualifiedTypePaths(errorText);\n\n    return Array.from(found).filter((path) => generatedPathSet.has(path));\n  }\n\n  return $input.all().map((item) => {\n    const json = item.json || {};\n    const generatedFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n\n    const compileErrorMessage = toText(json.compileErrorMessage);\n    const compileStderr = toText(json.compileStderr);\n    const compileStdout = toText(json.compileStdout);\n    const compileFixNoChangeCount = Math.max(0, Number(json.compileFixNoChangeCount || 0));\n    const compileFixAttempt = Number(json.compileFixAttempt || 0) + 1;\n    const maxCompileFixAttempts = Math.max(1, Number(json.maxCompileFixAttempts || 50));\n    let compileFixCanContinue = compileFixAttempt <= maxCompileFixAttempts;\n    const compileValidationStage = String(json.compileValidationStage || 'compile').trim();\n    const compileCommand = String(json.compileCommand || '').trim();\n    const combinedErrorText = compileValidationStage === 'run'\n      ? selectRunFailureSummary(compileErrorMessage, compileStderr, compileStdout, 12000)\n      : pickErrorSummary([compileErrorMessage, compileStderr, compileStdout], 12000);\n    const testFailedFilePaths = normalizePathArray(json.testFailedFilePaths);\n    const testTargetFilePaths = normalizePathArray(json.testTargetFilePaths);\n    const compileFixAppliedPaths = normalizePathArray(json.compileFixAppliedPaths);\n    const compileFixParsedPaths = normalizePathArray(\n      Array.isArray(json.compileFixParsedPaths)\n        ? json.compileFixParsedPaths\n        : (Array.isArray(json.compileFixFiles) ? json.compileFixFiles.map((file) => file?.path) : []),\n    );\n    const previousAttemptNumber = Math.max(0, Number(json.compileFixAttempt || 0));\n    const previousModelResponse = compactText(json.compileFixRawResponse, 2400);\n    let compileFixRecentModelResponses = normalizeRecentModelResponses(json.compileFixRecentModelResponses);\n    if (previousAttemptNumber > 0 && previousModelResponse) {\n      compileFixRecentModelResponses = compileFixRecentModelResponses\n        .filter((entry) => Number(entry?.attempt || 0) !== previousAttemptNumber);\n      compileFixRecentModelResponses.push({\n        attempt: previousAttemptNumber,\n        parseError: toText(json.compileFixParseError),\n        parsedPaths: compileFixParsedPaths.slice(0, 20),\n        appliedPaths: compileFixAppliedPaths.slice(0, 20),\n        response: previousModelResponse,\n      });\n      compileFixRecentModelResponses = compileFixRecentModelResponses.slice(-MAX_RECENT_MODEL_RESPONSES);\n    }\n    const currentErrorSignature = buildErrorSignature(combinedErrorText);\n    const currentErrorBucket = buildErrorBucket(combinedErrorText);\n    const currentGuardViolationPaths = extractGuardViolationPaths(combinedErrorText);\n    const currentGuardTestViolationPaths = currentGuardViolationPaths.filter((path) => path.includes('/src/test/'));\n    const firstCompilerErrors = extractCompilerErrorLines(combinedErrorText, MAX_FIRST_COMPILER_ERRORS);\n    const compilerErrorLineCount = countCompilerErrorLines(combinedErrorText);\n    const previousHistory = Array.isArray(json.compileFixHistory) ? json.compileFixHistory : [];\n    const previousErrorSignature = String(\n      json.lastCompileErrorSignature ||\n      previousHistory[previousHistory.length - 1]?.errorSignature ||\n      ''\n    ).trim();\n    const recentHistory = previousHistory.slice(-4);\n    const recentBucketMatches = currentErrorBucket\n      ? recentHistory.filter((entry) => String(entry?.errorBucket || '').trim() === currentErrorBucket).length\n      : 0;\n    const isRepeatedError = Boolean(\n      currentErrorSignature &&\n      previousErrorSignature &&\n      currentErrorSignature === previousErrorSignature\n    ) || recentBucketMatches >= 2;\n    const errorBucketRepeatCount = currentErrorBucket ? recentBucketMatches + 1 : 0;\n    const recentSameBucketEntries = currentErrorBucket\n      ? previousHistory\n        .filter((entry) => String(entry?.errorBucket || '').trim() === currentErrorBucket)\n        .slice(-(STAGNATION_WINDOW - 1))\n      : [];\n    const recentErrorCounts = [\n      ...recentSameBucketEntries.map((entry) => Math.max(0, Number(entry?.errorLineCount || 0))),\n      compilerErrorLineCount,\n    ].slice(-STAGNATION_WINDOW);\n    const stagnationByBucket = Boolean(\n      currentErrorBucket\n      && errorBucketRepeatCount >= STAGNATION_WINDOW\n      && recentErrorCounts.length >= STAGNATION_WINDOW\n      && hasNonDecreasingTrend(recentErrorCounts)\n    );\n    const repeatedBucketForWideRecovery = Boolean(\n      currentErrorBucket && errorBucketRepeatCount >= WIDE_RECOVERY_BUCKET_THRESHOLD\n    );\n    const repeatedNoChangeForWideRecovery = compileFixNoChangeCount >= WIDE_RECOVERY_NO_CHANGE_THRESHOLD;\n    let compileFixWideRecoveryTurnsLeft = Math.max(0, Number(json.compileFixWideRecoveryTurnsLeft || 0));\n    if (repeatedBucketForWideRecovery || repeatedNoChangeForWideRecovery) {\n      compileFixWideRecoveryTurnsLeft = WIDE_RECOVERY_ITERATIONS;\n    } else if (compileFixWideRecoveryTurnsLeft > 0) {\n      compileFixWideRecoveryTurnsLeft -= 1;\n    }\n    const compileFixUseWideRecoveryMode = compileFixWideRecoveryTurnsLeft > 0;\n    const compileFixUseSurgicalMode = Boolean(\n      !compileFixUseWideRecoveryMode && (stagnationByBucket || compileFixNoChangeCount >= 2)\n    );\n    const compileFixIsStuck = Boolean(currentErrorBucket && errorBucketRepeatCount >= 3)\n      || compileFixUseSurgicalMode\n      || compileFixUseWideRecoveryMode;\n    const compileFixStuckReason = compileFixIsStuck\n      ? (\n        compileFixUseWideRecoveryMode\n          ? (\n            repeatedBucketForWideRecovery\n              ? `Wide recovery mode enabled: bucket \"${currentErrorBucket}\" repeated ${errorBucketRepeatCount} attempts.`\n              : `Wide recovery mode enabled after ${compileFixNoChangeCount} no-change attempts.`\n          )\n          : compileFixUseSurgicalMode\n          ? `Stagnation detected for bucket \"${currentErrorBucket}\" with non-decreasing error volume (${recentErrorCounts.join(' -> ')}).`\n          : `Repeated error bucket \"${currentErrorBucket}\" for ${errorBucketRepeatCount} consecutive attempts.`\n      )\n      : '';\n    const compileFixForceConcreteEdits = Boolean(\n      compileFixNoChangeCount >= 1 || (previousAttemptNumber > 0 && compileFixAppliedPaths.length === 0)\n    );\n    const pomTouchedLastAttempt = compileFixAppliedPaths.includes('backend/pom.xml');\n    const recentPomTouchCount = previousHistory\n      .slice(-5)\n      .filter((entry) => Boolean(entry?.pomTouched))\n      .length + (pomTouchedLastAttempt ? 1 : 0);\n\n    let compileFixStopReason = '';\n    if (compileFixAttempt > maxCompileFixAttempts) {\n      compileFixStopReason = `Reached max compile-fix attempts (${maxCompileFixAttempts}).`;\n    }\n\n    const recentGuardEntries = previousHistory\n      .slice(-6)\n      .filter((entry) => String(entry?.errorBucket || '').trim() === 'pre-compile-guard-failed');\n    const currentIsGuardFailure = currentErrorBucket === 'pre-compile-guard-failed';\n    const repeatedGuardTestPathHits = currentGuardTestViolationPaths.map((targetPath) => {\n      const hits = recentGuardEntries.filter((entry) => {\n        const entryPaths = normalizePathArray(entry?.guardViolationPaths);\n        if (entryPaths.length > 0) return entryPaths.includes(targetPath);\n        const fallback = extractGuardViolationPaths(`${entry?.summary || ''}\\n${entry?.errorSignature || ''}`);\n        return fallback.includes(targetPath);\n      }).length;\n      return { targetPath, hitsIncludingCurrent: hits + 1 };\n    });\n    const worstGuardTestPathHit = repeatedGuardTestPathHits\n      .sort((a, b) => b.hitsIncludingCurrent - a.hitsIncludingCurrent)[0];\n    const guardTestFileOscillationDetected = Boolean(\n      currentIsGuardFailure\n      && worstGuardTestPathHit\n      && worstGuardTestPathHit.hitsIncludingCurrent >= PRE_COMPILE_GUARD_TEST_LOOP_THRESHOLD\n      && previousAttemptNumber >= 2\n    );\n    if (!compileFixStopReason && guardTestFileOscillationDetected) {\n      compileFixCanContinue = false;\n      compileFixStopReason = `Stopped automatic retries after repeated pre-compile guard failures on ${worstGuardTestPathHit.targetPath}.`;\n    }\n\n    const relevantErrorPaths = collectRelevantPaths(\n      combinedErrorText,\n      generatedFiles,\n      [...testFailedFilePaths, ...testTargetFilePaths],\n    );\n    const firstCompilerErrorPaths = collectRelevantPaths(\n      firstCompilerErrors.join('\\n'),\n      generatedFiles,\n      [...testFailedFilePaths, ...testTargetFilePaths],\n    );\n    if (\n      isDependencyLikeBucket(currentErrorBucket)\n      && generatedFiles.some((file) => String(file?.path || '').trim() === 'backend/pom.xml')\n      && !firstCompilerErrorPaths.includes('backend/pom.xml')\n    ) {\n      firstCompilerErrorPaths.unshift('backend/pom.xml');\n    }\n    const currentConvergenceScore = computeConvergenceScore({\n      compilePassed: Boolean(json.compilePassed),\n      errorBucket: currentErrorBucket,\n      validationStage: compileValidationStage,\n      errorLineCount: compilerErrorLineCount,\n      noChangeCount: compileFixNoChangeCount,\n    });\n    const compileFixRollbackToBest = false;\n\n    const compileFixHistory = [\n      ...previousHistory,\n      {\n        attempt: compileFixAttempt,\n        compilePassed: Boolean(json.compilePassed),\n        compileExitCode: json.compileExitCode,\n        compileRawExitCode: json.compileRawExitCode,\n        compileValidationStage,\n        compileCommand,\n        isRepeatedError,\n        failedTestFileCount: testFailedFilePaths.length,\n        testTargetFileCount: testTargetFilePaths.length,\n        summary: pickErrorSummary([compileErrorMessage, compileStderr], 1500),\n        errorSignature: currentErrorSignature,\n        errorBucket: currentErrorBucket,\n        errorLineCount: compilerErrorLineCount,\n        convergenceScore: currentConvergenceScore,\n        errorBucketRepeatCount,\n        compileFixIsStuck,\n        compileFixUseSurgicalMode,\n        compileFixUseWideRecoveryMode,\n        compileFixWideRecoveryTurnsLeft,\n        compileFixRollbackToBest,\n        pomTouched: pomTouchedLastAttempt,\n        guardViolationPaths: currentGuardViolationPaths,\n      },\n    ];\n\n    return {\n      json: {\n        ...json,\n        generatedFiles,\n        generatedFilePaths: generatedFiles.map((file) => String(file?.path || '').trim()).filter(Boolean),\n        generatedFileCountTotal: generatedFiles.length,\n        allPlannedFiles: generatedFiles.map((file) => ({ path: String(file?.path || '').trim() })).filter((file) => file.path),\n        compileFixAttempt,\n        maxCompileFixAttempts,\n        compileFixCanContinue,\n        compileFixShouldStop: !compileFixCanContinue,\n        compileFixStopReason,\n        compileValidationStage,\n        compileCommand,\n        compileErrorContext: combinedErrorText,\n        compileErrorSignature: currentErrorSignature,\n        compileErrorBucket: currentErrorBucket,\n        compilerErrorLineCount,\n        firstCompilerErrors,\n        firstCompilerErrorPaths,\n        currentConvergenceScore,\n        errorBucketRepeatCount,\n        lastCompileErrorSignature: currentErrorSignature,\n        isRepeatedError,\n        compileFixIsStuck,\n        compileFixUseSurgicalMode,\n        compileFixUseWideRecoveryMode,\n        compileFixWideRecoveryTurnsLeft,\n        compileFixStuckReason,\n        compileFixForceConcreteEdits,\n        compileFixRecentModelResponses,\n        recentPomTouchCount,\n        compileFixWorseStreak: 0,\n        compileFixRollbackToBest,\n        compileFixRollbackReason: '',\n        compileFixBestState: null,\n        guardViolationPaths: currentGuardViolationPaths,\n        guardTestViolationPaths: currentGuardTestViolationPaths,\n        guardTestFileOscillationDetected,\n        relevantErrorPaths,\n        testFailedFilePaths,\n        testTargetFilePaths,\n        compileFixHistory,\n      },\n      binary: item.binary ?? {},\n    };\n  });\n}\n\nreturn bePrepareCompileFixState();\n\r\n\r\n\r\n\r\n"
      },
      "id": "d952f5c3-58c1-40ad-b71e-4a6379a3194b",
      "name": "BEV - Prepare Validation Fix State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25568,
        12000
      ]
    },
    {
      "parameters": {
        "jsCode": "function beBuildCompileFixPrompt() {\n  const MAX_CONTEXT_FILES = 20;\n  const MAX_CONTEXT_FILES_DUPLICATE = 30;\n  const MAX_CONTEXT_FILES_WIDE = 32;\n  const MAX_TOTAL_CONTEXT_CHARS = 90000;\n  const MAX_FILE_CONTEXT_CHARS = 14000;\n  const MAX_EDIT_SCOPE_GENERAL = 5;\n  const MAX_EDIT_SCOPE_SURGICAL = 3;\n  const MAX_EDIT_SCOPE_WIDE = 10;\n\n  function normalizePath(value) {\n    const raw = String(value || '').trim().replace(/\\\\/g, '/');\n    if (!raw) return '';\n    if (raw.startsWith('backend/')) return raw;\n\n    const idx = raw.indexOf('backend/');\n    if (idx >= 0) {\n      return raw.slice(idx);\n    }\n\n    return raw;\n  }\n\n  function isEditableProjectPath(path) {\n    const normalized = normalizePath(path);\n    if (!normalized || !normalized.startsWith('backend/')) return false;\n    if (normalized === 'backend/target' || normalized.startsWith('backend/target/')) return false;\n    if (normalized === 'backend/bin' || normalized.startsWith('backend/bin/')) return false;\n    return true;\n  }\n\n  function compactJson(value) {\n    return JSON.stringify(value);\n  }\n\n  function compactText(value, maxChars) {\n    const text = String(value ?? '');\n    if (!text) return '';\n    return text.length > maxChars ? text.slice(0, maxChars) : text;\n  }\n\n  function splitTokens(value) {\n    const text = String(value || '')\n      .replace(/([a-z0-9])([A-Z])/g, '$1 $2')\n      .replace(/[^A-Za-z0-9]+/g, ' ')\n      .toLowerCase();\n    return Array.from(new Set(text.split(/\\s+/).filter((token) => token.length > 1)));\n  }\n\n  function normalizeContent(contentValue) {\n    if (typeof contentValue === 'string') return contentValue;\n    if (contentValue === null || contentValue === undefined) return '';\n    if (typeof contentValue === 'object') return JSON.stringify(contentValue, null, 2);\n    return String(contentValue);\n  }\n\n  function normalizePathArray(value) {\n    if (!Array.isArray(value)) return [];\n    const seen = new Set();\n    const result = [];\n    for (const rawPath of value) {\n      const path = normalizePath(rawPath);\n      if (!isEditableProjectPath(path)) continue;\n      if (seen.has(path)) continue;\n      seen.add(path);\n      result.push(path);\n    }\n    return result;\n  }\n\n  function normalizeRecentModelResponses(value) {\n    if (!Array.isArray(value)) return [];\n    const normalized = [];\n    for (const entry of value) {\n      if (!entry || typeof entry !== 'object' || Array.isArray(entry)) continue;\n      const attempt = Math.max(0, Number(entry.attempt || 0));\n      const response = compactText(entry.response, 1800);\n      if (!attempt || !response) continue;\n      normalized.push({\n        attempt,\n        parseError: String(entry.parseError || ''),\n        parsedPaths: normalizePathArray(entry.parsedPaths).slice(0, 20),\n        appliedPaths: normalizePathArray(entry.appliedPaths).slice(0, 20),\n        response,\n      });\n    }\n    return normalized.slice(-3);\n  }\n\n  function addUniquePath(list, seen, path, pathSet) {\n    const normalized = normalizePath(path);\n    if (!isEditableProjectPath(normalized)) return;\n    if (!pathSet.has(normalized)) return;\n    if (seen.has(normalized)) return;\n    seen.add(normalized);\n    list.push(normalized);\n  }\n\n  function isBuildDependencyError(errorText) {\n    const text = String(errorText || '').toLowerCase();\n    if (!text) return false;\n\n    return [\n      'non-resolvable parent pom',\n      'could not resolve dependencies',\n      'could not collect dependencies',\n      'could not resolve artifact',\n      'failed to read artifact descriptor',\n      'could not transfer artifact',\n      'unable to find valid certification path',\n      'dependency resolution',\n      'pluginresolutionexception',\n      'unknown lifecycle phase',\n      'goal requires a project to execute but there is no pom',\n      'dependencies.dependency.version',\n      'non-parseable pom',\n      'modelparseexception',\n      'projectbuildingexception',\n      'name does not resolve',\n      'forbidden (403)',\n    ].some((marker) => text.includes(marker));\n  }\n\n  function hasExternalMissingDependencySignal(errorText) {\n    const rawText = String(errorText || '');\n    if (!rawText) return false;\n\n    const missingPackages = Array.from(\n      rawText.matchAll(/package\\s+([A-Za-z0-9_.]+)\\s+does not exist/gi),\n      (match) => String(match[1] || '').toLowerCase(),\n    );\n\n    const hasExternalMissingPackage = missingPackages.some((pkg) => {\n      if (!pkg) return false;\n      if (pkg.startsWith('com.example.')) return false;\n      return /^(org|io|com|net|jakarta|javax)\\./.test(pkg);\n    });\n    if (hasExternalMissingPackage) return true;\n\n    const missingClassFiles = Array.from(\n      rawText.matchAll(/class file for\\s+([A-Za-z0-9_.]+)\\s+not found/gi),\n      (match) => String(match[1] || '').toLowerCase(),\n    );\n\n    const hasExternalMissingClassFile = missingClassFiles.some((className) => {\n      if (!className) return false;\n      if (className.startsWith('com.example.')) return false;\n      return /^(org|io|com|net|jakarta|javax)\\./.test(className);\n    });\n\n    return hasExternalMissingClassFile;\n  }\n\n  function isMapstructError(errorText) {\n    const text = String(errorText || '');\n    return /mapstruct|unknown property .* in result type|no property named .* exists in source|the type of parameter .* has no property|has no properties\\./i.test(text);\n  }\n\n  function hasIncompatibleTypeError(errorText) {\n    const text = String(errorText || '');\n    return /incompatible types\\s*:/i.test(text);\n  }\n\n  function hasJavaCompileError(errorText) {\n    const text = String(errorText || '');\n    if (!text) return false;\n\n    return [\n      /compilation error/i,\n      /cannot find symbol/i,\n      /package\\s+[A-Za-z0-9_.]+\\s+does not exist/i,\n      /unknown property/i,\n      /incompatible types\\s*:/i,\n      /illegal character/i,\n      /backend[\\\\/].*src[\\\\/](main|test)[\\\\/].*\\.(java|kt|groovy)/i,\n    ].some((pattern) => pattern.test(text));\n  }\n\n  function hasCustomRepositoryOutage(errorText) {\n    const text = String(errorText || '').toLowerCase();\n    if (!text) return false;\n    return (\n      text.includes('repo.zalando')\n      || text.includes('zalando (https://repo.zalando')\n      || text.includes('forbidden (403)')\n      || text.includes('name does not resolve')\n    );\n  }\n\n  function buildGeneratedLookup(generatedFiles) {\n    const byPath = new Map();\n    const pathSet = new Set();\n    const basenameIndex = new Map();\n\n    for (const file of generatedFiles) {\n      const path = normalizePath(file?.path);\n      if (!path || !path.startsWith('backend/')) continue;\n\n      const content = normalizeContent(file?.content);\n      byPath.set(path, content);\n      pathSet.add(path);\n\n      const basename = path.split('/').pop()?.toLowerCase() || '';\n      if (!basename) continue;\n      if (!basenameIndex.has(basename)) basenameIndex.set(basename, []);\n      basenameIndex.get(basename).push(path);\n    }\n\n    return { byPath, pathSet, basenameIndex };\n  }\n\n  function extractReferencedBackendPaths(errorText, generatedPathSet) {\n    const text = String(errorText || '');\n    const found = new Set();\n\n    const patterns = [\n      /backend[\\\\/][A-Za-z0-9_./\\\\-]+/g,\n      /[A-Za-z]:\\\\[^\\s:]+backend\\\\[A-Za-z0-9_.\\\\-]+/g,\n      /\\/tmp\\/[A-Za-z0-9_./-]*backend\\/[A-Za-z0-9_./-]+/g,\n    ];\n\n    for (const pattern of patterns) {\n      for (const match of text.matchAll(pattern)) {\n        let value = normalizePath(match[0]);\n        value = value.replace(/[),:;\\]]+$/, '');\n        if (!value.startsWith('backend/')) continue;\n        if (!generatedPathSet.has(value)) continue;\n        found.add(value);\n      }\n    }\n\n    return Array.from(found).sort((a, b) => a.localeCompare(b));\n  }\n\n  function extractMapstructTypeNames(errorText) {\n    const text = String(errorText || '');\n    const names = new Set();\n\n    const patterns = [\n      /result type\\s+\"?([A-Za-z_][A-Za-z0-9_$]*)\"?/gi,\n      /Type\\s+\"?([A-Za-z_][A-Za-z0-9_$]*)\"?\\s+has no properties/gi,\n      /parameter\\s+\"?[A-Za-z_][A-Za-z0-9_$]*\"?\\s+has no property[^\\n]*Type\\s+\"?([A-Za-z_][A-Za-z0-9_$]*)\"?/gi,\n      /type of parameter\\s+\"?([A-Za-z_][A-Za-z0-9_$]*)\"?\\s+has no property/gi,\n    ];\n\n    for (const pattern of patterns) {\n      for (const match of text.matchAll(pattern)) {\n        const className = String(match[1] || '').trim();\n        if (!className) continue;\n        names.add(className);\n      }\n    }\n\n    return Array.from(names);\n  }\n\n  function resolveClassPaths(classNames, basenameIndex, generatedPathSet) {\n    const resolved = new Set();\n\n    for (const className of classNames) {\n      const candidates = [\n        `${className}.java`,\n        `${className}.kt`,\n        `${className}.groovy`,\n      ];\n\n      for (const candidate of candidates) {\n        const options = basenameIndex.get(candidate.toLowerCase()) || [];\n        const preferred = options.find((path) => path.includes('/src/main/'))\n          || options.find((path) => path.startsWith('backend/'))\n          || null;\n        if (preferred && generatedPathSet.has(preferred)) {\n          resolved.add(preferred);\n          break;\n        }\n      }\n    }\n\n    return Array.from(resolved);\n  }\n\n  function resolveProjectImportPaths(fileContent, generatedPathSet) {\n    const text = String(fileContent || '');\n    if (!text) return [];\n\n    const excludedPrefixes = [\n      'java.',\n      'javax.',\n      'jakarta.',\n      'lombok.',\n      'org.springframework.',\n      'org.mapstruct.',\n      'org.slf4j.',\n      'com.fasterxml.',\n      'com.zaxxer.',\n      'org.hibernate.',\n    ];\n\n    const resolved = new Set();\n    const importPattern = /^\\s*import\\s+([A-Za-z_][A-Za-z0-9_.]*)\\s*;/gm;\n    for (const match of text.matchAll(importPattern)) {\n      const fqn = String(match[1] || '').trim();\n      if (!fqn) continue;\n      if (excludedPrefixes.some((prefix) => fqn.startsWith(prefix))) continue;\n      if (!fqn.includes('.')) continue;\n\n      const mainPath = `backend/src/main/java/${fqn.replace(/\\./g, '/')}.java`;\n      const testPath = `backend/src/test/java/${fqn.replace(/\\./g, '/')}.java`;\n\n      if (generatedPathSet.has(mainPath)) resolved.add(mainPath);\n      else if (generatedPathSet.has(testPath)) resolved.add(testPath);\n    }\n\n    return Array.from(resolved);\n  }\n\n  function isDependencyBucket(bucket) {\n    const value = String(bucket || '').toLowerCase();\n    if (!value) return false;\n    return value.startsWith('dependency-')\n      || value.startsWith('pom-')\n      || value === 'dependency-resolution';\n  }\n\n  function extractMissingSymbolClassNames(errorText) {\n    const text = String(errorText || '');\n    const names = new Set();\n    const patterns = [\n      /symbol:\\s+class\\s+([A-Za-z_][A-Za-z0-9_$]*)/gi,\n      /class file for\\s+([A-Za-z_][A-Za-z0-9_$.]+)\\s+not found/gi,\n      /location:\\s+variable\\s+[A-Za-z_][A-Za-z0-9_]*\\s+of type\\s+([A-Za-z_][A-Za-z0-9_$.]*)/gi,\n    ];\n\n    for (const pattern of patterns) {\n      for (const match of text.matchAll(pattern)) {\n        const raw = String(match[1] || '').trim();\n        if (!raw) continue;\n        const leaf = raw.includes('.') ? raw.split('.').pop() : raw;\n        if (!leaf) continue;\n        names.add(leaf);\n      }\n    }\n\n    return Array.from(names);\n  }\n\n  function resolveMissingSymbolPaths(errorText, basenameIndex, generatedPathSet) {\n    const resolved = new Set(resolveClassPaths(extractMissingSymbolClassNames(errorText), basenameIndex, generatedPathSet));\n    const text = String(errorText || '');\n    for (const match of text.matchAll(/package\\s+([A-Za-z_][A-Za-z0-9_.]+)\\s+does not exist/gi)) {\n      const pkg = String(match[1] || '').trim();\n      if (!pkg) continue;\n      const packagePath = pkg.replace(/\\./g, '/');\n      const mainPrefix = `backend/src/main/java/${packagePath}/`;\n      const testPrefix = `backend/src/test/java/${packagePath}/`;\n\n      for (const candidatePath of generatedPathSet) {\n        if (candidatePath.startsWith(mainPrefix) || candidatePath.startsWith(testPrefix)) {\n          resolved.add(candidatePath);\n        }\n      }\n    }\n\n    return Array.from(resolved).sort((a, b) => a.localeCompare(b));\n  }\n\n  function extractMissingHelperFileCandidates(errorText) {\n    const lines = String(errorText || '').split(/\\r?\\n/);\n    const candidates = new Set();\n\n    for (let index = 0; index < lines.length; index += 1) {\n      const symbolMatch = lines[index].match(/symbol:\\s+variable\\s+([A-Za-z_][A-Za-z0-9_]*)/i);\n      if (!symbolMatch) continue;\n\n      const symbolName = String(symbolMatch[1] || '').trim();\n      if (!symbolName) continue;\n      if (!/^[A-Z]/.test(symbolName)) continue;\n      if (!/(Util|Helper|Mapper|Converter|Factory)$/.test(symbolName)) continue;\n\n      let locationFqcn = '';\n      for (let cursor = index + 1; cursor <= Math.min(lines.length - 1, index + 4); cursor += 1) {\n        const locationMatch = lines[cursor].match(/location:\\s+(?:interface|class)\\s+([A-Za-z_][A-Za-z0-9_$.]*)/i);\n        if (locationMatch) {\n          locationFqcn = String(locationMatch[1] || '').trim();\n          break;\n        }\n      }\n      if (!locationFqcn || !locationFqcn.includes('.')) continue;\n\n      const packageName = locationFqcn.split('.').slice(0, -1).join('.');\n      if (!packageName) continue;\n      candidates.add(`backend/src/main/java/${packageName.replace(/\\./g, '/')}/${symbolName}.java`);\n    }\n\n    // Fallback for truncated compiler output where `symbol:` / `location:` lines are missing.\n    // OpenAPI-generated `*Api.java` interfaces in `web/rest` typically reference ApiUtil static helpers.\n    const flat = String(errorText || '').replace(/\\\\/g, '/');\n    const apiMissingSymbolPattern = /backend\\/(?:target\\/)?generated-sources\\/openapi\\/src\\/main\\/java\\/([A-Za-z0-9_./-]+)\\/([A-Za-z0-9_]+Api)\\.java:\\[\\d+,\\d+\\]\\s+cannot find symbol/gi;\n    for (const match of flat.matchAll(apiMissingSymbolPattern)) {\n      const packagePath = String(match[1] || '').replace(/\\./g, '/').replace(/^\\/+|\\/+$/g, '');\n      if (!packagePath) continue;\n      if (!/\\/web\\/rest$/i.test(packagePath)) continue;\n      candidates.add(`backend/src/main/java/${packagePath}/ApiUtil.java`);\n    }\n\n    return Array.from(candidates).sort((a, b) => a.localeCompare(b));\n  }\n\n  function stripKnownTypeSuffix(typeName) {\n    const value = String(typeName || '').trim();\n    if (!value) return '';\n    return value.replace(/(Resource|Controller|ServiceImpl|Service|Mapper|Repository|DTO|Entity|Model|Request|Response)$/i, '');\n  }\n\n  function resolveNearestLayerChainPaths(seedPaths, basenameIndex, generatedPathSet) {\n    const exts = ['java', 'kt', 'groovy'];\n    const resolved = new Set();\n    const roots = new Set();\n    const names = new Set();\n\n    for (const path of seedPaths) {\n      const normalized = normalizePath(path);\n      if (!normalized || !generatedPathSet.has(normalized)) continue;\n      const fileName = normalized.split('/').pop() || '';\n      const stem = fileName.replace(/\\.(java|kt|groovy)$/i, '').trim();\n      if (!stem) continue;\n      names.add(stem);\n      const stripped = stripKnownTypeSuffix(stem);\n      if (stripped && stripped.length >= 3) roots.add(stripped);\n      if (stem.length >= 3) roots.add(stem);\n    }\n\n    for (const root of roots) {\n      names.add(root);\n      names.add(`${root}Resource`);\n      names.add(`${root}Controller`);\n      names.add(`${root}Service`);\n      names.add(`${root}ServiceImpl`);\n      names.add(`${root}Mapper`);\n      names.add(`${root}Repository`);\n      names.add(`${root}DTO`);\n      names.add(`${root}Entity`);\n      names.add(`${root}Request`);\n      names.add(`${root}Response`);\n    }\n\n    for (const name of names) {\n      for (const ext of exts) {\n        const candidates = basenameIndex.get(`${name}.${ext}`.toLowerCase()) || [];\n        for (const candidate of candidates) {\n          if (generatedPathSet.has(candidate)) {\n            resolved.add(candidate);\n          }\n        }\n      }\n    }\n\n    return Array.from(resolved).sort((a, b) => a.localeCompare(b));\n  }\n\n  function extractDuplicateClassSimpleNames(errorText) {\n    const text = String(errorText || '');\n    const names = new Set();\n\n    const patterns = [\n      /duplicate class:\\s*([A-Za-z_][A-Za-z0-9_$.]*)/gi,\n      /duplicate class\\s+([A-Za-z_][A-Za-z0-9_$.]*)/gi,\n    ];\n\n    for (const pattern of patterns) {\n      for (const match of text.matchAll(pattern)) {\n        const raw = String(match[1] || '').trim();\n        if (!raw) continue;\n        const leaf = raw.includes('.') ? raw.split('.').pop() : raw;\n        if (!leaf) continue;\n        names.add(leaf);\n      }\n    }\n\n    return Array.from(names);\n  }\n\n  function fileDeclaresTopLevelType(fileContent, typeName) {\n    const source = String(fileContent || '');\n    if (!source || !typeName) return false;\n\n    const escapedName = typeName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    const pattern = new RegExp(`^\\\\s*(?:public\\\\s+|protected\\\\s+|private\\\\s+)?(?:abstract\\\\s+|final\\\\s+)?(?:class|interface|enum|record)\\\\s+${escapedName}\\\\b`, 'm');\n    return pattern.test(source);\n  }\n\n  function resolveDuplicateClassPaths(errorText, byPath, pathSet, basenameIndex) {\n    const names = extractDuplicateClassSimpleNames(errorText);\n    if (!names.length) {\n      return { names: [], paths: [] };\n    }\n\n    const resolved = new Set(resolveClassPaths(names, basenameIndex, pathSet));\n    for (const [path, content] of byPath.entries()) {\n      for (const name of names) {\n        if (fileDeclaresTopLevelType(content, name)) {\n          resolved.add(path);\n          break;\n        }\n      }\n    }\n\n    return {\n      names,\n      paths: Array.from(resolved).sort((a, b) => a.localeCompare(b)),\n    };\n  }\n\n  function scoreFile(path, options) {\n    const {\n      errorText,\n      relevantPathSet,\n      failedTestPathSet,\n      testTargetPathSet,\n      recentModifiedPathSet,\n      shouldPrioritizePom,\n    } = options;\n\n    const normalizedPath = normalizePath(path);\n    if (!normalizedPath) return 0;\n\n    let score = 0;\n    if (relevantPathSet.has(normalizedPath)) score += 120;\n    if (failedTestPathSet.has(normalizedPath)) score += 260;\n    if (testTargetPathSet.has(normalizedPath)) score += 220;\n    if (recentModifiedPathSet.has(normalizedPath)) score += 180;\n\n    if (normalizedPath.endsWith('/pom.xml') || normalizedPath.endsWith('pom.xml')) {\n      score += shouldPrioritizePom ? 120 : 0;\n    }\n\n    const pathTokens = splitTokens(normalizedPath);\n    const errorTokens = splitTokens(errorText).slice(0, 200);\n    for (const token of errorTokens) {\n      if (pathTokens.includes(token)) score += 2;\n    }\n\n    return score;\n  }\n\n  return $input.all().map((item) => {\n    const json = item.json || {};\n    const generatedFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const compileValidationStage = String(json.compileValidationStage || 'compile').trim();\n    const compileCommand = String(json.compileCommand || '').trim();\n    const compileErrorContext = String(json.compileErrorContext || '').trim();\n    const compileStdout = String(json.compileStdout || '').trim();\n    const compileStderr = String(json.compileStderr || '').trim();\n    const compileErrorMessage = String(json.compileErrorMessage || '').trim();\n    const errorSignalText = [\n      compileErrorContext,\n      compactText(compileStdout, 12000),\n      compactText(compileStderr, 4000),\n      compactText(compileErrorMessage, 2000),\n    ].filter(Boolean).join('\\n');\n    const isRepeatedError = Boolean(json.isRepeatedError);\n    const compileErrorBucket = String(json.compileErrorBucket || '').trim();\n    const errorBucketRepeatCount = Math.max(0, Number(json.errorBucketRepeatCount || 0));\n    const recentPomTouchCount = Math.max(0, Number(json.recentPomTouchCount || 0));\n    const compileFixIsStuck = Boolean(json.compileFixIsStuck);\n    const compileFixUseSurgicalMode = Boolean(json.compileFixUseSurgicalMode);\n    const compileFixUseWideRecoveryMode = Boolean(json.compileFixUseWideRecoveryMode);\n    const compileFixWideRecoveryTurnsLeft = Math.max(0, Number(json.compileFixWideRecoveryTurnsLeft || 0));\n    const compileFixForceConcreteEdits = Boolean(json.compileFixForceConcreteEdits);\n    const compileFixStuckReason = String(json.compileFixStuckReason || '').trim();\n    const compileFixRecentModelResponses = normalizeRecentModelResponses(json.compileFixRecentModelResponses);\n    const firstCompilerErrors = Array.isArray(json.firstCompilerErrors)\n      ? json.firstCompilerErrors.map((line) => String(line || '').trim()).filter(Boolean).slice(0, 20)\n      : [];\n    const firstCompilerErrorPaths = normalizePathArray(json.firstCompilerErrorPaths);\n    const previousAttemptPatchPreview = compactText(json.compileFixLastPatchPreview, 14000);\n\n    const allPlannedFiles = Array.isArray(json.allPlannedFiles) && json.allPlannedFiles.length\n      ? json.allPlannedFiles\n      : (Array.isArray(json.backendStructure) ? json.backendStructure : []);\n    const planPaths = allPlannedFiles\n      .map((file) => String(file?.path || '').trim())\n      .filter(Boolean);\n\n    const relevantErrorPaths = normalizePathArray(json.relevantErrorPaths);\n    const testFailedFilePaths = normalizePathArray(json.testFailedFilePaths);\n    const testTargetFilePaths = normalizePathArray(json.testTargetFilePaths);\n    const compileFixAppliedPaths = normalizePathArray(json.compileFixAppliedPaths);\n\n    const relevantPathSet = new Set(relevantErrorPaths);\n    const failedTestPathSet = new Set(testFailedFilePaths);\n    const testTargetPathSet = new Set(testTargetFilePaths);\n    const recentModifiedPathSet = new Set(compileFixAppliedPaths);\n\n    const { byPath, pathSet, basenameIndex } = buildGeneratedLookup(generatedFiles);\n    const hasJavaCompileIssue = hasJavaCompileError(errorSignalText);\n    const hasCustomRepoOutage = hasCustomRepositoryOutage(errorSignalText);\n    const hasMapstructIssue = isMapstructError(errorSignalText);\n    const externalMissingDependencySignal = hasExternalMissingDependencySignal(errorSignalText);\n    const dependencyBucketStrategy = isDependencyBucket(compileErrorBucket) || externalMissingDependencySignal;\n    const mapstructBucketStrategy = Boolean(\n      hasMapstructIssue || compileErrorBucket === 'java-mapstruct-unknown-property'\n    );\n    const allowPomForMapstructLoop = Boolean(\n      hasMapstructIssue\n      && compileErrorBucket === 'java-mapstruct-unknown-property'\n      && errorBucketRepeatCount >= 2\n    );\n    const shouldPrioritizePom = isBuildDependencyError(errorSignalText)\n      || externalMissingDependencySignal\n      || allowPomForMapstructLoop;\n    const pomTriedTooManyTimes = recentPomTouchCount >= 3;\n    const disablePomEditsForThisTurn = Boolean(\n      (!allowPomForMapstructLoop && pomTriedTooManyTimes)\n      || (errorBucketRepeatCount >= 3 && !shouldPrioritizePom)\n      || (!allowPomForMapstructLoop && hasCustomRepoOutage && compileErrorBucket.includes('zalando'))\n    );\n    const hasIncompatibleTypeIssue = hasIncompatibleTypeError(errorSignalText);\n    const requiresMapstructCoordinatedFix = Boolean(\n      hasMapstructIssue && (isRepeatedError || Number(json.compileFixAttempt || 0) >= 2)\n    );\n    const referencedErrorPaths = extractReferencedBackendPaths(errorSignalText, pathSet);\n    const missingSymbolCandidatePaths = resolveMissingSymbolPaths(errorSignalText, basenameIndex, pathSet);\n    const missingHelperFileCandidates = extractMissingHelperFileCandidates(errorSignalText);\n    const symbolChainPaths = compileErrorBucket === 'java-cannot-find-symbol'\n      ? resolveNearestLayerChainPaths(\n        [...firstCompilerErrorPaths, ...referencedErrorPaths, ...missingSymbolCandidatePaths],\n        basenameIndex,\n        pathSet\n      )\n      : [];\n    const duplicateClassResolution = resolveDuplicateClassPaths(errorSignalText, byPath, pathSet, basenameIndex);\n    const duplicateClassNames = duplicateClassResolution.names;\n    const duplicateClassCandidatePaths = duplicateClassResolution.paths;\n    const hasDuplicateClassError = duplicateClassNames.length > 0;\n\n    const mapstructMapperPaths = [];\n    const mapstructClassPaths = [];\n    if (hasMapstructIssue) {\n      const typeNames = extractMapstructTypeNames(errorSignalText);\n      mapstructClassPaths.push(...resolveClassPaths(typeNames, basenameIndex, pathSet));\n\n      const combinedErrorPaths = [...relevantErrorPaths, ...referencedErrorPaths];\n      for (const path of combinedErrorPaths) {\n        if (/\\/mapper\\//i.test(path) || /Mapper\\.(java|kt|groovy)$/i.test(path)) {\n          mapstructMapperPaths.push(path);\n        }\n      }\n\n      if (!mapstructMapperPaths.length) {\n        for (const path of byPath.keys()) {\n          if (/\\/mapper\\/.*Mapper\\.(java|kt|groovy)$/i.test(path)) {\n            mapstructMapperPaths.push(path);\n          }\n        }\n      }\n    }\n\n    const priorityContextPaths = [];\n    const seenPriority = new Set();\n    const addPriorityPath = (path) => addUniquePath(priorityContextPaths, seenPriority, path, pathSet);\n\n    // 1) Always prioritize duplicate-class candidates first when present.\n    for (const path of duplicateClassCandidatePaths) addPriorityPath(path);\n\n    // 2) Always include files referenced by the first compiler errors.\n    for (const path of firstCompilerErrorPaths) addPriorityPath(path);\n\n    // 3) Prioritize files directly implicated by current compiler/runtime errors.\n    for (const path of referencedErrorPaths) addPriorityPath(path);\n    for (const path of relevantErrorPaths) addPriorityPath(path);\n    for (const path of missingSymbolCandidatePaths) addPriorityPath(path);\n    for (const path of symbolChainPaths) addPriorityPath(path);\n    for (const path of compileFixAppliedPaths) addPriorityPath(path);\n\n    // 4) When the loop is stuck, include files from recent model attempts to prevent repetition.\n    if (compileFixIsStuck) {\n      for (const entry of compileFixRecentModelResponses) {\n        for (const path of normalizePathArray(entry.parsedPaths)) addPriorityPath(path);\n        for (const path of normalizePathArray(entry.appliedPaths)) addPriorityPath(path);\n      }\n    }\n\n    // 5) Add test-target context.\n    for (const path of testFailedFilePaths) addPriorityPath(path);\n    for (const path of testTargetFilePaths) addPriorityPath(path);\n\n    // 6) Add mapper-specific files when relevant.\n    for (const path of mapstructMapperPaths) addPriorityPath(path);\n    for (const path of mapstructClassPaths) addPriorityPath(path);\n\n    // 7) Add pom context only when allowed and relevant.\n    if ((shouldPrioritizePom || hasMapstructIssue) && !disablePomEditsForThisTurn) {\n      addPriorityPath('backend/pom.xml');\n    }\n\n    // 8) Expand imports from prioritized Java/Kotlin/Groovy files so related DTO/repository\n    // contracts are present in context for coordinated type fixes.\n    const importExpandedPaths = [];\n    const seenImportExpanded = new Set();\n    for (const path of priorityContextPaths) {\n      if (!/\\.(java|kt|groovy)$/i.test(path)) continue;\n      const sourceContent = byPath.get(path);\n      if (!sourceContent) continue;\n      const importedProjectPaths = resolveProjectImportPaths(sourceContent, pathSet);\n      for (const importedPath of importedProjectPaths) {\n        addUniquePath(importExpandedPaths, seenImportExpanded, importedPath, pathSet);\n      }\n    }\n\n    const forcedContextPaths = [];\n    const seenForced = new Set();\n    for (const path of priorityContextPaths) addUniquePath(forcedContextPaths, seenForced, path, pathSet);\n    for (const path of importExpandedPaths) addUniquePath(forcedContextPaths, seenForced, path, pathSet);\n\n    const editableScopePaths = [];\n    const seenEditableScope = new Set();\n    const addEditableScopePath = (path) => addUniquePath(editableScopePaths, seenEditableScope, path, pathSet);\n    const addEditableScopePathAllowMissing = (path) => {\n      const normalized = normalizePath(path);\n      if (!isEditableProjectPath(normalized)) return;\n      if (seenEditableScope.has(normalized)) return;\n      seenEditableScope.add(normalized);\n      editableScopePaths.push(normalized);\n    };\n\n    if (hasDuplicateClassError) {\n      for (const path of duplicateClassCandidatePaths) addEditableScopePath(path);\n    } else if (dependencyBucketStrategy) {\n      // Keep dependency-resolution scope strictly on pom.xml to avoid irrelevant Java churn.\n      if (!disablePomEditsForThisTurn) addEditableScopePath('backend/pom.xml');\n      if (!editableScopePaths.length) {\n        for (const path of referencedErrorPaths) addEditableScopePath(path);\n        for (const path of relevantErrorPaths) addEditableScopePath(path);\n      }\n    } else if (mapstructBucketStrategy) {\n      for (const path of mapstructMapperPaths) addEditableScopePath(path);\n      for (const path of mapstructClassPaths) addEditableScopePath(path);\n      for (const path of referencedErrorPaths) addEditableScopePath(path);\n      for (const path of relevantErrorPaths) addEditableScopePath(path);\n      for (const path of importExpandedPaths) addEditableScopePath(path);\n      if (allowPomForMapstructLoop && !disablePomEditsForThisTurn) {\n        addEditableScopePath('backend/pom.xml');\n      }\n    } else if (compileErrorBucket === 'java-cannot-find-symbol') {\n      for (const path of firstCompilerErrorPaths) addEditableScopePath(path);\n      for (const path of missingSymbolCandidatePaths) addEditableScopePath(path);\n      for (const path of missingHelperFileCandidates) addEditableScopePathAllowMissing(path);\n      for (const path of symbolChainPaths) addEditableScopePath(path);\n      for (const path of referencedErrorPaths) addEditableScopePath(path);\n      for (const path of relevantErrorPaths) addEditableScopePath(path);\n      if (compileFixUseWideRecoveryMode) {\n        for (const path of importExpandedPaths) addEditableScopePath(path);\n      }\n    } else {\n      for (const path of firstCompilerErrorPaths) addEditableScopePath(path);\n      for (const path of referencedErrorPaths) addEditableScopePath(path);\n      for (const path of relevantErrorPaths) addEditableScopePath(path);\n      if (compileFixUseWideRecoveryMode) {\n        for (const path of importExpandedPaths) addEditableScopePath(path);\n      }\n    }\n\n    const scopedWithFirstErrorPaths = [];\n    const seenScopedWithFirstErrorPaths = new Set();\n    const addScopedPath = (path) => {\n      const normalized = normalizePath(path);\n      if (!normalized || !pathSet.has(normalized)) return;\n      if (seenScopedWithFirstErrorPaths.has(normalized)) return;\n      seenScopedWithFirstErrorPaths.add(normalized);\n      scopedWithFirstErrorPaths.push(normalized);\n    };\n    if (dependencyBucketStrategy) {\n      for (const path of editableScopePaths) addScopedPath(path);\n      for (const path of firstCompilerErrorPaths) addScopedPath(path);\n    } else {\n      for (const path of firstCompilerErrorPaths) addScopedPath(path);\n      for (const path of editableScopePaths) addScopedPath(path);\n    }\n\n    const maxEditableFiles = compileFixUseWideRecoveryMode\n      ? MAX_EDIT_SCOPE_WIDE\n      : (compileFixUseSurgicalMode ? MAX_EDIT_SCOPE_SURGICAL : MAX_EDIT_SCOPE_GENERAL);\n    let compileFixAllowedPaths = scopedWithFirstErrorPaths.slice(0, maxEditableFiles);\n    if (compileErrorBucket === 'java-cannot-find-symbol' && missingSymbolCandidatePaths.length) {\n      const missingSymbolSet = new Set(\n        missingSymbolCandidatePaths\n          .map((path) => normalizePath(path))\n          .filter((path) => path && path.startsWith('backend/') && pathSet.has(path)),\n      );\n      if (missingSymbolSet.size > 0) {\n        compileFixAllowedPaths = [\n          ...Array.from(missingSymbolSet),\n          ...compileFixAllowedPaths.filter((path) => !missingSymbolSet.has(path)),\n        ].slice(0, Math.max(1, maxEditableFiles));\n      }\n    }\n    if (missingHelperFileCandidates.length) {\n      const missingSet = new Set(\n        missingHelperFileCandidates\n          .map((path) => normalizePath(path))\n          .filter((path) => path && path.startsWith('backend/')),\n      );\n      if (missingSet.size > 0) {\n        compileFixAllowedPaths = [\n          ...Array.from(missingSet),\n          ...compileFixAllowedPaths.filter((path) => !missingSet.has(path)),\n        ].slice(0, Math.max(1, maxEditableFiles));\n      }\n    }\n    if (dependencyBucketStrategy && !disablePomEditsForThisTurn && pathSet.has('backend/pom.xml')) {\n      if (!compileFixAllowedPaths.includes('backend/pom.xml')) {\n        compileFixAllowedPaths = ['backend/pom.xml', ...compileFixAllowedPaths]\n          .filter((path, index, arr) => arr.indexOf(path) === index)\n          .slice(0, Math.max(1, maxEditableFiles));\n      } else {\n        compileFixAllowedPaths = ['backend/pom.xml', ...compileFixAllowedPaths.filter((path) => path !== 'backend/pom.xml')]\n          .slice(0, Math.max(1, maxEditableFiles));\n      }\n    }\n    const hasScopedEdits = compileFixAllowedPaths.length > 0;\n\n    const candidates = Array.from(byPath.entries())\n      .map(([path, content]) => ({\n        path,\n        content,\n        score: scoreFile(path, {\n          errorText: errorSignalText,\n          relevantPathSet,\n          failedTestPathSet,\n          testTargetPathSet,\n          recentModifiedPathSet,\n          shouldPrioritizePom,\n        }),\n      }))\n      .filter((file) => file.score > 0)\n      .sort((a, b) => b.score - a.score || a.path.localeCompare(b.path));\n\n    const contextFiles = [];\n    const seenContextPaths = new Set();\n    const allowedScopeSet = new Set(compileFixAllowedPaths);\n    let totalChars = 0;\n    const maxContextFiles = hasDuplicateClassError\n      ? Math.max(MAX_CONTEXT_FILES_DUPLICATE, duplicateClassCandidatePaths.length + 8)\n      : (compileFixUseWideRecoveryMode ? MAX_CONTEXT_FILES_WIDE : MAX_CONTEXT_FILES);\n\n    function addContextPath(path) {\n      if (contextFiles.length >= maxContextFiles || totalChars >= MAX_TOTAL_CONTEXT_CHARS) return;\n      if (seenContextPaths.has(path)) return;\n      if (!byPath.has(path)) return;\n\n      const remaining = MAX_TOTAL_CONTEXT_CHARS - totalChars;\n      const take = Math.min(MAX_FILE_CONTEXT_CHARS, remaining);\n      const content = String(byPath.get(path) || '').slice(0, take);\n\n      contextFiles.push({ path, content });\n      seenContextPaths.add(path);\n      totalChars += content.length;\n    }\n\n    if (hasDuplicateClassError) {\n      for (const path of duplicateClassCandidatePaths) {\n        addContextPath(path);\n      }\n    }\n\n    for (const path of firstCompilerErrorPaths) {\n      if (dependencyBucketStrategy && path !== 'backend/pom.xml') continue;\n      addContextPath(path);\n    }\n\n    if (hasScopedEdits) {\n      for (const path of compileFixAllowedPaths) {\n        addContextPath(path);\n      }\n    }\n\n    for (const path of forcedContextPaths) {\n      if (hasScopedEdits && !allowedScopeSet.has(path)) continue;\n      addContextPath(path);\n    }\n\n    for (const file of candidates) {\n      if (hasScopedEdits && !allowedScopeSet.has(file.path)) continue;\n      addContextPath(file.path);\n    }\n\n    const compileFixPromptPayload = {\n      command: compileCommand,\n      validationStage: compileValidationStage,\n      errorLog: errorSignalText,\n      firstCompilerErrors,\n      previousAttemptPatchPreview,\n      contextFiles,\n      allowedFilesPlan: planPaths,\n      allowedEditScopePaths: compileFixAllowedPaths,\n      strategy: {\n        mode: compileFixUseWideRecoveryMode ? 'wide-recovery' : (compileFixUseSurgicalMode ? 'surgical' : 'standard'),\n        maxFilesToEdit: maxEditableFiles,\n        focusHint: compileFixUseWideRecoveryMode\n          ? 'Wide recovery: edit related interface/impl/mapper/resource chain files to break stagnation.'\n          : (compileFixUseSurgicalMode\n          ? 'Edit only files from first compiler errors and stop broad rewrites.'\n          : 'Keep changes minimal and focused on directly implicated files.'),\n      },\n      relevantFiles: {\n        firstCompilerErrorFiles: firstCompilerErrorPaths,\n        errorReferencedFiles: referencedErrorPaths,\n        recentlyModifiedFiles: compileFixAppliedPaths,\n        failedTestFiles: testFailedFilePaths,\n        testTargetFiles: testTargetFilePaths,\n        missingSymbolCandidateFiles: missingSymbolCandidatePaths,\n        missingHelperFileCandidates,\n        symbolChainFiles: symbolChainPaths,\n        duplicateClassCandidateFiles: duplicateClassCandidatePaths,\n      },\n      state: {\n        attempt: Number(json.compileFixAttempt || 0),\n        maxAttempts: Number(json.maxCompileFixAttempts || 50),\n        isRepeatedError,\n        errorBucket: compileErrorBucket,\n        errorBucketRepeatCount,\n        hasJavaCompileIssue,\n        externalMissingDependencySignal,\n        hasMapstructIssue,\n        hasIncompatibleTypeIssue,\n        hasDuplicateClassError,\n        duplicateClassSimpleNames: duplicateClassNames,\n        requiresMapstructCoordinatedFix,\n        shouldPrioritizePom,\n        allowPomForMapstructLoop,\n        disablePomEditsForThisTurn,\n        dependencyBucketStrategy,\n        mapstructBucketStrategy,\n        useSurgicalMode: compileFixUseSurgicalMode,\n        useWideRecoveryMode: compileFixUseWideRecoveryMode,\n        wideRecoveryTurnsLeft: compileFixWideRecoveryTurnsLeft,\n        forceConcreteEdits: compileFixForceConcreteEdits,\n        isStuckCycle: compileFixIsStuck,\n        stuckReason: compileFixStuckReason,\n        guardViolationPaths: normalizePathArray(json.guardViolationPaths),\n        guardTestViolationPaths: normalizePathArray(json.guardTestViolationPaths),\n        guardTestFileOscillationDetected: Boolean(json.guardTestFileOscillationDetected),\n      },\n      recentModelResponses: compileFixIsStuck ? compileFixRecentModelResponses : [],\n    };\n    const compileFixPrompt = compactJson(compileFixPromptPayload);\n\n    return {\n      json: {\n        ...json,\n        allPlannedFiles,\n        compileFixPrompt,\n        compileFixPromptLength: compileFixPrompt.length,\n        compileFixContextFileCount: contextFiles.length,\n        compileFixContextPaths: contextFiles.map((file) => file.path),\n        compileFixForcedContextPaths: forcedContextPaths,\n        compileFixAllowedPaths,\n        duplicateClassCandidateFiles: duplicateClassCandidatePaths,\n        hasDuplicateClassError,\n        compileFixScopeStrategy: compileFixUseSurgicalMode\n          ? 'surgical-first-errors'\n          : (compileFixUseWideRecoveryMode\n            ? 'wide-recovery'\n          : (hasDuplicateClassError\n          ? 'duplicate-class-focused'\n          : (dependencyBucketStrategy\n            ? 'dependency-focused'\n            : (mapstructBucketStrategy ? 'mapstruct-focused' : 'general')))),\n        compileFixRecentModelResponseCount: compileFixRecentModelResponses.length,\n      },\n      binary: item.binary ?? {},\n    };\n  });\n}\n\nreturn beBuildCompileFixPrompt();\n\r\n\r\n\r\n\r\n"
      },
      "id": "51bc400d-8166-4b8f-b88f-dca08d54a49f",
      "name": "BEV - Build Validation Fix Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25824,
        12000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer OR0sxOaBgUkWjAz8g5Ib6LXJwMwAIGSc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"mistral-large-latest\",\n  messages: [\n    {\n      role: \"system\",\n      content: `\nROLE\nYou are a backend error-fixing specialist operating inside an automated iterative code generation pipeline.\n\nMISSION\nResolve errors for ONE specific execution command so that it succeeds.\n\nSUCCESS CRITERION\nThe provided COMMAND executes successfully with no related errors.\n\n------------------------------------------------\nOPERATING MODEL\n------------------------------------------------\n- You run inside an iterative refinement loop\n- Each iteration addresses ONLY the current COMMAND\n- You must rely strictly on provided inputs (no assumptions)\n- You must converge toward a correct solution across iterations\n\n------------------------------------------------\nINPUTS\n------------------------------------------------\n- COMMAND\n- ERROR_LOG\n- FIRST_COMPILER_ERRORS (first failing compiler lines)\n- PREVIOUS_ATTEMPT_PATCH_PREVIEW (diff-like summary of prior turn)\n- PLAN (allowed file paths)\n- CONTEXT (current file contents)\n- STATE (iteration signals and history)\n- STRATEGY (mode + max files to edit)\n- RECENT_MODEL_RESPONSES (present when STATE.isStuckCycle = true)\n\n------------------------------------------------\nCORE PRINCIPLE\n------------------------------------------------\nAlways fix the ROOT CAUSE of the error.\nNever apply superficial or symptom-level fixes.\n\n------------------------------------------------\nDECISION PROCESS (MANDATORY)\n------------------------------------------------\nBefore applying any change:\n\n1. Identify the exact failure location:\n   - file\n   - line (if available)\n   - component (class, bean, mapper, config)\n\n2. Classify the error type:\n   - syntax\n   - type mismatch\n   - missing symbol/import\n   - dependency/configuration\n   - runtime wiring (Spring)\n   - mapping (MapStruct/Lombok)\n\n3. Validate the cause:\n   - confirm the error using CONTEXT\n   - verify related types, imports, or configurations\n\n4. Select the minimal valid fix:\n   - prefer correcting existing code\n   - avoid introducing new structures unless required\n\n5. Evaluate impact:\n   - ensure consistency across related files\n   - avoid introducing new errors\n\n------------------------------------------------\nITERATION AWARENESS\n------------------------------------------------\n- STATE represents execution memory across iterations\n- You MUST use STATE to guide decisions\n\nIf STATE.isRepeatedError = true:\n- Do NOT repeat the same fix strategy\n- Expand analysis to directly related files\n- Re-evaluate root cause\n\nIf STATE.errorBucketRepeatCount >= 3:\n- Assume current strategy is incorrect\n- Switch to alternative root-cause hypothesis\n\nIf STATE.isStuckCycle = true:\n- Read RECENT_MODEL_RESPONSES before proposing edits\n- Do NOT repeat the same patch pattern or same failing type strategy\n\nIf STATE.guardTestFileOscillationDetected = true:\n- Prioritize fixing Java test string literal format in STATE.guardTestViolationPaths\n- Do NOT use raw multiline normal strings for JSON payloads\n- Prefer Java text blocks (\"\"\"...\"\"\") for multiline JSON bodies\n\nIf STATE.useSurgicalMode = true:\n- Edit ONLY files directly referenced by FIRST_COMPILER_ERRORS and allowed scope\n- Respect STRATEGY.maxFilesToEdit as a hard limit\n- Use minimal surgical edits; no broad rewrites\n\nIf STATE.useWideRecoveryMode = true:\n- The loop is stagnating; broaden root-cause analysis across related layers\n- Prefer coordinated edits across interface/impl/mapper/resource chain files in allowed scope\n- Respect STRATEGY.maxFilesToEdit (target 8-12 files when needed)\n\nIf STATE.forceConcreteEdits = true:\n- Return at least ONE real file change in allowed scope\n- Do NOT return an empty \"files\" array\n- Do NOT repeat no-op or cosmetic patches\n\n------------------------------------------------\nGLOBAL CONSTRAINTS (STRICT)\n------------------------------------------------\n- Modify ONLY what is necessary\n- Apply MINIMAL changes\n- Prefer editing existing files over creating new ones\n- Do NOT create files unless strictly required by the error\n- Do NOT refactor or redesign\n- Do NOT remove or weaken business logic\n- Do NOT bypass validations or disable functionality\n- Do NOT introduce hacks\n- Do NOT use files outside PLAN / allowed edit scope\n- Preserve architectural layers and structure\n\n------------------------------------------------\nCOMMAND-SPECIFIC RULES\n------------------------------------------------\n\nCOMPILE\n- Fix syntax, types, imports, missing symbols\n- Resolve references before introducing new code\n- Focus on build stabilization only (no cleanup or style-only edits)\n\nRUN\n- Fix Spring Boot startup issues:\n  - Bean creation failures\n  - Configuration errors\n  - Invalid annotations\n- Prefer fixing configuration over disabling components\n\nTEST\n- Fix application logic FIRST\n- Modify tests ONLY if clearly incorrect\n- Do NOT weaken or delete tests\n- For Java test request payload strings (e.g. MockMvc .content(...)):\n  - Use Java text blocks (\"\"\"...\"\"\") OR a single-line JSON string\n  - Do NOT create raw multiline normal strings like .content(\"{ followed by new lines\n  - Preserve valid escaping inside Java strings; do not re-escape the entire Java file\n\n------------------------------------------------\nTYPE AND SYMBOL ERRORS\n------------------------------------------------\n- For \"cannot find symbol\":\n  -> verify imports, packages, and class existence\n  -> inspect the file where the error is reported\n  -> inspect the missing symbol type file (if present in context)\n  -> inspect nearest interface/impl/mapper/resource chain files before patching\n\n- For \"incompatible types\":\n  -> fix the exact failing assignment or method call\n  -> verify both argument and parameter types\n\nIf repeated:\n  -> avoid superficial edits\n  -> fix underlying type definitions\n\n------------------------------------------------\nDUPLICATE CLASS HANDLING\n------------------------------------------------\nIf ERROR_LOG contains \"duplicate class\":\n- Identify ALL files in CONTEXT that declare that top-level type name\n- Keep ONLY one canonical top-level definition in the file named <TypeName>.java\n- Remove or rename any other duplicate top-level declarations\n- Resolve duplicate class issues before downstream symbol/import fixes\n\nIf ERROR_LOG reports public type/file mismatch:\n- Ensure public class/interface/enum/record name matches filename exactly\n\n------------------------------------------------\nMAPSTRUCT + LOMBOK\n------------------------------------------------\n- Verify DTO/entity structure and accessors\n- Ensure field name alignment\n- If STATE.requiresMapstructCoordinatedFix = true:\n  - update mapper + DTO/entity together\n- Consider annotation processing configuration only when explicitly required\n\n------------------------------------------------\nDEPENDENCIES & POM.XML\n------------------------------------------------\n- Modify pom.xml ONLY if error clearly requires it\n\nIf STATE.hasJavaCompileIssue = true:\n- Prefer source-code fixes over pom.xml\n\nIf STATE.disablePomEditsForThisTurn = true:\n- Do NOT modify pom.xml\n\nDependency rules:\n- Use only Maven Central dependencies when pom.xml changes are necessary.\n- If a dependency cannot be resolved, remove it first.\n- Replace only with a known Maven Central option.\n- Do NOT try random groupId/artifactId swaps.\n- Remove broken repository entries instead of retrying them.\n- Never introduce org.zalando:problem-throwable.\n\n------------------------------------------------\nANTI-PATTERNS (FORBIDDEN)\n------------------------------------------------\n- Commenting out failing code to pass compilation\n- Returning null or dummy values to bypass logic\n- Removing validations or assertions\n- Disabling failing components without justification\n- Repeating identical fixes across iterations\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\nReturn ONLY valid JSON:\n\n{\n  \"files\": [\n    {\n      \"path\": \"backend/...\",\n      \"content\": \"...\"\n    }\n  ]\n}\n\nDo not include anything else.\n\n------------------------------------------------\nCODE ENCODING RULES\n------------------------------------------------\n- Return code as raw source text, not JSON-escaped source\n- Do NOT escape every quote in Java files\n- Use plain Java source like @RequestMapping(\"/api\")\n- Only use escaped quotes (\\\\\") when needed inside Java string literals\n- Never transform an entire Java file into JSON-escaped text (for example replacing most \" with \\\\\")\n\n------------------------------------------------\nOUTPUT RULES\n------------------------------------------------\n- Include ONLY modified or newly created files\n- Do NOT include unchanged files\n- Do NOT include explanations or comments\n- Ensure output is machine-parseable\n\n------------------------------------------------\nFINAL VALIDATION (MANDATORY)\n------------------------------------------------\nBefore returning:\n- The COMMAND should succeed\n- No remaining related errors exist\n- Changes are minimal and correct\n- No business logic was removed or weakened\n- No forbidden patterns were introduced\n`\n    },\n    {\n      role: \"user\",\n      content: $json.compileFixPrompt\n    }\n  ],\n  temperature: 0.2,\n  max_tokens: 100000,\n  stream: true,\n}) }}\n",
        "options": {
          "timeout": 7200000
        }
      },
      "id": "4400b4e5-b635-48ce-99ee-13d9b78fb00c",
      "name": "BEV - Generate Validation Fix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        26080,
        12000
      ],
      "retryOnFail": false,
      "maxTries": 4,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "jsCode": "function beCleanCompileFixResponse() {\n  function getNodeItemsSafe(nodeName) {\n    if (typeof $items !== 'function') return [];\n    try {\n      return $items(nodeName) || [];\n    } catch (error) {\n      const message = String(error?.message ?? error ?? '');\n      if (message.includes(\"hasn't been executed\") || message.includes('not executed')) {\n        return [];\n      }\n      throw error;\n    }\n  }\n\n  function joinContentBlocks(value) {\n    if (!Array.isArray(value)) return '';\n    const parts = value\n      .map((entry) => {\n        if (typeof entry === 'string') return entry;\n        if (entry && typeof entry.text === 'string') return entry.text;\n        if (entry && typeof entry.content === 'string') return entry.content;\n        return '';\n      })\n      .filter((entry) => entry && entry.trim());\n    return parts.join('\\n').trim();\n  }\n\n  function extractTextFromChunk(chunk) {\n    const candidates = [\n      chunk?.choices?.[0]?.delta?.content,\n      chunk?.choices?.[0]?.message?.content,\n      chunk?.choices?.[0]?.text,\n      chunk?.message?.content,\n      chunk?.delta?.content,\n      chunk?.content,\n      chunk?.data?.choices?.[0]?.delta?.content,\n      chunk?.data?.choices?.[0]?.message?.content,\n      chunk?.data?.choices?.[0]?.text,\n      chunk?.data?.content,\n      chunk?.response,\n      chunk?.output,\n      chunk?.result,\n      chunk?.text,\n    ];\n\n    for (const candidate of candidates) {\n      if (typeof candidate === 'string' && candidate.length) return candidate;\n      if (Array.isArray(candidate)) {\n        const joined = joinContentBlocks(candidate);\n        if (joined) return joined;\n      }\n    }\n\n    return '';\n  }\n\n  function parseStreamChunks(value) {\n    if (typeof value !== 'string') {\n      return { text: '', parsedAny: false, lastChunk: null };\n    }\n\n    const lines = value.split(/\\r?\\n/);\n    if (!lines.length) {\n      return { text: '', parsedAny: false, lastChunk: null };\n    }\n\n    const parts = [];\n    let parsedAny = false;\n    let lastChunk = null;\n\n    for (const rawLine of lines) {\n      const line = rawLine.trim();\n      if (!line) continue;\n\n      let payload = line;\n      if (line.startsWith('data:')) payload = line.slice(5).trim();\n      if (!payload || payload === '[DONE]') continue;\n\n      try {\n        const chunk = JSON.parse(payload);\n        parsedAny = true;\n        lastChunk = chunk;\n\n        const text = extractTextFromChunk(chunk);\n        if (text) parts.push(text);\n      } catch {\n        // Ignore non-JSON lines.\n      }\n    }\n\n    return {\n      text: parts.join(''),\n      parsedAny,\n      lastChunk,\n    };\n  }\n\n  function normalizeStreamingText(text) {\n    const parsed = parseStreamChunks(text);\n    if (parsed.text && parsed.text.trim()) return parsed.text;\n\n    if (parsed.parsedAny && parsed.lastChunk && typeof parsed.lastChunk === 'object') {\n      const fallback = extractTextFromChunk(parsed.lastChunk);\n      if (fallback && fallback.trim()) return fallback;\n    }\n\n    return text;\n  }\n\n  function parseMaybeJson(value) {\n    const text = String(value ?? '').trim();\n    if (!text) return null;\n    if (!text.startsWith('{') && !text.startsWith('[') && !text.startsWith('\"')) return null;\n\n    try {\n      return JSON.parse(text);\n    } catch {\n      if (text.startsWith('\"') && text.endsWith('\"')) {\n        try {\n          const parsed = JSON.parse(text);\n          if (typeof parsed === 'string') return parsed;\n        } catch {}\n      }\n      return null;\n    }\n  }\n\n  function decodeJsonString(value) {\n    const raw = String(value || '');\n    if (!raw) return '';\n\n    try {\n      return JSON.parse('\"' + raw.replace(/\"/g, '\\\\\"').replace(/\\r/g, '\\\\r').replace(/\\n/g, '\\\\n') + '\"');\n    } catch {\n      return raw;\n    }\n  }\n\n  function normalizeFileEntries(value) {\n    const files = Array.isArray(value) ? value : [];\n    const normalized = [];\n\n    for (const entry of files) {\n      if (!entry || typeof entry !== 'object' || Array.isArray(entry)) continue;\n\n      const rawPath = String(entry.path ?? '').trim().replace(/\\\\/g, '/');\n      if (!rawPath) continue;\n\n      const path = rawPath.startsWith('backend/')\n        ? rawPath\n        : `backend/${rawPath.replace(/^\\/+/, '')}`;\n\n      let content = '';\n      if (typeof entry.content === 'string') content = entry.content;\n      else if (entry.content === null || typeof entry.content === 'undefined') content = '';\n      else if (typeof entry.content === 'object') content = JSON.stringify(entry.content, null, 2);\n      else content = String(entry.content);\n\n      normalized.push({ path, content });\n    }\n\n    return normalized;\n  }\n\n  function extractFilesFromMalformedPayload(sourceText) {\n    const text = String(sourceText || '');\n    const files = [];\n    const seen = new Set();\n\n    const pairRegex = /\"path\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"\\s*,\\s*\"content\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"/g;\n    const reversePairRegex = /\"content\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"\\s*,\\s*\"path\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"/g;\n\n    for (const match of text.matchAll(pairRegex)) {\n      const path = decodeJsonString(match[1]).trim();\n      const content = decodeJsonString(match[2]);\n      if (!path || seen.has(path)) continue;\n      seen.add(path);\n      files.push({ path, content });\n    }\n\n    for (const match of text.matchAll(reversePairRegex)) {\n      const content = decodeJsonString(match[1]);\n      const path = decodeJsonString(match[2]).trim();\n      if (!path || seen.has(path)) continue;\n      seen.add(path);\n      files.push({ path, content });\n    }\n\n    return normalizeFileEntries(files);\n  }\n\n  function extractFilesFromParsed(parsed, depth = 0) {\n    if (depth > 8 || parsed === null || typeof parsed === 'undefined') return [];\n\n    if (Array.isArray(parsed)) {\n      const direct = normalizeFileEntries(parsed);\n      if (direct.length) return direct;\n\n      for (const entry of parsed) {\n        const nested = extractFilesFromParsed(entry, depth + 1);\n        if (nested.length) return nested;\n      }\n      return [];\n    }\n\n    if (typeof parsed === 'string') {\n      const nestedParsed = parseMaybeJson(parsed);\n      if (nestedParsed !== null) {\n        return extractFilesFromParsed(nestedParsed, depth + 1);\n      }\n      return [];\n    }\n\n    if (typeof parsed === 'object') {\n      if (Array.isArray(parsed.files)) {\n        const fromFiles = normalizeFileEntries(parsed.files);\n        if (fromFiles.length) return fromFiles;\n      }\n\n      if (Array.isArray(parsed.backendFiles)) {\n        const fromBackendFiles = normalizeFileEntries(parsed.backendFiles);\n        if (fromBackendFiles.length) return fromBackendFiles;\n      }\n\n      const nestedCandidates = [\n        parsed.response,\n        parsed.output,\n        parsed.result,\n        parsed.text,\n        parsed.data,\n        parsed.body,\n        parsed.message?.content,\n        parsed.choices?.[0]?.message?.content,\n        parsed.choices?.[0]?.delta?.content,\n        parsed.choices?.[0]?.text,\n      ];\n\n      for (const candidate of nestedCandidates) {\n        const nested = extractFilesFromParsed(candidate, depth + 1);\n        if (nested.length) return nested;\n      }\n    }\n\n    return [];\n  }\n\n  function collectFencedCandidates(text) {\n    const candidates = [];\n    const source = String(text || '');\n\n    const tick3 = String.fromCharCode(96, 96, 96);\n    const regexBacktick = new RegExp(`${tick3}(?:json)?\\\\s*([\\\\s\\\\S]*?)\\\\s*${tick3}`, 'gi');\n    for (const match of source.matchAll(regexBacktick)) {\n      const candidate = String(match[1] || '').trim();\n      if (candidate) candidates.push(candidate);\n    }\n\n    const regexTilde = /~~~(?:json)?\\s*([\\s\\S]*?)\\s*~~~/gi;\n    for (const match of source.matchAll(regexTilde)) {\n      const candidate = String(match[1] || '').trim();\n      if (candidate) candidates.push(candidate);\n    }\n\n    return candidates;\n  }\n\n  function parseJsonPayload(rawText) {\n    const raw = String(rawText ?? '');\n    if (!raw.trim()) {\n      return { files: [], parseError: 'Empty model response.' };\n    }\n\n    const streamDecoded = normalizeStreamingText(raw);\n    const text = String(streamDecoded || raw).trim();\n\n    const candidates = [text, raw.trim()];\n    candidates.push(...collectFencedCandidates(text));\n    candidates.push(...collectFencedCandidates(raw));\n\n    for (const source of [text, raw]) {\n      const start = source.indexOf('{');\n      const end = source.lastIndexOf('}');\n      if (start !== -1 && end !== -1 && end > start) {\n        candidates.push(source.slice(start, end + 1));\n      }\n    }\n\n    for (const candidate of candidates) {\n      const parsed = parseMaybeJson(candidate);\n      if (parsed === null) continue;\n\n      const files = extractFilesFromParsed(parsed);\n      if (files.length) {\n        return { files, parseError: '' };\n      }\n    }\n\n    const recovered = extractFilesFromMalformedPayload(text);\n    if (recovered.length) {\n      return { files: recovered, parseError: '' };\n    }\n\n    const recoveredRaw = extractFilesFromMalformedPayload(raw);\n    if (recoveredRaw.length) {\n      return { files: recoveredRaw, parseError: '' };\n    }\n\n    const lower = text.toLowerCase();\n    if (lower.includes('no changes') || lower.includes('cannot fix') || lower.includes('not enough context')) {\n      return { files: [], parseError: '' };\n    }\n\n    return { files: [], parseError: 'Could not parse compile-fix model output as JSON.' };\n  }\n\n  function decodeEscapedContent(rawValue) {\n    const text = String(rawValue || '');\n\n    if (!text.includes('\\n') && /\\\\n|\\\\r/.test(text)) {\n      return text\n        .replace(/\\\\r\\\\n/g, '\\n')\n        .replace(/\\\\n/g, '\\n')\n        .replace(/\\\\r/g, '\\n')\n        .replace(/\\\\t/g, '\\t');\n    }\n\n    return text\n      .replace(/\\r\\n/g, '\\n')\n      .replace(/\\r/g, '\\n');\n  }\n\n  function normalizeGeneratedContent(contentValue) {\n    if (typeof contentValue === 'string') return decodeEscapedContent(contentValue);\n    if (contentValue === null || contentValue === undefined) return '';\n    if (typeof contentValue === 'object') return JSON.stringify(contentValue, null, 2);\n    return String(contentValue);\n  }\n\n  function compactText(value, maxChars) {\n    const text = String(value ?? '');\n    if (!text) return '';\n    if (text.length <= maxChars) return text;\n    return text.slice(0, maxChars);\n  }\n\n  const buildPromptItems = getNodeItemsSafe('BE - Build Validation Fix Prompt');\n\n  return $input.all().map((item) => {\n    const upstreamJson = buildPromptItems[0]?.json || {};\n    const json = {\n      ...upstreamJson,\n      ...(item.json || {}),\n    };\n\n    const rawModelResponse = String(\n      json.text\n      ?? json.response\n      ?? json.output\n      ?? json.result\n      ?? json.choices?.[0]?.message?.content\n      ?? json.choices?.[0]?.delta?.content\n      ?? json.choices?.[0]?.text\n      ?? json.data?.choices?.[0]?.message?.content\n      ?? json.data?.choices?.[0]?.delta?.content\n      ?? json.data?.choices?.[0]?.text\n      ?? json.body?.choices?.[0]?.message?.content\n      ?? json.body?.choices?.[0]?.delta?.content\n      ?? json.body?.choices?.[0]?.text\n      ?? json.body\n      ?? json.data\n      ?? ''\n    );\n\n    const parsed = parseJsonPayload(rawModelResponse);\n    const compileFixByPath = new Map();\n    const ignoredCompileFixPaths = [];\n\n    for (const file of parsed.files) {\n      if (!file || typeof file !== 'object' || Array.isArray(file)) continue;\n      const filePath = String(file.path || '').replace(/\\\\/g, '/').trim();\n      if (!filePath.startsWith('backend/')) {\n        ignoredCompileFixPaths.push(filePath || '<empty>');\n        continue;\n      }\n      if (compileFixByPath.has(filePath)) {\n        compileFixByPath.delete(filePath);\n      }\n      compileFixByPath.set(filePath, normalizeGeneratedContent(file.content));\n    }\n\n    const compileFixFiles = Array.from(\n      compileFixByPath.entries(),\n      ([path, content]) => ({ path, content }),\n    );\n    const compileFixParsedPaths = compileFixFiles.map((file) => file.path);\n\n    return {\n      json: {\n        ...json,\n        compileFixParseError: parsed.parseError || '',\n        compileFixRawResponse: compactText(rawModelResponse, 50000),\n        compileFixRawResponseLength: rawModelResponse.length,\n        compileFixFiles,\n        compileFixParsedPaths,\n        compileFixFileCount: compileFixFiles.length,\n        compileFixHadChanges: compileFixFiles.length > 0,\n        ignoredCompileFixPaths,\n        ignoredCompileFixPathCount: ignoredCompileFixPaths.length,\n      },\n      binary: item.binary ?? {},\n    };\n  });\n}\n\nreturn beCleanCompileFixResponse();"
      },
      "id": "9826069a-b2bc-4c6d-9da2-8376baf99aa0",
      "name": "BEV - Clean Validation Fix Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26416,
        12000
      ]
    },
    {
      "parameters": {
        "jsCode": "function beApplyCompileFixes() {\n  function isEditableProjectPath(pathValue) {\n    const path = String(pathValue || '').trim().replace(/\\\\/g, '/');\n    if (!path || !path.startsWith('backend/')) return false;\n    if (path === 'backend/target' || path.startsWith('backend/target/')) return false;\n    if (path === 'backend/bin' || path.startsWith('backend/bin/')) return false;\n    return true;\n  }\n\n  function normalizePathArray(value) {\n    if (!Array.isArray(value)) return [];\n    const seen = new Set();\n    const normalized = [];\n    for (const raw of value) {\n      const path = String(raw || '').trim().replace(/\\\\/g, '/');\n      if (!isEditableProjectPath(path)) continue;\n      if (seen.has(path)) continue;\n      seen.add(path);\n      normalized.push(path);\n    }\n    return normalized;\n  }\n\n  function normalizeContent(contentValue) {\n    if (typeof contentValue === 'string') return contentValue;\n    if (contentValue === null || contentValue === undefined) return '';\n    if (typeof contentValue === 'object') return JSON.stringify(contentValue, null, 2);\n    return String(contentValue);\n  }\n\n  function normalizeGeneratedSourceContent(contentValue, filePath) {\n    const path = String(filePath || '');\n    let text = String(contentValue || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n\n    if (/pom\\.xml$/i.test(path) || /\\.xml$/i.test(path)) {\n      const looksEscapedXml =\n        /^\\s*<\\?xml\\s+version=\\\\\"/m.test(text)\n        || /<[^>\\n]+\\s+[A-Za-z_:][A-Za-z0-9_.:-]*=\\\\\"/.test(text)\n        || (text.includes('\\\\\"') && /<\\/?[A-Za-z]/.test(text));\n\n      if (looksEscapedXml) {\n        const ESCAPED_QUOTE_SENTINEL = '__N8N_KEEP_ESCAPED_XML_QUOTE__';\n        text = text\n          .replace(/\\\\\\\\\\\"/g, ESCAPED_QUOTE_SENTINEL)\n          .replace(/\\\\\\\"/g, '\"')\n          .replace(new RegExp(ESCAPED_QUOTE_SENTINEL, 'g'), '\\\\\"');\n      }\n\n      return text;\n    }\n\n    if (!/\\.java$/i.test(path)) {\n      return text;\n    }\n\n    // Important: do NOT globally unescape Java string literals, otherwise\n    // JSON payload strings in tests (e.g. .content(\"{\\\\\\\"x\\\\\\\":...}\")) become invalid Java.\n    // Only unescape escaped quotes inside annotation lines where this issue occurs.\n    if (!/\\\\\\\"/.test(text)) {\n      return text;\n    }\n\n    const lines = text.split('\\n');\n    for (let i = 0; i < lines.length; i += 1) {\n      const line = lines[i];\n      const isAnnotationLine =\n        /^\\s*@\\w+/.test(line)\n        || /\\b(name|value|path|strategy)\\s*=\\s*\\\\\\\"/.test(line);\n      if (!isAnnotationLine) continue;\n      lines[i] = line.replace(/\\\\\\\"/g, '\"');\n    }\n    return lines.join('\\n');\n  }\n\n  function hasMalformedInlineJsonStringInJava(contentValue) {\n    const text = String(contentValue || '');\n    if (!text) return false;\n    // Broken pattern: regular string starts with JSON body and then immediately spans\n    // multiple lines without Java text-block syntax.\n    if (/(?:\\.content|\\.body|\\.payload)\\(\\s*\"\\s*[\\[{]\\s*\\n/m.test(text)) {\n      return true;\n    }\n    return false;\n  }\n\n  function isRuntimeDatasourceConfigPath(filePath) {\n    const path = String(filePath || '').trim().replace(/\\\\/g, '/');\n    return /^backend\\/src\\/main\\/resources\\/application.*\\.(ya?ml|properties)$/i.test(path);\n  }\n\n  function normalizeConfigScalar(value) {\n    const text = String(value || '').trim();\n    if (!text) return '';\n    if (\n      (text.startsWith('\"') && text.endsWith('\"'))\n      || (text.startsWith(\"'\") && text.endsWith(\"'\"))\n    ) {\n      return text.slice(1, -1).trim();\n    }\n    return text;\n  }\n\n  function isWatchedRuntimeKey(keyPath) {\n    const normalized = String(keyPath || '').toLowerCase().trim();\n    if (!normalized) return false;\n    return normalized.startsWith('spring.datasource.')\n      || normalized === 'spring.datasource'\n      || normalized.startsWith('spring.liquibase.')\n      || normalized === 'spring.liquibase';\n  }\n\n  function extractWatchedRuntimeConfig(path, contentValue) {\n    const pathValue = String(path || '').toLowerCase();\n    const text = String(contentValue || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n    const values = new Map();\n\n    if (!text.trim()) return values;\n\n    if (/\\.properties$/i.test(pathValue)) {\n      for (const rawLine of text.split('\\n')) {\n        const line = String(rawLine || '').trim();\n        if (!line || line.startsWith('#') || line.startsWith('!')) continue;\n        const match = line.match(/^([A-Za-z0-9_.-]+)\\s*[:=]\\s*(.*)$/);\n        if (!match) continue;\n        const key = String(match[1] || '').trim();\n        if (!isWatchedRuntimeKey(key)) continue;\n        const value = normalizeConfigScalar(match[2]);\n        values.set(key.toLowerCase(), value);\n      }\n      return values;\n    }\n\n    if (!/\\.ya?ml$/i.test(pathValue)) {\n      return values;\n    }\n\n    const stack = [];\n    for (const rawLine of text.split('\\n')) {\n      const line = String(rawLine || '');\n      if (!line.trim()) continue;\n      if (/^\\s*#/.test(line)) continue;\n\n      const match = line.match(/^(\\s*)([A-Za-z0-9_.-]+)\\s*:\\s*(.*)$/);\n      if (!match) continue;\n      const indent = String(match[1] || '').replace(/\\t/g, '  ').length;\n      const key = String(match[2] || '').trim();\n      const rawValue = String(match[3] || '');\n\n      while (stack.length > 0 && stack[stack.length - 1].indent >= indent) {\n        stack.pop();\n      }\n      stack.push({ indent, key });\n\n      const keyPath = stack.map((entry) => entry.key).join('.');\n      if (!isWatchedRuntimeKey(keyPath)) continue;\n      const value = normalizeConfigScalar(rawValue);\n      values.set(keyPath.toLowerCase(), value);\n    }\n\n    return values;\n  }\n\n  function hasRuntimeDatasourceConfigDrift(filePath, previousContent, nextContent) {\n    const before = extractWatchedRuntimeConfig(filePath, previousContent);\n    const after = extractWatchedRuntimeConfig(filePath, nextContent);\n    const keys = new Set([...before.keys(), ...after.keys()]);\n    for (const key of keys) {\n      const beforeValue = before.has(key) ? before.get(key) : '__N8N_MISSING__';\n      const afterValue = after.has(key) ? after.get(key) : '__N8N_MISSING__';\n      if (beforeValue !== afterValue) return true;\n    }\n    return false;\n  }\n\n  function hasJavaCompileError(errorText) {\n    const text = String(errorText || '');\n    if (!text) return false;\n    return [\n      /compilation error/i,\n      /cannot find symbol/i,\n      /package\\s+[A-Za-z0-9_.]+\\s+does not exist/i,\n      /unknown property/i,\n      /incompatible types\\s*:/i,\n      /illegal character/i,\n      /backend[\\\\/].*src[\\\\/](main|test)[\\\\/].*\\.(java|kt|groovy)/i,\n    ].some((pattern) => pattern.test(text));\n  }\n\n  function hasCustomRepositoryOutage(errorText) {\n    const text = String(errorText || '').toLowerCase();\n    if (!text) return false;\n    return (\n      text.includes('repo.zalando')\n      || text.includes('zalando (https://repo.zalando')\n      || text.includes('forbidden (403)')\n      || text.includes('name does not resolve')\n      || text.includes('repo.spring.io/milestone')\n      || text.includes('spring-milestones')\n    );\n  }\n\n  function isPomChangeRelevant(errorText) {\n    const rawText = String(errorText || '');\n    const text = rawText.toLowerCase();\n    if (!text) return false;\n\n    const explicitPomOrResolutionMarkers = [\n      'pom.xml',\n      'non-parseable pom',\n      'modelparseexception',\n      'projectbuildingexception',\n      'non-resolvable parent pom',\n      'dependencies.dependency.version',\n      'could not resolve dependencies',\n      'could not collect dependencies',\n      'could not resolve artifact',\n      'failed to read artifact descriptor',\n      'could not transfer artifact',\n      'pluginresolutionexception',\n      'name does not resolve',\n      'forbidden (403)',\n    ];\n\n    if (explicitPomOrResolutionMarkers.some((marker) => text.includes(marker))) {\n      return true;\n    }\n\n    const missingPackages = Array.from(\n      rawText.matchAll(/package\\s+([A-Za-z0-9_.]+)\\s+does not exist/gi),\n      (match) => String(match[1] || '').toLowerCase(),\n    );\n\n    const hasExternalMissingPackage = missingPackages.some((pkg) => {\n      if (!pkg) return false;\n      if (pkg.startsWith('com.example.')) return false;\n      return /^(org|io|com|net|jakarta|javax)\\./.test(pkg);\n    });\n    if (hasExternalMissingPackage) return true;\n\n    const missingClassFiles = Array.from(\n      rawText.matchAll(/class file for\\s+([A-Za-z0-9_.]+)\\s+not found/gi),\n      (match) => String(match[1] || '').toLowerCase(),\n    );\n\n    return missingClassFiles.some((className) => {\n      if (!className) return false;\n      if (className.startsWith('com.example.')) return false;\n      return /^(org|io|com|net|jakarta|javax)\\./.test(className);\n    });\n  }\n\n  function analyzePomPolicy(errorText, json) {\n    const dependencyOrPomError = isPomChangeRelevant(errorText);\n    const javaCompileError = hasJavaCompileError(errorText);\n    const customRepoOutage = hasCustomRepositoryOutage(errorText);\n    const compileErrorBucket = String(json.compileErrorBucket || '').toLowerCase();\n    const errorBucketRepeatCount = Math.max(0, Number(json.errorBucketRepeatCount || 0));\n    const mapstructLoopNeedsPom = Boolean(\n      compileErrorBucket === 'java-mapstruct-unknown-property'\n      && errorBucketRepeatCount >= 2\n    );\n\n    const dependencyDrivenPomChange = dependencyOrPomError;\n    const allowPom = dependencyDrivenPomChange || mapstructLoopNeedsPom;\n\n    return {\n      allowPom,\n      javaCompileError,\n      customRepoOutage,\n      repeatingRepoOutage: customRepoOutage && errorBucketRepeatCount >= 2,\n      pomRetryFlood: false,\n      mapstructLoopNeedsPom,\n    };\n  }\n\n  function hasDisallowedPomPatterns(content) {\n    const text = String(content || '').toLowerCase();\n    if (!text) return false;\n    return (\n      text.includes('repo.zalando')\n      || text.includes('<artifactid>problem-throwable</artifactid>')\n    );\n  }\n\n  function extractMissingDependencies(errorText) {\n    const text = String(errorText || '');\n    const found = [];\n    const seen = new Set();\n\n    const pattern = /dependency:\\s+([A-Za-z0-9_.-]+):([A-Za-z0-9_.-]+):([A-Za-z0-9_.-]+):([A-Za-z0-9_.-]+)/gi;\n    for (const match of text.matchAll(pattern)) {\n      const groupId = String(match[1] || '').trim();\n      const artifactId = String(match[2] || '').trim();\n      const version = String(match[4] || '').trim();\n      if (!groupId || !artifactId) continue;\n      const key = `${groupId}:${artifactId}`;\n      if (seen.has(key)) continue;\n      seen.add(key);\n      found.push({ groupId, artifactId, version });\n    }\n\n    return found;\n  }\n\n  function extractHistoricalMissingDependencies(history) {\n    if (!Array.isArray(history)) return [];\n    const merged = [];\n    const seen = new Set();\n    for (const entry of history.slice(-12)) {\n      const text = String(entry?.errorSignature || '');\n      for (const dep of extractMissingDependencies(text)) {\n        const key = `${dep.groupId}:${dep.artifactId}`;\n        if (seen.has(key)) continue;\n        seen.add(key);\n        merged.push(dep);\n      }\n    }\n    return merged;\n  }\n\n  function removeDependencyBlocksByMatcher(pomContent, shouldRemove) {\n    let removed = [];\n    const next = String(pomContent || '').replace(/<dependency>[\\s\\S]*?<\\/dependency>/gi, (block) => {\n      const groupMatch = block.match(/<groupId>\\s*([^<\\s][^<]*)\\s*<\\/groupId>/i);\n      const artifactMatch = block.match(/<artifactId>\\s*([^<\\s][^<]*)\\s*<\\/artifactId>/i);\n      const groupId = String(groupMatch?.[1] || '').trim();\n      const artifactId = String(artifactMatch?.[1] || '').trim();\n      if (!groupId || !artifactId) return block;\n      if (!shouldRemove(groupId, artifactId)) return block;\n      removed.push(`${groupId}:${artifactId}`);\n      return '';\n    });\n\n    removed = Array.from(new Set(removed));\n    return { content: next, removed };\n  }\n\n  function removeBrokenRepositories(pomContent, errorText) {\n    let content = String(pomContent || '');\n    const removed = [];\n    const text = String(errorText || '').toLowerCase();\n\n    const repoPatterns = [\n      { key: 'spring-milestones', marker: 'spring.io/milestone', pattern: /<repository>[\\s\\S]*?<url>\\s*https?:\\/\\/repo\\.spring\\.io\\/milestone\\/?\\s*<\\/url>[\\s\\S]*?<\\/repository>/gi },\n      { key: 'repo.zalando', marker: 'repo.zalando', pattern: /<repository>[\\s\\S]*?<url>\\s*https?:\\/\\/repo\\.zalando[^<]*<\\/url>[\\s\\S]*?<\\/repository>/gi },\n    ];\n\n    for (const cfg of repoPatterns) {\n      if (!text.includes(cfg.marker) && !text.includes('could not resolve dependencies')) continue;\n      const before = content;\n      content = content.replace(cfg.pattern, '');\n      if (content !== before) removed.push(cfg.key);\n    }\n\n    return { content, removed: Array.from(new Set(removed)) };\n  }\n\n  function sanitizePomForDependencyResolution(pomContent, compileErrorContext, compileFixHistory) {\n    const currentMissing = extractMissingDependencies(compileErrorContext);\n    const historicalMissing = extractHistoricalMissingDependencies(compileFixHistory);\n\n    const missingByGA = new Set();\n    const unresolvedArtifactIds = new Set();\n    for (const dep of [...historicalMissing, ...currentMissing]) {\n      const groupId = String(dep.groupId || '').trim();\n      const artifactId = String(dep.artifactId || '').trim();\n      if (!groupId || !artifactId) continue;\n      missingByGA.add(`${groupId}:${artifactId}`);\n      unresolvedArtifactIds.add(artifactId);\n    }\n\n    let content = String(pomContent || '');\n    const removedDependencies = [];\n\n    const removedExact = removeDependencyBlocksByMatcher(content, (groupId, artifactId) => missingByGA.has(`${groupId}:${artifactId}`));\n    content = removedExact.content;\n    removedDependencies.push(...removedExact.removed);\n\n    if (unresolvedArtifactIds.size > 0) {\n      const removedByArtifact = removeDependencyBlocksByMatcher(content, (_groupId, artifactId) => unresolvedArtifactIds.has(artifactId));\n      content = removedByArtifact.content;\n      removedDependencies.push(...removedByArtifact.removed);\n    }\n\n    const removedRepos = removeBrokenRepositories(content, compileErrorContext);\n    content = removedRepos.content;\n\n    return {\n      content,\n      removedDependencies: Array.from(new Set(removedDependencies)),\n      removedRepositories: removedRepos.removed,\n      unresolvedArtifacts: Array.from(unresolvedArtifactIds),\n    };\n  }\n\n  function canCreateNewSourceFile(filePath, compileErrorContext) {\n    if (!/\\.(java|kt|groovy)$/i.test(String(filePath || ''))) return true;\n    const text = String(compileErrorContext || '');\n    if (!text) return false;\n    const basename = String(filePath || '').split('/').pop() || '';\n    const className = basename.replace(/\\.(java|kt|groovy)$/i, '');\n    if (!className) return false;\n\n    const explicitMissingTypeSignals = [\n      /cannot find symbol/i,\n      /class file for\\s+[A-Za-z0-9_.]+\\s+not found/i,\n      /should be declared in file/i,\n      /package\\s+[A-Za-z0-9_.]+\\s+does not exist/i,\n    ];\n    if (!explicitMissingTypeSignals.some((pattern) => pattern.test(text))) return false;\n    return text.toLowerCase().includes(className.toLowerCase());\n  }\n\n  function buildSingleHunkDiff(path, beforeText, afterText) {\n    const beforeLines = String(beforeText || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n').split('\\n');\n    const afterLines = String(afterText || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n').split('\\n');\n\n    let prefix = 0;\n    while (\n      prefix < beforeLines.length\n      && prefix < afterLines.length\n      && beforeLines[prefix] === afterLines[prefix]\n    ) {\n      prefix += 1;\n    }\n\n    let suffix = 0;\n    while (\n      suffix < (beforeLines.length - prefix)\n      && suffix < (afterLines.length - prefix)\n      && beforeLines[beforeLines.length - 1 - suffix] === afterLines[afterLines.length - 1 - suffix]\n    ) {\n      suffix += 1;\n    }\n\n    const beforeChanged = beforeLines.slice(prefix, beforeLines.length - suffix);\n    const afterChanged = afterLines.slice(prefix, afterLines.length - suffix);\n\n    const header = [\n      `--- ${path}`,\n      `+++ ${path}`,\n      `@@ -${prefix + 1},${Math.max(1, beforeChanged.length)} +${prefix + 1},${Math.max(1, afterChanged.length)} @@`,\n    ];\n\n    const removed = beforeChanged.map((line) => `-${line}`);\n    const added = afterChanged.map((line) => `+${line}`);\n    return [...header, ...removed, ...added].join('\\n');\n  }\n\n  function buildPatchPreview(records) {\n    const MAX_FILES = 5;\n    const MAX_CHARS = 16000;\n    const chunks = [];\n    let totalChars = 0;\n    for (const record of records.slice(0, MAX_FILES)) {\n      const diffText = buildSingleHunkDiff(record.path, record.beforeContent, record.afterContent);\n      if (!diffText) continue;\n      if (totalChars + diffText.length > MAX_CHARS) break;\n      chunks.push(diffText);\n      totalChars += diffText.length + 2;\n    }\n    return chunks.join('\\n\\n');\n  }\n\n  return $input.all().map((item) => {\n    const json = item.json || {};\n    const generatedFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const compileFixFiles = Array.isArray(json.compileFixFiles) ? json.compileFixFiles : [];\n    const compileFixAllowedPaths = normalizePathArray(json.compileFixAllowedPaths);\n    const duplicateClassCandidateFiles = normalizePathArray(json.duplicateClassCandidateFiles);\n    const hasDuplicateClassError = Boolean(json.hasDuplicateClassError) || duplicateClassCandidateFiles.length > 0;\n    const duplicateClassCandidateSet = new Set(duplicateClassCandidateFiles);\n    const compileErrorContext = String(json.compileErrorContext || '');\n    const compileErrorBucket = String(json.compileErrorBucket || '').toLowerCase();\n    const compileValidationStage = String(json.compileValidationStage || '').toLowerCase();\n    const runtimeStageFailure = compileValidationStage === 'run' || compileErrorBucket === 'spring-boot-startup-failure';\n    const compileFixHistory = Array.isArray(json.compileFixHistory) ? json.compileFixHistory : [];\n    const compileFixUseSurgicalMode = Boolean(json.compileFixUseSurgicalMode);\n    const compileFixUseWideRecoveryMode = Boolean(json.compileFixUseWideRecoveryMode);\n\n    const pomPolicy = analyzePomPolicy(compileErrorContext, json);\n    const pomChangeAllowed = pomPolicy.allowPom;\n    const allowedScopeSet = new Set(compileFixAllowedPaths);\n\n    const byPath = new Map();\n    for (const file of generatedFiles) {\n      const filePath = String(file?.path || '').trim();\n      if (!filePath) continue;\n      byPath.set(filePath, normalizeContent(file?.content));\n    }\n\n    const changedPaths = [];\n    const changedDuplicateCandidatePaths = [];\n    const ignoredPomFixPaths = [];\n    const ignoredPomFixReasons = [];\n    const ignoredScopeFixPaths = [];\n    const ignoredScopeFixReasons = [];\n    const runtimeConfigBlockedPaths = [];\n    const runtimeConfigBlockedReasons = [];\n    const autoRemovedUnresolvedDependencies = [];\n    const autoRemovedRepositoryEntries = [];\n    const changedRecords = [];\n    let pomSanitizerTouched = false;\n\n    const compileFixIsStuck = Boolean(json.compileFixIsStuck);\n    const maxPatchFilesPerAttempt = hasDuplicateClassError\n      ? 5\n      : (compileFixUseWideRecoveryMode ? 10 : (compileFixUseSurgicalMode ? 3 : (compileFixIsStuck ? 4 : 5)));\n    let acceptedPatchFileCount = 0;\n\n    for (const patchFile of compileFixFiles) {\n      const filePath = String(patchFile?.path || '').replace(/\\\\/g, '/').trim();\n      if (!filePath) continue;\n      if (!isEditableProjectPath(filePath)) {\n        ignoredScopeFixPaths.push(filePath);\n        ignoredScopeFixReasons.push('blocked_outside_backend');\n        continue;\n      }\n      if (allowedScopeSet.size > 0 && !allowedScopeSet.has(filePath)) {\n        ignoredScopeFixPaths.push(filePath);\n        ignoredScopeFixReasons.push('blocked_outside_allowed_scope');\n        continue;\n      }\n      if (acceptedPatchFileCount >= maxPatchFilesPerAttempt) {\n        ignoredScopeFixPaths.push(filePath);\n        ignoredScopeFixReasons.push('blocked_patch_limit');\n        continue;\n      }\n\n      const fileExists = byPath.has(filePath);\n      if (!fileExists && !canCreateNewSourceFile(filePath, compileErrorContext)) {\n        ignoredScopeFixPaths.push(filePath);\n        ignoredScopeFixReasons.push('blocked_new_source_file_without_explicit_missing_type_error');\n        continue;\n      }\n\n      let nextContent = normalizeContent(patchFile?.content);\n      nextContent = normalizeGeneratedSourceContent(nextContent, filePath);\n\n      if (\n        /\\.java$/i.test(filePath)\n        && hasMalformedInlineJsonStringInJava(nextContent)\n      ) {\n        ignoredScopeFixPaths.push(filePath);\n        ignoredScopeFixReasons.push('blocked_malformed_multiline_java_string_literal');\n        continue;\n      }\n\n      const previousContent = byPath.has(filePath) ? byPath.get(filePath) : null;\n      if (\n        runtimeStageFailure\n        && isRuntimeDatasourceConfigPath(filePath)\n        && hasRuntimeDatasourceConfigDrift(filePath, previousContent, nextContent)\n      ) {\n        runtimeConfigBlockedPaths.push(filePath);\n        runtimeConfigBlockedReasons.push('blocked_runtime_datasource_config_drift');\n        ignoredScopeFixPaths.push(filePath);\n        ignoredScopeFixReasons.push('blocked_runtime_datasource_config_drift');\n        continue;\n      }\n\n      if (filePath === 'backend/pom.xml') {\n        if (!pomChangeAllowed) {\n          ignoredPomFixPaths.push(filePath);\n          ignoredPomFixReasons.push(\n            (pomPolicy.javaCompileError && !pomPolicy.mapstructLoopNeedsPom)\n              ? 'blocked_pom_change_due_to_java_compile_error'\n              : 'blocked_pom_change_policy'\n          );\n          continue;\n        }\n\n        const shouldSanitizePom = compileErrorBucket === 'dependency-resolution' || compileErrorBucket.startsWith('dependency-');\n        if (shouldSanitizePom) {\n          const sanitized = sanitizePomForDependencyResolution(nextContent, compileErrorContext, compileFixHistory);\n          nextContent = sanitized.content;\n          if (sanitized.removedDependencies.length > 0 || sanitized.removedRepositories.length > 0) {\n            pomSanitizerTouched = true;\n          }\n          autoRemovedUnresolvedDependencies.push(...sanitized.removedDependencies);\n          autoRemovedRepositoryEntries.push(...sanitized.removedRepositories);\n        }\n\n        if (pomPolicy.customRepoOutage && hasDisallowedPomPatterns(nextContent)) {\n          ignoredPomFixPaths.push(filePath);\n          ignoredPomFixReasons.push(\n            pomPolicy.repeatingRepoOutage\n              ? 'blocked_pom_change_due_to_repeating_repo_outage'\n              : 'blocked_pom_change_due_to_disallowed_repo_or_dependency'\n          );\n          continue;\n        }\n      }\n\n      if (previousContent !== nextContent) {\n        changedPaths.push(filePath);\n        changedRecords.push({\n          path: filePath,\n          beforeContent: previousContent == null ? '' : String(previousContent),\n          afterContent: String(nextContent),\n        });\n        if (duplicateClassCandidateSet.has(filePath)) {\n          changedDuplicateCandidatePaths.push(filePath);\n        }\n      }\n      byPath.set(filePath, nextContent);\n      acceptedPatchFileCount += 1;\n    }\n\n    const duplicateClassFixRejected = hasDuplicateClassError\n      && duplicateClassCandidateSet.size > 0\n      && changedDuplicateCandidatePaths.length === 0;\n\n    const mergedGeneratedFiles = Array.from(byPath.entries()).map(([path, content]) => ({ path, content }));\n    const mergedPlannedFiles = mergedGeneratedFiles.map((file) => ({ path: file.path }));\n    const compileFixNoChangeCount = changedPaths.length\n      ? 0\n      : Number(json.compileFixNoChangeCount || 0) + 1;\n    const compileFixLastPatchPreview = changedRecords.length ? buildPatchPreview(changedRecords) : '';\n\n    return {\n      json: {\n        ...json,\n        generatedFiles: mergedGeneratedFiles,\n        generatedFilePaths: mergedGeneratedFiles.map((file) => file.path),\n        generatedFileCountTotal: mergedGeneratedFiles.length,\n        allPlannedFiles: mergedPlannedFiles,\n        compileFixAppliedPaths: changedPaths,\n        compileFixAppliedPathCount: changedPaths.length,\n        ignoredPomFixPaths,\n        ignoredPomFixCount: ignoredPomFixPaths.length,\n        ignoredPomFixReasons,\n        ignoredScopeFixPaths,\n        ignoredScopeFixCount: ignoredScopeFixPaths.length,\n        ignoredScopeFixReasons,\n        runtimeConfigBlockedPaths,\n        runtimeConfigBlockedCount: runtimeConfigBlockedPaths.length,\n        runtimeConfigBlockedReasons,\n        duplicateClassCandidateFiles,\n        hasDuplicateClassError,\n        changedDuplicateCandidatePaths,\n        duplicateClassFixRejected,\n        duplicateClassFixRejectedReason: duplicateClassFixRejected\n          ? 'no_duplicate_candidate_file_changed'\n          : '',\n        pomChangeAllowed,\n        pomSanitizerTouched,\n        autoRemovedUnresolvedDependencies: Array.from(new Set(autoRemovedUnresolvedDependencies)),\n        autoRemovedUnresolvedDependencyCount: Array.from(new Set(autoRemovedUnresolvedDependencies)).length,\n        autoRemovedRepositoryEntries: Array.from(new Set(autoRemovedRepositoryEntries)),\n        autoRemovedRepositoryEntryCount: Array.from(new Set(autoRemovedRepositoryEntries)).length,\n        mapstructLoopNeedsPom: pomPolicy.mapstructLoopNeedsPom,\n        compileFixIsStuck,\n        compileFixUseSurgicalMode,\n        compileFixUseWideRecoveryMode,\n        maxPatchFilesPerAttempt,\n        acceptedPatchFileCount,\n        compileFixNoChangeCount,\n        compileFixLastPatchPreview,\n        compileFixLastPatchChangedFiles: changedRecords.map((entry) => entry.path),\n      },\n      binary: item.binary ?? {},\n    };\n  });\n}\n\nreturn beApplyCompileFixes();\r\n\r\n"
      },
      "id": "6d20cda5-e100-4ace-843d-a06dcd7c97c0",
      "name": "BEV - Apply Validation Fixes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26656,
        12000
      ]
    },
    {
      "parameters": {
        "jsCode": "function beAssembleBackendZipInputs() {\n    function getExtension(filePath) {\n      const fileName = String(filePath || '').split('/').pop() || '';\n      if (fileName === 'pom.xml') return 'xml';\n      if (fileName === '.gitignore') return 'gitignore';\n      const match = fileName.match(/\\.([A-Za-z0-9]+)$/);\n      return match ? match[1].toLowerCase() : 'txt';\n    }\n    function getMimeType(filePath) {\n      const ext = getExtension(filePath);\n      const mimeByExtension = {\n        java: 'text/x-java-source',\n        xml: 'application/xml',\n        yaml: 'text/yaml',\n        yml: 'text/yaml',\n        json: 'application/json',\n        properties: 'text/plain',\n        md: 'text/markdown',\n        txt: 'text/plain',\n        sql: 'application/sql',\n        csv: 'text/csv',\n        gitignore: 'text/plain',\n      };\n      return mimeByExtension[ext] || 'text/plain';\n    }\n    function isIntentionallyEmptyFile(filePath) {\n      const lower = String(filePath || '').toLowerCase();\n      return lower.endsWith('/.gitkeep') || lower.endsWith('/.keep') || lower.endsWith('/.placeholder');\n    }\n    function normalizeContent(contentValue) {\n      if (typeof contentValue === 'string') {\n        return contentValue;\n      }\n      if (contentValue === null || contentValue === undefined) {\n        return '';\n      }\n      if (typeof contentValue === 'object') {\n        return JSON.stringify(contentValue, null, 2);\n      }\n      return String(contentValue);\n    }\n    const item = $input.first();\n    if (!item) {\n      throw new Error('No backend generation state available for ZIP assembly.');\n    }\n    const json = item.json || {};\n    const generatedFiles = Array.isArray(json.generatedFiles) ? json.generatedFiles : [];\n    const remainingFiles = Array.isArray(json.remainingFiles) ? json.remainingFiles : [];\n    if (remainingFiles.length > 0) {\n      throw new Error('Cannot assemble backend ZIP while files are still remaining.');\n    }\n    if (!generatedFiles.length) {\n      throw new Error('No generated backend files available to assemble ZIP.');\n    }\n    const binary = {};\n    const manifest = [];\n    generatedFiles.forEach((file, index) => {\n      const filePath = String(file?.path || '').trim();\n      const content = normalizeContent(file?.content);\n      if (!filePath.startsWith('backend/')) {\n        throw new Error(`Generated backend file path must start with \"backend/\": ${filePath || '<empty>'}`);\n      }\n      // Empty files are allowed and must still be included in the assembled ZIP.\n      const key = `file_${index}`;\n      binary[key] = {\n        data: Buffer.from(content, 'utf8').toString('base64'),\n        mimeType: getMimeType(filePath),\n        fileExtension: getExtension(filePath),\n        fileName: filePath,\n      };\n      manifest.push({ path: filePath });\n    });\n    // Build structure from the actual ZIP payload (single source of truth).\n    const zipManifestPaths = Object.values(binary)\n      .map((entry) => String(entry?.fileName || '').trim())\n      .filter((path) => path.startsWith('backend/'));\n    const structureManifest = Array.from(new Set(zipManifestPaths))\n      .map((path) => ({ path }))\n      .sort((a, b) => a.path.localeCompare(b.path));\n    const backendStructureObject = { files: structureManifest };\n    const backendStructure = JSON.stringify(backendStructureObject);\n\n    return [{\n      json: {\n        backendRoot: 'backend',\n        fileCount: manifest.length,\n        files: manifest,\n        backendStructure,\n        backendStructureObject,\n        zipBinaryFields: Object.keys(binary).join(','),\n      },\n      binary,\n    }];\n  }\nreturn beAssembleBackendZipInputs();\n"
      },
      "id": "46d37f54-8ede-4395-b19d-743ba7024d26",
      "name": "BEV - Assemble Backend Zip Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25264,
        11712
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "backendStructure",
        "binaryPropertyName": "backendStructure",
        "options": {
          "fileName": "backend-structure.json"
        }
      },
      "id": "ede8cfc9-9c97-4116-8d39-30101f8a5834",
      "name": "BEV - Final Structure File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        25456,
        11616
      ]
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ $json.zipBinaryFields }}",
        "fileName": "backend.zip",
        "binaryPropertyOutput": "backendZip"
      },
      "id": "1c018f1b-36a2-4270-8661-218067adddf2",
      "name": "BEV - Backend Zip",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        25456,
        11808
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "bdb1b897-3b8a-4c42-a815-b0d750c54536",
      "name": "BEV - Zip and Structure",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        25696,
        11712
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\nconst json = { ...(item.json ?? {}) };\nconst binary = { ...(item.binary ?? {}) };\n\nconst backendZip = binary.backendZip;\nif (!backendZip) {\n  throw new Error('Missing backendZip binary for review link.');\n}\n\nbinary.reviewZip = backendZip;\n\nreturn [{\n  json,\n  binary,\n}];"
      },
      "id": "738167cd-cb82-47d6-997d-4fd660f1a1ea",
      "name": "BEV - Create Zip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25920,
        11712
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pQM23J0BoE8iVhNc",
          "mode": "list",
          "cachedResultUrl": "/workflow/pQM23J0BoE8iVhNc",
          "cachedResultName": "zip link"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "revisionNumber": "={{ $json.revisionNumber }}",
            "archiveMimeType": "={{ $binary.backendZip ? $binary.backendZip.mimeType : \"application/zip\" }}",
            "archiveFileName": "={{ $binary.backendZip ? $binary.backendZip.fileName : \"backend.zip\" }}",
            "response": "={{ $json.response }}",
            "archiveData": "={{ $binary.backendZip ? ($binary.backendZip.data || ($binary.backendZip.id ? \"filesystem-v2\" : \"\")) : \"\" }}",
            "archiveId": "={{ $binary.backendZip ? ($binary.backendZip.id || \"\") : \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "archiveMimeType",
              "displayName": "archiveMimeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveFileName",
              "displayName": "archiveFileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "revisionNumber",
              "displayName": "revisionNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveData",
              "displayName": "archiveData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveId",
              "displayName": "archiveId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "archiveBinaryProperty",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "archiveBinaryProperty",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "6bb7d57f-899e-4aa9-a3e0-7536bc362f28",
      "name": "BEV - Create Zip Link",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        26160,
        11824
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "f9c77039-67bd-49f0-a3d3-3b1c804f2c67",
      "name": "BEV - Link and Zip",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        26352,
        11728
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json ?? {};\nconst revisionNumber = Math.max(0, Math.trunc(Number(json.revisionNumber ?? 0) || 0));\nconst fileCount = Math.max(0, Math.trunc(Number(json.fileCount ?? 0) || 0));\nconst zipDownloadUrl = String(json.zipDownloadUrl ?? '').trim();\nif (!zipDownloadUrl) throw new Error('Review ZIP download URL is missing.');\nconst zipDownloadToken = String(json.zipDownloadToken ?? '').trim();\nif (!zipDownloadToken) throw new Error('Review ZIP download token is missing.');\nconst downloadLinkHtml = '<p><a href=\"' + zipDownloadUrl + '\" download target=\"_blank\" rel=\"noopener noreferrer\">Download current Backend ZIP</a></p>';\nconst output = {\n  json: { ...json, revisionNumber, fileCount, zipDownloadUrl, zipDownloadToken, downloadLinkHtml },\n};\nif (item.binary && Object.keys(item.binary).length > 0) {\n  output.binary = item.binary;\n}\nreturn [output];"
      },
      "id": "215ab7d4-426f-40c1-b55b-fce3b0686253",
      "name": "BEV - Prepare Information",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26592,
        11728
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? { json: {}, binary: {} };\nconst currentJson = item.json ?? {};\nconst rawBinary = item.binary ?? {};\n\nfunction getNodeItemSafe(nodeName) {\n  if (typeof $items !== 'function') return null;\n  try {\n    return ($items(nodeName) || [])[0] || null;\n  } catch {\n    return null;\n  }\n}\n\nfunction cleanJson(source) {\n  const json = { ...(source ?? {}) };\n  delete json.feedback;\n  delete json.Feedback;\n  delete json.Approved;\n  delete json['Start Again'];\n  delete json.reviewMode;\n  return json;\n}\n\nfunction cleanBinary(source) {\n  return Object.fromEntries(\n    Object.entries(source ?? {})\n      .filter(([key]) => !/^attachments?(?:_|$)/i.test(String(key)))\n      .filter(([key]) => !String(key).endsWith('_firstIteration')),\n  );\n}\n\nfunction normalizeFiles(value) {\n  const files = Array.isArray(value) ? value : [];\n  return files\n    .map((entry) => {\n      if (typeof entry === 'string') return { path: entry.trim() };\n      if (entry && typeof entry === 'object') return { path: String(entry.path ?? '').trim() };\n      return { path: '' };\n    })\n    .filter((entry) => entry.path);\n}\n\nconst firstNode = getNodeItemSafe('BE - Prepare Information for First Iteration');\nconst firstJson = cleanJson(firstNode?.json ?? {});\nconst baseJson = cleanJson(currentJson);\nconst cleanCurrentBinary = cleanBinary(rawBinary);\nconst firstFiles = normalizeFiles(firstJson.files).length\n  ? normalizeFiles(firstJson.files)\n  : normalizeFiles(baseJson.firstIterationFiles);\nconst reviewerFeedback = [\n  currentJson.reviewerFeedback,\n  currentJson.feedback,\n  currentJson.Feedback,\n  baseJson.reviewerFeedback,\n].map((value) => String(value ?? '').trim()).find((value) => value.length > 0) || '';\n\nconst outputJson = {\n  ...baseJson,\n  reviewerFeedback,\n  reviewMode: '',\n  firstIterationFiles: firstFiles,\n  firstIterationBackendStructure: String(firstJson.backendStructure ?? baseJson.firstIterationBackendStructure ?? '').trim(),\n  firstIterationReviewRevisionNumber: Number(firstJson.revisionNumber ?? baseJson.firstIterationReviewRevisionNumber ?? baseJson.revisionNumber ?? 0) || 0,\n  firstIterationReviewZipDownloadUrl: String(firstJson.zipDownloadUrl ?? baseJson.firstIterationReviewZipDownloadUrl ?? baseJson.zipDownloadUrl ?? '').trim(),\n  firstIterationReviewZipDownloadToken: String(firstJson.zipDownloadToken ?? baseJson.firstIterationReviewZipDownloadToken ?? baseJson.zipDownloadToken ?? '').trim(),\n  firstIterationReviewDownloadLinkHtml: String(firstJson.downloadLinkHtml ?? baseJson.firstIterationReviewDownloadLinkHtml ?? baseJson.downloadLinkHtml ?? '').trim(),\n};\n\nreturn [{\n  json: outputJson,\n  ...(Object.keys(cleanCurrentBinary).length ? { binary: cleanCurrentBinary } : {}),\n}];"
      },
      "id": "c9f60f31-404d-4b8b-b8e4-8e01d0d5fbbb",
      "name": "BEV - Review Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26832,
        11728
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "BEV - Input Config": {
      "main": [
        [
          {
            "node": "BEV - Extract Backend ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Extract Backend ZIP": {
      "main": [
        [
          {
            "node": "BEV - Load Backend ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Load Backend ZIP": {
      "main": [
        [
          {
            "node": "BEV - Validate Generated Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Start Validation Form": {
      "main": [
        [
          {
            "node": "BEV - Input Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Start Validation Trigger": {
      "main": [
        [
          {
            "node": "BEV - Input Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Validate Generated Backend": {
      "main": [
        [
          {
            "node": "BEV - Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Validation Passed?": {
      "main": [
        [
          {
            "node": "BEV - Assemble Backend Zip Inputs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BEV - Prepare Validation Fix State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Prepare Validation Fix State": {
      "main": [
        [
          {
            "node": "BEV - Build Validation Fix Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Build Validation Fix Prompt": {
      "main": [
        [
          {
            "node": "BEV - Generate Validation Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Generate Validation Fix": {
      "main": [
        [
          {
            "node": "BEV - Clean Validation Fix Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Clean Validation Fix Response": {
      "main": [
        [
          {
            "node": "BEV - Apply Validation Fixes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Apply Validation Fixes": {
      "main": [
        [
          {
            "node": "BEV - Validate Generated Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Assemble Backend Zip Inputs": {
      "main": [
        [
          {
            "node": "BEV - Backend Zip",
            "type": "main",
            "index": 0
          },
          {
            "node": "BEV - Final Structure File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Final Structure File": {
      "main": [
        [
          {
            "node": "BEV - Zip and Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Backend Zip": {
      "main": [
        [
          {
            "node": "BEV - Zip and Structure",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "BEV - Zip and Structure": {
      "main": [
        [
          {
            "node": "BEV - Create Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Create Zip": {
      "main": [
        [
          {
            "node": "BEV - Link and Zip",
            "type": "main",
            "index": 0
          },
          {
            "node": "BEV - Create Zip Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Create Zip Link": {
      "main": [
        [
          {
            "node": "BEV - Link and Zip",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "BEV - Link and Zip": {
      "main": [
        [
          {
            "node": "BEV - Prepare Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Prepare Information": {
      "main": [
        [
          {
            "node": "BEV - Review Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BEV - Review Output": {
      "main": [
        [
          {
            "node": "BEV - Validation Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bf708c00-578d-416d-b5f4-ee609580d28c",
  "meta": {
    "instanceId": "b8db71e6cd806cd646e3036d735235b01787ac6bf74adc87afc57bddf23e92c7"
  },
  "id": "sQYqTOmjLLInpknf",
  "tags": []
}