workflows/n8n-progress/daily/subworkflows-method-v3/design-v2.json
{
  "name": "design-v2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "\nconst DESIGN_SYSTEM_FOUNDATIONS_MD = \"# Design Foundations Contract\\n\\n## Themes\\n\\n- Default theme tokens live in `:root`.\\n- Alternate theme: `body.theme-marca-servicos` overrides the blue and gray scales and inherits the remaining default tokens.\\n- Dark mode is applied with `body.dark-mode`; most dark-mode changes are component overrides, not a second root token file.\\n\\n## Color Tokens\\n\\n- Blue: `--color_blue_100 = #F5F9FB`, `--color_blue_200 = #E1ECF2`, `--color_blue_300 = #B0CCDD`, `--color_blue_400 = #74A6C4`, `--color_blue_500 = #3980AA`, `--color_blue_600 = #327196`, `--color_blue_700 = #2C6485`, `--color_blue_800 = #25536F`, `--color_blue_900 = #173344`\\n- Electric: `--color_electric_100 = #ECFEFF`, `--color_electric_200 = #D4FCFF`, `--color_electric_300 = #BDF9FF`, `--color_electric_400 = #8EF4FF`, `--color_electric_500 = #76F2FF`, `--color_electric_600 = #75F2FF`, `--color_electric_700 = #5DEFFF`, `--color_electric_800 = #33EBFF`, `--color_electric_900 = #00E6FF`\\n- Lime: `--color_lime_100 = #F7F8F3`, `--color_lime_200 = #E8EBDC`, `--color_lime_300 = #C3CAA1`, `--color_lime_400 = #95A35B`, `--color_lime_500 = #687B14`, `--color_lime_600 = #5C6C12`, `--color_lime_700 = #516010`, `--color_lime_800 = #44500D`, `--color_lime_900 = #2A3108`\\n- Yellow: `--color_yellow_100 = #FFFCF3`, `--color_yellow_200 = #FFF6DA`, `--color_yellow_300 = #FFE69C`, `--color_yellow_400 = #FFD451`, `--color_yellow_500 = #FFC107`, `--color_yellow_600 = #E0AA06`, `--color_yellow_700 = #C79705`, `--color_yellow_800 = #A67D05`, `--color_yellow_900 = #664D03`\\n- Gray: `--color_gray_100 = #F7F7F7`, `--color_gray_200 = #E8E8E8`, `--color_gray_300 = #C2C2C2`, `--color_gray_400 = #949494`, `--color_gray_500 = #666666`, `--color_gray_600 = #5A5A5A`, `--color_gray_700 = #505050`, `--color_gray_800 = #424242`, `--color_gray_900 = #292929`\\n- Semantic / neutrals: `--color_white = #FFFFFF`, `--color_black = #000000`, `--color_alert_200 = #FCF5DE`, `--color_alert_400 = #F7CA64`, `--color_alert_600 = #FFCF27`, `--color_error_200 = #FFE8E3`, `--color_error_400 = #FF927B`, `--color_error_600 = #A0291A`, `--color_info_200 = #E5EEF6`, `--color_info_400 = #195893`, `--color_info_600 = #103960`, `--color_success_200 = #E5F0E0`, `--color_success_400 = #346122`, `--color_success_600 = #294C1B`, `--color_contour = #FFCB2D`\\n- Utility families mirror token names exactly: `gra-background-*`, `gra-text-*`, `gra-border-*`; special aliases also exist for `...-white`, `...-black`, and `...-contour`.\\n\\n## Alternate Theme Overrides\\n\\n- `body.theme-marca-servicos` blue scale: `--color_blue_100 = #EFF6FF`, `--color_blue_200 = #D7E6FB`, `--color_blue_300 = #B1CBF1`, `--color_blue_400 = #A7C6F2`, `--color_blue_500 = #8FB6EE`, `--color_blue_600 = #78A7EA`, `--color_blue_700 = #6097E6`, `--color_blue_800 = #3077DD`, `--color_blue_900 = #0057D5`\\n- `body.theme-marca-servicos` gray scale: `--color_gray_100 = #F7F7F7`, `--color_gray_200 = #E8E8E8`, `--color_gray_300 = #919090`, `--color_gray_400 = #6D6B6B`, `--color_gray_500 = #4D4C4C`, `--color_gray_600 = #303030`, `--color_gray_700 = #212121`, `--color_gray_800 = #171717`, `--color_gray_900 = #000000`\\n\\n## Typography\\n\\n- Base font family: `Lato`\\n- Icon font family: `gra`\\n- Size scale: `gra-font-xs = 12/100%`, `gra-font-s = 14/100%`, `gra-font-m = 16/24`, `gra-font-l = 18/24`, `gra-font-xl = 24/28.8`, `gra-font-2xl = 32/100%`, `gra-font-3xl = 40/100%`, `gra-font-4xl = 48/100%`, `gra-font-5xl = 56/100%`, `gra-font-6xl = 80/100%`\\n- Weight / decoration utilities: `gra-font-light`, `gra-font-bold`, `gra-font-underline`\\n- Shared small-text aliases use the same sizing as `gra-font-xs`: `graCounterWords`, `graInfoField`, `graRequiredFieldGroup`, `graRequiredField`\\n\\n## Spacing Scale\\n\\n- Scale values: `0 = 0`, `5xs = 2px`, `4xs = 4px`, `3xs = 8px`, `2xs = 12px`, `xs = 16px`, `s = 24px`, `m = 32px`, `l = 40px`, `xl = 48px`, `2xl = 56px`, `3xl = 64px`, `4xl = 72px`, `5xl = 80px`, `6xl = 96px`, `7xl = 120px`\\n- Margin generators: `gra-margin-*`, `gra-margin-x-*`, `gra-margin-y-*`, `gra-margin-top-*`, `gra-margin-right-*`, `gra-margin-bottom-*`, `gra-margin-left-*`\\n- Padding generators: `gra-padding-*`, `gra-padding-x-*`, `gra-padding-y-*`, `gra-padding-top-*`, `gra-padding-right-*`, `gra-padding-bottom-*`, `gra-padding-left-*`\\n\\n## Radius Scale\\n\\n- `gra-rounded-s = 4px`\\n- `gra-rounded-m = 8px`\\n- `gra-rounded-l = 12px`\\n- `gra-rounded-xl = 16px`\\n- `gra-rounded-xxl = 32px`\\n\\n## Shadow Scale\\n\\n- Box shadows: `gra-box-shadow-xs = 0 1px 2px #0c494f1a`, `gra-box-shadow-s = 0 2px 4px #0c494f1a`, `gra-box-shadow-m = 0 4px 6px #0c494f1a`, `gra-box-shadow-l = 0 6px 8px #0c494f1a`, `gra-box-shadow-xl = 0 8px 10px #0c494f1a`, `gra-box-shadow-xxl = 0 4px 40px #0c494f1a`\\n- Text shadows: `gra-text-shadow-xs = 0px 1px 2px rgba(12,73,79,.1)`, `gra-text-shadow-s = 0px 2px 4px rgba(12,73,79,.1)`, `gra-text-shadow-m = 0px 4px 6px rgba(12,73,79,.1)`, `gra-text-shadow-l = 0px 6px 8px rgba(12,73,79,.1)`, `gra-text-shadow-xl = 0px 8px 10px rgba(12,73,79,.1)`, `gra-text-shadow-xxl = 0px 4px 40px rgba(12,73,79,.1)`\\n\\n## Divider Token Groups\\n\\n- Horizontal dark: `gra-hr-horizontal-dark-s`, `gra-hr-horizontal-dark-m`, `gra-hr-horizontal-dark-l`, `gra-hr-horizontal-dark-xl`\\n- Horizontal light: `gra-hr-horizontal-light-s`, `gra-hr-horizontal-light-m`, `gra-hr-horizontal-light-l`, `gra-hr-horizontal-light-xl`\\n- Vertical dark: `gra-hr-vertical-dark-s`, `gra-hr-vertical-dark-m`, `gra-hr-vertical-dark-l`, `gra-hr-vertical-dark-xl`\\n- Vertical light: `gra-hr-vertical-light-s`, `gra-hr-vertical-light-m`, `gra-hr-vertical-light-l`, `gra-hr-vertical-light-xl`\\n\\n## Utility Tokens\\n\\n- Width / height / position: `gra-width-100`, `gra-height-100`, `gra-pos-relative`\\n- Display / alignment helpers used by components: `gra-d-block`, `gra-d-none`, `gra-d-flex`, `gra-d-flex-center`, `gra-flex-row`, `gra-flex-grow`, `gra-text-start`, `gra-text-center`, `gra-text-end`\\n\\n## Iconography\\n\\n- Icon API is one class per glyph on the `gra` icon font.\\n- Glyph classes: `icon-accessibility`, `icon-app`, `icon-archive`, `icon-arrow-circle-down`, `icon-arrow-circle-left`, `icon-arrow-circle-right`, `icon-arrow-circle-up`, `icon-arrow-down`, `icon-arrow-down-left-underline`, `icon-arrow-left`, `icon-arrow-right`, `icon-arrow-up`, `icon-arrow-up-left-underline`, `icon-bar-chart`, `icon-bell`, `icon-bell-full`, `icon-bell-notification`, `icon-boat`, `icon-book`, `icon-building`, `icon-bus`, `icon-calculator`, `icon-calculator-bracket-close`, `icon-calculator-bracket-open`, `icon-calculator-divide`, `icon-calculator-equal`, `icon-calculator-greater-or-equal`, `icon-calculator-less-or-equal`, `icon-calculator-minus`, `icon-calculator-parenthesis-close`, `icon-calculator-parenthesis-open`, `icon-calculator-plus`, `icon-calculator-semicolon`, `icon-calculator-times`, `icon-calendar`, `icon-camera`, `icon-camera-slash`, `icon-car`, `icon-card-solid`, `icon-cards`, `icon-cart`, `icon-chat-message`, `icon-chat-reply`, `icon-chat-typing`, `icon-chevron-down`, `icon-chevron-down-small`, `icon-chevron-left`, `icon-chevron-left-small`, `icon-chevron-right`, `icon-chevron-up`, `icon-cidadao`, `icon-circle`, `icon-circle-add`, `icon-circle-add-solid`, `icon-circle-arrow-down-left-solid`, `icon-circle-arrow-up-right-solid`, `icon-circle-check-solid`, `icon-circle-danger`, `icon-circle-dot`, `icon-circle-empty`, `icon-circle-info`, `icon-circle-info-solid`, `icon-circle-minus`, `icon-circle-minus-solid`, `icon-circle-success`, `icon-circle-times-solid`, `icon-clock`, `icon-close`, `icon-danger-solid`, `icon-delete`, `icon-divide`, `icon-download`, `icon-drop`, `icon-duplicate`, `icon-edit`, `icon-ellipsis-v`, `icon-euro`, `icon-expand`, `icon-eye`, `icon-eye-slash`, `icon-facebook`, `icon-favorite`, `icon-file`, `icon-file-download`, `icon-file-excel`, `icon-file-pdf`, `icon-file-upload`, `icon-files`, `icon-filter`, `icon-folder`, `icon-folder-add`, `icon-folder-remove`, `icon-google`, `icon-gra-icon`, `icon-headphone`, `icon-help`, `icon-hiperlink`, `icon-home`, `icon-image`, `icon-image-add`, `icon-image-download`, `icon-iniciativa`, `icon-instagram`, `icon-level-down`, `icon-level-up`, `icon-linear`, `icon-link`, `icon-linkedin`, `icon-list`, `icon-list-solid`, `icon-lock`, `icon-lock-slash`, `icon-login`, `icon-logout`, `icon-massa`, `icon-menu`, `icon-message`, `icon-message-search`, `icon-message-unread`, `icon-microphone`, `icon-microphone-slash`, `icon-moon`, `icon-more`, `icon-music`, `icon-news`, `icon-nome-steps`, `icon-order-down`, `icon-order-up`, `icon-paperclip`, `icon-percent`, `icon-phone`, `icon-pin`, `icon-pointer-down`, `icon-pointer-left`, `icon-pointer-right`, `icon-pointer-up`, `icon-primary`, `icon-primary-accessibility`, `icon-primary-deactivated`, `icon-primary-error`, `icon-print`, `icon-radio`, `icon-radiobutton`, `icon-ramificao`, `icon-refresh`, `icon-return`, `icon-right`, `icon-rotate-right`, `icon-save`, `icon-scale`, `icon-search`, `icon-search-solid`, `icon-secondary`, `icon-secondary-deactivated`, `icon-secondary-error`, `icon-settings`, `icon-share`, `icon-sitemap`, `icon-small-arrow-left`, `icon-small-arrow-up`, `icon-sort`, `icon-square-empty`, `icon-star`, `icon-star-half-solid`, `icon-star-solid`, `icon-stats`, `icon-student`, `icon-sun`, `icon-tag`, `icon-task`, `icon-task-notification`, `icon-thumbs-down`, `icon-thumbs-up`, `icon-times`, `icon-trash`, `icon-truck`, `icon-tumblr`, `icon-upload`, `icon-user`, `icon-users`, `icon-video`, `icon-volume`, `icon-volume-slash`, `icon-wallet`, `icon-warning`, `icon-word-file`, `icon-x-twitter`, `icon-youtube`, `icon-zoom-in`, `icon-zoom-out`\\n\";\nconst DESIGN_SYSTEM_LAYOUT_GUIDELINES_MD = \"# Layout Guidelines Contract\\n\\n## Global Conventions\\n\\n- Primary page shell pattern in examples: `body.pageContent gra-padding-bottom-7xl` or `body.gra-padding-bottom-7xl`, then `main.gra-container.gra-padding-top-l`.\\n- Theme/state classes are applied on `body`: `theme-marca-servicos`, `dark-mode`, `templateDetailsBackoffice`.\\n- Interactive components rely on stable DOM hooks in addition to classes. Preserve data attributes such as `data-id-popup`, `data-gra-tab`, `data-element-id`, `data-items-per-page`, `data-is-external-content`, `data-progress-default`, `data-format-date`, `data-nav`, and `data-step`.\\n- Shared semantic state classes recur across components: `disabled`, `error`, `readonly`, `active`, `neutral`, `new`, `open`, `backoffice`, `header-primary`.\\n\\n## Container System\\n\\n- `gra-container`: primary content container; constrained width with centered layout.\\n- `gra-container-bo`: full-width backoffice container with horizontal padding and overflow clipping.\\n- `gra-container-fluid`: full-width general container with horizontal padding.\\n- `gra-container.withSideMenu`: wider page-content variant used beside sticky side navigation.\\n- `templateDetailsBackoffice .gra-container`: special content-width rule for backoffice detail layouts.\\n- Responsive convention: container padding tightens on smaller screens; use the provided container classes instead of hard-coded wrapper widths.\\n\\n## Grid System\\n\\n- Grid row base: `gra-row-bs`\\n- Column base: `gra-col-bs`\\n- Breakpoint column families: `gra-col-bs-sm-*`, `gra-col-bs-md-*`, `gra-col-bs-ld-*`, `gra-col-bs-xl-*`\\n- Breakpoint names: `sm`, `md`, `ld`, `xl`\\n- Numbering convention is inverse of typical 12-column naming. `gra-col-bs-*-1` is full width, `...-2` is half width, `...-3` is one third, continuing until `...-12` which is one twelfth.\\n- Column utilities are additive. Typical usage is `gra-col-bs` plus one or more breakpoint-specific column classes.\\n\\n## Spacing Rules\\n\\n- Use the shared spacing scale from the foundations contract through utility generators, not component-specific margin overrides.\\n- Section rhythm in demos is built with `gra-margin-top-xl`, `gra-margin-bottom-l|m|s`, `gra-margin-y-l`, and container padding utilities like `gra-padding-top-l`.\\n- Axis and edge utilities are first-class. Prefer `gra-margin-x-*`, `gra-margin-y-*`, `gra-padding-left-*`, `gra-padding-bottom-*`, and similar directional classes when layout needs asymmetry.\\n- Component internals often rely on spacing helpers inline with semantic classes. Keep both when reproducing structures.\\n\\n## Structural Composition Rules\\n\\n- Desktop/mobile component pairs are explicit markup variants, not the same DOM reshaped by CSS. Preserve paired structures for `gra-desktop-header`/`gra-mobile-header`, notification counters, pagination result summaries, and carousel layouts when present.\\n- Nested menus and recursive navigation are rendered as literal nested lists. Do not flatten `menu`, `menu-mobile`, `submenu_1`, `submenu_2`, `subUl`, or `withSub` structures.\\n- Form compositions are wrapper-driven: grouped fields use `gra-input-group`, OTP uses `gra-input-group-code`, search uses `gra-search-container`, date pickers use `gra-daterangepicker-container`, dropdowns use `gra-select`, and popups/filter panels nest full form layouts inside their content shells.\\n- Cards, lists, notifications, and tables use repeated child-slot naming like `title`, `details`, `text`, `actions`, `description`, `dateTime`, `options`. These slots are part of the component contract.\\n- Where helper copy exists, it is rendered as sibling nodes after the control: `graRequiredField`, `graRequiredFieldGroup`, `graInfoField`, `graCounterWords`.\\n\\n## Utility Layout Helpers\\n\\n- Display helpers used by components: `gra-d-block`, `gra-d-none`, `gra-d-flex`, `gra-d-flex-center`\\n- Flex helpers used by components: `gra-flex-row`, `gra-flex-grow`\\n- Text alignment helpers: `gra-text-start`, `gra-text-center`, `gra-text-end`\\n- Size/position helpers: `gra-width-100`, `gra-height-100`, `gra-pos-relative`\\n\\n## Responsive Conventions\\n\\n- Breakpoint names only: `sm`, `md`, `ld`, `xl`\\n- Many components also expose semantic mobile/desktop variants without a class scale: `desktop`, `mobile`, `resultsMobile`, `menu_mobile`, `gra-mobile-header`, `gra-desktop-header`, `carousel-mobile`\\n- Use component-provided mobile variants where they exist instead of inventing alternate wrappers.\\n\\n## Restrictions\\n\\n- Keep class names exact. Many hooks are consumed by bundled behavior in `assets/main.js`.\\n- Do not rename generated utility families, even when they appear redundant with generic framework classes.\\n- Preserve indicator order where JS maps items by index: wizard steps/lines, carousel nav cards, pagination controls, sortable table headers, notification shells, popup triggers.\\n\";\nconst DESIGN_SYSTEM_COMPONENT_API_MD = \"# Component API Contract\\n\\n## Accordion\\n\\nBase: `gra-accordion`\\nModifiers: `alwaysClose`, `alwaysOpen`\\nSkeleton: `<div class=\\\"gra-accordion alwaysClose\\\"><div class=\\\"accordion-item\\\"><button class=\\\"accordion-header\\\" aria-expanded=\\\"false\\\">Label</button><div class=\\\"accordion-body\\\">...</div></div></div>`\\nRules: children are `accordion-item`, `accordion-header`, `accordion-body`; initial open state uses `aria-expanded=\\\"true\\\"`; icon version places an `icon-*` before the label inside the header.\\n\\n## Avatar\\n\\nBase: `graAvatarWithFoto`, `graAvatarWithoutFoto`, `graAvatarWithText`\\nModifiers: none beyond content type\\nSkeleton: `<div class=\\\"graAvatarWithFoto\\\"><img class=\\\"graAvatarFoto\\\" ...></div>`, `<div class=\\\"graAvatarWithoutFoto\\\"><i class=\\\"icon-user graAvatarLogo\\\"></i></div>`, `<div class=\\\"graAvatarWithText\\\">AA</div>`\\nRules: choose exactly one avatar base per instance; photo variant requires `graAvatarFoto`; empty/user variant requires `graAvatarLogo`.\\n\\n## Breadcrumb\\n\\nBase: `gra-breadcrumb`\\nModifiers: `graBcSelected`, `accessibility`\\nSkeleton: `<div class=\\\"gra-breadcrumb\\\"><a class=\\\"bc\\\">Step</a><i class=\\\"icon-chevron-right\\\"></i><span class=\\\"bc graBcSelected\\\">Current</span></div>`\\nRules: every crumb item uses `bc`; separators are explicit icon nodes; `graBcSelected` marks the terminal crumb; `accessibility` is applied directly on each crumb node.\\n\\n## Buttons\\n\\nBase: text buttons `gra-btn`, icon buttons `icon`, inline action links `gra-link`\\nModifiers: `btn-primary`, `btn-primary-accessibility`, `btn-primary-deactivated`, `btn-primary-error`, `btn-secondary`, `btn-secondary-deactivated`, `btn-secondary-error`, `icon-primary`, `icon-primary-accessibility`, `icon-primary-deactivated`, `icon-primary-error`, `icon-secondary`, `icon-secondary-deactivated`, `icon-secondary-error`, shared states `disabled`, `error`, icon placement helpers `iconLeft`, `iconRight`\\nSkeleton: `<button class=\\\"gra-btn btn-primary\\\"><i class=\\\"icon-* iconLeft\\\"></i>Label<i class=\\\"icon-* iconRight\\\"></i></button>` or `<button class=\\\"icon icon-primary\\\"><i class=\\\"icon-*\\\"></i></button>` or `<a class=\\\"gra-link\\\">Label</a>`\\nRules: pair `disabled` with the corresponding deactivated modifier; link-style actions use `gra-link` instead of `gra-btn`; icon placement is additive, not a separate button variant.\\n\\n## Cards\\n\\nBase: `gra-card-informative`, `gra-card-feedback`, `gra-card-text`, `gra-card-dashboard`\\nModifiers: informative cards `card-horizontal`, `card-vertical`, `card-s`, `card-m`, `disabled`, `neutral`; feedback cards `card-horizontal`, `card-vertical`, `danger`, `info`, `alert`, `success`; text cards `disabled`, `neutral`; dashboard icons `error`, `info`, `alert`, `success`\\nSkeleton: informative `<div class=\\\"gra-card-informative card-horizontal card-m\\\"><div class=\\\"image\\\">...</div><div class=\\\"details\\\"><div class=\\\"title\\\">...</div><div class=\\\"badges\\\">...</div><div class=\\\"text\\\">...</div><div class=\\\"actions\\\">...</div></div></div>`; feedback `<div class=\\\"gra-card-feedback card-vertical success\\\"><div class=\\\"details\\\"><div class=\\\"title\\\"><span>...</span><i class=\\\"icon-close card-feedback-close\\\"></i></div>...</div></div>`; text `<div class=\\\"gra-card-text\\\"><div class=\\\"picture\\\"><i class=\\\"icon-*\\\"></i></div><div class=\\\"details\\\">...</div></div>`; dashboard `<div class=\\\"gra-card-dashboard\\\"><div class=\\\"title\\\"><span>...</span><div class=\\\"dashboard-icon info\\\"><i class=\\\"icon-*\\\"></i></div></div><div class=\\\"value\\\">...</div></div>`\\nRules: informative cards optionally include `actions`; feedback cards keep close control inside `title`; dashboard cards use exactly one `dashboard-icon` tone modifier.\\n\\n## Checkbox\\n\\nBase: `form-check`\\nModifiers: `form-check-input-error`, `form-check-accessibility`, `indeterminate-checkbox`\\nSkeleton: `<div class=\\\"form-check\\\"><input class=\\\"form-check-input\\\" type=\\\"checkbox\\\" id=\\\"x\\\"><label class=\\\"form-check-label\\\" for=\\\"x\\\">Label</label></div>`\\nRules: checkbox structure is always input plus label; error styling is on the input; accessibility variant wraps the control with `form-check-accessibility`; state still comes from native `checked` and `disabled`.\\n\\n## Cookies\\n\\nBase: `gra-cookies-consent`\\nModifiers: none\\nSkeleton: `<div class=\\\"gra-cookies-consent\\\"><div class=\\\"text\\\"><p>...</p></div><div class=\\\"actions\\\"><button class=\\\"gra-btn btn-secondary\\\">...</button><button class=\\\"gra-btn btn-primary\\\">...</button></div></div>`\\nRules: consent copy lives in `.text`; action area is `.actions`; examples use secondary configuration plus primary accept action.\\n\\n## Date Picker\\n\\nBase: wrapper `gra-daterangepicker-container`, input `daterangepickerInput`\\nModifiers: `rangeDatePicker`, `simpleDatePicker`, `required-field`, `disabled`, `readonly`, `form-error`, `form-accessibility`\\nSkeleton: `<div class=\\\"gra-daterangepicker-container\\\"><input class=\\\"form form-control daterangepickerInput simpleDatePicker\\\" data-format-date=\\\"YYYY-MM-DD\\\"></div>`\\nRules: choose exactly one picker mode per input, `rangeDatePicker` or `simpleDatePicker`; labels may add `required-label`; informational/error copy uses `graInfoField` or `graRequiredField`; date format is configured with `data-format-date`.\\n\\n## Divider\\n\\nBase: divider utility class only\\nModifiers: `gra-hr-horizontal-dark-s|m|l|xl`, `gra-hr-horizontal-light-s|m|l|xl`, `gra-hr-vertical-dark-s|m|l|xl`, `gra-hr-vertical-light-s|m|l|xl`\\nSkeleton: `<hr class=\\\"gra-hr-horizontal-dark-s\\\">` or `<div class=\\\"gra-hr-vertical-light-m\\\"></div>`\\nRules: divider is standalone; pick exactly one orientation plus one tone/size token.\\n\\n## Dropdown\\n\\nBase: single select `gra-select gra-simple-select form-select`, multi select `gra-select gra-multiple-select form-select`\\nModifiers: single select `required-field`, `disabled`, `form-accessibility`, `with-search`; multi select `with-checkbox`, `with-radiobox`\\nSkeleton: `<select class=\\\"gra-select gra-simple-select form-select\\\"><option>Selecione</option></select>` or `<select class=\\\"gra-select gra-multiple-select with-checkbox form-select\\\" multiple>...</select>`\\nRules: keep native `<select>` markup; JS enhances `gra-select`; readonly single-select is represented as disabled in examples; validation and helper copy use the same `required-label`, `graRequiredField`, `graInfoField` conventions as text inputs.\\n\\n## Feedback Messages\\n\\nBase: `gra-feedback-msg`\\nModifiers: `error`, `info`, `success`, `alert`\\nSkeleton: `<div class=\\\"gra-feedback-msg error\\\"><span class=\\\"text\\\">...</span><span class=\\\"closeIcon\\\"></span></div>`\\nRules: every message contains `.text` and `.closeIcon`; tone is exclusive.\\n\\n## File Upload\\n\\nBase: `gra-upload-files`\\nModifiers: popup companion `filesUploaded`\\nSkeleton: `<div class=\\\"gra-upload-files\\\" id=\\\"fUpload1\\\"><div class=\\\"fuTop\\\">...</div><div class=\\\"dropContainer\\\" data-id-upload=\\\"fUpload1\\\"><div class=\\\"dropContainerContent\\\"><a class=\\\"gra-link ...\\\">...</a><input class=\\\"fileInput\\\" type=\\\"file\\\"></div></div><div class=\\\"fuBottom\\\"></div></div>`\\nRules: upload shell uses `fuTop`, `dropContainer`, `dropContainerContent`, `fileInput`, `fuBottom`; file constraints use input data attrs like `data-max-files` and `data-max-size`; uploaded-file list is rendered in a standard `gra-popup.filesUploaded`.\\n\\n## Filters\\n\\nBase: `gra-filter`\\nModifiers: `open`, `inlineFilter`\\nSkeleton: `<div class=\\\"gra-filter\\\"><div class=\\\"gra-filter-content\\\"><div class=\\\"gra-filter-input\\\"><input class=\\\"gra-input-filter\\\"><div class=\\\"suggestions\\\"></div><a class=\\\"gra-link openFilter\\\">...</a><a class=\\\"gra-link closeFilter\\\">...</a><button class=\\\"gra-btn btn-primary searchBtn\\\">...</button></div></div><div class=\\\"gra-filter-box\\\"><form class=\\\"gra-form-filter\\\">...</form><div class=\\\"actions\\\"><a class=\\\"gra-link clearFilter\\\">...</a><button class=\\\"gra-btn btn-primary submitFilter\\\">...</button></div></div></div>`\\nRules: filter trigger bar and filter panel are separate siblings; `.gra-filter-box` is the collapsible content; counter badges use `countFilters`, `countFiltersMobile`, `gra-badge error`; inline variant keeps the trigger row inside the layout instead of using a search field as the lead element.\\n\\n## Footer\\n\\nBase: `gra-footer-backoffice`, `gra-footer-opt-1`, `gra-footer-opt-2`, `gra-footer-opt-3`\\nModifiers: companion `gra-back-to-top`\\nSkeleton: `<div class=\\\"gra-back-to-top gra-container\\\"><button class=\\\"icon icon-primary backToTop\\\">...</button></div><div class=\\\"gra-footer-opt-1\\\"><div class=\\\"footer-row first-row\\\"><div class=\\\"footer-content gra-container\\\">...</div></div>...</div>`\\nRules: footer variants are separate root classes, not mixins; shared child patterns include `footer-row`, `footer-content`, `logo-description`, `gra-logos`, `logosLeft`, `links`, `columnFooter`, `contactsContent`, `contacts`, `iconContent`, `socialIcons`, `socialIcon`; back-to-top is rendered as a sibling block.\\n\\n## Header\\n\\nBase: desktop `gra-desktop-header`, mobile `gra-mobile-header`\\nModifiers: `large`, `notFixed`, `header-primary`, `backoffice`\\nSkeleton: desktop `<div class=\\\"gra-desktop-header large notFixed\\\"><div class=\\\"header-content gra-container\\\"><a class=\\\"logo_a\\\">...</a><div class=\\\"menus_desktop\\\"><ul class=\\\"menu\\\"><li class=\\\"menu-first-level\\\">...</li></ul></div></div></div>`; mobile `<div class=\\\"gra-mobile-header notFixed\\\"><div class=\\\"mobile-header\\\">...</div><div class=\\\"menu_mobile display-all-menu\\\"><div class=\\\"display-menu\\\"><ul class=\\\"menu-mobile\\\">...</ul></div></div></div>`\\nRules: desktop and mobile markup are separate; nested navigation uses literal nested `<ul>` trees plus `withChilds`, `withSubmenu`, `submenu_1`, `submenu_2`, `back-option`; optional action areas include search, theme toggle, notification badge, settings, avatar, credentials, logout; `header-primary` and `backoffice` are theme/layout modifiers on the root header block.\\n\\n## Homepage Carousel\\n\\nBase: `gra-carousel-homepage`\\nModifiers: `data-nav=\\\"true\\\"`, inner carousel modifiers `onlyImg`, `with-filter`\\nSkeleton: `<div class=\\\"gra-carousel-homepage\\\" data-nav=\\\"true\\\"><div class=\\\"owl-carousel onlyImg|with-filter\\\"><div class=\\\"item\\\">...</div></div><div class=\\\"custom-nav\\\"><div class=\\\"nav-card gra-background-blue-900\\\" data-slide=\\\"0\\\">...</div></div><div class=\\\"carousel-message\\\"><div class=\\\"contentText\\\">...</div></div></div>`\\nRules: slide body may be image-only, image plus `.text-content`, or image plus overlay `.content`; nav cards are separate from Owl items and use `data-slide`; option 3 embeds a full `gra-filter` inside `contentFilter`.\\n\\n## Images Carousel\\n\\nBase: `gra-carousel-container`\\nModifiers: `carousel-l`, `carousel-m`, `carousel-s`, `carousel-mobile`\\nSkeleton: `<div class=\\\"gra-carousel-container carousel-l\\\"><div class=\\\"active-image\\\"><img ...></div><div class=\\\"carousel-navigation\\\"><div class=\\\"nav-left\\\"><button class=\\\"icon icon-secondary owl-nav left-nav\\\">...</button></div><div id=\\\"image-carousel\\\" class=\\\"owl-carousel\\\"><div class=\\\"item\\\"><img ...></div></div><div class=\\\"nav-right\\\"><button class=\\\"icon icon-secondary owl-nav right-nav\\\">...</button></div></div></div>`\\nRules: every carousel has one active image area plus one thumbnail track; controls are explicit left/right button wrappers; size is selected by exactly one root modifier.\\n\\n## Inputs\\n\\nBase: field controls `form form-control`\\nModifiers: `required-label`, `required-field`, `required-field-group`, `form-error`, `gra-counter-field`, `gra-phone-number`, `input-code`, `gra-password`, state classes `disabled`, `readonly`, `error`\\nSkeleton: text `<label>...</label><input class=\\\"form form-control\\\">`; textarea `<textarea class=\\\"form form-control\\\"></textarea>`; contact `<div class=\\\"gra-input-group\\\"><select class=\\\"gra-select gra-simple-select form-select\\\"></select><input class=\\\"form form-control gra-phone-number\\\"></div>`; code `<div class=\\\"gra-input-group-code gra-input-group\\\"><input class=\\\"form form-control input-code\\\" maxlength=\\\"1\\\">...</div>`; password `<div class=\\\"gra-password-container\\\"><input class=\\\"form form-control gra-password\\\" type=\\\"password\\\"></div>`\\nRules: helper copy uses `graRequiredField`, `graRequiredFieldGroup`, `graInfoField`, `graCounterWords`; grouped inputs put validation state on both select and field when required; OTP/code uses repeated one-character `input-code` fields.\\n\\n## Lists\\n\\nBase: `gra-list`\\nModifiers: none\\nSkeleton: `<div class=\\\"gra-list\\\"><div class=\\\"headerList\\\"><div class=\\\"title\\\">...</div><div class=\\\"status\\\">...</div></div><div class=\\\"bodyList\\\"><p>...</p></div></div>`\\nRules: header is split between title and optional status cluster; status cluster reuses `gra-status`.\\n\\n## Loader\\n\\nBase: `gra-spinner`\\nModifiers: `small`, `medium`, `large`, `xLarge`\\nSkeleton: `<div class=\\\"gra-spinner medium\\\"></div>`\\nRules: size is selected by one modifier; same spinner class is reused inside file upload and modal states.\\n\\n## Menu Backoffice\\n\\nBase: `gra-menuBackoffice`\\nModifiers: recursive item modifier `withSub`\\nSkeleton: `<div class=\\\"gra-menuBackoffice\\\"><div class=\\\"hamburgers\\\"><i class=\\\"icon-menu hamburgerBackoffice\\\"></i><i class=\\\"icon-times hamburgerBackoffice hamburger_close\\\"></i></div><ul class=\\\"scrollUl\\\"><li class=\\\"liOption\\\"><a>...</a></li><li class=\\\"withSub\\\"><div class=\\\"uldiv\\\"><div class=\\\"setinha liOption\\\"><div class=\\\"menuBckitem subitem\\\"><span class=\\\"spanoption\\\">...</span></div><i class=\\\"icon-chevron-down-small image-down\\\"></i></div></div><ul class=\\\"subUl\\\">...</ul></li></ul></div>`\\nRules: top-level items use `liOption`; badge counters are `count1` and `count2` with `gra-badge`; recursive submenus reuse the same `withSub > uldiv + subUl` pattern.\\n\\n## Notifications\\n\\nBase: item `gra-notification`, shell `gra-notifications-box`\\nModifiers: item `new`; shell `readOne`\\nSkeleton: item `<div class=\\\"gra-notification new\\\"><div class=\\\"titleNotif\\\">...</div><div class=\\\"description\\\">...</div><div class=\\\"dateTime\\\"><div class=\\\"date\\\">...</div><div class=\\\"time\\\">...</div></div></div>`; shell `<div class=\\\"gra-notifications-box\\\"><div class=\\\"maskNotif\\\"></div><div class=\\\"gra-notification-container\\\"><div class=\\\"header\\\">...</div>...</div></div>`\\nRules: item tone indicator is composed by nesting `gra-status secondary ...Icon` inside `titleNotif`; list shell includes `optionsClose`, `moreOptions`, `moreOptionsBox`, `option markRead`, `option deleteAll`, `close`; detail view is a separate `gra-notifications-box readOne` block with `goBack`.\\n\\n## Pagination\\n\\nBase: `gra-pagination`\\nModifiers: none\\nSkeleton: `<div class=\\\"gra-pagination\\\" data-is-external-content=\\\"false\\\" data-items-per-page=\\\"4\\\" data-element-id=\\\"tableId\\\"><div class=\\\"results\\\"><span class=\\\"fromIndex\\\"></span>...</div><div class=\\\"resultsMobile\\\">...</div><div class=\\\"navigation\\\"><button class=\\\"prev icon icon-secondary\\\">...</button><div class=\\\"page-numbers\\\"></div><button class=\\\"next icon icon-secondary\\\">...</button></div></div>`\\nRules: JS reads `data-is-external-content`, `data-items-per-page`, `data-element-id`, and optional `data-total-items`; desktop and mobile result counters are separate DOM nodes.\\n\\n## Popup\\n\\nBase: `gra-popup`\\nModifiers: `no-border`, `with-avatar`, `align-center`\\nSkeleton: `<div class=\\\"gra-popup\\\" id=\\\"popupId\\\"><div class=\\\"popupMask\\\"></div><div class=\\\"popupContainer\\\"><div class=\\\"popupHeader no-border\\\">...</div><div class=\\\"popupContent\\\">...</div><div class=\\\"popupFooter\\\"><div class=\\\"gra-hr-horizontal-dark-s gra-padding-bottom-xs\\\"></div><div>...</div></div></div></div>`\\nRules: open triggers use `.openPopup[data-id-popup]`; close controls use `.closePopup`; optional pieces are `.popupGradient`, `.popupImg`, avatar block in header, and arbitrary form content in `.popupContent`.\\n\\n## Progress Bar\\n\\nBase: `gra-progress-bar`\\nModifiers: `.error` on `progress-bar-container`\\nSkeleton: `<div class=\\\"gra-progress-bar\\\" data-progress-default=\\\"50\\\"><span class=\\\"progressPercentage\\\"></span><div class=\\\"progress-bar-container\\\"><div class=\\\"progress-bar\\\"></div></div><label>...</label><input class=\\\"form form-control progressInput\\\"></div>`\\nRules: percentage text and bar track are required; initial value is set by `data-progress-default`; the example input is a behavior demo hook, not required presentation chrome.\\n\\n## Radio Button\\n\\nBase: `form-check`\\nModifiers: `custom-radiobox`, `error`, `form-check-accessibility`, `radiobox`\\nSkeleton: `<div class=\\\"form-check\\\"><input class=\\\"form-check-input custom-radiobox\\\" type=\\\"radio\\\" id=\\\"x\\\"><label class=\\\"form-check-label\\\" for=\\\"x\\\">Label</label></div>`\\nRules: radio appearance depends on `custom-radiobox`; error state is applied to the input; accessibility variant keeps the same markup with an extra container modifier.\\n\\n## Search Input\\n\\nBase: `gra-search-container`\\nModifiers: `required-field`, `error`\\nSkeleton: `<label>...</label><div class=\\\"gra-search-container\\\"><input class=\\\"form form-control\\\" type=\\\"search\\\"></div>`\\nRules: search field still uses the generic `form form-control` input; required and info/error messaging reuse `required-label`, `graRequiredField`, and `graInfoField`.\\n\\n## Star Validation\\n\\nBase: `gra-rate`\\nModifiers: `half`\\nSkeleton: `<fieldset class=\\\"gra-rate\\\"><input type=\\\"radio\\\" id=\\\"rating10\\\"><label for=\\\"rating10\\\"></label><input type=\\\"radio\\\" id=\\\"rating9\\\"><label class=\\\"half\\\" for=\\\"rating9\\\"></label>...</fieldset>`\\nRules: stars are alternating `input + label` pairs; half-step ratings are expressed on the label with `half`.\\n\\n## Status\\n\\nBase: `gra-status`\\nModifiers: `primary`, `secondary`, tone markers `alertIcon`, `infoIcon`, `dangerIcon`, `successIcon`\\nSkeleton: primary `<div class=\\\"gra-status primary dangerIcon\\\"><i class=\\\"icon-circle-minus\\\"></i><span>Perigo</span></div>`; secondary `<div class=\\\"gra-status secondary dangerIcon\\\"><span class=\\\"icon\\\"></span><span>Perigo</span></div>`\\nRules: tone marker is required with both primary and secondary variants; primary status uses an actual `icon-*`; secondary status uses an empty `.icon` marker element.\\n\\n## Switch\\n\\nBase: `gra-switch`\\nModifiers: `disabled`, `error`\\nSkeleton: `<label class=\\\"gra-switch\\\"><input type=\\\"checkbox\\\"><span class=\\\"slider round\\\"></span></label>`\\nRules: switch markup is always label > input + `.slider.round`; disabled/error live on the root label; surrounding text is external content and may sit before or after the switch.\\n\\n## Tab\\n\\nBase: `gra-tabs`, item `gra-tab`\\nModifiers: `active`, `disabled`, `iconText`, `textNotif`\\nSkeleton: header-only `<div class=\\\"gra-tabs\\\"><a class=\\\"gra-tab iconText textNotif active\\\"><i class=\\\"icon-files\\\"></i>Label<span class=\\\"gra-badge danger\\\">1</span></a></div>`; content `<div class=\\\"gra-tab-container\\\" id=\\\"tabs1\\\"><div class=\\\"gra-tabs\\\"><a class=\\\"gra-tab\\\" data-gra-tab=\\\"tab1\\\">...</a></div><div id=\\\"tabs1-tab1\\\" class=\\\"tab-content\\\">...</div></div>`\\nRules: content tabs need `data-gra-tab` on the trigger and a matching pane id `${containerId}-${data-gra-tab}`; JS adds active state to the selected trigger and pane.\\n\\n## Table\\n\\nBase: `gra-table-wrapper > table.gra-table`\\nModifiers: `responsive-vertical`, `sortable`, `numeric`, `asc`, `desc`\\nSkeleton: `<div class=\\\"gra-table-wrapper\\\"><table class=\\\"gra-table responsive-vertical\\\" id=\\\"tableId\\\"><thead><tr><th class=\\\"sortable numeric asc\\\">...</th></tr></thead><tbody><tr><td data-header=\\\"Header\\\"><span class=\\\"withIcon\\\">...</span></td><td class=\\\"numericValue\\\">...</td><td class=\\\"options\\\">...</td></tr></tbody></table></div>`\\nRules: vertical responsive mode requires `data-header` on each data cell; sortable columns mark the `<th>` directly; options/actions live in a terminal `.options` cell; status pills inside cells reuse `gra-tag`.\\n\\n## Tag\\n\\nBase: `gra-tag`, companion `gra-badge`\\nModifiers: style `primary`, `secondary`; tone `alert`, `info`, `danger`, `success`; optional `withIcon`\\nSkeleton: `<span class=\\\"gra-tag primary alert\\\">Alerta</span>` or `<div class=\\\"gra-tag secondary success withIcon\\\"><i class=\\\"icon-circle-success\\\"></i><span>Sucesso</span></div>` or `<span class=\\\"gra-badge danger\\\">1</span>`\\nRules: choose one style modifier and one tone modifier; `withIcon` requires icon plus text children; badges are standalone count markers, not tabular tags.\\n\\n## Tooltip\\n\\nBase: `gra-tooltip`\\nModifiers: `.tooltiptext` position classes `topCenter`, `topLeft`, `topRight`, `bottomCenter`, `bottomLeft`, `bottomRight`, `left`, `right`\\nSkeleton: `<span class=\\\"gra-tooltip\\\"><span class=\\\"tooltiptext topCenter\\\">Lorem ipsum</span><b>trigger</b></span>`\\nRules: tooltip content lives in `.tooltiptext`; position is chosen by exactly one modifier on that node.\\n\\n## Wizard\\n\\nBase: `gra-wizard-container`\\nModifiers: `wizard-vertical`; step states `active`, `completed`, `disabled`, `error`; line states `active-green`, `active-line`, `error`; optional label helpers `withLabelBottom`, `withDesc`\\nSkeleton: `<div class=\\\"gra-wizard-container\\\"><div class=\\\"steps-indicator\\\"><div class=\\\"withLabelBottom\\\"><div class=\\\"step active\\\" data-step=\\\"0\\\"><span>1</span></div><div class=\\\"withDesc\\\">Lorem</div></div><div class=\\\"line active-line\\\"></div>...</div><form class=\\\"wizard-form\\\"><div class=\\\"wizard-step active\\\" data-step=\\\"0\\\">...</div>...</form></div>`\\nRules: indicator order and `.wizard-step[data-step]` order must match; button hooks are `.nextStep` and `.prevStep`; form-based wizards use `.wizard-form`, info-only flows may use `.wizard-steps-content`; required validation relies on `input.required-field` inside the active step.\\n\";\n\nconst DESIGN_SYSTEM_CONTRACT = [\n  DESIGN_SYSTEM_FOUNDATIONS_MD,\n  DESIGN_SYSTEM_LAYOUT_GUIDELINES_MD,\n  DESIGN_SYSTEM_COMPONENT_API_MD,\n].join(\"\\n\\n\");\n\nasync function getTextBinary(itemIndex, item, propertyName, expectedFileName) {\n  const binary = item.binary?.[propertyName];\n  if (!binary) {\n    throw new Error(`Missing binary property '${propertyName}'.`);\n  }\n\n  const buffer = await this.helpers.getBinaryDataBuffer(itemIndex, propertyName);\n  return {\n    fileName: binary.fileName || expectedFileName,\n    content: buffer.toString(\"utf8\").trim(),\n  };\n}\n\nconst items = $input.all();\nreturn await Promise.all(items.map(async (item, itemIndex) => {\n  const requirements = await getTextBinary.call(this, itemIndex, item, \"requirements\", \"requirements.md\");\n  if (!requirements.content) {\n    throw new Error(\"Requirements content is empty.\");\n  }\n\n  const userPrompt = [\n    `Approved requirements file: ${requirements.fileName}`,\n    \"Requirements specification:\",\n    requirements.content,\n    \"Design System Contract\",\n    DESIGN_SYSTEM_CONTRACT,\n  ].join(\"\\n\");\n\n  return {\n    json: {\n      ...item.json,\n      userPrompt,\n      designSystemContract: DESIGN_SYSTEM_CONTRACT,\n    },\n    ...(item.binary && Object.keys(item.binary).length ? { binary: item.binary } : {}),\n  };\n}));\n"
      },
      "id": "a9908263-0aa7-4cef-85ce-c1223c9686e2",
      "name": "DESIGN - Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst DESIGN_SYSTEM_FOUNDATIONS_MD = \"# Design Foundations Contract\\n\\n## Themes\\n\\n- Default theme tokens live in `:root`.\\n- Alternate theme: `body.theme-marca-servicos` overrides the blue and gray scales and inherits the remaining default tokens.\\n- Dark mode is applied with `body.dark-mode`; most dark-mode changes are component overrides, not a second root token file.\\n\\n## Color Tokens\\n\\n- Blue: `--color_blue_100 = #F5F9FB`, `--color_blue_200 = #E1ECF2`, `--color_blue_300 = #B0CCDD`, `--color_blue_400 = #74A6C4`, `--color_blue_500 = #3980AA`, `--color_blue_600 = #327196`, `--color_blue_700 = #2C6485`, `--color_blue_800 = #25536F`, `--color_blue_900 = #173344`\\n- Electric: `--color_electric_100 = #ECFEFF`, `--color_electric_200 = #D4FCFF`, `--color_electric_300 = #BDF9FF`, `--color_electric_400 = #8EF4FF`, `--color_electric_500 = #76F2FF`, `--color_electric_600 = #75F2FF`, `--color_electric_700 = #5DEFFF`, `--color_electric_800 = #33EBFF`, `--color_electric_900 = #00E6FF`\\n- Lime: `--color_lime_100 = #F7F8F3`, `--color_lime_200 = #E8EBDC`, `--color_lime_300 = #C3CAA1`, `--color_lime_400 = #95A35B`, `--color_lime_500 = #687B14`, `--color_lime_600 = #5C6C12`, `--color_lime_700 = #516010`, `--color_lime_800 = #44500D`, `--color_lime_900 = #2A3108`\\n- Yellow: `--color_yellow_100 = #FFFCF3`, `--color_yellow_200 = #FFF6DA`, `--color_yellow_300 = #FFE69C`, `--color_yellow_400 = #FFD451`, `--color_yellow_500 = #FFC107`, `--color_yellow_600 = #E0AA06`, `--color_yellow_700 = #C79705`, `--color_yellow_800 = #A67D05`, `--color_yellow_900 = #664D03`\\n- Gray: `--color_gray_100 = #F7F7F7`, `--color_gray_200 = #E8E8E8`, `--color_gray_300 = #C2C2C2`, `--color_gray_400 = #949494`, `--color_gray_500 = #666666`, `--color_gray_600 = #5A5A5A`, `--color_gray_700 = #505050`, `--color_gray_800 = #424242`, `--color_gray_900 = #292929`\\n- Semantic / neutrals: `--color_white = #FFFFFF`, `--color_black = #000000`, `--color_alert_200 = #FCF5DE`, `--color_alert_400 = #F7CA64`, `--color_alert_600 = #FFCF27`, `--color_error_200 = #FFE8E3`, `--color_error_400 = #FF927B`, `--color_error_600 = #A0291A`, `--color_info_200 = #E5EEF6`, `--color_info_400 = #195893`, `--color_info_600 = #103960`, `--color_success_200 = #E5F0E0`, `--color_success_400 = #346122`, `--color_success_600 = #294C1B`, `--color_contour = #FFCB2D`\\n- Utility families mirror token names exactly: `gra-background-*`, `gra-text-*`, `gra-border-*`; special aliases also exist for `...-white`, `...-black`, and `...-contour`.\\n\\n## Alternate Theme Overrides\\n\\n- `body.theme-marca-servicos` blue scale: `--color_blue_100 = #EFF6FF`, `--color_blue_200 = #D7E6FB`, `--color_blue_300 = #B1CBF1`, `--color_blue_400 = #A7C6F2`, `--color_blue_500 = #8FB6EE`, `--color_blue_600 = #78A7EA`, `--color_blue_700 = #6097E6`, `--color_blue_800 = #3077DD`, `--color_blue_900 = #0057D5`\\n- `body.theme-marca-servicos` gray scale: `--color_gray_100 = #F7F7F7`, `--color_gray_200 = #E8E8E8`, `--color_gray_300 = #919090`, `--color_gray_400 = #6D6B6B`, `--color_gray_500 = #4D4C4C`, `--color_gray_600 = #303030`, `--color_gray_700 = #212121`, `--color_gray_800 = #171717`, `--color_gray_900 = #000000`\\n\\n## Typography\\n\\n- Base font family: `Lato`\\n- Icon font family: `gra`\\n- Size scale: `gra-font-xs = 12/100%`, `gra-font-s = 14/100%`, `gra-font-m = 16/24`, `gra-font-l = 18/24`, `gra-font-xl = 24/28.8`, `gra-font-2xl = 32/100%`, `gra-font-3xl = 40/100%`, `gra-font-4xl = 48/100%`, `gra-font-5xl = 56/100%`, `gra-font-6xl = 80/100%`\\n- Weight / decoration utilities: `gra-font-light`, `gra-font-bold`, `gra-font-underline`\\n- Shared small-text aliases use the same sizing as `gra-font-xs`: `graCounterWords`, `graInfoField`, `graRequiredFieldGroup`, `graRequiredField`\\n\\n## Spacing Scale\\n\\n- Scale values: `0 = 0`, `5xs = 2px`, `4xs = 4px`, `3xs = 8px`, `2xs = 12px`, `xs = 16px`, `s = 24px`, `m = 32px`, `l = 40px`, `xl = 48px`, `2xl = 56px`, `3xl = 64px`, `4xl = 72px`, `5xl = 80px`, `6xl = 96px`, `7xl = 120px`\\n- Margin generators: `gra-margin-*`, `gra-margin-x-*`, `gra-margin-y-*`, `gra-margin-top-*`, `gra-margin-right-*`, `gra-margin-bottom-*`, `gra-margin-left-*`\\n- Padding generators: `gra-padding-*`, `gra-padding-x-*`, `gra-padding-y-*`, `gra-padding-top-*`, `gra-padding-right-*`, `gra-padding-bottom-*`, `gra-padding-left-*`\\n\\n## Radius Scale\\n\\n- `gra-rounded-s = 4px`\\n- `gra-rounded-m = 8px`\\n- `gra-rounded-l = 12px`\\n- `gra-rounded-xl = 16px`\\n- `gra-rounded-xxl = 32px`\\n\\n## Shadow Scale\\n\\n- Box shadows: `gra-box-shadow-xs = 0 1px 2px #0c494f1a`, `gra-box-shadow-s = 0 2px 4px #0c494f1a`, `gra-box-shadow-m = 0 4px 6px #0c494f1a`, `gra-box-shadow-l = 0 6px 8px #0c494f1a`, `gra-box-shadow-xl = 0 8px 10px #0c494f1a`, `gra-box-shadow-xxl = 0 4px 40px #0c494f1a`\\n- Text shadows: `gra-text-shadow-xs = 0px 1px 2px rgba(12,73,79,.1)`, `gra-text-shadow-s = 0px 2px 4px rgba(12,73,79,.1)`, `gra-text-shadow-m = 0px 4px 6px rgba(12,73,79,.1)`, `gra-text-shadow-l = 0px 6px 8px rgba(12,73,79,.1)`, `gra-text-shadow-xl = 0px 8px 10px rgba(12,73,79,.1)`, `gra-text-shadow-xxl = 0px 4px 40px rgba(12,73,79,.1)`\\n\\n## Divider Token Groups\\n\\n- Horizontal dark: `gra-hr-horizontal-dark-s`, `gra-hr-horizontal-dark-m`, `gra-hr-horizontal-dark-l`, `gra-hr-horizontal-dark-xl`\\n- Horizontal light: `gra-hr-horizontal-light-s`, `gra-hr-horizontal-light-m`, `gra-hr-horizontal-light-l`, `gra-hr-horizontal-light-xl`\\n- Vertical dark: `gra-hr-vertical-dark-s`, `gra-hr-vertical-dark-m`, `gra-hr-vertical-dark-l`, `gra-hr-vertical-dark-xl`\\n- Vertical light: `gra-hr-vertical-light-s`, `gra-hr-vertical-light-m`, `gra-hr-vertical-light-l`, `gra-hr-vertical-light-xl`\\n\\n## Utility Tokens\\n\\n- Width / height / position: `gra-width-100`, `gra-height-100`, `gra-pos-relative`\\n- Display / alignment helpers used by components: `gra-d-block`, `gra-d-none`, `gra-d-flex`, `gra-d-flex-center`, `gra-flex-row`, `gra-flex-grow`, `gra-text-start`, `gra-text-center`, `gra-text-end`\\n\\n## Iconography\\n\\n- Icon API is one class per glyph on the `gra` icon font.\\n- Glyph classes: `icon-accessibility`, `icon-app`, `icon-archive`, `icon-arrow-circle-down`, `icon-arrow-circle-left`, `icon-arrow-circle-right`, `icon-arrow-circle-up`, `icon-arrow-down`, `icon-arrow-down-left-underline`, `icon-arrow-left`, `icon-arrow-right`, `icon-arrow-up`, `icon-arrow-up-left-underline`, `icon-bar-chart`, `icon-bell`, `icon-bell-full`, `icon-bell-notification`, `icon-boat`, `icon-book`, `icon-building`, `icon-bus`, `icon-calculator`, `icon-calculator-bracket-close`, `icon-calculator-bracket-open`, `icon-calculator-divide`, `icon-calculator-equal`, `icon-calculator-greater-or-equal`, `icon-calculator-less-or-equal`, `icon-calculator-minus`, `icon-calculator-parenthesis-close`, `icon-calculator-parenthesis-open`, `icon-calculator-plus`, `icon-calculator-semicolon`, `icon-calculator-times`, `icon-calendar`, `icon-camera`, `icon-camera-slash`, `icon-car`, `icon-card-solid`, `icon-cards`, `icon-cart`, `icon-chat-message`, `icon-chat-reply`, `icon-chat-typing`, `icon-chevron-down`, `icon-chevron-down-small`, `icon-chevron-left`, `icon-chevron-left-small`, `icon-chevron-right`, `icon-chevron-up`, `icon-cidadao`, `icon-circle`, `icon-circle-add`, `icon-circle-add-solid`, `icon-circle-arrow-down-left-solid`, `icon-circle-arrow-up-right-solid`, `icon-circle-check-solid`, `icon-circle-danger`, `icon-circle-dot`, `icon-circle-empty`, `icon-circle-info`, `icon-circle-info-solid`, `icon-circle-minus`, `icon-circle-minus-solid`, `icon-circle-success`, `icon-circle-times-solid`, `icon-clock`, `icon-close`, `icon-danger-solid`, `icon-delete`, `icon-divide`, `icon-download`, `icon-drop`, `icon-duplicate`, `icon-edit`, `icon-ellipsis-v`, `icon-euro`, `icon-expand`, `icon-eye`, `icon-eye-slash`, `icon-facebook`, `icon-favorite`, `icon-file`, `icon-file-download`, `icon-file-excel`, `icon-file-pdf`, `icon-file-upload`, `icon-files`, `icon-filter`, `icon-folder`, `icon-folder-add`, `icon-folder-remove`, `icon-google`, `icon-gra-icon`, `icon-headphone`, `icon-help`, `icon-hiperlink`, `icon-home`, `icon-image`, `icon-image-add`, `icon-image-download`, `icon-iniciativa`, `icon-instagram`, `icon-level-down`, `icon-level-up`, `icon-linear`, `icon-link`, `icon-linkedin`, `icon-list`, `icon-list-solid`, `icon-lock`, `icon-lock-slash`, `icon-login`, `icon-logout`, `icon-massa`, `icon-menu`, `icon-message`, `icon-message-search`, `icon-message-unread`, `icon-microphone`, `icon-microphone-slash`, `icon-moon`, `icon-more`, `icon-music`, `icon-news`, `icon-nome-steps`, `icon-order-down`, `icon-order-up`, `icon-paperclip`, `icon-percent`, `icon-phone`, `icon-pin`, `icon-pointer-down`, `icon-pointer-left`, `icon-pointer-right`, `icon-pointer-up`, `icon-primary`, `icon-primary-accessibility`, `icon-primary-deactivated`, `icon-primary-error`, `icon-print`, `icon-radio`, `icon-radiobutton`, `icon-ramificao`, `icon-refresh`, `icon-return`, `icon-right`, `icon-rotate-right`, `icon-save`, `icon-scale`, `icon-search`, `icon-search-solid`, `icon-secondary`, `icon-secondary-deactivated`, `icon-secondary-error`, `icon-settings`, `icon-share`, `icon-sitemap`, `icon-small-arrow-left`, `icon-small-arrow-up`, `icon-sort`, `icon-square-empty`, `icon-star`, `icon-star-half-solid`, `icon-star-solid`, `icon-stats`, `icon-student`, `icon-sun`, `icon-tag`, `icon-task`, `icon-task-notification`, `icon-thumbs-down`, `icon-thumbs-up`, `icon-times`, `icon-trash`, `icon-truck`, `icon-tumblr`, `icon-upload`, `icon-user`, `icon-users`, `icon-video`, `icon-volume`, `icon-volume-slash`, `icon-wallet`, `icon-warning`, `icon-word-file`, `icon-x-twitter`, `icon-youtube`, `icon-zoom-in`, `icon-zoom-out`\\n\";\nconst DESIGN_SYSTEM_LAYOUT_GUIDELINES_MD = \"# Layout Guidelines Contract\\n\\n## Global Conventions\\n\\n- Primary page shell pattern in examples: `body.pageContent gra-padding-bottom-7xl` or `body.gra-padding-bottom-7xl`, then `main.gra-container.gra-padding-top-l`.\\n- Theme/state classes are applied on `body`: `theme-marca-servicos`, `dark-mode`, `templateDetailsBackoffice`.\\n- Interactive components rely on stable DOM hooks in addition to classes. Preserve data attributes such as `data-id-popup`, `data-gra-tab`, `data-element-id`, `data-items-per-page`, `data-is-external-content`, `data-progress-default`, `data-format-date`, `data-nav`, and `data-step`.\\n- Shared semantic state classes recur across components: `disabled`, `error`, `readonly`, `active`, `neutral`, `new`, `open`, `backoffice`, `header-primary`.\\n\\n## Container System\\n\\n- `gra-container`: primary content container; constrained width with centered layout.\\n- `gra-container-bo`: full-width backoffice container with horizontal padding and overflow clipping.\\n- `gra-container-fluid`: full-width general container with horizontal padding.\\n- `gra-container.withSideMenu`: wider page-content variant used beside sticky side navigation.\\n- `templateDetailsBackoffice .gra-container`: special content-width rule for backoffice detail layouts.\\n- Responsive convention: container padding tightens on smaller screens; use the provided container classes instead of hard-coded wrapper widths.\\n\\n## Grid System\\n\\n- Grid row base: `gra-row-bs`\\n- Column base: `gra-col-bs`\\n- Breakpoint column families: `gra-col-bs-sm-*`, `gra-col-bs-md-*`, `gra-col-bs-ld-*`, `gra-col-bs-xl-*`\\n- Breakpoint names: `sm`, `md`, `ld`, `xl`\\n- Numbering convention is inverse of typical 12-column naming. `gra-col-bs-*-1` is full width, `...-2` is half width, `...-3` is one third, continuing until `...-12` which is one twelfth.\\n- Column utilities are additive. Typical usage is `gra-col-bs` plus one or more breakpoint-specific column classes.\\n\\n## Spacing Rules\\n\\n- Use the shared spacing scale from the foundations contract through utility generators, not component-specific margin overrides.\\n- Section rhythm in demos is built with `gra-margin-top-xl`, `gra-margin-bottom-l|m|s`, `gra-margin-y-l`, and container padding utilities like `gra-padding-top-l`.\\n- Axis and edge utilities are first-class. Prefer `gra-margin-x-*`, `gra-margin-y-*`, `gra-padding-left-*`, `gra-padding-bottom-*`, and similar directional classes when layout needs asymmetry.\\n- Component internals often rely on spacing helpers inline with semantic classes. Keep both when reproducing structures.\\n\\n## Structural Composition Rules\\n\\n- Desktop/mobile component pairs are explicit markup variants, not the same DOM reshaped by CSS. Preserve paired structures for `gra-desktop-header`/`gra-mobile-header`, notification counters, pagination result summaries, and carousel layouts when present.\\n- Nested menus and recursive navigation are rendered as literal nested lists. Do not flatten `menu`, `menu-mobile`, `submenu_1`, `submenu_2`, `subUl`, or `withSub` structures.\\n- Form compositions are wrapper-driven: grouped fields use `gra-input-group`, OTP uses `gra-input-group-code`, search uses `gra-search-container`, date pickers use `gra-daterangepicker-container`, dropdowns use `gra-select`, and popups/filter panels nest full form layouts inside their content shells.\\n- Cards, lists, notifications, and tables use repeated child-slot naming like `title`, `details`, `text`, `actions`, `description`, `dateTime`, `options`. These slots are part of the component contract.\\n- Where helper copy exists, it is rendered as sibling nodes after the control: `graRequiredField`, `graRequiredFieldGroup`, `graInfoField`, `graCounterWords`.\\n\\n## Utility Layout Helpers\\n\\n- Display helpers used by components: `gra-d-block`, `gra-d-none`, `gra-d-flex`, `gra-d-flex-center`\\n- Flex helpers used by components: `gra-flex-row`, `gra-flex-grow`\\n- Text alignment helpers: `gra-text-start`, `gra-text-center`, `gra-text-end`\\n- Size/position helpers: `gra-width-100`, `gra-height-100`, `gra-pos-relative`\\n\\n## Responsive Conventions\\n\\n- Breakpoint names only: `sm`, `md`, `ld`, `xl`\\n- Many components also expose semantic mobile/desktop variants without a class scale: `desktop`, `mobile`, `resultsMobile`, `menu_mobile`, `gra-mobile-header`, `gra-desktop-header`, `carousel-mobile`\\n- Use component-provided mobile variants where they exist instead of inventing alternate wrappers.\\n\\n## Restrictions\\n\\n- Keep class names exact. Many hooks are consumed by bundled behavior in `assets/main.js`.\\n- Do not rename generated utility families, even when they appear redundant with generic framework classes.\\n- Preserve indicator order where JS maps items by index: wizard steps/lines, carousel nav cards, pagination controls, sortable table headers, notification shells, popup triggers.\\n\";\nconst DESIGN_SYSTEM_COMPONENT_API_MD = \"# Component API Contract\\n\\n## Accordion\\n\\nBase: `gra-accordion`\\nModifiers: `alwaysClose`, `alwaysOpen`\\nSkeleton: `<div class=\\\"gra-accordion alwaysClose\\\"><div class=\\\"accordion-item\\\"><button class=\\\"accordion-header\\\" aria-expanded=\\\"false\\\">Label</button><div class=\\\"accordion-body\\\">...</div></div></div>`\\nRules: children are `accordion-item`, `accordion-header`, `accordion-body`; initial open state uses `aria-expanded=\\\"true\\\"`; icon version places an `icon-*` before the label inside the header.\\n\\n## Avatar\\n\\nBase: `graAvatarWithFoto`, `graAvatarWithoutFoto`, `graAvatarWithText`\\nModifiers: none beyond content type\\nSkeleton: `<div class=\\\"graAvatarWithFoto\\\"><img class=\\\"graAvatarFoto\\\" ...></div>`, `<div class=\\\"graAvatarWithoutFoto\\\"><i class=\\\"icon-user graAvatarLogo\\\"></i></div>`, `<div class=\\\"graAvatarWithText\\\">AA</div>`\\nRules: choose exactly one avatar base per instance; photo variant requires `graAvatarFoto`; empty/user variant requires `graAvatarLogo`.\\n\\n## Breadcrumb\\n\\nBase: `gra-breadcrumb`\\nModifiers: `graBcSelected`, `accessibility`\\nSkeleton: `<div class=\\\"gra-breadcrumb\\\"><a class=\\\"bc\\\">Step</a><i class=\\\"icon-chevron-right\\\"></i><span class=\\\"bc graBcSelected\\\">Current</span></div>`\\nRules: every crumb item uses `bc`; separators are explicit icon nodes; `graBcSelected` marks the terminal crumb; `accessibility` is applied directly on each crumb node.\\n\\n## Buttons\\n\\nBase: text buttons `gra-btn`, icon buttons `icon`, inline action links `gra-link`\\nModifiers: `btn-primary`, `btn-primary-accessibility`, `btn-primary-deactivated`, `btn-primary-error`, `btn-secondary`, `btn-secondary-deactivated`, `btn-secondary-error`, `icon-primary`, `icon-primary-accessibility`, `icon-primary-deactivated`, `icon-primary-error`, `icon-secondary`, `icon-secondary-deactivated`, `icon-secondary-error`, shared states `disabled`, `error`, icon placement helpers `iconLeft`, `iconRight`\\nSkeleton: `<button class=\\\"gra-btn btn-primary\\\"><i class=\\\"icon-* iconLeft\\\"></i>Label<i class=\\\"icon-* iconRight\\\"></i></button>` or `<button class=\\\"icon icon-primary\\\"><i class=\\\"icon-*\\\"></i></button>` or `<a class=\\\"gra-link\\\">Label</a>`\\nRules: pair `disabled` with the corresponding deactivated modifier; link-style actions use `gra-link` instead of `gra-btn`; icon placement is additive, not a separate button variant.\\n\\n## Cards\\n\\nBase: `gra-card-informative`, `gra-card-feedback`, `gra-card-text`, `gra-card-dashboard`\\nModifiers: informative cards `card-horizontal`, `card-vertical`, `card-s`, `card-m`, `disabled`, `neutral`; feedback cards `card-horizontal`, `card-vertical`, `danger`, `info`, `alert`, `success`; text cards `disabled`, `neutral`; dashboard icons `error`, `info`, `alert`, `success`\\nSkeleton: informative `<div class=\\\"gra-card-informative card-horizontal card-m\\\"><div class=\\\"image\\\">...</div><div class=\\\"details\\\"><div class=\\\"title\\\">...</div><div class=\\\"badges\\\">...</div><div class=\\\"text\\\">...</div><div class=\\\"actions\\\">...</div></div></div>`; feedback `<div class=\\\"gra-card-feedback card-vertical success\\\"><div class=\\\"details\\\"><div class=\\\"title\\\"><span>...</span><i class=\\\"icon-close card-feedback-close\\\"></i></div>...</div></div>`; text `<div class=\\\"gra-card-text\\\"><div class=\\\"picture\\\"><i class=\\\"icon-*\\\"></i></div><div class=\\\"details\\\">...</div></div>`; dashboard `<div class=\\\"gra-card-dashboard\\\"><div class=\\\"title\\\"><span>...</span><div class=\\\"dashboard-icon info\\\"><i class=\\\"icon-*\\\"></i></div></div><div class=\\\"value\\\">...</div></div>`\\nRules: informative cards optionally include `actions`; feedback cards keep close control inside `title`; dashboard cards use exactly one `dashboard-icon` tone modifier.\\n\\n## Checkbox\\n\\nBase: `form-check`\\nModifiers: `form-check-input-error`, `form-check-accessibility`, `indeterminate-checkbox`\\nSkeleton: `<div class=\\\"form-check\\\"><input class=\\\"form-check-input\\\" type=\\\"checkbox\\\" id=\\\"x\\\"><label class=\\\"form-check-label\\\" for=\\\"x\\\">Label</label></div>`\\nRules: checkbox structure is always input plus label; error styling is on the input; accessibility variant wraps the control with `form-check-accessibility`; state still comes from native `checked` and `disabled`.\\n\\n## Cookies\\n\\nBase: `gra-cookies-consent`\\nModifiers: none\\nSkeleton: `<div class=\\\"gra-cookies-consent\\\"><div class=\\\"text\\\"><p>...</p></div><div class=\\\"actions\\\"><button class=\\\"gra-btn btn-secondary\\\">...</button><button class=\\\"gra-btn btn-primary\\\">...</button></div></div>`\\nRules: consent copy lives in `.text`; action area is `.actions`; examples use secondary configuration plus primary accept action.\\n\\n## Date Picker\\n\\nBase: wrapper `gra-daterangepicker-container`, input `daterangepickerInput`\\nModifiers: `rangeDatePicker`, `simpleDatePicker`, `required-field`, `disabled`, `readonly`, `form-error`, `form-accessibility`\\nSkeleton: `<div class=\\\"gra-daterangepicker-container\\\"><input class=\\\"form form-control daterangepickerInput simpleDatePicker\\\" data-format-date=\\\"YYYY-MM-DD\\\"></div>`\\nRules: choose exactly one picker mode per input, `rangeDatePicker` or `simpleDatePicker`; labels may add `required-label`; informational/error copy uses `graInfoField` or `graRequiredField`; date format is configured with `data-format-date`.\\n\\n## Divider\\n\\nBase: divider utility class only\\nModifiers: `gra-hr-horizontal-dark-s|m|l|xl`, `gra-hr-horizontal-light-s|m|l|xl`, `gra-hr-vertical-dark-s|m|l|xl`, `gra-hr-vertical-light-s|m|l|xl`\\nSkeleton: `<hr class=\\\"gra-hr-horizontal-dark-s\\\">` or `<div class=\\\"gra-hr-vertical-light-m\\\"></div>`\\nRules: divider is standalone; pick exactly one orientation plus one tone/size token.\\n\\n## Dropdown\\n\\nBase: single select `gra-select gra-simple-select form-select`, multi select `gra-select gra-multiple-select form-select`\\nModifiers: single select `required-field`, `disabled`, `form-accessibility`, `with-search`; multi select `with-checkbox`, `with-radiobox`\\nSkeleton: `<select class=\\\"gra-select gra-simple-select form-select\\\"><option>Selecione</option></select>` or `<select class=\\\"gra-select gra-multiple-select with-checkbox form-select\\\" multiple>...</select>`\\nRules: keep native `<select>` markup; JS enhances `gra-select`; readonly single-select is represented as disabled in examples; validation and helper copy use the same `required-label`, `graRequiredField`, `graInfoField` conventions as text inputs.\\n\\n## Feedback Messages\\n\\nBase: `gra-feedback-msg`\\nModifiers: `error`, `info`, `success`, `alert`\\nSkeleton: `<div class=\\\"gra-feedback-msg error\\\"><span class=\\\"text\\\">...</span><span class=\\\"closeIcon\\\"></span></div>`\\nRules: every message contains `.text` and `.closeIcon`; tone is exclusive.\\n\\n## File Upload\\n\\nBase: `gra-upload-files`\\nModifiers: popup companion `filesUploaded`\\nSkeleton: `<div class=\\\"gra-upload-files\\\" id=\\\"fUpload1\\\"><div class=\\\"fuTop\\\">...</div><div class=\\\"dropContainer\\\" data-id-upload=\\\"fUpload1\\\"><div class=\\\"dropContainerContent\\\"><a class=\\\"gra-link ...\\\">...</a><input class=\\\"fileInput\\\" type=\\\"file\\\"></div></div><div class=\\\"fuBottom\\\"></div></div>`\\nRules: upload shell uses `fuTop`, `dropContainer`, `dropContainerContent`, `fileInput`, `fuBottom`; file constraints use input data attrs like `data-max-files` and `data-max-size`; uploaded-file list is rendered in a standard `gra-popup.filesUploaded`.\\n\\n## Filters\\n\\nBase: `gra-filter`\\nModifiers: `open`, `inlineFilter`\\nSkeleton: `<div class=\\\"gra-filter\\\"><div class=\\\"gra-filter-content\\\"><div class=\\\"gra-filter-input\\\"><input class=\\\"gra-input-filter\\\"><div class=\\\"suggestions\\\"></div><a class=\\\"gra-link openFilter\\\">...</a><a class=\\\"gra-link closeFilter\\\">...</a><button class=\\\"gra-btn btn-primary searchBtn\\\">...</button></div></div><div class=\\\"gra-filter-box\\\"><form class=\\\"gra-form-filter\\\">...</form><div class=\\\"actions\\\"><a class=\\\"gra-link clearFilter\\\">...</a><button class=\\\"gra-btn btn-primary submitFilter\\\">...</button></div></div></div>`\\nRules: filter trigger bar and filter panel are separate siblings; `.gra-filter-box` is the collapsible content; counter badges use `countFilters`, `countFiltersMobile`, `gra-badge error`; inline variant keeps the trigger row inside the layout instead of using a search field as the lead element.\\n\\n## Footer\\n\\nBase: `gra-footer-backoffice`, `gra-footer-opt-1`, `gra-footer-opt-2`, `gra-footer-opt-3`\\nModifiers: companion `gra-back-to-top`\\nSkeleton: `<div class=\\\"gra-back-to-top gra-container\\\"><button class=\\\"icon icon-primary backToTop\\\">...</button></div><div class=\\\"gra-footer-opt-1\\\"><div class=\\\"footer-row first-row\\\"><div class=\\\"footer-content gra-container\\\">...</div></div>...</div>`\\nRules: footer variants are separate root classes, not mixins; shared child patterns include `footer-row`, `footer-content`, `logo-description`, `gra-logos`, `logosLeft`, `links`, `columnFooter`, `contactsContent`, `contacts`, `iconContent`, `socialIcons`, `socialIcon`; back-to-top is rendered as a sibling block.\\n\\n## Header\\n\\nBase: desktop `gra-desktop-header`, mobile `gra-mobile-header`\\nModifiers: `large`, `notFixed`, `header-primary`, `backoffice`\\nSkeleton: desktop `<div class=\\\"gra-desktop-header large notFixed\\\"><div class=\\\"header-content gra-container\\\"><a class=\\\"logo_a\\\">...</a><div class=\\\"menus_desktop\\\"><ul class=\\\"menu\\\"><li class=\\\"menu-first-level\\\">...</li></ul></div></div></div>`; mobile `<div class=\\\"gra-mobile-header notFixed\\\"><div class=\\\"mobile-header\\\">...</div><div class=\\\"menu_mobile display-all-menu\\\"><div class=\\\"display-menu\\\"><ul class=\\\"menu-mobile\\\">...</ul></div></div></div>`\\nRules: desktop and mobile markup are separate; nested navigation uses literal nested `<ul>` trees plus `withChilds`, `withSubmenu`, `submenu_1`, `submenu_2`, `back-option`; optional action areas include search, theme toggle, notification badge, settings, avatar, credentials, logout; `header-primary` and `backoffice` are theme/layout modifiers on the root header block.\\n\\n## Homepage Carousel\\n\\nBase: `gra-carousel-homepage`\\nModifiers: `data-nav=\\\"true\\\"`, inner carousel modifiers `onlyImg`, `with-filter`\\nSkeleton: `<div class=\\\"gra-carousel-homepage\\\" data-nav=\\\"true\\\"><div class=\\\"owl-carousel onlyImg|with-filter\\\"><div class=\\\"item\\\">...</div></div><div class=\\\"custom-nav\\\"><div class=\\\"nav-card gra-background-blue-900\\\" data-slide=\\\"0\\\">...</div></div><div class=\\\"carousel-message\\\"><div class=\\\"contentText\\\">...</div></div></div>`\\nRules: slide body may be image-only, image plus `.text-content`, or image plus overlay `.content`; nav cards are separate from Owl items and use `data-slide`; option 3 embeds a full `gra-filter` inside `contentFilter`.\\n\\n## Images Carousel\\n\\nBase: `gra-carousel-container`\\nModifiers: `carousel-l`, `carousel-m`, `carousel-s`, `carousel-mobile`\\nSkeleton: `<div class=\\\"gra-carousel-container carousel-l\\\"><div class=\\\"active-image\\\"><img ...></div><div class=\\\"carousel-navigation\\\"><div class=\\\"nav-left\\\"><button class=\\\"icon icon-secondary owl-nav left-nav\\\">...</button></div><div id=\\\"image-carousel\\\" class=\\\"owl-carousel\\\"><div class=\\\"item\\\"><img ...></div></div><div class=\\\"nav-right\\\"><button class=\\\"icon icon-secondary owl-nav right-nav\\\">...</button></div></div></div>`\\nRules: every carousel has one active image area plus one thumbnail track; controls are explicit left/right button wrappers; size is selected by exactly one root modifier.\\n\\n## Inputs\\n\\nBase: field controls `form form-control`\\nModifiers: `required-label`, `required-field`, `required-field-group`, `form-error`, `gra-counter-field`, `gra-phone-number`, `input-code`, `gra-password`, state classes `disabled`, `readonly`, `error`\\nSkeleton: text `<label>...</label><input class=\\\"form form-control\\\">`; textarea `<textarea class=\\\"form form-control\\\"></textarea>`; contact `<div class=\\\"gra-input-group\\\"><select class=\\\"gra-select gra-simple-select form-select\\\"></select><input class=\\\"form form-control gra-phone-number\\\"></div>`; code `<div class=\\\"gra-input-group-code gra-input-group\\\"><input class=\\\"form form-control input-code\\\" maxlength=\\\"1\\\">...</div>`; password `<div class=\\\"gra-password-container\\\"><input class=\\\"form form-control gra-password\\\" type=\\\"password\\\"></div>`\\nRules: helper copy uses `graRequiredField`, `graRequiredFieldGroup`, `graInfoField`, `graCounterWords`; grouped inputs put validation state on both select and field when required; OTP/code uses repeated one-character `input-code` fields.\\n\\n## Lists\\n\\nBase: `gra-list`\\nModifiers: none\\nSkeleton: `<div class=\\\"gra-list\\\"><div class=\\\"headerList\\\"><div class=\\\"title\\\">...</div><div class=\\\"status\\\">...</div></div><div class=\\\"bodyList\\\"><p>...</p></div></div>`\\nRules: header is split between title and optional status cluster; status cluster reuses `gra-status`.\\n\\n## Loader\\n\\nBase: `gra-spinner`\\nModifiers: `small`, `medium`, `large`, `xLarge`\\nSkeleton: `<div class=\\\"gra-spinner medium\\\"></div>`\\nRules: size is selected by one modifier; same spinner class is reused inside file upload and modal states.\\n\\n## Menu Backoffice\\n\\nBase: `gra-menuBackoffice`\\nModifiers: recursive item modifier `withSub`\\nSkeleton: `<div class=\\\"gra-menuBackoffice\\\"><div class=\\\"hamburgers\\\"><i class=\\\"icon-menu hamburgerBackoffice\\\"></i><i class=\\\"icon-times hamburgerBackoffice hamburger_close\\\"></i></div><ul class=\\\"scrollUl\\\"><li class=\\\"liOption\\\"><a>...</a></li><li class=\\\"withSub\\\"><div class=\\\"uldiv\\\"><div class=\\\"setinha liOption\\\"><div class=\\\"menuBckitem subitem\\\"><span class=\\\"spanoption\\\">...</span></div><i class=\\\"icon-chevron-down-small image-down\\\"></i></div></div><ul class=\\\"subUl\\\">...</ul></li></ul></div>`\\nRules: top-level items use `liOption`; badge counters are `count1` and `count2` with `gra-badge`; recursive submenus reuse the same `withSub > uldiv + subUl` pattern.\\n\\n## Notifications\\n\\nBase: item `gra-notification`, shell `gra-notifications-box`\\nModifiers: item `new`; shell `readOne`\\nSkeleton: item `<div class=\\\"gra-notification new\\\"><div class=\\\"titleNotif\\\">...</div><div class=\\\"description\\\">...</div><div class=\\\"dateTime\\\"><div class=\\\"date\\\">...</div><div class=\\\"time\\\">...</div></div></div>`; shell `<div class=\\\"gra-notifications-box\\\"><div class=\\\"maskNotif\\\"></div><div class=\\\"gra-notification-container\\\"><div class=\\\"header\\\">...</div>...</div></div>`\\nRules: item tone indicator is composed by nesting `gra-status secondary ...Icon` inside `titleNotif`; list shell includes `optionsClose`, `moreOptions`, `moreOptionsBox`, `option markRead`, `option deleteAll`, `close`; detail view is a separate `gra-notifications-box readOne` block with `goBack`.\\n\\n## Pagination\\n\\nBase: `gra-pagination`\\nModifiers: none\\nSkeleton: `<div class=\\\"gra-pagination\\\" data-is-external-content=\\\"false\\\" data-items-per-page=\\\"4\\\" data-element-id=\\\"tableId\\\"><div class=\\\"results\\\"><span class=\\\"fromIndex\\\"></span>...</div><div class=\\\"resultsMobile\\\">...</div><div class=\\\"navigation\\\"><button class=\\\"prev icon icon-secondary\\\">...</button><div class=\\\"page-numbers\\\"></div><button class=\\\"next icon icon-secondary\\\">...</button></div></div>`\\nRules: JS reads `data-is-external-content`, `data-items-per-page`, `data-element-id`, and optional `data-total-items`; desktop and mobile result counters are separate DOM nodes.\\n\\n## Popup\\n\\nBase: `gra-popup`\\nModifiers: `no-border`, `with-avatar`, `align-center`\\nSkeleton: `<div class=\\\"gra-popup\\\" id=\\\"popupId\\\"><div class=\\\"popupMask\\\"></div><div class=\\\"popupContainer\\\"><div class=\\\"popupHeader no-border\\\">...</div><div class=\\\"popupContent\\\">...</div><div class=\\\"popupFooter\\\"><div class=\\\"gra-hr-horizontal-dark-s gra-padding-bottom-xs\\\"></div><div>...</div></div></div></div>`\\nRules: open triggers use `.openPopup[data-id-popup]`; close controls use `.closePopup`; optional pieces are `.popupGradient`, `.popupImg`, avatar block in header, and arbitrary form content in `.popupContent`.\\n\\n## Progress Bar\\n\\nBase: `gra-progress-bar`\\nModifiers: `.error` on `progress-bar-container`\\nSkeleton: `<div class=\\\"gra-progress-bar\\\" data-progress-default=\\\"50\\\"><span class=\\\"progressPercentage\\\"></span><div class=\\\"progress-bar-container\\\"><div class=\\\"progress-bar\\\"></div></div><label>...</label><input class=\\\"form form-control progressInput\\\"></div>`\\nRules: percentage text and bar track are required; initial value is set by `data-progress-default`; the example input is a behavior demo hook, not required presentation chrome.\\n\\n## Radio Button\\n\\nBase: `form-check`\\nModifiers: `custom-radiobox`, `error`, `form-check-accessibility`, `radiobox`\\nSkeleton: `<div class=\\\"form-check\\\"><input class=\\\"form-check-input custom-radiobox\\\" type=\\\"radio\\\" id=\\\"x\\\"><label class=\\\"form-check-label\\\" for=\\\"x\\\">Label</label></div>`\\nRules: radio appearance depends on `custom-radiobox`; error state is applied to the input; accessibility variant keeps the same markup with an extra container modifier.\\n\\n## Search Input\\n\\nBase: `gra-search-container`\\nModifiers: `required-field`, `error`\\nSkeleton: `<label>...</label><div class=\\\"gra-search-container\\\"><input class=\\\"form form-control\\\" type=\\\"search\\\"></div>`\\nRules: search field still uses the generic `form form-control` input; required and info/error messaging reuse `required-label`, `graRequiredField`, and `graInfoField`.\\n\\n## Star Validation\\n\\nBase: `gra-rate`\\nModifiers: `half`\\nSkeleton: `<fieldset class=\\\"gra-rate\\\"><input type=\\\"radio\\\" id=\\\"rating10\\\"><label for=\\\"rating10\\\"></label><input type=\\\"radio\\\" id=\\\"rating9\\\"><label class=\\\"half\\\" for=\\\"rating9\\\"></label>...</fieldset>`\\nRules: stars are alternating `input + label` pairs; half-step ratings are expressed on the label with `half`.\\n\\n## Status\\n\\nBase: `gra-status`\\nModifiers: `primary`, `secondary`, tone markers `alertIcon`, `infoIcon`, `dangerIcon`, `successIcon`\\nSkeleton: primary `<div class=\\\"gra-status primary dangerIcon\\\"><i class=\\\"icon-circle-minus\\\"></i><span>Perigo</span></div>`; secondary `<div class=\\\"gra-status secondary dangerIcon\\\"><span class=\\\"icon\\\"></span><span>Perigo</span></div>`\\nRules: tone marker is required with both primary and secondary variants; primary status uses an actual `icon-*`; secondary status uses an empty `.icon` marker element.\\n\\n## Switch\\n\\nBase: `gra-switch`\\nModifiers: `disabled`, `error`\\nSkeleton: `<label class=\\\"gra-switch\\\"><input type=\\\"checkbox\\\"><span class=\\\"slider round\\\"></span></label>`\\nRules: switch markup is always label > input + `.slider.round`; disabled/error live on the root label; surrounding text is external content and may sit before or after the switch.\\n\\n## Tab\\n\\nBase: `gra-tabs`, item `gra-tab`\\nModifiers: `active`, `disabled`, `iconText`, `textNotif`\\nSkeleton: header-only `<div class=\\\"gra-tabs\\\"><a class=\\\"gra-tab iconText textNotif active\\\"><i class=\\\"icon-files\\\"></i>Label<span class=\\\"gra-badge danger\\\">1</span></a></div>`; content `<div class=\\\"gra-tab-container\\\" id=\\\"tabs1\\\"><div class=\\\"gra-tabs\\\"><a class=\\\"gra-tab\\\" data-gra-tab=\\\"tab1\\\">...</a></div><div id=\\\"tabs1-tab1\\\" class=\\\"tab-content\\\">...</div></div>`\\nRules: content tabs need `data-gra-tab` on the trigger and a matching pane id `${containerId}-${data-gra-tab}`; JS adds active state to the selected trigger and pane.\\n\\n## Table\\n\\nBase: `gra-table-wrapper > table.gra-table`\\nModifiers: `responsive-vertical`, `sortable`, `numeric`, `asc`, `desc`\\nSkeleton: `<div class=\\\"gra-table-wrapper\\\"><table class=\\\"gra-table responsive-vertical\\\" id=\\\"tableId\\\"><thead><tr><th class=\\\"sortable numeric asc\\\">...</th></tr></thead><tbody><tr><td data-header=\\\"Header\\\"><span class=\\\"withIcon\\\">...</span></td><td class=\\\"numericValue\\\">...</td><td class=\\\"options\\\">...</td></tr></tbody></table></div>`\\nRules: vertical responsive mode requires `data-header` on each data cell; sortable columns mark the `<th>` directly; options/actions live in a terminal `.options` cell; status pills inside cells reuse `gra-tag`.\\n\\n## Tag\\n\\nBase: `gra-tag`, companion `gra-badge`\\nModifiers: style `primary`, `secondary`; tone `alert`, `info`, `danger`, `success`; optional `withIcon`\\nSkeleton: `<span class=\\\"gra-tag primary alert\\\">Alerta</span>` or `<div class=\\\"gra-tag secondary success withIcon\\\"><i class=\\\"icon-circle-success\\\"></i><span>Sucesso</span></div>` or `<span class=\\\"gra-badge danger\\\">1</span>`\\nRules: choose one style modifier and one tone modifier; `withIcon` requires icon plus text children; badges are standalone count markers, not tabular tags.\\n\\n## Tooltip\\n\\nBase: `gra-tooltip`\\nModifiers: `.tooltiptext` position classes `topCenter`, `topLeft`, `topRight`, `bottomCenter`, `bottomLeft`, `bottomRight`, `left`, `right`\\nSkeleton: `<span class=\\\"gra-tooltip\\\"><span class=\\\"tooltiptext topCenter\\\">Lorem ipsum</span><b>trigger</b></span>`\\nRules: tooltip content lives in `.tooltiptext`; position is chosen by exactly one modifier on that node.\\n\\n## Wizard\\n\\nBase: `gra-wizard-container`\\nModifiers: `wizard-vertical`; step states `active`, `completed`, `disabled`, `error`; line states `active-green`, `active-line`, `error`; optional label helpers `withLabelBottom`, `withDesc`\\nSkeleton: `<div class=\\\"gra-wizard-container\\\"><div class=\\\"steps-indicator\\\"><div class=\\\"withLabelBottom\\\"><div class=\\\"step active\\\" data-step=\\\"0\\\"><span>1</span></div><div class=\\\"withDesc\\\">Lorem</div></div><div class=\\\"line active-line\\\"></div>...</div><form class=\\\"wizard-form\\\"><div class=\\\"wizard-step active\\\" data-step=\\\"0\\\">...</div>...</form></div>`\\nRules: indicator order and `.wizard-step[data-step]` order must match; button hooks are `.nextStep` and `.prevStep`; form-based wizards use `.wizard-form`, info-only flows may use `.wizard-steps-content`; required validation relies on `input.required-field` inside the active step.\\n\";\n\nconst DEFAULT_DESIGN_SYSTEM_CONTRACT = [\n  DESIGN_SYSTEM_FOUNDATIONS_MD,\n  DESIGN_SYSTEM_LAYOUT_GUIDELINES_MD,\n  DESIGN_SYSTEM_COMPONENT_API_MD,\n].join(\"\\n\\n\");\n\nconst item = $input.first() ?? { json: {}, binary: {} };\nconst mergedJson = item.json ?? {};\nconst mergedBinary = item.binary ?? {};\n\nasync function getRequiredTextBinary(propertyName, fallbackFileName) {\n  const binaryEntry = mergedBinary[propertyName];\n  if (!binaryEntry) {\n    throw new Error(`Missing binary property '${propertyName}'.`);\n  }\n  const buffer = await this.helpers.getBinaryDataBuffer(0, propertyName);\n  return {\n    fileName: String(binaryEntry.fileName ?? fallbackFileName).trim() || fallbackFileName,\n    content: buffer.toString(\"utf8\").trim(),\n  };\n}\n\nasync function getOptionalTextBinary(propertyName) {\n  const binaryEntry = mergedBinary[propertyName];\n  if (!binaryEntry) return \"\";\n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, propertyName);\n    return buffer.toString(\"utf8\").trim();\n  } catch {\n    try {\n      const raw = String(binaryEntry.data ?? \"\");\n      return raw ? Buffer.from(raw, \"base64\").toString(\"utf8\").trim() : \"\";\n    } catch {\n      return \"\";\n    }\n  }\n}\n\nfunction firstNonEmpty(values) {\n  for (const value of values) {\n    if (typeof value === \"string\" && value.trim()) return value.trim();\n  }\n  return \"\";\n}\n\nconst requirements = await getRequiredTextBinary.call(this, \"requirements\", \"requirements.md\");\nif (!requirements.content) {\n  throw new Error(\"Requirements content is empty for refinement.\");\n}\n\nlet currentDesignText = \"\";\nif (mergedJson.designJson && typeof mergedJson.designJson === \"object\") {\n  currentDesignText = JSON.stringify(mergedJson.designJson, null, 2);\n}\nif (!currentDesignText) {\n  currentDesignText = firstNonEmpty([\n    mergedJson.response,\n    mergedJson.currentDesign,\n    mergedJson.design,\n    mergedJson.finalDesignExcalidraw,\n  ]);\n}\nif (!currentDesignText) {\n  currentDesignText = await getOptionalTextBinary.call(this, \"designSpec\");\n}\nif (!currentDesignText) {\n  throw new Error(\"Current design JSON is missing for refinement.\");\n}\n\nconst reviewerFeedback = [\n  mergedJson.feedback,\n  mergedJson.Feedback,\n  mergedJson.feedbackForRefinement,\n  mergedJson.reviewerFeedback,\n  mergedJson.reviewFeedback,\n  mergedJson.reviewerNotes,\n  mergedJson.reviewNotes,\n  mergedJson.comment,\n  mergedJson.comments,\n]\n  .map((value) => String(value ?? \"\").trim())\n  .find((value) => value.length > 0)\n  || \"Reviewer requested changes without additional details.\";\n\nconst revisionNumber = Math.max(0, Math.trunc(Number(mergedJson.revisionNumber ?? 0) || 0)) + 1;\nconst designSystemContract = String(mergedJson.designSystemContract ?? \"\").trim() || DEFAULT_DESIGN_SYSTEM_CONTRACT;\n\nconst patchPrompt = [\n  `Approved requirements file: ${requirements.fileName}`,\n  \"Requirements specification:\",\n  requirements.content,\n  \"Design System Contract\",\n  designSystemContract,\n  \"\",\n  \"Current design draft (Excalidraw JSON):\",\n  currentDesignText,\n  \"\",\n  \"Reviewer feedback:\",\n  reviewerFeedback,\n].join(\"\\n\");\n\nreturn [{\n  json: {\n    ...mergedJson,\n    revisionNumber,\n    reviewerFeedback,\n    patchPrompt,\n    designSystemContract,\n  },\n  ...(Object.keys(mergedBinary).length ? { binary: mergedBinary } : {}),\n}];\n"
      },
      "id": "ea719dc8-8430-4dbe-af28-3f671a3cee03",
      "name": "DESIGN - Build Refinement Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction joinContentBlocks(value) {\n  if (!Array.isArray(value)) return \"\";\n  const parts = value\n    .map((entry) => {\n      if (typeof entry === \"string\") return entry;\n      if (entry && typeof entry.text === \"string\") return entry.text;\n      if (entry && typeof entry.content === \"string\") return entry.content;\n      return \"\";\n    })\n    .filter((entry) => entry && entry.trim());\n  return parts.join(\"\\n\").trim();\n}\n\nfunction normalizeStreamingText(value) {\n  if (typeof value !== \"string\") return \"\";\n  const text = value.trim();\n  if (!text) return \"\";\n\n  if (!text.includes(\"data:\")) return text;\n\n  const collected = [];\n  const lines = text.split(/\\r?\\n/);\n\n  for (const rawLine of lines) {\n    const line = rawLine.trim();\n    if (!line.startsWith(\"data:\")) continue;\n    const payload = line.slice(5).trim();\n    if (!payload || payload === \"[DONE]\") continue;\n    try {\n      const chunk = JSON.parse(payload);\n      const delta = chunk?.choices?.[0]?.delta?.content;\n      const messageContent = chunk?.choices?.[0]?.message?.content;\n      const plainText = chunk?.choices?.[0]?.text;\n      if (typeof delta === \"string\") collected.push(delta);\n      else if (typeof messageContent === \"string\") collected.push(messageContent);\n      else if (typeof plainText === \"string\") collected.push(plainText);\n    } catch {\n      // Ignore malformed streaming chunks\n    }\n  }\n\n  const merged = collected.join(\"\").trim();\n  return merged || text;\n}\n\nfunction firstText(...values) {\n  for (const value of values) {\n    if (typeof value === \"string\" && value.trim()) {\n      const normalized = normalizeStreamingText(value);\n      if (normalized && normalized.trim()) return normalized.trim();\n    }\n    const joined = joinContentBlocks(value);\n    if (joined) {\n      const normalized = normalizeStreamingText(joined);\n      if (normalized && normalized.trim()) return normalized.trim();\n    }\n  }\n  return \"\";\n}\n\nfunction parseMaybeJson(value) {\n  if (typeof value !== \"string\") return null;\n  const trimmed = value.trim();\n  if (!trimmed.startsWith(\"{\") && !trimmed.startsWith(\"[\")) return null;\n  try {\n    return JSON.parse(trimmed);\n  } catch {\n    return null;\n  }\n}\n\nfunction extractModelText(json) {\n  if (!json || typeof json !== \"object\") return \"\";\n  const direct = firstText(\n    json.data,\n    json.data?.text,\n    json.data?.response,\n    json.data?.output,\n    json.data?.result,\n    json.data?.choices?.[0]?.message?.content,\n    json.data?.choices?.[0]?.text,\n    json.data?.content,\n    json.text,\n    json.response,\n    json.output,\n    json.result,\n    json.answer,\n    json.completion,\n    json.generated_text,\n    json.message?.content,\n    json.choices?.[0]?.message?.content,\n    json.choices?.[0]?.text,\n    json.content\n  );\n  if (direct) return direct;\n\n  const parsedFromStrings = [json.response, json.text, json.output, json.result, json.data]\n    .map((value) => parseMaybeJson(value))\n    .filter((value) => value && typeof value === \"object\");\n\n  for (const parsed of parsedFromStrings) {\n    const parsedText = extractModelText(parsed);\n    if (parsedText) return parsedText;\n  }\n  return \"\";\n}\n\nfunction toTokenCount(value) {\n  const parsed = Number(value);\n  if (!Number.isFinite(parsed) || parsed < 0) return null;\n  return Math.trunc(parsed);\n}\n\nfunction extractUsageTokensObject(obj) {\n  if (!obj || typeof obj !== \"object\") return null;\n  const candidates = [\n    obj.usage?.completion_tokens,\n    obj.usage?.output_tokens,\n    obj.usage?.completionTokens,\n    obj.usage?.outputTokens,\n    obj.completion_tokens,\n    obj.output_tokens,\n    obj.data?.usage?.completion_tokens,\n    obj.data?.usage?.output_tokens,\n    obj.choices?.[0]?.usage?.completion_tokens,\n    obj.choices?.[0]?.usage?.output_tokens,\n  ];\n  for (const candidate of candidates) {\n    const count = toTokenCount(candidate);\n    if (count !== null) return count;\n  }\n  return null;\n}\n\nfunction extractUsageTokensFromSseText(value) {\n  if (typeof value !== \"string\") return null;\n  const text = value.trim();\n  if (!text || !text.includes(\"data:\")) return null;\n  let lastCount = null;\n  for (const rawLine of text.split(/\\r?\\n/)) {\n    const line = rawLine.trim();\n    if (!line.startsWith(\"data:\")) continue;\n    const payload = line.slice(5).trim();\n    if (!payload || payload === \"[DONE]\") continue;\n    try {\n      const chunk = JSON.parse(payload);\n      const count = extractUsageTokensObject(chunk);\n      if (count !== null) lastCount = count;\n    } catch {\n      // Ignore malformed chunks\n    }\n  }\n  return lastCount;\n}\n\nfunction extractOutputTokens(json, rawModelText) {\n  const direct = extractUsageTokensObject(json);\n  if (direct !== null) {\n    return { outputTokens: direct, outputTokensSource: \"usage.completion_tokens\" };\n  }\n  const maybeSse = [json.data, json.response, json.output, json.result, json.text];\n  for (const value of maybeSse) {\n    const fromSse = extractUsageTokensFromSseText(value);\n    if (fromSse !== null) {\n      return { outputTokens: fromSse, outputTokensSource: \"stream.usage.completion_tokens\" };\n    }\n  }\n  const estimated = Math.max(1, Math.round(String(rawModelText ?? \"\").length / 4));\n  return { outputTokens: estimated, outputTokensSource: \"estimated_char_div4\" };\n}\n\nfunction extractBalancedObject(value) {\n  if (typeof value !== \"string\") return \"\";\n  const start = value.indexOf(\"{\");\n  if (start < 0) return \"\";\n\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n\n  for (let index = start; index < value.length; index += 1) {\n    const ch = value[index];\n\n    if (inString) {\n      if (escaped) {\n        escaped = false;\n      } else if (ch === \"\\\\\") {\n        escaped = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inString = true;\n      continue;\n    }\n\n    if (ch === \"{\") {\n      depth += 1;\n      continue;\n    }\n\n    if (ch === \"}\") {\n      depth -= 1;\n      if (depth === 0) {\n        return value.slice(start, index + 1);\n      }\n    }\n  }\n\n  return \"\";\n}\n\nfunction repairLikelyJson(value) {\n  return String(value ?? \"\")\n    .replace(/^\\uFEFF/, \"\")\n    .replace(/[\\u200B-\\u200D\\u2060]/g, \"\")\n    // Fix malformed keys produced occasionally by model streams, e.g. \" \"strokeWidth\":\n    .replace(/(^|\\n)(\\s*)\"\\s+\"([A-Za-z0-9_-]+)\"\\s*:/gm, \"$1$2\\\"$3\\\":\")\n    // Remove trailing commas before object/array close.\n    .replace(/,\\s*([}\\]])/g, \"$1\");\n}\n\nfunction extractDesignJson(rawText) {\n  if (typeof rawText !== \"string\" || !rawText.trim()) {\n    throw new Error(\"Model output is empty.\");\n  }\n\n  const baseText = rawText.trim();\n  const candidates = [];\n  const seen = new Set();\n  const pushCandidate = (value) => {\n    const text = String(value ?? \"\").trim();\n    if (!text || seen.has(text)) return;\n    seen.add(text);\n    candidates.push(text);\n  };\n\n  pushCandidate(baseText);\n\n  const fencedMatch = baseText.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fencedMatch) {\n    pushCandidate(fencedMatch[1]);\n  }\n\n  for (const candidate of [...candidates]) {\n    const balanced = extractBalancedObject(candidate);\n    if (balanced) pushCandidate(balanced);\n  }\n\n  for (const candidate of [...candidates]) {\n    const repaired = repairLikelyJson(candidate);\n    pushCandidate(repaired);\n    const balancedRepaired = extractBalancedObject(repaired);\n    if (balancedRepaired) pushCandidate(balancedRepaired);\n  }\n\n  let parsed = null;\n  for (const candidate of candidates) {\n    try {\n      const attempt = JSON.parse(candidate);\n      if (attempt && typeof attempt === \"object\" && !Array.isArray(attempt)) {\n        parsed = attempt;\n        break;\n      }\n    } catch {\n      // Try next strategy candidate.\n    }\n  }\n\n  if (!parsed) {\n    throw new Error(\"Could not parse a JSON object from model output.\");\n  }\n  if (!Array.isArray(parsed.elements)) {\n    throw new Error(\"Generated design is not a valid Excalidraw document (missing elements array).\");\n  }\n\n  if (!parsed.type) parsed.type = \"excalidraw\";\n  if (!parsed.version) parsed.version = 2;\n  if (!parsed.source) parsed.source = \"https://excalidraw.com\";\n  if (!parsed.appState || typeof parsed.appState !== \"object\") {\n    parsed.appState = { viewBackgroundColor: \"#F7F7F7\", gridSize: null };\n  }\n  if (!parsed.files || typeof parsed.files !== \"object\") {\n    parsed.files = {};\n  }\n\n  return parsed;\n}\n\nconst item = $input.first() ?? { json: {}, binary: {} };\nconst json = item.json ?? {};\nconst rawModelText = extractModelText(json);\nconst tokenInfo = extractOutputTokens(json, rawModelText);\nconst designJson = extractDesignJson(rawModelText);\nconst response = JSON.stringify(designJson, null, 2);\n\nreturn [{\n  json: {\n    response,\n    designJson,\n    revisionNumber: Number(json.revisionNumber ?? 0) || 0,\n    outputTokens: tokenInfo.outputTokens,\n    outputTokensSource: tokenInfo.outputTokensSource,\n  },\n  ...(item.binary && Object.keys(item.binary).length > 0 ? { binary: item.binary } : {}),\n}];\n"
      },
      "id": "21095157-77c7-4f29-b81d-def1e2116194",
      "name": "DESIGN - Clean Refinement Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction joinContentBlocks(value) {\n  if (!Array.isArray(value)) return \"\";\n  const parts = value\n    .map((entry) => {\n      if (typeof entry === \"string\") return entry;\n      if (entry && typeof entry.text === \"string\") return entry.text;\n      if (entry && typeof entry.content === \"string\") return entry.content;\n      return \"\";\n    })\n    .filter((entry) => entry && entry.trim());\n  return parts.join(\"\\n\").trim();\n}\n\nfunction normalizeStreamingText(value) {\n  if (typeof value !== \"string\") return \"\";\n  const text = value.trim();\n  if (!text) return \"\";\n\n  if (!text.includes(\"data:\")) return text;\n\n  const collected = [];\n  const lines = text.split(/\\r?\\n/);\n\n  for (const rawLine of lines) {\n    const line = rawLine.trim();\n    if (!line.startsWith(\"data:\")) continue;\n    const payload = line.slice(5).trim();\n    if (!payload || payload === \"[DONE]\") continue;\n    try {\n      const chunk = JSON.parse(payload);\n      const delta = chunk?.choices?.[0]?.delta?.content;\n      const messageContent = chunk?.choices?.[0]?.message?.content;\n      const plainText = chunk?.choices?.[0]?.text;\n      if (typeof delta === \"string\") collected.push(delta);\n      else if (typeof messageContent === \"string\") collected.push(messageContent);\n      else if (typeof plainText === \"string\") collected.push(plainText);\n    } catch {\n      // Ignore malformed streaming chunks\n    }\n  }\n\n  const merged = collected.join(\"\").trim();\n  return merged || text;\n}\n\nfunction firstText(...values) {\n  for (const value of values) {\n    if (typeof value === \"string\" && value.trim()) {\n      const normalized = normalizeStreamingText(value);\n      if (normalized && normalized.trim()) return normalized.trim();\n    }\n    const joined = joinContentBlocks(value);\n    if (joined) {\n      const normalized = normalizeStreamingText(joined);\n      if (normalized && normalized.trim()) return normalized.trim();\n    }\n  }\n  return \"\";\n}\n\nfunction parseMaybeJson(value) {\n  if (typeof value !== \"string\") return null;\n  const trimmed = value.trim();\n  if (!trimmed.startsWith(\"{\") && !trimmed.startsWith(\"[\")) return null;\n  try {\n    return JSON.parse(trimmed);\n  } catch {\n    return null;\n  }\n}\n\nfunction extractModelText(json) {\n  if (!json || typeof json !== \"object\") return \"\";\n  const direct = firstText(\n    json.data,\n    json.data?.text,\n    json.data?.response,\n    json.data?.output,\n    json.data?.result,\n    json.data?.choices?.[0]?.message?.content,\n    json.data?.choices?.[0]?.text,\n    json.data?.content,\n    json.text,\n    json.response,\n    json.output,\n    json.result,\n    json.answer,\n    json.completion,\n    json.generated_text,\n    json.message?.content,\n    json.choices?.[0]?.message?.content,\n    json.choices?.[0]?.text,\n    json.content\n  );\n  if (direct) return direct;\n\n  const parsedFromStrings = [json.response, json.text, json.output, json.result, json.data]\n    .map((value) => parseMaybeJson(value))\n    .filter((value) => value && typeof value === \"object\");\n\n  for (const parsed of parsedFromStrings) {\n    const parsedText = extractModelText(parsed);\n    if (parsedText) return parsedText;\n  }\n  return \"\";\n}\n\nfunction toTokenCount(value) {\n  const parsed = Number(value);\n  if (!Number.isFinite(parsed) || parsed < 0) return null;\n  return Math.trunc(parsed);\n}\n\nfunction extractUsageTokensObject(obj) {\n  if (!obj || typeof obj !== \"object\") return null;\n  const candidates = [\n    obj.usage?.completion_tokens,\n    obj.usage?.output_tokens,\n    obj.usage?.completionTokens,\n    obj.usage?.outputTokens,\n    obj.completion_tokens,\n    obj.output_tokens,\n    obj.data?.usage?.completion_tokens,\n    obj.data?.usage?.output_tokens,\n    obj.choices?.[0]?.usage?.completion_tokens,\n    obj.choices?.[0]?.usage?.output_tokens,\n  ];\n  for (const candidate of candidates) {\n    const count = toTokenCount(candidate);\n    if (count !== null) return count;\n  }\n  return null;\n}\n\nfunction extractUsageTokensFromSseText(value) {\n  if (typeof value !== \"string\") return null;\n  const text = value.trim();\n  if (!text || !text.includes(\"data:\")) return null;\n  let lastCount = null;\n  for (const rawLine of text.split(/\\r?\\n/)) {\n    const line = rawLine.trim();\n    if (!line.startsWith(\"data:\")) continue;\n    const payload = line.slice(5).trim();\n    if (!payload || payload === \"[DONE]\") continue;\n    try {\n      const chunk = JSON.parse(payload);\n      const count = extractUsageTokensObject(chunk);\n      if (count !== null) lastCount = count;\n    } catch {\n      // Ignore malformed chunks\n    }\n  }\n  return lastCount;\n}\n\nfunction extractOutputTokens(json, rawModelText) {\n  const direct = extractUsageTokensObject(json);\n  if (direct !== null) {\n    return { outputTokens: direct, outputTokensSource: \"usage.completion_tokens\" };\n  }\n  const maybeSse = [json.data, json.response, json.output, json.result, json.text];\n  for (const value of maybeSse) {\n    const fromSse = extractUsageTokensFromSseText(value);\n    if (fromSse !== null) {\n      return { outputTokens: fromSse, outputTokensSource: \"stream.usage.completion_tokens\" };\n    }\n  }\n  const estimated = Math.max(1, Math.round(String(rawModelText ?? \"\").length / 4));\n  return { outputTokens: estimated, outputTokensSource: \"estimated_char_div4\" };\n}\n\nfunction extractBalancedObject(value) {\n  if (typeof value !== \"string\") return \"\";\n  const start = value.indexOf(\"{\");\n  if (start < 0) return \"\";\n\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n\n  for (let index = start; index < value.length; index += 1) {\n    const ch = value[index];\n\n    if (inString) {\n      if (escaped) {\n        escaped = false;\n      } else if (ch === \"\\\\\") {\n        escaped = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inString = true;\n      continue;\n    }\n\n    if (ch === \"{\") {\n      depth += 1;\n      continue;\n    }\n\n    if (ch === \"}\") {\n      depth -= 1;\n      if (depth === 0) {\n        return value.slice(start, index + 1);\n      }\n    }\n  }\n\n  return \"\";\n}\n\nfunction repairLikelyJson(value) {\n  return String(value ?? \"\")\n    .replace(/^\\uFEFF/, \"\")\n    .replace(/[\\u200B-\\u200D\\u2060]/g, \"\")\n    // Fix malformed keys produced occasionally by model streams, e.g. \" \"strokeWidth\":\n    .replace(/(^|\\n)(\\s*)\"\\s+\"([A-Za-z0-9_-]+)\"\\s*:/gm, \"$1$2\\\"$3\\\":\")\n    // Remove trailing commas before object/array close.\n    .replace(/,\\s*([}\\]])/g, \"$1\");\n}\n\nfunction extractDesignJson(rawText) {\n  if (typeof rawText !== \"string\" || !rawText.trim()) {\n    throw new Error(\"Model output is empty.\");\n  }\n\n  const baseText = rawText.trim();\n  const candidates = [];\n  const seen = new Set();\n  const pushCandidate = (value) => {\n    const text = String(value ?? \"\").trim();\n    if (!text || seen.has(text)) return;\n    seen.add(text);\n    candidates.push(text);\n  };\n\n  pushCandidate(baseText);\n\n  const fencedMatch = baseText.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fencedMatch) {\n    pushCandidate(fencedMatch[1]);\n  }\n\n  for (const candidate of [...candidates]) {\n    const balanced = extractBalancedObject(candidate);\n    if (balanced) pushCandidate(balanced);\n  }\n\n  for (const candidate of [...candidates]) {\n    const repaired = repairLikelyJson(candidate);\n    pushCandidate(repaired);\n    const balancedRepaired = extractBalancedObject(repaired);\n    if (balancedRepaired) pushCandidate(balancedRepaired);\n  }\n\n  let parsed = null;\n  for (const candidate of candidates) {\n    try {\n      const attempt = JSON.parse(candidate);\n      if (attempt && typeof attempt === \"object\" && !Array.isArray(attempt)) {\n        parsed = attempt;\n        break;\n      }\n    } catch {\n      // Try next strategy candidate.\n    }\n  }\n\n  if (!parsed) {\n    throw new Error(\"Could not parse a JSON object from model output.\");\n  }\n  if (!Array.isArray(parsed.elements)) {\n    throw new Error(\"Generated design is not a valid Excalidraw document (missing elements array).\");\n  }\n\n  if (!parsed.type) parsed.type = \"excalidraw\";\n  if (!parsed.version) parsed.version = 2;\n  if (!parsed.source) parsed.source = \"https://excalidraw.com\";\n  if (!parsed.appState || typeof parsed.appState !== \"object\") {\n    parsed.appState = { viewBackgroundColor: \"#F7F7F7\", gridSize: null };\n  }\n  if (!parsed.files || typeof parsed.files !== \"object\") {\n    parsed.files = {};\n  }\n\n  return parsed;\n}\n\nconst item = $input.first() ?? { json: {}, binary: {} };\nconst json = item.json ?? {};\nconst rawModelText = extractModelText(json);\nconst tokenInfo = extractOutputTokens(json, rawModelText);\nconst designJson = extractDesignJson(rawModelText);\nconst response = JSON.stringify(designJson, null, 2);\n\nreturn [{\n  json: {\n    response,\n    designJson,\n    revisionNumber: Number(json.revisionNumber ?? 0) || 0,\n    outputTokens: tokenInfo.outputTokens,\n    outputTokensSource: tokenInfo.outputTokensSource,\n  },\n  ...(item.binary && Object.keys(item.binary).length > 0 ? { binary: item.binary } : {}),\n}];\n"
      },
      "id": "6eed65bf-a528-4811-bf4e-3714bcef5094",
      "name": "DESIGN - Clean Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        672
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pQM23J0BoE8iVhNc",
          "mode": "list",
          "cachedResultUrl": "/workflow/pQM23J0BoE8iVhNc",
          "cachedResultName": "zip link"
        },
        "workflowInputs": {
          "value": {
            "archiveData": "={{ $json.archiveData || ($binary.reviewZip ? ($binary.reviewZip.data || ($binary.reviewZip.id ? \"filesystem-v2\" : \"\")) : \"\") }}",
            "revisionNumber": "={{ $json.revisionNumber }}",
            "archiveMimeType": "={{ $binary.reviewZip ? $binary.reviewZip.mimeType : \"application/zip\" }}",
            "response": "={{ $json.response }}",
            "archiveFileName": "={{ $binary.reviewZip ? $binary.reviewZip.fileName : \"design.zip\" }}",
            "archiveId": "={{ $json.archiveId || ($binary.reviewZip ? ($binary.reviewZip.id || \"\") : \"\") }}"
          },
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "archiveMimeType",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "archiveMimeType",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "id": "archiveFileName",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "archiveFileName",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "id": "revisionNumber",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "revisionNumber",
              "type": "number",
              "removed": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "id": "response",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "response",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "id": "archiveData",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "archiveData",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "id": "archiveId",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "archiveId",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "id": "archiveBinaryProperty",
              "canBeUsedToMatch": true,
              "required": false,
              "displayName": "archiveBinaryProperty",
              "type": "string",
              "removed": false,
              "display": true,
              "defaultMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "matchingColumns": [],
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2400,
        656
      ],
      "id": "f15f32c7-4e73-4767-9b77-6f5c3480fca2",
      "name": "DESIGN - Create Zip Link"
    },
    {
      "parameters": {
        "jsCode": "\nconst item = $input.first() ?? { json: {}, binary: {} };\nconst json = item.json ?? {};\n\nfunction normalizeDesignText(payload) {\n  if (payload && typeof payload === \"object\") {\n    return JSON.stringify(payload, null, 2);\n  }\n  if (typeof payload === \"string\" && payload.trim()) {\n    const parsed = JSON.parse(payload);\n    return JSON.stringify(parsed, null, 2);\n  }\n  return \"\";\n}\n\nconst response = normalizeDesignText(json.designJson ?? json.response);\nif (!response) {\n  throw new Error(\"Design JSON is missing before review ZIP creation.\");\n}\n\nconst parsedTokens = Number(json.outputTokens);\nconst outputTokens = Number.isFinite(parsedTokens) && parsedTokens >= 0\n  ? Math.trunc(parsedTokens)\n  : Math.max(1, Math.round(response.length / 4));\n\nconst outputTokensSource = String(json.outputTokensSource ?? \"estimated_char_div4\").trim() || \"estimated_char_div4\";\n\nfunction makeBinaryText(text, fileName, mimeType) {\n  return {\n    data: Buffer.from(String(text), \"utf8\").toString(\"base64\"),\n    fileName,\n    mimeType,\n  };\n}\n\nconst binary = {\n  ...(item.binary ?? {}),\n  designSpec: makeBinaryText(response, \"design_draft.json\", \"application/json\"),\n  outTokens: makeBinaryText(`${outputTokens}\\n`, \"out_tokens.txt\", \"text/plain\"),\n};\n\nreturn [{\n  json: {\n    ...json,\n    response,\n    designJson: JSON.parse(response),\n    outputTokens,\n    outputTokensSource,\n  },\n  binary,\n}];\n"
      },
      "id": "5d58bd3e-008f-4d71-85e8-73ae3e75c649",
      "name": "DESIGN - Prepare Review Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer OR0sxOaBgUkWjAz8g5Ib6LXJwMwAIGSc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"mistral-large-latest\",\n  messages: [\n    {\n      role: \"system\",\n      content: `\nYou are a senior UI system designer operating inside an automated software engineering pipeline.\n\nTHIS IS A STRICT STRUCTURAL DESIGN GENERATION TASK.\n\nYou must be:\n- Spatially disciplined\n- Layout-safe\n- Deterministic\n- Constraint-driven\n\nYou are NOT generating art.\nYou are generating a structured visual specification.\n\n------------------------------------------------\nGOAL\n------------------------------------------------\n\nGenerate ONE complete Excalidraw-compatible JSON document that represents the full application UI.\n\nSources of truth:\n- requirements.md → functional structure\n- design_system contract → the source of truth for design\n\n------------------------------------------------\nOUTPUT FORMAT (ABSOLUTE RULES)\n------------------------------------------------\n\nOutput ONLY the Excalidraw-compatible JSON.\n\nOutput must be:\n- Raw JSON only\n- No markdown\n- No explanations\n- No extra text\n\nThe JSON must load directly in Excalidraw.\n\n------------------------------------------------\nGLOBAL HARD CONSTRAINTS\n------------------------------------------------\n\n1. ZERO OVERLAP (ABSOLUTE)\n\nNo element may overlap any other element.\n\nNo element may touch:\n- Another element\n- Any container border\n- Any identifier\n\nIf space is insufficient:\n- Expand layout\n- Increase spacing\n- Increase container size\n\nNever shrink typography.\nNever reduce padding.\nNever stack tightly.\n\n2. CONSISTENT DIMENSIONS\n\nAll screens:\n- Identical width\n- Identical height\n- Wider than tall\n\nAll modals:\n- Identical width\n- Identical height\n\nAll dialogs:\n- Identical width\n- Height may vary\n\nIf you resize one → resize all of that category.\n\n3. GRID DISCIPLINE\n\nEach screen must follow:\n- Header zone\n- Content zone\n- Action zone (if applicable)\n\nRules:\n- Vertical column alignment across screens\n- Horizontal alignment of button groups\n- No random positioning\n\n------------------------------------------------\nDESIGN SYSTEM ENFORCEMENT (MANDATORY)\n------------------------------------------------\n\nThe \"Design System Contract\" is the authoritative visual system definition.\nIt represents a structured aggregation of all design system rules.\n\n------------------------------------------------\nSTEP 1 — FOUNDATIONS ANALYSIS (REQUIRED FIRST)\n------------------------------------------------\n\nBefore generating ANY screen, modal, dialog, or component,\nyou MUST analyze all files inside \"Design System Contract\"\n\nThese files define the global visual system, including:\n\n- Color system\n- Typography rules\n- Spacing system\n- Grid structure\n- Borders\n- Shadows\n- Containers\n- Iconography\n\nThese rules are GLOBAL and NON-NEGOTIABLE.\n\nAll generated UI must strictly comply with these foundations.\n\nYou must:\n- Use only defined colors\n- Respect defined spacing scale\n- Respect typography hierarchy\n- Follow grid constraints\n- Apply container and border logic consistently\n\nIf any design decision is not explicitly defined elsewhere,\nthe foundations rules MUST be applied.\n\n------------------------------------------------\nGLOBAL CONSISTENCY (CRITICAL)\n------------------------------------------------\n\nAll screens must behave as a single system.\n\nRules:\n\n- Same component → same structure everywhere\n- Same spacing → same values everywhere\n- Same typography → same hierarchy everywhere\n\nNo variation is allowed unless explicitly required by requirements.\n\n------------------------------------------------\nLEARNING AND REUSE BEHAVIOR\n------------------------------------------------\n\nDuring generation:\n\n- First rely on foundations\n- Then rely on explicit component definitions\n\nThe model must behave as if it is building on a structured design system,\nnot inventing UI patterns.\n\nImprovisation is NOT allowed.\nOnly structured composition is allowed.\n\n------------------------------------------------\nFAILURE CONDITION\n------------------------------------------------\n\nIf a generated element violates:\n- Foundations rules\n- Component definition rules\n- Spacing system\n- Color constraints\n- Typography hierarchy\n\nThe design is INVALID and must be corrected before output.\n\n------------------------------------------------\nSCREEN RULES\n------------------------------------------------\n\nEach screen must:\n- Be ONE large enclosing rectangle\n- Contain all internal elements fully within bounds\n- Have safe padding on all sides\n- Never touch any other screen, modal, or dialog\n\nEach screen must have exactly ONE identifier:\n- Number only (1, 2, 3, …)\n- Positioned top-right inside container\n- Visible\n- Never overlapping\n\nIf corner is occupied:\nPlace identifier above conflicting element within padding.\n\n------------------------------------------------\nMODAL RULES\n------------------------------------------------\n\nModals must:\n- Be horizontal rectangles\n- Identical size\n- Positioned near parent screen\n- Never overlap anything\n- Preserve internal padding\n\nInternal layout:\n- Content/input zone\n- Action zone\n\nModal identifier:\n\nFormat: {ScreenID}M{n}\nExample: 2M1\n\nPlaced top-right inside modal\nVisible\nNon-overlapping\n\n------------------------------------------------\nDIALOG RULES\n------------------------------------------------\n\nDialogs must:\n- Be vertical rectangles\n- Contain only options\n- Options full width\n- No spacing between options internally\n\nDialog must be:\n- At least 80px away from any other element\n- Never overlapping\n\nDialog identifier:\n\nFormat: {ScreenID}D{n}\nExample: 3D1\n\nPlaced ABOVE dialog’s top-right corner\nOutside rectangle\nNon-overlapping\n\n------------------------------------------------\nBUTTON IDENTIFIERS\n------------------------------------------------\n\nEvery interactive button must have a symbolic identifier.\n\nIdentifier:\n- Small text near button\n- Not touching button\n- Clearly readable\n- Smaller than button label\n\nSymbol represents navigation target:\n- Screen → number\n- Modal → {ScreenID}M{n}\n- Dialog → {ScreenID}D{n}\n\nIf multiple buttons navigate to same target:\nThey must reference the SAME identifier.\n\n------------------------------------------------\nFINAL VALIDATION BEFORE OUTPUT\n------------------------------------------------\n\nEnsure:\n- Zero overlaps anywhere\n- Nothing touches borders\n- Screens identical size\n- Modals identical size\n- Identifiers visible and separated\n- Only allowed element types used\n- All required keys present\n- No forbidden keys\n- Only values defined in the Design System Contract are used\n- No visual rule violates the Design System Contract\n\n------------------------------------------------\nFINAL INSTRUCTION\n------------------------------------------------\n\nOutput only the raw Excalidraw-compatible JSON.\nNo explanations.\nNo markdown.\nNo commentary.\n`\n    },\n    {\n      role: \"user\",\n      content: $json.userPrompt\n    }\n  ],\n  temperature: 0.2,\n  max_tokens: 200000,\n  stream: true,\n}) }}",
        "options": {
          "timeout": 7200000
        }
      },
      "id": "88cc899a-cd54-4e3c-aa67-03e5a8bccbee",
      "name": "DESIGN - Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        672,
        672
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "\nconst item = $input.first();\nconst json = item?.json ?? {};\n\nconst response = typeof json.response === \"string\" && json.response.trim()\n  ? json.response.trim()\n  : (json.designJson && typeof json.designJson === \"object\" ? JSON.stringify(json.designJson, null, 2) : \"\");\n\nif (!response) throw new Error(\"Design JSON draft is missing.\");\n\nlet designJson = null;\ntry {\n  designJson = JSON.parse(response);\n} catch {\n  throw new Error(\"Design JSON draft is invalid.\");\n}\n\nconst revisionNumber = Math.max(0, Math.trunc(Number(json.revisionNumber ?? 0) || 0));\nconst zipDownloadUrl = String(json.zipDownloadUrl ?? \"\").trim();\nif (!zipDownloadUrl) throw new Error(\"Review ZIP download URL is missing.\");\nconst zipDownloadToken = String(json.zipDownloadToken ?? \"\").trim();\nif (!zipDownloadToken) throw new Error(\"Review ZIP download token is missing.\");\n\nconst downloadLinkHtml = '<p><a href=\"' + zipDownloadUrl + '\" download target=\"_blank\" rel=\"noopener noreferrer\">Download current DESIGN ZIP (JSON + PDF)</a></p>';\n\nconst output = {\n  json: {\n    ...json,\n    response,\n    designJson,\n    revisionNumber,\n    zipDownloadUrl,\n    zipDownloadToken,\n    downloadLinkHtml,\n  },\n};\n\nif (item.binary && Object.keys(item.binary).length > 0) {\n  output.binary = item.binary;\n}\nreturn [output];\n"
      },
      "id": "dd266ce8-1919-49b4-b725-a70673a71360",
      "name": "DESIGN - Prepare Information",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        416
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        400
      ],
      "id": "9564a47a-6782-4e8b-92c4-e854a2929b85",
      "name": "DESIGN - Previous and New Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer OR0sxOaBgUkWjAz8g5Ib6LXJwMwAIGSc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \n  model: \"mistral-large-latest\", \n  messages: [\n    { role: \"system\", \n      content: `\nYou are a senior UI system designer operating inside an automated software engineering pipeline.\n\nTHIS IS A STRICT STRUCTURAL REFINEMENT TASK.\n\nYou must be:\n- Spatially disciplined\n- Layout-safe\n- Deterministic\n- Constraint-driven\n\nYou are NOT generating a new design.\nYou are refining an EXISTING structured visual specification.\n\n------------------------------------------------\nINPUT CONTEXT\n------------------------------------------------\n\nYou receive:\n\n1. Requirements specification\n→ defines the intended UI structure and flows\n\n2. Design System Contract\n-> defines the design rules that have to be followed\n\n3. Current design draft (Excalidraw JSON)\n→ the CURRENT IMPLEMENTATION (source of truth for structure)\n\n4. Reviewer feedback\n→ defines REQUIRED changes\n\n------------------------------------------------\nMISSION\n------------------------------------------------\n\nRefine the existing Excalidraw JSON design.\n\nGoals:\n\n- Apply reviewer feedback precisely\n- Preserve existing correct layout and structure\n- Maintain full design validity\n- Avoid introducing regressions\n- Keep the design fully compatible with Excalidraw\n\n------------------------------------------------\nSTRICT CHANGE CONTROL (CRITICAL)\n------------------------------------------------\n\nYou MUST follow strict refinement discipline:\n\n- ONLY modify elements required to address reviewer feedback\n- DO NOT redesign the UI\n- DO NOT restructure screens unless explicitly required\n- DO NOT change layout patterns unless necessary\n\nRules:\n\n- If something is NOT mentioned in feedback → it MUST remain unchanged\n- If something is already correct → DO NOT modify it\n- Prefer the MINIMAL possible change set\n\n------------------------------------------------\nINPUT DESIGN PRESERVATION (CRITICAL)\n------------------------------------------------\n\nThe provided Excalidraw JSON is the current valid baseline.\n\nYou MUST:\n\n- Preserve all valid elements\n- Preserve identifiers (screens, modals, dialogs, buttons)\n- Preserve layout unless feedback requires change\n- Preserve spacing and alignment unless broken\n\nYou MUST NOT:\n\n- Rebuild the design from scratch\n- Drop elements unintentionally\n- Rename identifiers unless required\n\n------------------------------------------------\nGLOBAL HARD CONSTRAINTS (STILL APPLY)\n------------------------------------------------\n\n1. ZERO OVERLAP (ABSOLUTE)\n\nNo element may overlap any other element.\n\nNo element may touch:\n- Another element\n- Any container border\n- Any identifier\n\nIf refinement introduces conflicts:\n- Expand layout\n- Increase spacing\n- Adjust positions safely\n\nNever shrink typography.\n\n------------------------------------------------\n2. CONSISTENT DIMENSIONS\n\nMaintain consistency:\n\n- All screens must remain identical size\n- All modals must remain identical size\n- Dialog widths must remain consistent\n\nIf one element is resized → all of that category must match\n\n------------------------------------------------\n3. GRID DISCIPLINE\n\nMaintain:\n\n- Header zone\n- Content zone\n- Action zone\n\nDo NOT break alignment across screens.\n\n------------------------------------------------\nDESIGN SYSTEM CONTRACT PRESERVATION (CRITICAL)\n------------------------------------------------\n\nYou MUST NOT reinterpret or alter the Design System Contract.\n\nRules:\n\n- Continue using the same rules applied in the current design\n- Do NOT introduce new visual logic\n- Do NOT change spacing scale, typography, or color usage\n\nRefinement must remain within the existing design system constraints.\n\n------------------------------------------------\nSCREEN / MODAL / DIALOG RULES\n------------------------------------------------\n\nAll existing rules still apply:\n\n- Screens:\n  - Must remain non-overlapping\n  - Must contain all elements\n  - Must keep identifier\n\n- Modals:\n  - Must remain same size\n  - Must stay near parent screen\n\n- Dialogs:\n  - Must remain spaced (80px minimum)\n  - Must not overlap anything\n\n------------------------------------------------\nBUTTON IDENTIFIER RULES\n------------------------------------------------\n\n- Preserve existing identifiers\n- Only modify if feedback requires navigation changes\n- Maintain consistency of target references\n\n------------------------------------------------\nERROR CORRECTION (ALLOWED)\n------------------------------------------------\n\nEven if not explicitly mentioned in feedback, you MAY fix:\n\n- Overlaps\n- Broken spacing\n- Invalid identifiers placement\n\nBUT:\n\n- Only if they are clearly violations\n- Do NOT introduce new layout changes\n\n------------------------------------------------\nFINAL VALIDATION BEFORE OUTPUT\n------------------------------------------------\n\nEnsure:\n\n- Zero overlaps\n- Nothing touches borders\n- All identifiers visible\n- Layout consistency preserved\n- Feedback fully applied\n- No regressions introduced\n- JSON remains valid for Excalidraw\n\n------------------------------------------------\nOUTPUT FORMAT (STRICT)\n------------------------------------------------\n\nOutput ONLY the Excalidraw-compatible JSON.\n\nRules:\n\n- Raw JSON only\n- No markdown\n- No explanations\n- No extra text\n\nThe JSON must load directly in Excalidraw.\n\n------------------------------------------------\nFINAL INSTRUCTION\n------------------------------------------------\n\nRefine the provided design.\n\nDo NOT redesign.\n\nDo NOT over-modify.\n\nApply only what is necessary.\n`\n    }, \n    { \n      role: \"user\", \n      content: $json.patchPrompt \n    }\n  ], \n  temperature: 0.2, \n  max_tokens: 200000, \n  stream: true \n}) }}",
        "options": {
          "timeout": 7200000
        }
      },
      "id": "3e86aa95-6efb-45e3-81d8-209606b59905",
      "name": "DESIGN - Refinement Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        928,
        304
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "4c67078c-17fb-4a15-b122-64c8586c6264",
      "name": "DESIGN - Merge Review Assets",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1952,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json ?? {};\nconst yaml = String(json.response ?? '').replace(/\\r\\n/g, '\\n');\n\nif (!yaml.trim()) {\n  throw new Error('Design JSON is missing, cannot generate PDF.');\n}\n\nconst PAGE_WIDTH = 595;\nconst PAGE_HEIGHT = 842;\nconst MARGIN_X = 48;\nconst MARGIN_Y = 52;\nconst CONTENT_WIDTH = PAGE_WIDTH - (MARGIN_X * 2);\nconst FONT_SIZE = 11;\nconst LINE_HEIGHT = 14;\nconst INDENT_PER_SPACE = 3.2;\n\nconst WIN_ANSI_MAP = {\n  '\\u20AC': 0x80,\n  '\\u201A': 0x82,\n  '\\u0192': 0x83,\n  '\\u201E': 0x84,\n  '\\u2026': 0x85,\n  '\\u2020': 0x86,\n  '\\u2021': 0x87,\n  '\\u02C6': 0x88,\n  '\\u2030': 0x89,\n  '\\u0160': 0x8A,\n  '\\u2039': 0x8B,\n  '\\u0152': 0x8C,\n  '\\u017D': 0x8E,\n  '\\u2018': 0x91,\n  '\\u2019': 0x92,\n  '\\u201C': 0x93,\n  '\\u201D': 0x94,\n  '\\u2022': 0x95,\n  '\\u2013': 0x96,\n  '\\u2014': 0x97,\n  '\\u02DC': 0x98,\n  '\\u2122': 0x99,\n  '\\u0161': 0x9A,\n  '\\u203A': 0x9B,\n  '\\u0153': 0x9C,\n  '\\u017E': 0x9E,\n  '\\u0178': 0x9F,\n};\n\nfunction normalizeText(value) {\n  return String(value ?? '')\n    .normalize('NFC')\n    .replace(/\\u0000/g, '')\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')\n    .replace(/\\t/g, '    ');\n}\n\nfunction escapePdfLiteral(value) {\n  return String(value ?? '')\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\\(/g, '\\\\(')\n    .replace(/\\)/g, '\\\\)');\n}\n\nfunction toWinAnsiString(value) {\n  const input = String(value ?? '').normalize('NFC');\n  let out = '';\n\n  for (const char of input) {\n    const code = char.codePointAt(0);\n\n    if (code <= 0xff) {\n      out += String.fromCharCode(code);\n      continue;\n    }\n\n    if (WIN_ANSI_MAP[char] !== undefined) {\n      out += String.fromCharCode(WIN_ANSI_MAP[char]);\n      continue;\n    }\n\n    const noDiacritics = char.normalize('NFKD').replace(/[\\u0300-\\u036f]/g, '');\n    if (noDiacritics && noDiacritics.codePointAt(0) <= 0xff) {\n      out += String.fromCharCode(noDiacritics.codePointAt(0));\n    }\n  }\n\n  return out;\n}\n\nfunction splitWrappedContent(content, maxChars) {\n  if (!content) return [''];\n  if (content.length <= maxChars) return [content];\n\n  const out = [];\n  let remaining = content;\n  while (remaining.length > maxChars) {\n    let breakAt = remaining.lastIndexOf(' ', maxChars);\n    if (breakAt < Math.floor(maxChars * 0.5)) breakAt = maxChars;\n    out.push(remaining.slice(0, breakAt).trimEnd());\n    remaining = remaining.slice(breakAt).trimStart();\n  }\n  out.push(remaining);\n  return out;\n}\n\nfunction lineToDisplayRows(rawLine) {\n  const normalized = String(rawLine ?? '').replace(/\\s+$/g, '');\n  if (!normalized.length) return [{ indentSpaces: 0, text: '' }];\n\n  const leadingMatch = normalized.match(/^ */);\n  const leadingSpaces = leadingMatch ? leadingMatch[0].length : 0;\n  const content = normalized.slice(leadingSpaces);\n\n  const indentPoints = leadingSpaces * INDENT_PER_SPACE;\n  const usableWidth = Math.max(40, CONTENT_WIDTH - indentPoints);\n  const approxCharWidth = 6.0;\n  const maxChars = Math.max(10, Math.floor(usableWidth / approxCharWidth));\n\n  const wrapped = splitWrappedContent(content, maxChars);\n  return wrapped.map((segment) => ({ indentSpaces: leadingSpaces, text: segment }));\n}\n\nconst lines = normalizeText(yaml).split('\\n');\nconst displayRows = lines.flatMap(lineToDisplayRows);\n\nconst pages = [];\nlet currentPage = [];\nlet y = PAGE_HEIGHT - MARGIN_Y;\n\nfunction pushPage() {\n  pages.push(currentPage);\n  currentPage = [];\n  y = PAGE_HEIGHT - MARGIN_Y;\n}\n\nfor (const row of displayRows) {\n  if (y < MARGIN_Y) pushPage();\n\n  currentPage.push({\n    type: 'text',\n    text: row.text,\n    x: MARGIN_X + (row.indentSpaces * INDENT_PER_SPACE),\n    y,\n    font: 'F1',\n    fontSize: FONT_SIZE,\n  });\n\n  y -= LINE_HEIGHT;\n}\n\nif (currentPage.length === 0) {\n  currentPage.push({ type: 'text', text: '(empty document)', x: MARGIN_X, y: PAGE_HEIGHT - MARGIN_Y, font: 'F1', fontSize: FONT_SIZE });\n}\npages.push(currentPage);\n\nfunction pageToStream(pageRows) {\n  const out = [];\n  for (const row of pageRows) {\n    const safe = escapePdfLiteral(toWinAnsiString(row.text || ' '));\n    out.push('BT');\n    out.push('/' + row.font + ' ' + row.fontSize + ' Tf');\n    out.push('1 0 0 1 ' + row.x.toFixed(2) + ' ' + row.y.toFixed(2) + ' Tm');\n    out.push('(' + safe + ') Tj');\n    out.push('ET');\n  }\n  return out.join('\\n');\n}\n\nfunction buildPdfDocument(pageStreams) {\n  const objects = [];\n  const pageStart = 4;\n  const contentStart = pageStart + pageStreams.length;\n  const pageRefs = pageStreams.map((_, i) => (pageStart + i) + ' 0 R').join(' ');\n\n  objects[1] = '<< /Type /Catalog /Pages 2 0 R >>';\n  objects[2] = '<< /Type /Pages /Kids [' + pageRefs + '] /Count ' + pageStreams.length + ' >>';\n  objects[3] = '<< /Type /Font /Subtype /Type1 /BaseFont /Courier /Encoding /WinAnsiEncoding >>';\n\n  for (let i = 0; i < pageStreams.length; i += 1) {\n    const pageObj = pageStart + i;\n    const contentObj = contentStart + i;\n    objects[pageObj] = [\n      '<< /Type /Page',\n      '/Parent 2 0 R',\n      '/MediaBox [0 0 ' + PAGE_WIDTH + ' ' + PAGE_HEIGHT + ']',\n      '/Resources << /Font << /F1 3 0 R >> >>',\n      '/Contents ' + contentObj + ' 0 R',\n      '>>',\n    ].join(' ');\n\n    const stream = pageStreams[i];\n    const len = Buffer.byteLength(stream, 'latin1');\n    objects[contentObj] = '<< /Length ' + len + ' >>\\nstream\\n' + stream + '\\nendstream';\n  }\n\n  const maxObject = objects.length - 1;\n  let pdf = '%PDF-1.4\\n';\n  const offsets = [0];\n\n  for (let i = 1; i <= maxObject; i += 1) {\n    offsets[i] = Buffer.byteLength(pdf, 'latin1');\n    pdf += i + ' 0 obj\\n' + objects[i] + '\\nendobj\\n';\n  }\n\n  const xrefOffset = Buffer.byteLength(pdf, 'latin1');\n  pdf += 'xref\\n0 ' + (maxObject + 1) + '\\n';\n  pdf += '0000000000 65535 f \\n';\n\n  for (let i = 1; i <= maxObject; i += 1) {\n    const offset = String(offsets[i]).padStart(10, '0');\n    pdf += offset + ' 00000 n \\n';\n  }\n\n  pdf += 'trailer\\n<< /Size ' + (maxObject + 1) + ' /Root 1 0 R >>\\n';\n  pdf += 'startxref\\n' + xrefOffset + '\\n%%EOF';\n  return Buffer.from(pdf, 'latin1');\n}\n\nconst streams = pages.map(pageToStream);\nconst pdfBuffer = buildPdfDocument(streams);\n\nreturn [{\n  json: { ...json },\n  binary: {\n    ...(item.binary ?? {}),\n    designPdf: {\n      data: pdfBuffer.toString('base64'),\n      mimeType: 'application/pdf',\n      fileName: 'design.pdf',\n      fileExtension: 'pdf',\n    },\n  },\n}];"
      },
      "id": "6d78ce30-e9d2-4f3a-9105-68dca7ac0742",
      "name": "DESIGN - Build Review Companion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        352
      ]
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import base64\nimport io\nimport json\nimport math\nimport re\nimport zipfile\nfrom PIL import Image, ImageColor, ImageDraw, ImageFont\n\nCANVAS_BG = \"#F7F7F7\"\nDEFAULT_STROKE = \"#1f2937\"\nDEFAULT_FILL = \"#ffffff\"\n\n\ndef _to_number(value, default=0.0):\n    try:\n        return float(value)\n    except Exception:\n        return float(default)\n\n\ndef _read_binary_text(binary_entry):\n    if not isinstance(binary_entry, dict):\n        return \"\"\n    raw = binary_entry.get(\"data\")\n    if not raw:\n        return \"\"\n    try:\n        return base64.b64decode(str(raw)).decode(\"utf8\").strip()\n    except Exception:\n        return \"\"\n\n\ndef _safe_name(value, fallback=\"item\"):\n    text = str(value or \"\").strip() or fallback\n    text = re.sub(r\"[^A-Za-z0-9._-]+\", \"_\", text)\n    text = text.strip(\"._-\")\n    return text or fallback\n\n\ndef _element_bounds(el):\n    x = _to_number(el.get(\"x\"), 0.0)\n    y = _to_number(el.get(\"y\"), 0.0)\n    w = _to_number(el.get(\"width\"), _to_number(el.get(\"w\"), 0.0))\n    h = _to_number(el.get(\"height\"), _to_number(el.get(\"h\"), 0.0))\n\n    points = el.get(\"points\")\n    if isinstance(points, list) and points:\n        pxs = []\n        pys = []\n        for p in points:\n            if isinstance(p, (list, tuple)) and len(p) >= 2:\n                pxs.append(x + _to_number(p[0]))\n                pys.append(y + _to_number(p[1]))\n        if pxs and pys:\n            min_x = min(pxs)\n            min_y = min(pys)\n            max_x = max(pxs)\n            max_y = max(pys)\n            x, y = min_x, min_y\n            w, h = max_x - min_x, max_y - min_y\n\n    return {\n        \"x\": float(x),\n        \"y\": float(y),\n        \"w\": max(0.0, float(w)),\n        \"h\": max(0.0, float(h)),\n    }\n\n\ndef _intersects(a, b):\n    return not (\n        a[\"x\"] + a[\"w\"] < b[\"x\"]\n        or a[\"x\"] > b[\"x\"] + b[\"w\"]\n        or a[\"y\"] + a[\"h\"] < b[\"y\"]\n        or a[\"y\"] > b[\"y\"] + b[\"h\"]\n    )\n\n\ndef _overall_bbox(elements):\n    xs = []\n    ys = []\n    x2 = []\n    y2 = []\n    for el in elements:\n        if not isinstance(el, dict) or el.get(\"isDeleted\"):\n            continue\n        b = _element_bounds(el)\n        xs.append(b[\"x\"])\n        ys.append(b[\"y\"])\n        x2.append(b[\"x\"] + max(1.0, b[\"w\"]))\n        y2.append(b[\"y\"] + max(1.0, b[\"h\"]))\n\n    if not xs:\n        return {\"x\": 0.0, \"y\": 0.0, \"w\": 1200.0, \"h\": 800.0}\n\n    return {\n        \"x\": min(xs),\n        \"y\": min(ys),\n        \"w\": max(x2) - min(xs),\n        \"h\": max(y2) - min(ys),\n    }\n\n\ndef _collect_frames(elements):\n    frames = []\n    for idx, el in enumerate(elements):\n        if not isinstance(el, dict) or el.get(\"isDeleted\"):\n            continue\n        if str(el.get(\"type\") or \"\").strip().lower() != \"frame\":\n            continue\n        b = _element_bounds(el)\n        if b[\"w\"] <= 1.0 or b[\"h\"] <= 1.0:\n            continue\n        frames.append(\n            {\n                \"id\": str(el.get(\"id\") or f\"frame_{idx + 1}\"),\n                \"name\": str(el.get(\"name\") or el.get(\"label\") or f\"Frame {idx + 1}\"),\n                \"bbox\": b,\n            }\n        )\n\n    return frames\n\n\ndef _pick_font(size):\n    size = max(8, int(size))\n    for path in (\n        \"/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf\",\n        \"/usr/share/fonts/TTF/DejaVuSans.ttf\",\n    ):\n        try:\n            return ImageFont.truetype(path, size=size)\n        except Exception:\n            continue\n    return ImageFont.load_default()\n\n\ndef _to_rgba(value, alpha=255, fallback=\"#000000\"):\n    color = str(value or fallback).strip()\n    if color.lower() in (\"\", \"none\", \"transparent\"):\n        return (0, 0, 0, 0)\n    try:\n        rgb = ImageColor.getrgb(color)\n    except Exception:\n        rgb = ImageColor.getrgb(fallback)\n\n    if len(rgb) == 4:\n        return (rgb[0], rgb[1], rgb[2], int(max(0, min(255, alpha))))\n    return (rgb[0], rgb[1], rgb[2], int(max(0, min(255, alpha))))\n\n\ndef _render_png(elements, bbox, padding=24.0):\n    px = float(bbox[\"x\"]) - float(padding)\n    py = float(bbox[\"y\"]) - float(padding)\n    pw = max(1.0, float(bbox[\"w\"]) + 2.0 * float(padding))\n    ph = max(1.0, float(bbox[\"h\"]) + 2.0 * float(padding))\n\n    width = int(math.ceil(pw))\n    height = int(math.ceil(ph))\n\n    ox = -px\n    oy = -py\n\n    img = Image.new(\"RGBA\", (width, height), _to_rgba(CANVAS_BG))\n    draw = ImageDraw.Draw(img, \"RGBA\")\n\n    for el in elements:\n        if not isinstance(el, dict) or el.get(\"isDeleted\"):\n            continue\n\n        et = str(el.get(\"type\") or \"\").lower()\n        b = _element_bounds(el)\n        x = b[\"x\"] + ox\n        y = b[\"y\"] + oy\n        w = b[\"w\"]\n        h = b[\"h\"]\n\n        opacity = max(0.0, min(1.0, _to_number(el.get(\"opacity\"), 100.0) / 100.0))\n        alpha = int(opacity * 255)\n        sw = max(1, int(round(_to_number(el.get(\"strokeWidth\"), 1.0))))\n\n        stroke = _to_rgba(el.get(\"strokeColor\"), alpha=alpha, fallback=DEFAULT_STROKE)\n        fill = _to_rgba(el.get(\"backgroundColor\"), alpha=alpha, fallback=DEFAULT_FILL)\n        if str(el.get(\"backgroundColor\") or \"\").lower() in (\"\", \"none\", \"transparent\"):\n            fill = (0, 0, 0, 0)\n\n        if et in (\"rectangle\", \"frame\"):\n            x2 = x + w\n            y2 = y + h\n            radius = 8 if el.get(\"roundness\") else 0\n            if radius > 0:\n                draw.rounded_rectangle((x, y, x2, y2), radius=radius, fill=fill, outline=stroke, width=sw)\n            else:\n                draw.rectangle((x, y, x2, y2), fill=fill, outline=stroke, width=sw)\n        elif et == \"ellipse\":\n            draw.ellipse((x, y, x + w, y + h), fill=fill, outline=stroke, width=sw)\n        elif et in (\"line\", \"arrow\"):\n            points = el.get(\"points\")\n            if isinstance(points, list) and len(points) >= 2:\n                pts = []\n                for p in points:\n                    if isinstance(p, (list, tuple)) and len(p) >= 2:\n                        pts.append((x + _to_number(p[0]), y + _to_number(p[1])))\n                if len(pts) >= 2:\n                    draw.line(pts, fill=stroke, width=sw)\n            else:\n                draw.line((x, y, x + w, y + h), fill=stroke, width=sw)\n        elif et == \"diamond\":\n            cx = x + w / 2.0\n            cy = y + h / 2.0\n            pts = [(cx, y), (x + w, cy), (cx, y + h), (x, cy)]\n            draw.polygon(pts, fill=fill, outline=stroke)\n        elif et == \"text\":\n            text = str(el.get(\"text\") or \"\")\n            if not text:\n                continue\n            fs = max(8, int(_to_number(el.get(\"fontSize\"), 14)))\n            lh = max(10, int(fs * 1.25))\n            font = _pick_font(fs)\n            for i, line in enumerate(text.splitlines() or [\"\"]):\n                draw.text((x, y + i * lh), line, fill=stroke, font=font)\n        else:\n            if w > 0 and h > 0:\n                draw.rectangle((x, y, x + w, y + h), fill=fill, outline=stroke, width=sw)\n\n    out = io.BytesIO()\n    img.save(out, format=\"PNG\")\n    return out.getvalue()\n\n\noutputs = []\nfor item in _items:\n    src = item.get(\"json\", {}) if isinstance(item, dict) else {}\n    in_binary = item.get(\"binary\", {}) if isinstance(item, dict) and isinstance(item.get(\"binary\"), dict) else {}\n\n    out_json = dict(src)\n    out_binary = dict(in_binary)\n\n    try:\n        raw_design = src.get(\"designJson\")\n        if raw_design is None:\n            raw_design = src.get(\"design\")\n        if raw_design is None:\n            raw_design = src.get(\"response\")\n\n        if isinstance(raw_design, dict):\n            design = raw_design\n        elif isinstance(raw_design, str):\n            design = json.loads(raw_design)\n        else:\n            raise ValueError(\"Design JSON payload is missing.\")\n\n        elements = design.get(\"elements\")\n        if not isinstance(elements, list):\n            raise ValueError(\"Design JSON is invalid: missing elements list.\")\n\n        overview_bbox = _overall_bbox(elements)\n        frames = _collect_frames(elements)\n\n        if not frames:\n            frames = [\n                {\n                    \"id\": \"canvas\",\n                    \"name\": \"Canvas\",\n                    \"bbox\": overview_bbox,\n                }\n            ]\n\n        manifest_assets = []\n\n        zip_buffer = io.BytesIO()\n        with zipfile.ZipFile(zip_buffer, \"w\", zipfile.ZIP_DEFLATED) as zf:\n            overview_png = _render_png(elements, overview_bbox, padding=32.0)\n            zf.writestr(\"overview.png\", overview_png)\n            manifest_assets.append(\n                {\n                    \"id\": \"overview\",\n                    \"name\": \"Overview\",\n                    \"type\": \"overview\",\n                    \"path\": \"overview.png\",\n                    \"bbox\": overview_bbox,\n                    \"elementCount\": len(elements),\n                }\n            )\n\n            for frame in frames:\n                fb = frame[\"bbox\"]\n                padded = {\n                    \"x\": float(fb[\"x\"]) - 6.0,\n                    \"y\": float(fb[\"y\"]) - 6.0,\n                    \"w\": float(fb[\"w\"]) + 12.0,\n                    \"h\": float(fb[\"h\"]) + 12.0,\n                }\n\n                subset = [\n                    el for el in elements\n                    if isinstance(el, dict) and _intersects(_element_bounds(el), padded)\n                ]\n\n                png_bytes = _render_png(subset or elements, padded, padding=20.0)\n                path = f\"screens/{_safe_name(frame['name'], frame['id'])}.png\"\n                zf.writestr(path, png_bytes)\n\n                manifest_assets.append(\n                    {\n                        \"id\": frame[\"id\"],\n                        \"name\": frame[\"name\"],\n                        \"type\": \"frame\",\n                        \"path\": path,\n                        \"bbox\": padded,\n                        \"elementCount\": len(subset),\n                    }\n                )\n\n            output_tokens = int(_to_number(src.get(\"outputTokens\"), 0))\n            if output_tokens <= 0:\n                out_tokens_binary = in_binary.get(\"outTokens\")\n                parsed_text = _read_binary_text(out_tokens_binary)\n                output_tokens = int(_to_number(parsed_text, 0))\n\n            if output_tokens > 0:\n                zf.writestr(\"out_tokens.txt\", f\"{output_tokens}\\n\")\n\n        zip_bytes = zip_buffer.getvalue()\n        revision = int(_to_number(src.get(\"revisionNumber\"), 0))\n        zip_name = \"design.zip\"\n\n        out_binary[\"reviewZip\"] = {\n            \"data\": base64.b64encode(zip_bytes).decode(\"ascii\"),\n            \"mimeType\": \"application/zip\",\n            \"fileName\": zip_name,\n            \"fileExtension\": \"zip\",\n            \"fileSize\": str(len(zip_bytes)),\n        }\n\n        out_json[\"archiveData\"] = base64.b64encode(zip_bytes).decode(\"ascii\")\n        out_json[\"archiveId\"] = \"\"\n\n        out_json[\"designAssetCount\"] = len(manifest_assets)\n        out_json[\"designAssetManifest\"] = {\n            \"counts\": {\n                \"images\": len(manifest_assets),\n                \"frames\": max(0, len(manifest_assets) - 1),\n            },\n            \"assets\": manifest_assets,\n        }\n        out_json.pop(\"designAssetError\", None)\n    except Exception as err:\n        out_json[\"designAssetCount\"] = 0\n        out_json[\"designAssetError\"] = str(err)\n\n    outputs.append({\"json\": out_json, \"binary\": out_binary})\n\nreturn outputs\r\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        448
      ],
      "id": "c35345b9-edf0-42e3-bda4-7b24127c67d2",
      "name": "DESIGN - Zip to Review"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-bb01ba6e-5908-4232-94f5-06751473af5c",
              "leftValue": "={{ ((String($json.reviewMode ?? \"\").trim().toLowerCase() === \"refine\") || (String($json.refinement ?? \"\").trim().toLowerCase() === \"true\") || (String(($items(\"DESIGN - Sanitize Output Context\")[0] && $items(\"DESIGN - Sanitize Output Context\")[0].json ? $items(\"DESIGN - Sanitize Output Context\")[0].json.reviewMode : \"\")).trim().toLowerCase() === \"refine\") || (String(($items(\"DESIGN - Sanitize Output Context\")[0] && $items(\"DESIGN - Sanitize Output Context\")[0].json ? $items(\"DESIGN - Sanitize Output Context\")[0].json.refinement : \"\")).trim().toLowerCase() === \"true\")) ? \"refine\" : \"\" }}",
              "rightValue": "refine",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15393b33-c626-493d-99e9-30fd5832084e",
      "name": "DESIGN - Execute Refinement?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst item = $input.first() ?? { json: {}, binary: {} };\nconst currentJson = item.json ?? {};\nconst rawBinary = item.binary ?? {};\n\nfunction getNodeItemSafe(nodeName) {\n  if (typeof $items !== \"function\") return null;\n  try {\n    return ($items(nodeName) || [])[0] || null;\n  } catch {\n    return null;\n  }\n}\n\nfunction cleanJson(source) {\n  const json = { ...(source ?? {}) };\n  delete json.feedback;\n  delete json.Feedback;\n  delete json.Approved;\n  delete json[\"Start Again\"];\n  delete json.reviewMode;\n  return json;\n}\n\nfunction cleanBinary(source) {\n  return Object.fromEntries(\n    Object.entries(source ?? {})\n      .filter(([key]) => !/^attachments?(?:_|$)/i.test(String(key)))\n      .filter(([key]) => !String(key).endsWith(\"_firstIteration\"))\n  );\n}\n\nfunction normalizeDesignText(value) {\n  if (value && typeof value === \"object\") return JSON.stringify(value, null, 2);\n  if (typeof value === \"string\" && value.trim()) return value.trim();\n  return \"\";\n}\n\nfunction makeTextBinary(text, fileName, mimeType) {\n  const value = String(text ?? \"\").trim();\n  if (!value) return null;\n  return {\n    data: Buffer.from(value, \"utf8\").toString(\"base64\"),\n    fileName,\n    mimeType,\n  };\n}\n\nconst baseJson = cleanJson(currentJson);\nconst currentValue = normalizeDesignText(baseJson.designJson) || normalizeDesignText(baseJson.response);\nif (!currentValue) {\n  throw new Error(\"Current design JSON is missing in review output.\");\n}\n\nlet parsedCurrent = null;\ntry {\n  parsedCurrent = JSON.parse(currentValue);\n} catch {\n  // Keep raw response if parsing fails\n}\n\nconst cleanCurrentBinary = cleanBinary(rawBinary);\nconst zipNode = getNodeItemSafe(\"DESIGN - Zip to Review\");\nconst zipBinary = zipNode?.binary ?? {};\nif (zipBinary.reviewZip) {\n  cleanCurrentBinary.reviewZip = zipBinary.reviewZip;\n}\n\nconst currentArtifact = makeTextBinary(currentValue, \"design_draft.json\", \"application/json\");\nif (currentArtifact) cleanCurrentBinary.designSpec = currentArtifact;\n\nconst firstValue = normalizeDesignText(baseJson.firstIterationResponse) || currentValue;\nconst firstArtifact = makeTextBinary(firstValue, \"design_first_iteration.json\", \"application/json\");\nconst inheritedFirst = rawBinary.designSpec_firstIteration;\nif (firstArtifact || inheritedFirst) cleanCurrentBinary.designSpec_firstIteration = firstArtifact || inheritedFirst;\n\nlet parsedFirst = null;\ntry {\n  parsedFirst = JSON.parse(firstValue);\n} catch {\n  // Keep null when not parseable\n}\n\nconst outputJson = {\n  ...baseJson,\n  reviewMode: \"\",\n  response: currentValue,\n  designJson: parsedCurrent ?? baseJson.designJson ?? null,\n  firstIterationResponse: firstValue,\n  firstIterationDesignJson: parsedFirst ?? baseJson.firstIterationDesignJson ?? null,\n  firstIterationReviewRevisionNumber: Number(baseJson.firstIterationReviewRevisionNumber ?? baseJson.revisionNumber ?? 0) || 0,\n  firstIterationReviewZipDownloadUrl: String(baseJson.firstIterationReviewZipDownloadUrl ?? baseJson.zipDownloadUrl ?? \"\").trim(),\n  firstIterationReviewZipDownloadToken: String(baseJson.firstIterationReviewZipDownloadToken ?? baseJson.zipDownloadToken ?? \"\").trim(),\n  firstIterationReviewDownloadLinkHtml: String(baseJson.firstIterationReviewDownloadLinkHtml ?? baseJson.downloadLinkHtml ?? \"\").trim(),\n};\n\nreturn [{\n  json: outputJson,\n  ...(Object.keys(cleanCurrentBinary).length ? { binary: cleanCurrentBinary } : {}),\n}];\n"
      },
      "id": "09340f45-e78c-4757-9765-f643121234ce",
      "name": "DESIGN - Review Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst item = $input.first() ?? { json: {}, binary: {} };\nconst json = { ...(item.json ?? {}) };\nconst binary = { ...(item.binary ?? {}) };\n\nconst refinementRaw = json.refinement;\nconst refinement = typeof refinementRaw === \"boolean\"\n  ? refinementRaw\n  : [\"true\", \"1\", \"yes\", \"y\", \"refine\"].includes(String(refinementRaw ?? \"\").trim().toLowerCase());\n\nif (!String(json.reviewMode ?? \"\").trim()) {\n  json.reviewMode = refinement ? \"refine\" : \"\";\n}\n\nif (!binary.requirements && binary.requirementsFile) {\n  binary.requirements = binary.requirementsFile;\n}\n\nif (!binary.requirements) {\n  const requirementsText = String(json.requirements ?? \"\").trim();\n  if (requirementsText) {\n    binary.requirements = {\n      data: Buffer.from(requirementsText, \"utf8\").toString(\"base64\"),\n      fileName: \"requirements.md\",\n      mimeType: \"text/markdown\",\n    };\n  }\n}\n\nif (!json.response && typeof json.design === \"string\" && json.design.trim()) {\n  json.response = json.design.trim();\n}\nif (!json.response && json.design && typeof json.design === \"object\") {\n  json.designJson = json.design;\n  json.response = JSON.stringify(json.design, null, 2);\n}\nif (!json.response && typeof json.currentDesign === \"string\" && json.currentDesign.trim()) {\n  json.response = json.currentDesign.trim();\n}\nif (!json.designJson && typeof json.response === \"string\" && json.response.trim()) {\n  try {\n    json.designJson = JSON.parse(json.response);\n  } catch {\n    // Keep raw response only\n  }\n}\n\nfor (const key of [\"Approved\", \"Start Again\", \"Attachments (optional)\"]) {\n  delete json[key];\n}\n\ndelete json.requirementsFile;\ndelete json.designFile;\ndelete json.refinement;\n\nconst cleanedBinary = Object.fromEntries(\n  Object.entries(binary).filter(([key]) => !/^attachments?(?:_|$)/i.test(String(key)))\n);\n\ndelete cleanedBinary.reviewZip;\ndelete cleanedBinary.designPdf;\ndelete cleanedBinary.outTokens;\n\nreturn [{\n  json,\n  ...(Object.keys(cleanedBinary).length ? { binary: cleanedBinary } : {}),\n}];\n"
      },
      "id": "5b1718ab-30d6-48ed-9caf-878c01547c60",
      "name": "DESIGN - Sanitize Output Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        112
      ]
    },
    {
      "parameters": {},
      "id": "4cefb749-208c-46ee-9b67-18cb0ae1ef93",
      "name": "DESIGN - Start Zip Process Creation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst branchItem = $input.first() ?? { json: {}, binary: {} };\n\nfunction getNodeItemSafe(nodeName) {\n  if (typeof $items !== \"function\") return null;\n  try {\n    return ($items(nodeName) || [])[0] || null;\n  } catch {\n    return null;\n  }\n}\n\nconst contextItem = getNodeItemSafe(\"DESIGN - Sanitize Output Context\") ?? { json: {}, binary: {} };\n\nconst mergedJson = {\n  ...(contextItem.json ?? {}),\n  ...(branchItem.json ?? {}),\n};\n\nconst mergedBinary = {\n  ...(contextItem.binary ?? {}),\n  ...(branchItem.binary ?? {}),\n};\n\nif (!mergedBinary.requirements) {\n  throw new Error(\"Missing requirements binary before design prompt generation.\");\n}\n\nreturn [{\n  json: mergedJson,\n  ...(Object.keys(mergedBinary).length ? { binary: mergedBinary } : {}),\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        672
      ],
      "id": "2f947d23-5df8-4ee3-b64f-3a4ea92d2ce4",
      "name": "DESIGN - Requirements and Design First Iteration"
    },
    {
      "parameters": {
        "jsCode": "\nconst branchItem = $input.first() ?? { json: {}, binary: {} };\n\nfunction getNodeItemSafe(nodeName) {\n  if (typeof $items !== \"function\") return null;\n  try {\n    return ($items(nodeName) || [])[0] || null;\n  } catch {\n    return null;\n  }\n}\n\nconst contextItem = getNodeItemSafe(\"DESIGN - Sanitize Output Context\") ?? { json: {}, binary: {} };\n\nconst mergedJson = {\n  ...(contextItem.json ?? {}),\n  ...(branchItem.json ?? {}),\n};\n\nconst mergedBinary = {\n  ...(contextItem.binary ?? {}),\n  ...(branchItem.binary ?? {}),\n};\n\nif (!mergedBinary.requirements) {\n  throw new Error(\"Missing requirements binary before design prompt generation.\");\n}\n\nreturn [{\n  json: mergedJson,\n  ...(Object.keys(mergedBinary).length ? { binary: mergedBinary } : {}),\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        416
      ],
      "id": "4a1bfe65-2e8a-4ec5-9208-ef5ea14df031",
      "name": "DESIGN - Requirements and Design for Refinement"
    },
    {
      "parameters": {},
      "id": "116b39be-f79b-4d7e-8719-b8c13ac56999",
      "name": "DESIGN - Workflow trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        112
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "ec6b4bdf-e0a9-41ed-973a-0a75819d4f8f",
      "name": "DESIGN - Workflow Output",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2592,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "DESIGN - Clean Response": {
      "main": [
        [
          {
            "node": "DESIGN - Start Zip Process Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Prepare Review Assets": {
      "main": [
        [
          {
            "node": "DESIGN - Merge Review Assets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DESIGN - Refinement Model": {
      "main": [
        [
          {
            "node": "DESIGN - Previous and New Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Build Prompt": {
      "main": [
        [
          {
            "node": "DESIGN - Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Model": {
      "main": [
        [
          {
            "node": "DESIGN - Clean Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Create Zip Link": {
      "main": [
        [
          {
            "node": "DESIGN - Prepare Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Clean Refinement Response": {
      "main": [
        [
          {
            "node": "DESIGN - Start Zip Process Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Merge Review Assets": {
      "main": [
        [
          {
            "node": "DESIGN - Zip to Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Previous and New Response": {
      "main": [
        [
          {
            "node": "DESIGN - Clean Refinement Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Build Review Companion": {
      "main": [
        [
          {
            "node": "DESIGN - Merge Review Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Build Refinement Prompt": {
      "main": [
        [
          {
            "node": "DESIGN - Refinement Model",
            "type": "main",
            "index": 0
          },
          {
            "node": "DESIGN - Previous and New Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DESIGN - Review Output": {
      "main": [
        [
          {
            "node": "DESIGN - Workflow Output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DESIGN - Execute Refinement?": {
      "main": [
        [
          {
            "node": "DESIGN - Requirements and Design for Refinement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DESIGN - Requirements and Design First Iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Prepare Information": {
      "main": [
        [
          {
            "node": "DESIGN - Review Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Requirements and Design First Iteration": {
      "main": [
        [
          {
            "node": "DESIGN - Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Requirements and Design for Refinement": {
      "main": [
        [
          {
            "node": "DESIGN - Build Refinement Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Workflow trigger": {
      "main": [
        [
          {
            "node": "DESIGN - Sanitize Output Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "DESIGN - Execute Refinement?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Sanitize Output Context": {
      "main": [
        [
          {
            "node": "DESIGN - Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Start Zip Process Creation": {
      "main": [
        [
          {
            "node": "DESIGN - Prepare Review Assets",
            "type": "main",
            "index": 0
          },
          {
            "node": "DESIGN - Build Review Companion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESIGN - Zip to Review": {
      "main": [
        [
          {
            "node": "DESIGN - Create Zip Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b52e8a33-0128-4751-88f3-36d8bb05843e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8db71e6cd806cd646e3036d735235b01787ac6bf74adc87afc57bddf23e92c7"
  },
  "id": "T4dsQ2fJfsRAz2eL",
  "tags": []
}