workflows/n8n-progress/daily/2026-03-11_create_link_v1.json
{
  "name": "Subworkflow - Create Link",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "archiveMimeType"
            },
            {
              "name": "archiveFileName"
            },
            {
              "name": "revisionNumber",
              "type": "number"
            },
            {
              "name": "response"
            }
          ]
        }
      },
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json ?? {};\nconst binary = item?.binary ?? {};\nconst archive = binary.reviewZip ?? binary.archive ?? null;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.reviewZips) staticData.reviewZips = {};\n\nconst now = Date.now();\nfor (const [key, value] of Object.entries(staticData.reviewZips)) {\n  if (!value || typeof value !== 'object' || !value.createdAt || now - value.createdAt > 24 * 60 * 60 * 1000) {\n    delete staticData.reviewZips[key];\n  }\n}\n\nconst archiveData = String(archive?.data ?? json.archiveData ?? '').trim();\nconst archiveId = String(archive?.id ?? '').trim();\nif (!archiveData) throw new Error('archiveData is required');\nif (archiveData === 'filesystem-v2' && !archiveId) {\n  throw new Error('archiveId is required for filesystem-backed binary data');\n}\n\nconst token = 'api_draft_' + now + '_' + Math.random().toString(36).slice(2, 10);\nconst storedArchive = {\n  data: archiveData,\n  id: archiveId,\n  mimeType: String(archive?.mimeType ?? json.archiveMimeType ?? 'application/zip') || 'application/zip',\n  fileName: String(archive?.fileName ?? json.archiveFileName ?? 'api.zip') || 'api.zip',\n  fileExtension: String(archive?.fileExtension ?? 'zip') || 'zip',\n  fileSize: String(archive?.fileSize ?? ''),\n  bytes: Number(archive?.bytes ?? 0) || undefined,\n  createdAt: now,\n  token,\n};\n\nstaticData.reviewZips[token] = storedArchive;\nstaticData.latestReviewZipToken = token;\n\nreturn [{\n  json: {\n    response: String(json.response ?? ''),\n    revisionNumber: Number(json.revisionNumber ?? 0) || 0,\n    zipDownloadToken: token,\n    zipDownloadUrl: '/webhook/review-download-file',\n  }\n}];"
      },
      "id": "store-review-zip",
      "name": "Store Review ZIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "path": "review-download-file",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "review-download-webhook",
      "name": "Review Download Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        560
      ],
      "webhookId": "52f70931-79e1-47de-9db7-07a757f42bbc"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\nconst token = String(item.query?.token ?? '').trim();\nconst staticData = $getWorkflowStaticData('global');\nconst reviewZips = staticData.reviewZips || {};\nlet resolvedToken = token || String(staticData.latestReviewZipToken ?? '').trim();\nlet stored = resolvedToken ? reviewZips[resolvedToken] : null;\n\nif (!stored) {\n  for (const [candidateToken, candidate] of Object.entries(reviewZips)) {\n    if (!candidate || typeof candidate !== 'object' || !candidate.data) continue;\n    if (!stored || Number(candidate.createdAt ?? 0) > Number(stored.createdAt ?? 0)) {\n      stored = candidate;\n      resolvedToken = candidateToken;\n    }\n  }\n}\n\nif (!stored?.data) throw new Error('Review ZIP not found or expired');\n\nconst archive = {\n  data: stored.data,\n  mimeType: stored.mimeType || 'application/zip',\n  fileName: stored.fileName,\n  fileExtension: stored.fileExtension || 'zip',\n};\nif (stored.id) archive.id = stored.id;\n\nreturn [{ json: { token: resolvedToken || stored.token || '' }, binary: { archive } }];"
      },
      "id": "load-review-zip",
      "name": "Load Review ZIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "inputFieldName": "archive",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/zip"
              },
              {
                "name": "Content-Disposition",
                "value": "={{ 'attachment; filename=' + ($binary.archive.fileName) }}"
              }
            ]
          }
        }
      },
      "id": "respond-with-review-zip",
      "name": "Respond With Review ZIP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Store Review ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Download Webhook": {
      "main": [
        [
          {
            "node": "Load Review ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Review ZIP": {
      "main": [
        [
          {
            "node": "Respond With Review ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "9d150859-31ce-441e-82d6-9336c82479cd",
  "meta": {
    "instanceId": "b8db71e6cd806cd646e3036d735235b01787ac6bf74adc87afc57bddf23e92c7"
  },
  "id": "cm1GIz1gCaLNP7YB",
  "tags": []
}